[2016-04-07 17:59] b-e-r-t-o commented on #34
+1

[2016-04-07 20:21] DPastl opened #333 "Using infer for embedded software"
Hello,

I'm attempting to use Infer to test an embedded project.  I know there are a number of null reference errors in the code, among other issues, but infer is not picking them up.  Since a large part of the code being run occurs only if an interrupt is generated, will this affect the ability of infer to test it correctly?  It's possible that the compiler is optimizing out large parts of the co

[2016-04-07 20:23] DPastl commented on #333
I suppose I should add that this is also an API that I'm trying to test: i.e. it does not attempt to exercise the entire code base as that is for the customer to use.

[2016-04-07 20:35] sblackshear commented on #333
Hi David,
  Infer should analyze every file that is compiled regardless of whether functions in that file are called from elsewhere. How are you building the project?

[2016-04-07 20:39] DPastl commented on #333
I'm currently just building if from the top level file, main.c, using clang:
infer -- clang -c main.c -I api -I app_sim -I app

[2016-04-07 22:08] jberdine commented on #333
Infer will only analyze source files passed to clang during the process of executing the build command.  So for:

only the functions defined in main.c will be analyzed.  Are the null dereference errors you mentioned in main.c, or elsewhere?

[2016-04-07 22:49] DPastl commented on #333
They are in one of the sub files, tried running infer by pointing it to the subfile, but I didn't get my expected error (to be fair, almost no other tool shows the error).

[2016-04-07 23:19] jberdine commented on #333
You can test that the function is being analyzed by inserting a bug infer should report, such as `int* p = NULL; *p = 42;`, and checking that this is indeed reported.

If that works, but the real issue isn't, is it possible to sanitize the code into something that can be shared with us?

[2016-04-08 01:40] cristianoc commented on #333
@DPastl from this discussion I'm wondering whether you're calling Infer one file at a time. That won't find issues that involve calling from one file to another one. To get the latter functionality, you'll need to either use a Makefile, and a single invocation of e.g. `infer -- make`, or use a slightly different workflow:
[code]

[2016-04-08 14:00] benjaminhorner commented on #34
+1

[2016-04-08 15:51] cristianoc commented on #326
@luiscruz can you paste small examples to illustrate what you would like to get?

[2016-04-08 16:53] DPastl commented on #333
I was calling infer with one file at a time.  I tried the way you suggested @cristianoc but I'm still not seeing any errors.  I'm thinking that perhaps the issue is a little too difficult to find, it was originally pointed out to me by someone running klocwork.  It looks like great tool, it just might not be what we need.

[2016-04-08 16:53] #333 closed

[2016-04-08 18:16] cristianoc commented on #333
Sorry for giving the wrong command line, I've edited it above. It was missing ```--reactive --continue```.
It might not make a difference, but that's the correct command line.

[2016-04-09 16:38] Hellengo commented on #213
@jvillard  thx，use brew install infer solve my problem, cool

[2016-04-11 08:07] yitelu commented on #332
@cctanfujun After some search, that I believes there's some limitation with FB infer, which not all of the gradle build variant could work, some build variant won't work with FB infer, so in your and my cases that we saw the system err....the best way is to try to find out which gradle build variant would work, you could type `gradlew task` which would list the build variant and hope there's one c

[2016-04-11 08:07] #332 closed

[2016-04-11 08:53] dleyanlin commented on #330
same issues when and infer command in build command,if no add infer command build is succss.

thanks

[2016-04-11 10:33] jvillard commented on #330
@dleyanlin, @mbrubin56, to debug further, I need the full output of the infer run. Can you paste it, eg to gist.github.com?

[2016-04-11 15:07] leinardi opened #334 "Build error on Ubuntu 16.04 LTS"
Hi,

I'm trying to build Infer using the latest Ubuntu 16.04 LTS beta2 but the build process fails:

[code]

The package `atdgen` is installed and I'm able to run it via command line.

If I try to run the `opam` commands, the process fails when running the ` opam install --deps-only infer`:
[code]

The stdout-file and stderr-file are both empty. This is the content of the env-file:

[code]

The li

[2016-04-11 15:13] jvillard commented on #334
What does `atgen -version` say?

Have you tried `opam depext conf-ncurses.1`? Looking at the [package](https://github.com/ocaml/opam-repository/blob/master/packages/conf-ncurses/conf-ncurses.1/opam), it wants the `ncurses-dev` on ubuntu, and the way to test whether it's installed is to check that `pkg-config ncurses` runs successfully (so `pkg-config ncurses; echo $?` should output 0).

[2016-04-11 15:41] leinardi commented on #334
[code]

Yes, I've tried:

[code]

But `pkg-config ncurses`  has no output at all and returns a 1:

[code]

[2016-04-11 15:43] jvillard commented on #334
what is the output of `sudo apt-get install ncurses-dev`?

[2016-04-11 15:43] leinardi commented on #334
[code]

[2016-04-11 15:50] leinardi commented on #334
Ok, I was able to build running this commands:

[code]

For some reason it seems that I need to **run `opam install --deps-only infer` as root**. As I said `pkg-config ncurses` return 1 if run as normal user.

[2016-04-11 16:16] jvillard commented on #334
alright, thanks!

For the record, I think running `sudo opam depext infer` would also have solved your problem.

[2016-04-11 16:16] #334 closed

[2016-04-11 21:17] luiscruz commented on #326
Sure @cristianoc:

[code]

[code]

So, in this last case I don't want to flag ```HelloSuper.shouldNotBeStatic``` as a potential static method since it is not static so that it can be overridden by a subclass.

[2016-04-11 21:28] luiscruz commented on #326
Regarding the @ override I thought about this because although I am checking whether the given method belongs to a superclass, I am still having false positives with methods that are overriding other methods.
Probably this happens in methods that implement interfaces. I have to double check this.

[2016-04-11 22:51] sblackshear commented on #326
`Prover.get_overrides_of` and `AndroidFramework.get_all_supertypes` could both be suitable for this, depending on exactly what you want to do.

[2016-04-12 03:15] ZiYouDeLaoGe commented on #331
你好，可以帮忙看看吗？

[2016-04-13 06:43] yanqi8573 opened #335 "Failed to build iOS project,how to fix"
I use :
infer --incremental  -- xcodebuild -workspace xxx.xcworkspace -scheme xxx -sdk iphonesimulator -configuration Debug -destination 'platform=iOS Simulator,OS=9.2,name=iPhone 6s' CLANG_ENABLE_MODULES=NO clean build

The following build commands failed:
	CompileC /Users/jianzhang/Library/Developer/Xcode/DerivedData/xxxxxxxx-aiaocxwzriymuzayasydwppoqjls/Build/Intermediates/Pods.build/Debug-ipho

[2016-04-13 10:38] wouter89 opened #336 "Memory leak only when function contains return statement"
Hi,

When running Infer I came across some odd behaviour I couldn't explain. I have made some small code examples to illustrate the problem without having to deal with the context.

**Sample 1**:
For this code Infer doesn't report a memory leak, even though the condition in the if statement will always evaluate to false and data will never be freed. Infer does recognise that the condition is alway

[2016-04-13 10:43] cristianoc commented on #336
Thank you for the report!

This seems to happen when the conditional is the last statement.
If you add another instruction, whether a return or something else, the leak will be reported.

We will fix this.

[2016-04-13 16:10] luiscruz commented on #326
Thanks @sblackshear.

I think ```Prover.get_overrides_of``` will get the job done for my second problem -- Methods that are being overridden by one of their subclasses.

Regarding my first problem -- Methods that are annotated with @ override -- I need to do this because I am having the following false positive. I.e., I am identifying that this method should be static:

[code]

I believe that sinc

[2016-04-13 16:19] sblackshear commented on #326
I am a little bit confused by what you are trying to do. A static method cannot override an instance method. So although `getItemId` could be static, you can't both make it static and override the method of the superclass. Doing so will give you a compiler error, at least for Java <= 7. I'm not sure about Java 8, though.

[2016-04-13 16:22] sblackshear commented on #326
Ah, I understand. You are trying to avoid warning on this method for exactly this reason :).

[2016-04-13 16:26] sblackshear commented on #326
I would expect `Prover.get_overrides_of FileAdapter.getItemId <> []` to work for what you want. Let me know if this is not the case and I will take a look.

[2016-04-13 18:31] luiscruz commented on #326
From what I understood, ```Prover.get_overrides_of``` will be helpful to get all the overwriting methods of subclasses. I.e., I will retrieve ```getItemId()```methods from subclasses of ```FileAdapter```.

In this problem I need methods from superclasses. I have used ```PatternMatch.proc_iter_overridden_methods``` but it doesn't work for this particular case.

[2016-04-14 01:03] foobra commented on #330
we have this problem too, we have chinese characters in the path and filename, will it break python script?

[2016-04-14 06:58] rickli opened #337 "When i put "Realm" to My iOS Project . It Build Failed"
pod 'pop',                    '1.0.8'
pod 'Realm',                  '0.96.3'

** BUILD FAILED **

The following build commands failed:
	CompileC /Users/Rick/Library/Developer/Xcode/DerivedData/Bitrise-azigpyqootmvxpbrxsuirzjrvcmb/Build/Intermediates/Pods.build/Debug-iphoneos/Realm.build/Objects-normal/armv7/RLMArray.o Realm/Realm/RLMArray.mm normal armv7 objective-c++ com.apple.compilers.llvm.clan

[2016-04-14 07:01] wouter89 opened #338 "Memory leak difference C and C++"
Hi,

When analysing the following piece of code, Infer does report a memory leak when the file is saved as a C file and it reports no issues when the file is saved as a C++ file. I think Infer should also report a memory leak when this file is saved as C++.

Does Infer make different assumptions for C++ compared to C files?

[code]

[2016-04-14 10:25] ddino commented on #338
hi,

I saved this file as .c and then as .cpp and in both cases I get a leak.
infer -- clang -c blo.cpp
Starting analysis (Infer version v0.8.0-a6d700d)
F..
Analyzed 1 file

Found 1 issue

blo.cpp:7: error: MEMORY_LEAK
   memory dynamically allocated to data by call to calloc() at line 7, column 18 is not reachable after line 7, column 3
  5.   {
  6.     char * data;
  7. >   data = (char *)callo

[2016-04-14 10:55] dulmarod commented on #331
Can you give me more details about the class NetworkRequestModel and the protocol RequestModelProtocol? When I replaced them by empty class and protocol, I don't get the error, so I can't reproduce the bug.

[2016-04-14 11:02] ZiYouDeLaoGe commented on #331
OK, you need a subclass inherits NetworkRequest Model, then the subclass must implement RequestModelProtocol, RequestModelProtocol can define any methods. Thanks!

[2016-04-14 11:48] akotulski commented on #338
I can't reproduce the problem locally, memory leak gets reported both in C and C++. It might be related to C headers in your system (they might #define calloc to be something else).  What platform are you using (mac os/linux distribution)?

[2016-04-14 11:50] dulmarod commented on #331
Is NetworkRequestModel a standard library class? Where is it defined?

[2016-04-14 11:57] ZiYouDeLaoGe commented on #331
It does not belong to the system library, you will be able to build a class!

[2016-04-14 12:03] dulmarod commented on #331
I tried this code:

@interface NetworkRequestModel : NSObject
@end

@protocol P <NSObject>
@end

@interface NetworkRequestModel()<P>
@property (nonatomic,weak) id child;
@end

@implementation NetworkRequestModel
- (instancetype)init
{
    if (self = [super init]) {
        if ([self conformsToProtocol:@protocol(P)]) {
            self.child = self;
        }
    }
    return self;
}
@end

and I do

[2016-04-14 12:18] wouter89 commented on #338
I ran the following commands on the file(s) mentioned above (one saved as c and one as cpp). This gave the following output:

------------
infer -- clang memleak1.c

Starting analysis (Infer version v0.5.0)
Computing dependencies... 100%
Analyzing 1 cluster. 100%
Analyzed 2 procedures in 1 file

Found 1 issue
memleak1.c:7: error: MEMORY_LEAK
   memory dynamically allocated to data by call to callo

[2016-04-14 12:32] luiscruz commented on #326
I've successfully used ```Prover.get_overrides_of``` to skip methods that are being override in subclasses. Thanks @sblackshear!

I still need to check whether a method is overriding a superclass method. I.e., I don't want to identify the method ```getItemId()``` in https://github.com/facebook/infer/issues/326#issuecomment-209526683 as a static candidate.

[2016-04-14 12:35] akotulski commented on #338
Could you try newer infer? I think current version in homebrew is 0.8.0 and many things changed since 0.5.0

[2016-04-14 12:46] wouter89 commented on #338
Update to infer version v0.8.0 solved the problem!

[2016-04-14 12:48] #338 closed

[2016-04-14 16:32] cristianoc commented on #336
Fixed in 054ad223a83d34fe3b79cd7735f2e8e9e5738f44

[2016-04-14 16:32] #336 closed

[2016-04-14 19:12] sblackshear commented on #326
I think that you will probably need to write custom logic for this (but please do send a pull request, as this logic could be useful elsewhere!).

Given a method `m`, I would look up its struct type `T` using `Tenv.proc_extract_declaring_class_typ`. Each `struct_typ` knows what its immediate superclasses and declared methods are. I would iterate through the declared methods of each supertype of `T

[2016-04-15 07:06] Hellengo opened #339 "fatal error: could not build module 'Darwin'"
hi,my project add a new lib,so change setting Apple LLVM 7.0 -Language - Modules---->
Enable Modules(C and Objective-C) to yes, but change to no my project build failed.

run
infer --pmd-xml -- xcodebuild -workspace Vodka.xcworkspace -scheme Vodka -configuration Debug -sdk phones

The following build commands failed:
	CompileC /Users/speedxserver/Library/Developer/Xcode/DerivedData/Vodka-fitiszjzt

[2016-04-15 07:36] Hellengo commented on #339
if run:
xcodebuild -workspace Vodka.xcworkspace -scheme Vodka -configuration Debug -sdk phones

Build SUCCEEDED

[2016-04-15 11:38] wouter89 opened #340 "Issues reported in debug html file but not in console and report files"
Command used:
``` infer --debug -- make ```

Output in console:
[code]

But when looking at the debug information (.html file) for 1 of the files that was analyzed by Infer in  ```infer-out/captured/``` the following report was generated:

[code]

I confirmed there is a null dereference in this file, and before my upgrade to infer version v0.8.0, Infer reported this in the console and the debug ht

[2016-04-15 11:45] jvillard commented on #340
Thanks for the report! This looks like it could be a duplicate from #336 . You can verify this by trying the latest master, or inserting an instruction after the `if`.

[2016-04-15 12:15] wouter89 commented on #340
I tried adding a return statement (at multiple places) after the if statement but this doesn't solve the issue.

[2016-04-15 12:22] ataourirt commented on #335
Hi,

I have the same problem.

Have you a solution ?

Thank's

[2016-04-15 12:30] jvillard commented on #335
Hi @yanqi8573, @ataourirt,

Can you paste the full output of infer to gist.github or similar?

Does the error also occur without infer? Please run `xcodebuild -workspace xxx.xcworkspace -scheme xxx -sdk iphonesimulator -configuration Debug -destination 'platform=iOS Simulator,OS=9.2,name=iPhone 6s' CLANG_ENABLE_MODULES=NO clean build` and let me know, or post the full output to gist.github or simi

[2016-04-15 12:54] luiscruz commented on #326
Sure! I'll give it a try :+1:

[2016-04-15 14:24] wouter89 commented on #340
I found the problem. It is related to an earlier issue #99.

A higher level folder that contained my source code contained a whitespace. After removing all the whitespaces from the folder inside and in the path of the project Infer analyzed the files correctly.

[2016-04-15 16:34] luiscruz commented on #326
I think I've made it.

[code]

I'm not making a pull request yet because I still need to clean aux methods, make some tests, By the way, I still need to figure out how to unit test this.
Also, where do you want this method to be available?
I would suggest module ```Procname```, but I'm not sure.

[2016-04-15 16:35] luiscruz commented on #326
I think ```struct_typ_is_super_method_of_pname``` is not really necessary. I will remove it afterwords.

[2016-04-15 16:48] sblackshear commented on #326
I think you will run into circular dependencies if you put it in `procname.ml`; `tenv.ml` is probably the best choice if so.

For unit tests, I would add `tenvTests.ml` under `src/unit` and add your tests there (`procCfgTests` or `schedulerTests` are good examples to follow). We don't have a lot of unit tests so far, but are trying to add more as we write new code. You can run build unit tests usi

[2016-04-18 02:45] #331 closed

[2016-04-18 10:17] VincentSit commented on #335
I have two projects have the same error, same traceback like @yanqi8573 .

The error only occur with infer.

gist: https://gist.github.com/VincentSit/cb18ce4dc73af64ae98f72db3cfa1f87

[2016-04-18 10:31] VincentSit commented on #335
Also failed with `CLANG_ENABLE_MODULES=NO clean`.

[2016-04-18 12:17] ataourirt commented on #335
hi @jvillard

I used your command line and the build doesn't work.

The build fail because of this argument :  ```CLANG_ENABLE_MODULES=NO```
Full output : [gist](https://gist.github.com/ataourirt/607ba593963c30794885ff7355a86d99)

Same error with the latest version of Infer (v0.8.0-b7ab176).

[2016-04-18 12:24] jvillard commented on #335
Thanks for the extra info @VincentSit and @ataourirt

@ataourirt can you try running the latest version of Infer without the `CLANG_ENABLE_MODULES=NO` flag? I wonder if the newer version of clang we use supports modules now, that would solve the real issue.

[2016-04-18 12:43] ataourirt commented on #335
Unfortunately, the error is still present @jvillard .

With the latest version (v0.8.0-b7ab176) and this command line :
```infer -- xcodebuild -workspace PagesJaunes.xcworkspace -scheme PagesJaunes -sdk iphonesimulator -configuration Debug clean build```

I have this : [Gist](https://gist.github.com/ataourirt/fa1ed103b94c35fb85a3fe0b6e01379e)

[2016-04-18 13:21] VincentSit commented on #335
Hi @jvillard , Thanks for the reply. I am trying to build from source and try again. Will give you feedback later.

[2016-04-18 14:04] jvillard commented on #335
I think the root cause is this issue in clang, which is still open: https://llvm.org/bugs/show_bug.cgi?id=25341

I can reproduce the error on a dummy example and the error goes away if I add `-fno-modules` to the clang arguments. Unfortunately if your project needs modules to compile then it's not a solution for you.

Someone reported being able to selectively disable modules here: https://github.

[2016-04-18 16:07] Leandros commented on #203
Any progress on that?

[2016-04-18 16:22] VincentSit commented on #335
Hi @jvillard . I compiled a few times, but all failed, can you help me to analyze the log?

You can find the log [here](https://gist.github.com/VincentSit/413fd6273728b6a81f55772177229f11).

OS X 10.11.4 (15E65)
Xcode 7.3 (7D175)

[2016-04-18 16:29] jvillard commented on #335
@VincentSit the error is at the end of the llvm compilation: `cp: /private/tmp/clang-setup.GnyT8E/tools/clang/runtime/compiler-rt/clang_darwin/10.4/libcompiler_rt.a: No such file or directory`. Not sure what's going on there...

[2016-04-19 02:54] VincentSit commented on #335
Hi @jvillard , I successfully compiled and install infer on another Mac (commit 82670de0c8930a9ee8d19e154c995d2d609dcf92). But still build failed, when I disable module, remove the [facebook pop](https://github.com/facebook/pop), build succeeded.

Seems if objective-c++ project in Pods, it will cause the build to fail.

Analysis results helps me fix many potential bug, thanks!

[2016-04-19 03:11] VincentSit commented on #335
BTW, Infer install from brew can also build success.

[2016-04-19 10:50] martinoluca commented on #335
Hello @ataourirt and @VincentSit,
Could you please try to remove the `CLANG_ENABLE_MODULES=NO` argument and use `CLANG_CXX_LIBRARY=libstdc++` instead?

Thus your `xcodebuild` command will look like this:
`infer -- xcodebuild <args> CLANG_CXX_LIBRARY=libstdc++`

Thanks!

[2016-04-19 11:58] VincentSit commented on #335
Hi @martinoluca , build failed with `CLANG_CXX_LIBRARY=libstdc++`.

You can find the log [here](https://gist.github.com/VincentSit/d5a70434b15b7db024cf7d2589e27ded).

[2016-04-19 12:13] ataourirt commented on #335
Hi @martinoluca, same result as @VincentSit

[2016-04-19 12:18] akotulski commented on #335
This failure is infer's fault. I'll need to investigate why it happens, but it shouldn't happen in trunk (as of a8de56e9bfa5fe74943630ec1555d4b88e84f4ff) with default options.

Which version of infer are you using? If it's 0.8.0, could you remove those two lines from infer and see if compilation succeeds (no recompilation of infer is required, just modify files and run xcodebuild again)?
https://g

[2016-04-19 12:42] jvillard commented on #335
@VincentSit can you try `CLANG_CXX_LIBRARY=libstdc++` again using infer master? The version you compiled earlier is fine.

[2016-04-19 12:42] ataourirt commented on #335
Hi @akotulski, I use the latest git version : v0.8.0-5710a3e

[2016-04-19 12:43] jvillard commented on #335
@ataourirt interesting, can you please paste the full output?

[2016-04-19 12:51] ataourirt commented on #335
@jvillard here is the command line :

```infer -- xcodebuild -workspace PagesJaunes.xcworkspace -scheme PagesJaunes -sdk iphonesimulator -configuration Debug -destination 'platform=iOS Simulator,OS=9.3,name=iPhone 6s' CLANG_CXX_LIBRARY=libstdc++ clean build```

Output : [Gist](https://gist.githubusercontent.com/ataourirt/64b268048e9cef31f99834ab7ffaae2b/raw/fe2c6312e80fe302fcf2c4410858d516a8fe9476

[2016-04-19 13:09] jvillard commented on #335
Thanks @ataourirt . Could you try [this patch](https://gist.github.com/jvillard/202394e8afeaa200b25fa612edfa4ffb)? Apply it from the root of the infer repo with `patch -p1 < xcodebuild_use_apple_libc++_headers.patch`, then try your command again without `CLANG_CXX_LIBRARY=libstdc++`.

[2016-04-19 13:32] ataourirt commented on #335
Patch does not change anything unfortunately @jvillard.

The output is the same with and without the patch.

[2016-04-19 13:38] VincentSit commented on #335
Hi @jvillard .

I have been off work. My Mac can not compile infer, I will try again tomorrow when I  go to company.

[2016-04-19 13:39] jvillard commented on #340
Thanks @wouter89, I'm closing the issue as we're already tracking the whitespace issue in #99.

[2016-04-19 13:39] #340 closed

[2016-04-19 13:40] jvillard commented on #337
can you show the full output please? Use gist.github.com or similar.

[2016-04-19 13:41] jvillard commented on #330
@foobra can you paste the full output and infer-out/toplevel.log to gist.github.com or similar please?

[2016-04-19 13:43] jvillard commented on #325
Hi @charany1, any news here?

[2016-04-19 13:46] jvillard commented on #321
we're tracking this error in #335

[2016-04-19 13:46] #321 closed

[2016-04-19 13:47] jvillard commented on #311
closing optimistically. We're tracking the module issue in #335

[2016-04-19 13:47] #311 closed

[2016-04-19 13:48] jvillard commented on #335
@ataourirt did you remove `CLANG_CXX_LIBRARY=libstdc++` from the command? That is, you should run:

[code]

[2016-04-19 14:42] ataourirt commented on #335
@jvillard, here is the [output](https://gist.githubusercontent.com/ataourirt/170c448ea004e667c5b0bd6f19d3142b/raw/d58f22380419cf90a181a3fb8ee11bb7bb0d0dd3/xcodebuild%2520with%2520Infer%2520version%2520v0.8.0-5710a3e)

[2016-04-19 17:58] jvillard commented on #265
There is no plan to support Python3. Python2.7 is marked as a dependency already so I'm closing this task.

@mcandre you need python2.7 in your `PATH` to run infer.

[2016-04-19 17:58] #265 closed

[2016-04-19 17:59] #242 closed

[2016-04-19 17:59] #207 closed

[2016-04-19 18:01] jvillard commented on #262
tracking in #308

[2016-04-19 18:01] #262 closed

[2016-04-19 21:36] mcandre commented on #265
Python 2 is deprecated. Linuxen are switching to Python 3.

[2016-04-20 02:19] VincentSit commented on #335
@jvillard Unfortunately, It can not be build.

[Log](https://gist.github.com/VincentSit/f21d80e4db1625bb1d34ee81ac22796d)

If I remove Objective-C++ project from Pods (In my case, there only have one, Facebook pop), it successfully build.

[2016-04-20 02:19] rickli commented on #337
Full  Output

RickdeMacBook-Pro:Example Wenba$ infer -- xcodebuild -workspace BTBalloon.xcworkspace -scheme BTBalloon
2016-04-20 10:16:52.282 xcodebuild[30486:699221] [MT] PluginLoading: Required plug-in compatibility UUID ACA8656B-FEA8-4B6D-8E4A-93F4C95C362C for plug-in at path '~/Library/Application Support/Developer/Shared/Xcode/Plug-ins/XActivatePowerMode.xcplugin' not present in DVTPlugInComp

[2016-04-20 09:33] jvillard commented on #265
Python2.7 is not deprecated yet, its end of life is [planned for 2020](http://legacy.python.org/dev/peps/pep-0373/). We plan to have moved away from Python2.7 by then :smiley:

[2016-04-20 09:44] jvillard commented on #337
does `xcodebuild -workspace BTBalloon.xcworkspace -scheme BTBalloon` work on its own, without infer?

[2016-04-20 10:40] akotulski commented on #335
I just committed 1be7827981048291331343be06b0e84be45592c3 which should fix issues with compiling CocoaPods. You should run infer -- <build_command> without any special flags and it should succeed.

Could you try it out and let us know if it helps?

[2016-04-20 11:15] VincentSit commented on #335
Hi @akotulski , I have sync my local repository with the remote, and recompile infer, now I can build successfully. Thank you!

[2016-04-20 11:31] jvillard commented on #335
Thanks for helping us fix this issue @ataourirt et @VincentSit

[2016-04-20 11:31] #335 closed

[2016-04-20 12:42] AliceTENGZI opened #342 "How to run InferAnalyze binary correctly?"
I dowmload Infer version 0.8.0 in https://github.com/facebook/infer/releases.
Then I run "tar xf infer-linux64-v0.8.0.tar.xz" in Linux.
(The version of Python is 2.7 )
I modify the PATH as follows:
cd infer-*v0\.\1\.0 &&
echo "export PATH=\"\$PATH:`pwd`/infer/infer/bin\"" \ >> ~/.bash_profile &&
source ~/.bash_profile

But I cannot run InferAnalyze binary.
What should I do if I want to use infer c

[2016-04-20 13:36] jvillard commented on #342
Hi @AliceTENGZI, these instructions are out of date, please follow this instead: http://fbinfer.com/docs/getting-started.html

On Linux you can use either Docker or build infer from source.

[2016-04-20 13:36] #342 closed

[2016-04-20 13:37] jvillard commented on #164
Hi @liaohuqiu, do you have any news about updating your website? The installation instructions are out of date and this is causing confusion for our users (see eg #342).

Many thanks.

[2016-04-20 14:26] jvillard commented on #260
I've looked at your project and `gradle build` creates an empty jar:

[code]

Looking at the output of `gradle --debug build` confirms that there's nothing to compile when doing `gradle build`. If there is a build target that builds your project you can try that one instead.

[2016-04-20 14:26] #260 closed

[2016-04-20 14:44] jvillard commented on #282
Is there still an issue in the latest version of infer?

[2016-04-20 14:50] #243 closed

[2016-04-20 14:53] jvillard commented on #182
Hi @giacgbj, does the latest infer work for you? If not please re-open this issue and paste the full output of infer somewhere (such as gist.github.com). Thank you!

[2016-04-20 14:53] #182 closed

[2016-04-20 14:55] jvillard commented on #204
please re-open this issue if the latest version of Infer doesn't solve your problem.

[2016-04-20 14:55] #204 closed

[2016-04-20 14:56] jvillard commented on #295
Does `xcodebuild -scheme ht -configuration Debug -sdk iphonesimulator` work on its own, without infer?

[2016-04-20 15:03] jvillard commented on #220
You might have to compile clang from source, see [here](https://github.com/facebook/infer/blob/master/INSTALL.md) for more details. I haven't been able to reproduce the crash on a centos7 locally, but it may be that our binaries are not portable enough for your particular configuration.

I'm curious: what's the result of `ldd /home/sgu1/Downloads/infer-linux64-v0.5.0/facebook-clang-plugins/clang/b

[2016-04-20 15:03] #220 closed

[2016-04-20 15:06] jvillard commented on #228
The gradle integration reads the list of Java files to compile from a file, not from the command line, precisely to avoid this error (#131) . Without more information, it's hard to know what's wrong here, so I'm closing this task. Feel free to re-open with more info.

[2016-04-20 15:06] #228 closed

[2016-04-20 15:09] jvillard commented on #268
This is a problem in the compilation of clang, not of infer. If you can, use a release of `homebrew install infer` instead.

If not, can you share the full output of the compilation, as well as your configuration? (version of macos, architecture, ...)

[2016-04-20 15:13] jvillard commented on #278
can you try `./configure CFLAGS=-I$(/usr/bin/xcrun --show-sdk-path --sdk macosx) && make`?

[2016-04-20 15:16] jvillard commented on #54
closing as we have upgraded clang many times since this issue was open. Please do reopen if there is still an issue with the latest version of infer.

[2016-04-20 15:16] #54 closed

[2016-04-20 15:17] jvillard commented on #290
Please re-open if you have more info, in particular the full output of infer.

[2016-04-20 15:17] #290 closed

[2016-04-20 15:32] jvillard commented on #219
Infer and CSA are two different tools that check for errors in very different ways. It's hard to compare precisely, but you can find more details in the documentation about [Infer error types for C and Objective-C](http://fbinfer.com/docs/infer-bug-types.html).

[2016-04-20 15:32] #219 closed

[2016-04-20 15:34] jvillard commented on #319
please re-open with more details

[2016-04-20 15:34] #319 closed

[2016-04-20 15:41] jvillard commented on #325
Looks like it was an issue with the opam install, closing optimistically. Please do re-open if there is still an issue.

[2016-04-20 15:41] #325 closed

[2016-04-20 15:42] jvillard commented on #327
please re-open with more information

[2016-04-20 15:42] #327 closed

[2016-04-20 15:43] jvillard commented on #232
Should be fixed in latest master (see #335).

[2016-04-20 15:43] #232 closed

[2016-04-20 15:44] jvillard commented on #235
Thanks @Coeur.

@bkangtf: let us know if this didn't work for you.

[2016-04-20 15:44] #235 closed

[2016-04-20 15:46] jvillard commented on #337
Ah, I see you also use the `pop` pod. Can you confirm if the issue is still present in the latest version of Infer? You'll have to compile it [from source following these instructions](https://github.com/facebook/infer/blob/master/INSTALL.md).

[2016-04-20 15:49] sblackshear commented on #313
To print instructions and expressions, you can use `Sil.d_exp` and `Sil.d_instr`. What these do is print to the debug buffer associated with each node in the HTML debug output. You can print strings to this same buffer using `Logging.d_strln`.

[2016-04-20 15:54] jvillard commented on #339
This should be fixed in the latest version of infer (see #335). Please re-open if switching to latest infer doesn't solve your issue. You'll have to [compile Infer with clang from source](https://github.com/facebook/infer/blob/master/INSTALL.md) to try; we'll also be making a new release shortly.

[2016-04-20 15:54] #339 closed

[2016-04-20 16:02] sblackshear commented on #313
You can also use `Logging.stdout`/`Logging.stderr` with the pretty-printers for expressions and instrs `Sil.pp_exp`, `Sil.pp_instr`.

These pretty-printers require a `printenv`, and the one you want is almost always `pe_text`. So, an example might look like:

`Logging.stderr "This expression is %a@." (Sil.pp_exp pe_text) exp`.

[2016-04-20 16:10] jvillard commented on #245
Looks like the report was legit after all. Feel free to open a more general issue about infer not knowing about the android lifecycle.

[2016-04-20 16:10] #245 closed

[2016-04-20 16:13] jvillard commented on #19
Feel free to re-open if there is an issue in infer preventing you from analasing cross-compiled projects.

[2016-04-20 16:13] #19 closed

[2016-04-20 16:26] jvillard commented on #42
this bug is not found anymore with the latest versions of infer and speex

[2016-04-20 16:26] #42 closed

[2016-04-20 16:40] jvillard commented on #58
`gradle build -x lint` sounds like a proper fix to me.

[2016-04-20 16:40] #58 closed

[2016-04-20 16:41] jvillard commented on #70
Not sure what the concrete goal of this would be.

[2016-04-20 16:41] #70 closed

[2016-04-20 16:46] jvillard commented on #88
tracking Java8 support in #314

[2016-04-20 16:46] #88 closed

[2016-04-20 17:06] jvillard commented on #135
this has been fixed

[2016-04-20 17:06] #135 closed

[2016-04-20 17:11] jvillard commented on #120
The issue is that infer fails to analyse the call to `list_free(list);` at line 78, and then concludes there is a memleak nonetheless, whereas it should be more angelic in that case and assume that this function deallocates everything (cc @sblackshear).

[2016-04-20 17:11] jvillard commented on #137
it's actually a duplicate of #120

[2016-04-20 17:11] #137 closed

[2016-04-20 17:12] jvillard commented on #138
sounds like infer was doing the right thing warning you here :)

[2016-04-20 17:13] jvillard commented on #144
please provide more info if this issue is still current

[2016-04-20 17:13] #144 closed

[2016-04-20 17:23] mk270 commented on #138
?!

You realise that comes across as somewhat disingenuous?

[2016-04-20 17:32] jvillard commented on #138
@mk270 didn't realise that at all, my bad. What I meant was that it's unlikely we'd ever want to fix that, since as you mentioned it's such a weird case of pointer-passing, about which you'd like to be warned... We can leave this issue open anyway, maybe it was a bit hasty of me to close it. It would indeed be better if infer reported a different error message here after all!

[2016-04-20 19:41] jvillard commented on #148
Hi @tettoffensive, we have implemented support for nested blocks since you created this issue. I'm closing this issue because we think this has been addressed. Please feel free to reopen if you think there's still an issue in the current version of infer.

[2016-04-20 19:41] #148 closed

[2016-04-20 22:05] kageiit commented on #99
This is also a problem if the path contains ';'

[2016-04-20 22:36] mk270 commented on #138
Someone using Infer on the real-world code from which I distilled the example in the gist would easily see there's no memory leak, but wouldn't necessarily see the call-by-string argument passing convention as it's several functions/files away.

[2016-04-20 22:44] jeremydubreil commented on #99
@kageiit: Thanks for reporting this. Infer indeed crashes if the path contains a semicolon.

[2016-04-21 03:20] FridayAndHoliday opened #343 "fatal error: 'UIKit/UIKit.h' file not found"
I have the latest version of infer (0.8.0), but still occurred the  issue:
`elenadeMacBook-Pro:InferTest baidu$ infer -- clang -c ViewController.m
In file included from ViewController.m:9:
./ViewController.h:9:9: fatal error: 'UIKit/UIKit.h' file not found
#import <UIKit/UIKit.h>
        ^
1 error generated.`

how to fix it?

[2016-04-21 09:17] wouter89 opened #344 "False positive with two strange fixes"
I've found the following construct in my Java code (Example 1), which Infer doesn't analyse correctly (made simpler to better illustrate the problem)

I've also found two small changes to the code that result in Infer correctly analysing the code (Examples: 3 - 6). I don't understand why these changes do lead to a correct report from Infer, maybe there is a bug to be found here.

I'm running versi

[2016-04-21 09:26] jvillard commented on #343
You have to replace `clang -c ViewController.m` by a command that compiles `ViewController.m`. If this is an xcode project you should find the `xcodebuild` command that builds the whole project and run `infer -- <command>`. See [here](http://fbinfer.com/docs/analyzing-apps-or-projects.html) for more examples.

[2016-04-21 09:35] Rexota opened #345 "infer: command not found"
When I try to run infer from any terminal or from android studio's terminal, I'm getting this error:

    infer: command not found

How can I solve this? I installed it with docker. Thanks.

[2016-04-21 09:45] #330 closed

[2016-04-21 10:12] jvillard commented on #344
Thanks for the detailed question, @wouter89. What you are seeing is because infer doesn't do a global analysis of a class (in this case `NoNullDereference`) to figure out invariants (in this case "`alwaysFalse` is always `false`"). To explain, let me try and go over your tests:

1. Infer analyses `test()` on its own (without looking at the context) and finds that it could dereference `null` if `al

[2016-04-21 11:38] AliceTENGZI commented on #342
I saw some dependences as follows:
Infer dependencies for Linux

Here are the prerequisites to be able to compile Infer on Linux. This is required to be able to use the release (faster), or to compile everything from source (see the end of this document).

opam >= 1.2.0
Python 2.7
Java (only needed for the Java analysis)
gcc >= 4.7.2 or clang >= 3.1 (only needed for the C/Objective-C analysis)
aut

[2016-04-21 11:59] jvillard commented on #342
Some of these dependencies are not needed for the java analysis: those marked "only needed for the C/Objective-C analysis". So what you need to build from a [release](https://github.com/facebook/infer/releases/) is:

- opam >= 1.2.0
- Python 2.7
- Java

[2016-04-21 12:12] jvillard commented on #345
Hi @Rexota, the instructions for docker create an isolated container with infer in it, but it doesn't modify your local environment. When installing infer via docker, you need to perform your analysis from within the docker container. For example, here's how to run a Gradle-based project that builds with `./gradlew build`:

[code]

You can edit that last command to adapt to your needs (eg to run `

[2016-04-21 12:38] Rexota commented on #345
Hey @jvillard, I'm new to docker thing and didn't know that.

Thanks for your detailed response. Have a good day.

[2016-04-21 12:55] rdtennent opened #346 "v0.8.0 fails to compile on linux"
./build-infer.sh clang leads to

...
mkdir -p /home/rdt/src/infer-linux64-v0.8.0/infer/_build-infer
make[2]: *** No rule to make target `/home/rdt/src/infer-linux64-v0.8.0/facebook-clang-plugins/clang-ocaml/build/clang_ast.atd', needed by `clang/clang_ast_t.ml'.  Stop.

[2016-04-21 12:58] jvillard commented on #346
can you paste the full output of `./build-infer.sh clang` please? use gist.github.com or similar

[2016-04-21 13:07] rdtennent opened #347 "false positives because aborting function not recognized"
The following produces a false positive NULL_DEREFERENCE message because infer doesn't recognize that error(  ) aborts execution:

    t = strpbrk (s, "{}");
    if (t == NULL) error ("Expected '}'");
    if (*t == '{') ...

[2016-04-21 13:10] jvillard commented on #347
Thanks for the report @rdtennent. Can you share the code of `error()`?

[2016-04-21 13:18] rdtennent commented on #346
[build.txt](https://github.com/facebook/infer/files/229953/build.txt)

[2016-04-21 13:20] rdtennent commented on #347
void
error (const char msg[])      /* abort with stderr message msg                        */
{
  if (lineno > 0)
    fprintf (stderr, "Error on line %d: %s\n", lineno, msg);
  else
    fprintf (stderr, "Error: %s\n", msg);
  exit (EXIT_FAILURE);
}

[2016-04-21 13:30] jvillard commented on #346
Did you run `make clean` by any chance? That would mess up the release, unfortunately. You'll need to download the release tarball again if that's the case.

[2016-04-21 13:34] rdtennent commented on #346
The output said:
compilation failure; you can try running

    make clean
    ./build-infer.sh clang
I presume I can re-use the tarball without re-downloading.

[2016-04-21 13:39] jvillard commented on #346
Yes, I'll change `make clean` to not clean inside `facebook-clang-plugins/` if we're inside a release, thanks for the report!

[2016-04-21 13:40] rdtennent commented on #346
After re-untaring the tarball, the compilation works. Thanks.  Please fix the compilation failure outpuit (or fix make clean!).

[2016-04-21 13:40] #346 closed

[2016-04-21 13:44] wouter89 commented on #344
Thanks for the explanation, very clear!

Is there a similar limitation when working with classes in C++? I've  found the following example which I could not explain just by looking at the results from Infer. In this case Infer does report the NULL_DEREFERENCE  in the method that isn't in the class (even though the method in the class in the same).

[code]

[2016-04-21 13:44] jvillard commented on #347
I cannot reproduce the issue. Infer correctly realises that `error()` never returns and doesn't report on the following code:

[code]

How are you calling infer? Are the files where infer reports and the file that defines `error()` compiled in the same command?

[2016-04-21 13:48] jvillard commented on #344
c++ analysis is still experimental and unsupported for now. Infer doesn't analyse c++ code by default, so won't report on `A::test()`. You can pass `--cxx` to switch the experimental c++ analysis on (you may need to upgrade to the current git version of infer first).

[2016-04-21 14:06] rdtennent commented on #347
The file that defines error() is in another file previously analyzed by infer.  How do I call infer with multiple file arguments?

[2016-04-21 14:10] rdtennent commented on #347
OK.  infer -- gcc -c  files works.  Thanks.

[2016-04-21 14:14] jvillard commented on #347
Yes, if you have a command that compiles your whole project at once, you can just use `infer -- <command>`.

Otherwise, you can also do something like this:

[code]

Each `infer -a capture --reactive -- clang -c file_i.c` will translate `file_i.c` into infer's internal language. Then `infer -- analyze` will analyze all the procedures captured so far at once.

[2016-04-21 15:12] rdtennent commented on #347
When I do
infer -- gcc -c files
I get the message "Analyzed 0 files" followed by "No issues found", even if I add an issue that _should _be found.  Yet gcc -c files works. Doesn't seem right.

[2016-04-21 15:16] jvillard commented on #347
`infer -- gcc -c <files>` isn't supported, unfortunately. For now you have to either write a short Makefile or other for your project, or use the method outlined above to do individual capture of each C file.

[2016-04-21 15:39] AliceTENGZI commented on #346
How do you install opam(>=1.20) for linux ?

[2016-04-21 15:44] jvillard commented on #346
@AliceTENGZI please post this in #342 instead. See [this section of the docs](https://github.com/facebook/infer/blob/master/INSTALL.md#setting-up-opam).

[2016-04-21 15:45] #347 closed

[2016-04-22 01:57] rickli commented on #337
I compile infer and run success!~

[2016-04-22 01:57] #337 closed

[2016-04-22 06:22] AliceTENGZI commented on #342
[@sjs_14_125 bianyuteng]# opam --version
1.2.2
[@sjs_14_125 bianyuteng]# python -V
Python 2.7.5
[@sjs_14_125 bianyuteng]# java -version
java version "1.8.0_25"
Java(TM) SE Runtime Environment (build 1.8.0_25-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.25-b02, mixed mode)
[@sjs_14_125 infer-linux64-v0.8.0]# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 6.2 (Santiago)

Above i

[2016-04-22 06:26] AliceTENGZI opened #348 "Is Infer support for java 1.8?"
[@sjs_14_125 bianyuteng]# java -version
java version "1.8.0_25"
Java(TM) SE Runtime Environment (build 1.8.0_25-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.25-b02, mixed mode)
[@sjs_14_125 infer-linux64-v0.8.0]# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 6.2 (Santiago)

Can infer analyze java code on environment above?

[2016-04-22 06:56] steve21124 commented on #34
+1. Any update on this?

[2016-04-22 08:28] kstreee commented on #34
@sblackshear
Hi sam, I am interested in the 'extending frontend'.
Supporting LLVM sounds awsome and I am very interested. Can you tell me where I should start?

By the way, we are making a tool to analyze java projects automatically in our team, by connecting Github and Infer.
The tool detects push and pull requests, analyzes automatically using Infer, and then reports results as comments on each

[2016-04-22 10:05] jvillard commented on #348
yes, that shouldn't be an issue.

[2016-04-22 10:05] #348 closed

[2016-04-22 10:06] jvillard commented on #348
Please reopen if you have a concrete problem with this configuration that we can look at.

[2016-04-22 10:07] jvillard commented on #342
Your disk ran out of space.

[2016-04-22 11:16] AliceTENGZI commented on #348
OK  I will  Thanks.~

[2016-04-22 11:25] AliceTENGZI commented on #342
When I clean my disk for enough space.
and run "./build-infer.sh "..Error still exists as follows.

[@sjs_14_125 infer-0.8.0]# ./build-infer.sh
initializing opam...
[WARNING] Running as root is not recommended
[WARNING] Running as root is not recommended
preparing build...
checking if we are in an Infer release build... no
checking whether to use the compilers in /search/bianyuteng/infer-0.8.0/fac

[2016-04-22 12:02] tabishjaved03 opened #349 "Infer unable to find project root in docker container"
I am using infer on Ubuntu 14.04(TLS) via docker. I execute the provided run.sh and  docker container opens up.
I am able to run  java and android_hello example. But when i provide my project root, it does not find any class to compile. Could you please answer my below query:

1) How to access external files from inside the docker container?
2) Is it possible to install infer via linuxbrew?

 I am

[2016-04-22 14:53] mackoj opened #350 "Unable to install Infer on Ubuntu"
Hi,

I have this issue when I try to install infer on Linux.

`xz: (stdin): File format not recognized`

[code]

[console.log.zip](https://github.com/facebook/infer/files/232033/7b74cef32c04fed7.log.zip)

[2016-04-22 15:07] jvillard commented on #350
looks like downloading from github failed. can you try running the script again?

[2016-04-22 15:11] #344 closed

[2016-04-22 15:11] #345 closed

[2016-04-22 15:11] #343 closed

[2016-04-22 15:11] mackoj commented on #350
OK, I’m relaunching it.

[2016-04-22 15:14] jvillard commented on #349
1. see https://github.com/facebook/infer/issues/345#issuecomment-212886795
2. there is no linuxbrew recipe for infer as of yet. You can always [build infer from source](http://fbinfer.com/docs/getting-started.html#install-from-source)

[2016-04-22 15:18] mackoj commented on #350
I have the same issue.

[code]

[2016-04-22 15:24] jvillard commented on #350
my bad, this is because there's no 0.8.1 release yet! We are in the process of releasing it. In the meantime, you can use the Dockerfile from 2e5da306071e81f7daca90f788abd337a7561796:
- If you have a git checkout of infer, simply run `git checkout 2e5da306071e81f7daca90f788abd337a7561796`
- Otherwise, if you downloaded Dockerfile directly from github, get another version with `wget -O Dockerfile h

[2016-04-22 15:29] mackoj commented on #350
Thanks,

I will try with `wget -O Dockerfile https://raw.githubusercontent.com/facebook/infer/2e5da306071e81f7daca90f788abd337a7561796/docker/Dockerfile `.

[2016-04-22 15:51] mackoj commented on #350
It worked, it compiles but soon after I have an exit 1 on `cannot enable tty mode on non tty input `.
I'm in the process of adding the support of infer for android and iOS on Bitrise CI.

[code]

[2016-04-23 14:18] Rexota commented on #345
Hey @jvillard , as you said it's an isolated container. So how can I access my project files from docker?

Because when I run this cmd from my project folder :
`sudo docker run infer /bin/bash -c 'infer -- ./gradlew build'`

It says :

[code]

[2016-04-25 00:51] kstreee commented on #34
Oh this issue is opened on several months ago 😂..

[2016-04-25 02:53] chen881129 opened #351 "get opam failed(can I skip curl if I download it by myself)"
Step 5 failed:
The command '/bin/sh -c VERSION=1.2.2;     curl -sL       https://github.com/ocaml/opam/releases/download/$VERSION/opam-$VERSION-x86_64-Linux       -o /usr/local/bin/opam &&     chmod 755 /usr/local/bin/opam &&     ((/usr/local/bin/opam --version | grep -q $VERSION) ||      (echo "failed to download opam from GitHub."; exit 1))' returned a non-zero code: 35

Then I get "https://gith

[2016-04-25 03:16] chen881129 commented on #351
I find the Dockerfile and alter it, I'm doing the next command(also get an error with the run.sh....do it manuallly), good luck to me

[2016-04-25 04:41] tabishjaved03 commented on #345
hey @Rexota ,

Any progress? i am getting the same error.

[2016-04-25 07:52] Rexota commented on #345
As @jvillard said I tried to build infer from source.
http://fbinfer.com/docs/getting-started.html#install-from-source

I'll make it available for all system and "infer" command will be accessible from everywhere.

[2016-04-25 08:10] AliceTENGZI opened #352 "Can infer analyze java project?"
http://ios.jobbole.com/84371/
Some code errors occur  when I use Infer analyze java project from article above.
Is resolved this issue that infer cannot analyze java project?

[2016-04-25 09:39] chen881129 opened #353 "infer doesn't report potential NPE on a field initialised via an XML file"
package src;
import src.*;
public class Test{
    public static void main(String[] args){
            A a = new A();
            String s = a.id;
            s.length();
    }
}

Here s maybe a nullpointer.
But infer said "No issues found"

[2016-04-25 09:44] jvillard commented on #352
Hi @AliceTENGZI, Infer works with Java projects too.

What's the Java project you have issues with? What error do you get?

[2016-04-25 09:56] jvillard commented on #353
- What is the code of class `A`?
- What command did you use to run infer?
- What version of infer are you using?
- Can you paste the full output?

Thanks!

[2016-04-25 10:10] tabishjaved03 commented on #349
Thanks for your help @jvillard . Closing the issue, I ran infer from source.

[2016-04-25 10:10] #349 closed

[2016-04-25 11:53] mackoj commented on #350
[code]

[2016-04-25 16:50] jvillard commented on #320
Since [0.8.1](https://github.com/facebook/infer/releases/v0.8.1), which includes b9c9f208926a687208a909196a86893940a4272b, it should possible to force the encoding used in infer without having to modify the python scripts by hand. In particular, this should fix the issue:

[code]

[2016-04-25 16:50] #320 closed

[2016-04-25 16:52] jvillard commented on #202
It seems that the version of clang used in Infer since [0.8.1](https://github.com/facebook/infer/releases/v0.8.1) supports the flags used to compile Watch apps. Please try the latest version of Infer on your project and re-open this issue if it still doesn't work. Thanks!

[2016-04-25 16:52] #202 closed

[2016-04-25 16:54] jvillard commented on #203
It seems that the version of clang used in Infer since [0.8.1](https://github.com/facebook/infer/releases/v0.8.1) supports the flags used to compile Watch apps. Please try the latest version of Infer on your project and re-open this issue if it still doesn't work. Thanks!

[2016-04-25 16:54] #203 closed

[2016-04-25 17:02] jvillard commented on #34
Hey @kstreee, just a quick note that the llvm frontend prototype lives in https://github.com/facebook/infer/tree/master/infer/src/llvm. Right now it starts from text-form llvm, not bitcode, and not all constructs have been translated.

[2016-04-25 17:24] jvillard commented on #350
If you are not running docker from a tty, you should not use `-t` in the docker command. What's the command you use to run infer?

[2016-04-25 17:27] jvillard commented on #345
The way to access your project from within the docker container is described in my previous comment: https://github.com/facebook/infer/issues/345#issuecomment-212886795

See also [the docker documentation about data volumes](https://docs.docker.com/engine/userguide/containers/dockervolumes/#mount-a-host-directory-as-a-data-volume).

[2016-04-26 04:18] chen881129 commented on #353
Sorry for my mistake. I got the result because I didn't clean my .class files.

But it really dosn't work when I check my java project,  the code is like this:

String docvrid = doc.getClassid();
if (! docvrid.equals("10000103")) {
 ...
}

doc.classid is a private member and initialized from a xml in the constructed function, but [classid] in the xml maybe null. So, the code 'docvrid.equals("10000

[2016-04-26 04:53] jeremydubreil commented on #353
Hi @chen881129. Infer does not parse the xml files, so the information whether `doc.getClassid()` may  return `null` is not known. In this case, Infer will make optimistic assumptions about the code. Here, `docvrid` being dereferenced in `docvrid.equals(...)`, Infer will assumes that `docvrid != null`. If you know that `docvrid` can be null, you can annotate the code accordingly:
[code]
And Infer

[2016-04-26 07:14] chen881129 commented on #353
Hello @jeremydubreil, very nice to receive your message.
You are right that Infer dose not know `docvrid` is null. Actually `docvrid` is not always null, it's potentially null. So, `docvrid != null && !docvrid.equals("10000103")` will be safe and `docvrid.equals("10000103")` without `docvrid != null` is dangerous.

In my opinion the dangerous code should be print. Can Infer print the potentially N

[2016-04-26 11:59] mackoj commented on #350
I'm running it from inside another docker container.

[code]

[2016-04-26 12:15] jvillard commented on #350
If you want to analyse a project using infer in docker, you can look at [this comment](https://github.com/facebook/infer/issues/345#issuecomment-212886795), but remove `-t` in commands (so for instance, `docker ... -it ...` becomes `docker ... -i ...`).

However, if you are already inside a docker container, then why not install infer there? You can copy what the [Dockerfile](https://github.com/fa

[2016-04-26 14:10] mackoj commented on #350
I have tried to replicate what is done in the docker file but I have issues with opam...
I will continue to try various approaches in order to install it and run it in my container.

Thanks,

[2016-04-26 18:44] jeremydubreil commented on #353
In theory, Infer could report every time there is not enough information to prove that a variable being dereference is not null. But in practice, this will generate way too many reports and make the tool unusable.

[2016-04-26 19:54] sblackshear commented on #353
If you want more demonic behavior w.r.t nullability, you might want to give eradicate a try (`infer -a eradicate -- <your_compile_command>`). Eradicate requires more annotations than Infer, but is also more exhaustive in reporting NPE warnings.

[2016-04-28 01:00] kstreee commented on #34
@jvillard Thanks for your reply! :)

[2016-04-29 10:59] salomon1184 commented on #76
I met this bug too, when the bug will be repaired？

[2016-05-02 08:35] wouter89 opened #354 "UnicodeDecodeError"
Command & Console output::
[code]

toplevel.log
[code]

locale:
[code]

Tried solutions from #320 :
1. Running infer with: LC_ALL="en_US.UTF-8" infer ...
2. Changing "/usr/local/Cellar/infer/0.8.0/libexec/infer/lib/python/inferlib/capture/gradle.py"
(3. no non-ascii characters in pwd)

But, none are fixing the problem.
Is there something else I can look at to fix this problem?

[2016-05-03 03:03] sunchongyang opened #355 "when t try build an iOS project with infer，i got these errors。please HELP me。"
hile building module 'Security' imported from /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator9.3.sdk/System/Library/Frameworks/Foundation.framework/Headers/NSURLCredential.h:9:
In file included from <module-includes>:2:
In file included from /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPho

[2016-05-03 03:06] wisenight opened #356 "RESOURCE_LEAK rule"
Dear sir

We write a tool class to close Closable item, like below

public class CloseUtils {
    public static close(Closable closable) {
        try {
            if (closable != null) {
                closable.close();
            }
        } catch (Exception e) {
        }
    }
}

But Infer still tell us we have res leak when we use this class to close item. Is there any way to change the ru

[2016-05-04 10:24] martinoluca commented on #194
Hello @tettoffensive do you know whether your issue is now solved using our latest release?

Thanks!

[2016-05-04 18:05] jeremydubreil commented on #356
Hi @wisenight. Thanks for reporting this. We are currently working on solving this case, which is more tricky than it looks because of dynamic dispatch.

Keeping the issue open for now and will update it when this case is fully supported.

[2016-05-05 12:28] akotulski commented on #355
This problem was fixed in infer 0.8.1.
brew formula was updated yesterday and the problem should go away after upgrading.
Running `brew update && brew upgrade infer` should do it.

If it doesn't fix your problem, feel free to reopen the issue

[2016-05-05 12:28] #355 closed

[2016-05-05 14:00] #76 closed

[2016-05-05 14:02] jvillard commented on #354
This should be fixed in d4521fd70d9cb9545943f5ce2d84cd410fe8b0e8. Can you please try the latest master and re-open this issue if there is still a problem? Thanks for the report!

[2016-05-05 14:02] #354 closed

[2016-05-06 10:17] Hellengo opened #357 "infer can't Ignore third party library scanning"
if run：
infer --pmd-xml -- xcodebuild -workspace Vodka.xcworkspace -scheme Vodka

will analysis all files including Pods , but  i want to analysis my project files ,can i add some parameter  to  Ignore third party library?

[2016-05-06 12:32] Hellengo opened #358 "execute infer :: ValueError: unknown locale: UTF-8"
log:
SpeedXworkstation:~ qa$ brew install infer
==> Downloading https://homebrew.bintray.com/bottles/infer-0.8.1.el_capitan.bottle.tar.gz
Already downloaded: /Library/Caches/Homebrew/infer-0.8.1.el_capitan.bottle.tar.gz
==> Pouring infer-0.8.1.el_capitan.bottle.tar.gz
🍺  /usr/local/Cellar/infer/0.8.1: 11,840 files, 696.6M
SpeedXworkstation:~ qa$ infer
Traceback (most recent call last):
  File "/us

[2016-05-06 12:34] jvillard commented on #358
what's the output of `locale`?

[2016-05-06 12:36] Hellengo commented on #358
thx,
vi  .bash_profile
add    export LANG=en_US.UTF-8

[2016-05-06 12:36] #358 closed

[2016-05-06 13:00] jberdine commented on #358
Looks like your locale is misconfigured.  It should have a value such as 'en_US.UTF-8'.

[2016-05-06 21:53] nurse commented on #136
When I check CRuby with infer, there's some false-positive NULL_DEREFERENCE because infer doesn't understand noreturn attribute.

[2016-05-10 07:47] wouter89 commented on #354
I updated to version 8.1 but the problem still occurs. (Same as I reported above)

Is there anything I can look for in the codebase to solve the problem or create a work-around?

[2016-05-10 10:27] jvillard commented on #354
The fix was published after 0.8.1, and we haven't made a new release yet. In the meantime, you can [compile the latest master from source](https://github.com/facebook/infer/blob/master/INSTALL.md#install-infer-from-source).

[2016-05-14 19:53] clonetwin26 commented on #256
https://github.com/uber-common/infer-plugin

[2016-05-15 17:12] waqas716 opened #359 "Using Infer for Technical-Debt calculation?"
Infer is really great tool, I tried it for Android projects and was impressed by its detection of Context leaks, although it was a false positive [will upload the scenario with example] but was helpful to see that wrong parameter can cause problems.

I am doing master thesis at RWTH university Aachen, I need to develop a tool which will detect code smells / bad code design to determine and quantif

[2016-05-17 02:15] ma3tk commented on #261
👍

[2016-05-17 20:20] clonetwin26 opened #360 "Failed to load any Java source code during parallelized build."
I think the the infer runs aren't thread safe. When I run to runs on the same project concurrently, one of the jobs fails to load source.

[2016-05-18 00:41] mcandre commented on #256
+100

[2016-05-18 02:50] jeremydubreil commented on #360
I am trying to understand the problem you are facing. Is the issue that you are running:

  in shell1 my/project/sources > infer -o out1 -- <build command>

and

  in shell2 my/project/sources > infer -o out2 -- <build command>

and then the second command does not load any source files ?

[2016-05-18 14:08] sblackshear commented on #359
Infer would likely be suitable for this. I don't know enough about the code smells you mention to know which ones will be easy vs hard, but if all you need is to look at the CFG/class hierarchy then Infer is good for that (and will work with multiple languages!).

You'd probably want to implement your each code smell analyses as a separate checker. Simple ones can just iterate over the CFG, and fa

[2016-05-18 16:40] XVilka opened #361 "rebuild: command not found"
[code]

[2016-05-18 16:48] jvillard commented on #361
Infer now [depends on Reason](https://github.com/facebook/infer/blob/a45844f40979c0c215bd808d51d307ca4c4810ea/INSTALL.md#infer-dependencies-for-macosx). You can install Reason by following [these instructions](https://github.com/facebook/reason/blob/master/README.md#install-stable).

[2016-05-18 16:48] #361 closed

[2016-05-18 18:41] clonetwin26 commented on #360
Yeah. Thats it.

[2016-05-19 07:16] jmtiong opened #362 "Unable to run self implemented checker"
Greetings, I am sorry as I do not know where to post this, however, after I followed the instructions on fbinfer (Adding checkers), it did not run/detect at all? Am I doing something wrong? And I could not find any registerCheckers.mli anywhere hence I place the code for registerCheckers.mli into registerChecker.ml

[2016-05-19 08:40] jmtiong commented on #362
UPDATE: If I explicitly run `infer -a checkers -- javac Hello.java`, the implemented my_simple_checker will run. If the command `infer -- javac Hello.java` is ran, it seems that the checkers module did not run. Any idea or more details of how infer works?

[2016-05-19 09:41] jvillard commented on #362
This is the intended way to run checkers. If you don't specify a value for the `-a` option then by default it selects `-a infer`.

[2016-05-19 16:25] jvillard commented on #362
Closing for now, let me now if you have any more questions about implementing your checker!

[2016-05-19 16:25] #362 closed

[2016-05-20 00:59] jmtiong commented on #362
Understood, thank you for your help!

[2016-05-23 12:53] Mahmohsen opened #363 "Does infer detect an array out of bounds error?"
For example, would infer raise any errors with the following code:

int max(int *arr, int n)
{
    int i = 0;
    int Result = arr[i];
    while (n > i)
    {
  	i = i + 1;
        if (Result <= arr[i])
            Result = arr[i];
    }
    return Result;
}

[2016-05-23 13:08] jvillard commented on #363
Infer doesn't report any array bounds error as of yet, but that's something we are looking to improve.

For reference, you can look at the [list of bug types Infer currently reports](http://fbinfer.com/docs/infer-bug-types.html), and array bounds errors are in the [list of bug types Infer currently doesn't report](http://fbinfer.com/docs/limitations.html#bugtypes).

[2016-05-23 13:08] #363 closed

[2016-05-24 07:19] tvsathish opened #364 "How to include project folders or exclude dependency folders during analysis of iOS project?"
How to include project folders or exclude dependency folders during analysis of iOS project? I have a big project in which there are lots of dependencies. I do not need to analyze them as it is out of scope and adds to the time infer takes to analyze the project. Is there a way to specify only project-specific folders or exclude unwanted folders during analysis?

Also how to speed up the analysis

[2016-05-24 08:20] rocketnik commented on #330
I also ran into this issue with version 0.8.0 of infer. As another hint:
Try make your build work without infer on the command line first. for our project, the commands were:
xcodebuild  build  -workspace SomeProject.xcworkspace -scheme SomeProject-QA-Staging -configuration Release
infer -- xcodebuild  build  -workspace SomeProject.xcworkspace -scheme SomeProject-QA-Staging -configuration Release

[2016-05-25 00:18] meghanapatlolla opened #366 "Infer on IOS Application"
hi there,

i am facing issues integrating Infer with IOS applications , it always complains about missing the header files like "ICAnalyticsController.h"

Logs with error:
**ApplicationName-Prefix.pch:15:9: fatal error:
      'ICAnalyticsController.h' file not found
#import "ICAnalyticsController.h"**

Things observed on Xcode:

1. when i go to ApplicationName-Prefix.pch file
No error observed, al

[2016-05-25 00:30] meghanapatlolla commented on #366
Above is solved and now i see ICAdjustSDKTrackingController.h is not found. Can anyone please me  help with all the dependent libraries for Infer to run on IOS

[2016-05-25 01:31] jmtiong opened #367 "Analyzing tainted variables"
Hi everyone! Are there any guides or documentations that I can read on how FBinfer performs checks on tainted variables that I can learn from and hopefully contribute back to the site.

Thank you very much!

[2016-05-25 05:04] jeremydubreil commented on #360
Assuming that the build command can run concurrently on the same project ? For instance:

in shell1:
   `my/project/sources > gradle build`

and in shell2:
   `my/project/sources > gradle build`

Then the files that are compiled in one of the shell will not be recompiled in the other shell. And Infer will only analyze the files that are compiled during the build.

What is the objective of running

[2016-05-25 07:41] tabishjaved03 commented on #367
+1

I would love to know more too. It shows that some db variables are reaching sensitive functions. But which db variables are flagged and which are not isn't clear. A little more information can help me getting these issues fixed by developers. Clearly, this category is very important from security context. A little help from the community in understanding these issues, would go a long way.

Tha

[2016-05-25 09:16] sblackshear commented on #367
The taint analysis is an experimental feature that's still under development, but I can share a few details on what it can do now.

- The taint checks Infer does fall into two categories: security and privacy. Security checks ensure that user-controlled input does not flow to sensitive functions, and privacy checks ensure that sensitive user data does not escape to the outside.

- There are a few

[2016-05-25 10:05] sblackshear commented on #360
I could see why you would want to run Infer concurrently on the same project. For example, you might want to get results from both Infer and Eradicate.

I don't think we have a good story for how to do this right now, though. Would be nice to have.

[2016-05-25 12:30] akotulski commented on #364
Yes, there is a way to exclude certain directories. I'll illustrate it by example let me know if it works for you.
If your use case is different/more complex let me know as well.

Let's say I have a project with following directory structure.
[code]

We have a way of providing extra information to guide the analyzer by .inferconfig file (it's in json format)

Step 1:
Create .inferconfig file (name

[2016-05-25 12:34] akotulski commented on #364
Unfortunately, this feature is fairly new (implemented last week in https://github.com/facebook/infer/commit/83e6ab1a20e0ece09bf1c965513d5ebf0026905f) so you'll have to use infer from master. Last release of infer `0.8.1` doesn't have it.

[2016-05-25 12:42] akotulski commented on #366
Could you provide command that you used?
Does the build command by itself succeed?

[2016-05-25 17:29] meghanapatlolla commented on #366
command used : infer -- xcodebuild -target ApplicationName -configuration Debug -sdk iphonesimulator

[2016-05-25 17:32] clonetwin26 commented on #360
Ill keep trying to get it right on my end. The big interest here is to run it as part of a big parallelized build system. Where one box could be running against two diffs off the same project at the same time.

[2016-05-25 17:32] meghanapatlolla commented on #366
Build fails with exception , saying some header files are missing . So it would be helpful if you could help me with , header files that infer is dependent on

like
ICLog.h
IC+NSString.h......

[2016-05-25 18:48] jeremydubreil commented on #360
This is a very interesting use case. Does it also fail if you specify two different output directories ? For instance:

`shell 1 > infer --out out1 ...`
and:
`shell 2 > infer --out out2 ...`

However, I am not sure I understand the situation very well. How can the "normal" build run two different builds on two different commits in the same directory ? If in two different directories, there should

[2016-05-25 23:21] clonetwin26 opened #368 "False positive on telescoping constructors"
When running infer I get the following error when trying to telescope my constructors.

src/main/java/Controller.java:60: error: NULL_DEREFERENCE
  object null could be null and is dereferenced by call to Controller(...) at line 60
1.               @NonNull Source source,
2.               @NonNull Type type) {
3. >         this(activity, config, listener, summary, source, type, null);
4.       }
5

[2016-05-26 10:20] GeekMin opened #369 "Decrease the infer-build time: how can i do?"
hey,
   Infer now using infer-capture-build:
1. ant -v
2. match "javac“
3. etc.
  so, the whole infer-build time is： original ant build time + infer-build time...
Here, If I want to get the ant building command, but not running the really building, i.e dry-run mode
How can I do? If infer do not built-in supported, How can i do?

[2016-05-26 10:27] sblackshear commented on #369
The only way to make it faster would be writing an ant plugin for Infer like the Gradle [plugin](https://github.com/uber-common/infer-plugin) Uber recently contributed. This would be a very welcome contribution if you are up to it!

[2016-05-26 11:19] jvillard commented on #366
Infer shouldn't depend on any more files than your project. Does `xcodebuild -target ApplicationName -configuration Debug -sdk iphonesimulator` succeed on its own, without `infer -- `?

[2016-05-26 12:11] alexmx opened #370 "Variables for fast enumerations in Objective-C are marked as UNINITIALIZED_VALUE"
When using a fast enumeration in Objective-C, variables are marked as UNINITIALIZED_VALUE warnings.

For instance for current piece of code:
[code]

we get the warning:
`UNINITIALIZED_VALUE
  value label was not initialized after declaration and is used at line xx, column xx`

Kind regards,
Alex.

[2016-05-26 12:44] jvillard commented on #370
Thanks for the report @alexmx! I cannot reproduce this issue locally. Can you give me a full example? Also, which version of Infer are you using?

[2016-05-26 13:02] alexmx commented on #370
Thanks @jvillard for taking a look at this.
I'm using Infer version v0.8.1

I was able to reproduce it for attached project example.
[InferBugExample.zip](https://github.com/facebook/infer/files/284377/InferBugExample.zip)

I'm running the following command:
`infer -a checkers -a capture -a compile -a infer -a tracing -- xcodebuild -scheme InferBugExample -configuration Debug -sdk iphonesimulator`

[2016-05-26 15:53] bitliner opened #372 "How to extend it to Javascript"
I hope this is the right place to ask such question.

I was wondering:
- is there any documentation that explains how to extend Infer to other programming languages or to add rules to "infer more"?
- is Flow the Infer implementation for Javascript ?

[2016-05-26 17:23] meghanapatlolla commented on #366
Build fails with "xcodebuild -target ApplicationName -configuration Debug -sdk iphonesimulator" too

[2016-05-26 20:37] jeremydubreil commented on #368
Unfortunately, it is hard to tell what is happening without more context about the definition of `Controler`. If I understood correctly, the constructor is of the form:

  `Controller(..., @Nullable Object obj) { ...}`

where `obj` is not being dereference without a check for `null` inside the body of `Controler`. If that was the case, then the NPE would be reported in the body of `Controler`, not

[2016-05-26 22:40] jeremydubreil commented on #372
Flow and Infer are two unrelated projects.

There is no generic documentation describing precisely how to extend Infer to a new languages. Basically, what needs to be done is to trans-compile the input source code into the Infer intermediate representation. The [Infer IR](https://github.com/facebook/infer/tree/master/infer/src/IR) is a low level description of types, expressions, instructions and

[2016-05-27 03:14] jmtiong commented on #367
@sblackshear Thank you very much for your reply! Just one clarification for

Does it mean I do not need to change anything on the OCaml code? Or in the OCaml code I have to do some changes as well?

Right now I am trying to implement a checker that will detect the tainted variables that was brought over from one function to another function.

[2016-05-27 05:23] jmtiong commented on #367
![Image of checker]
(http://i.imgur.com/Dpq07Nv.png)
Like from the above image, inside one of my function it will call AsyncTask.get() which will return an object,
and the checker's code to identify the AsyncTask.get is

    let do_instr node = function
        | Sil.Call (_, Sil.Const (Sil.Cfun pn), _, loc, _) when
              Procname.java_async_method pn ->
            (* How may I continue f

[2016-05-27 08:21] bitliner commented on #372
@jeremydubreil thanks for your answer.

I am interested in detecting common issues that usual common static analyzers (e.g. jshint) do not detect, like undefined methods.

I was curious to understand more how Infer works. Because usually I have had problem using Flow (not so easy to get started with it the way I would like to), and I am still trying to set up Reason (that would be my favorite choi

[2016-05-27 09:50] sblackshear commented on #367
The functionality for propagating tainted sources to tainted sinks lives in the main bi-abduction analysis, so you won't be able to leverage it from a custom checker.

I don't fully understand what you are trying to do with your checker, but if you explain a bit more I can try to help.

[2016-05-27 10:34] jvillard commented on #366
Infer needs a working compilation command. You should find the right way to compile your project from the command line, then run `infer -- <that command>`. Let me know if you have more issues with this, closing for now.

[2016-05-27 10:34] #366 closed

[2016-05-27 10:40] jvillard commented on #370
Specifying multiple analyzers on the command line simply selects the last one, so your command only runs the experimental "tracing mode" analyzer (which is not meant to be run by users). There is no direct way to run all available analyzers right now. One simple way is to do the following:

[code]

(From your example command-line, I'm assuming you want to run "infer" and "checkers", but not "eradi

[2016-05-27 11:43] alexmx commented on #370
Ok, got it. Thanks @jvillard.

I was confused by the output of help command `infer -h:`
`-a ANALYZER, --analyzer ANALYZER
                        Select the analyzer within: capture, checkers,
                        compile, eradicate, infer, tracing`

So I listed all of them, except eradicate which is for Android projects.

I assume that this issue can be closed as I'm not getting this issue aft

[2016-05-27 12:13] jvillard commented on #370
Yes the help on that option is not very... helpful. I'll see if I can come up with a better message.

re: merging: I think eventually we'd like to be able to run several analyzers at the same time, in the way you assumed was working already (eg `infer -a checkers -a infer -- analyze`).

[2016-05-27 12:13] #370 closed

[2016-05-27 13:54] alexmx opened #373 "False positive CHECKERS_DEAD_CODE in places where NSStringFromClass foundation function is used"
Infer version v0.8.1

Run command: `infer -a checkers -- xcodebuild -scheme InferBugExample -configuration Debug -sdk iphonesimulator`

Sample project:
[InferBugExample.zip](https://github.com/facebook/infer/files/286561/InferBugExample.zip)

The following code examples are marked as CHECKERS_DEAD_CODE warnings even though they are valid pieces of code:
[code]

Infer output:
[code]

Another exampl

[2016-05-27 16:27] alexmx commented on #364
It would be great to have the possibility to exclude some directories by passing some args (e.g. `-e and --exclude`) to command line like `infer -e 'Pods' -e 'Libs' -- xcodebuild ...` without creating an .inferconfig file.

[2016-05-27 17:09] jvillard commented on #364
This is in-progress but definitely planned. It works even now if you pass arguments via the `INFER_ARGS` environment variable (options are separated using `^`). The `--skip-clang-analysis-in-path` option expects a json array as argument, so you would write for instance:

[code]

[2016-05-27 17:10] jvillard commented on #364
(you have to use infer from master, it's not in 0.8.1)

[2016-05-28 15:17] jmtiong commented on #367
I would like to implement a checker such that it is able to detect programs that attempt to download files over the internet and perform operations (e.g. unzipping or executing) with the files that have been downloaded.

Hence the thoughts of utilizing and tracking tainted variables would be very useful to detect such patterns.

[2016-05-30 15:57] sblackshear commented on #367
If you want to implement such a checker from scratch, Infer's abstract interpretation framework for checkers would be quite suitable for this. See `liveness.ml` for an example of a simple AbsInt checker and `annotationReachability.ml` for an example of a more advanced one.

However, if you want to take advantage of Infer's builtin capabilities for propagating taint, you'll have to build your check

[2016-05-31 05:39] jmtiong commented on #367
Thank you very much, I will go take a closer look at these files, by the way, has `inferTaint.ml` been renamed? I could not find it in the current sources.

[2016-05-31 08:58] sblackshear commented on #367
Sorry, I meant `taint.ml`.

You need to include the android JAR and Infer annotations JAR to compile this file. You can take a look at the BUCK file that runs the test to see the compilation command that is used.

[2016-05-31 23:32] Tony-Mao opened #375 "Format/grammar of the Intermediate Representation"
The IR files are stuffed through serialization and the content in captured/ is not human-readable. Is there a manual about the format and grammar of the IR files. In particular, if I want to just look into the IR, all I can seem to do is to somewhat 'print' the 'cluster' information before places like `analyze_cluster (nr - 1)  cluster` in `inferanalyze.ml`.

To be more concrete, I just want to co

[2016-06-01 23:50] Tony-Mao opened #376 "Turning on looping related analysis"
In `infer/infer/tests/codetoanalyze/java/infer/ArrayOutOfBounds.java` it says

`// tests below this line are turned off until array functionality improves`

These are loop related analysis. I was wondering if this feature can be turned on somewhere? If not, are the developers anticipating to see the improvement of this functionality?

Thanks!

[2016-06-01 23:51] #375 closed

[2016-06-02 10:34] jvillard commented on #376
Hi @Tony-Mao, there is a rudimentary array bounds analysis in Infer, but the reports are filtered out by default as this feature is not supported at the moment and performs quite poorly. You can remove error filtering by running with the `--no-filtering` option (see `infer --help`).

We're working on improving the array bounds analysis.

[2016-06-02 10:49] jvillard commented on #375
There are two things you can look at:
- The IR consists of [control flow graphs](https://github.com/facebook/infer/blob/3a2a6c7c448f89fb294e6613b84b0ed72379c816/infer/src/IR/Cfg.re#L68-L75) (one for each source file) of [nodes](https://github.com/facebook/infer/blob/3a2a6c7c448f89fb294e6613b84b0ed72379c816/infer/src/IR/Cfg.re#L31-L55), described in the [Cfg file](https://github.com/facebook/infer/

[2016-06-02 10:52] alexmx commented on #373
Has anyone seen this ticket? 😄
I would appreciate any feedback on it.
Thank you.

[2016-06-02 14:19] jvillard commented on #373
Thanks for the report @alexmx. That's definitely an issue with the dead code checker. To be honest I think we'd be better off just not running that checker by default since no-one actively maintains it anymore.

[2016-06-02 14:44] alexmx commented on #373
Thanks @jvillard.

How can I exclude this particular dead code checker when running `infer -a checkers ...` command?
Or you meant that I should avoid using `checkers` analyzer?

Cheers.

[2016-06-02 14:50] oatsuper opened #377 "what does facebook-clang-plugins project for ?"
My clang version :
Apple LLVM version 7.3.0 (clang-703.0.31)
Target: x86_64-apple-darwin15.3.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

i wanna know the plugin project must to be "make all",and how to use it ?

[2016-06-02 14:55] jvillard commented on #377
What are you trying to do? If you want to install infer, please follow [the docs](http://fbinfer.com/docs/getting-started.html) or just run `brew install infer`.

[2016-06-02 15:17] oatsuper commented on #377
you are nice for reply soon~
if I was just to use Infer for IOS project, and brew install infer successful
so, I can ignore the plugin project , it's right?

[2016-06-02 15:21] jvillard commented on #377
`brew install infer` already installs everything, including the plugin. You don't have to compile it yourself.

[2016-06-02 15:31] oatsuper commented on #377
Another question for help,
Yesterday, I got the completed Infer report and almost 160 errors. After the report review ,Our developers think that testing in a large number of false positives in the report。
I  really really wanna prove Infer is powerful, but i am poor with Object-c

[2016-06-02 15:50] #376 closed

[2016-06-02 17:08] jvillard commented on #373
The clang checkers should all be disabled by default, we'll fix that. There are some other checkers available by default for Java that are more useful.

[2016-06-03 11:11] ddino commented on #377
Which kind of bug types were considered false positive?

[2016-06-03 12:55] jvillard commented on #357
Thanks for your question, there is a hole in our documentation currently. This has been answered on #364, please report there if that doesn't work for you.

[2016-06-03 12:55] #357 closed

[2016-06-03 12:56] jvillard commented on #364
Hopefully this is enough information to achieve what you wanted, please re-open if there is an issue.

[2016-06-03 12:56] #364 closed

[2016-06-03 12:58] jvillard commented on #352
please re-open with more information

[2016-06-03 12:58] #352 closed

[2016-06-03 12:59] jvillard commented on #351
Hi @chen881129, did you solve your problem? Is there an issue with the Dockerfile?

[2016-06-03 13:00] #350 closed

[2016-06-06 14:48] jvillard commented on #347
Just FYI Infer now supports gcc/clang commands that involve multiple source files: 596823bd32cc8e21bb9fde8de9a88260b4dca7e1.

[2016-06-06 17:32] #373 closed

[2016-06-08 09:42] #194 closed

[2016-06-09 04:54] hujiachun opened #378 "mac ,The following build commands failed:"
hujiachun:PALifeApp hujiachun684$ infer -- xcodebuild -target PALifeApp -configuration Debug -sdk iphonesimulator
Build settings from command line:
    CC = /usr/local/Cellar/infer/0.8.0/libexec/infer/lib/python/inferlib/../../../lib/xcode_wrappers/clang
    CPLUSPLUS = /usr/local/Cellar/infer/0.8.0/libexec/infer/lib/python/inferlib/../../../lib/xcode_wrappers/clang++
    GCC_PRECOMPILE_PREFIX_HEA

[2016-06-09 08:57] wouter89 opened #379 "Precondition_not_met for array functions [Question]"
I've analysed the following code snippet with Infer:

[code]

Where 'a' is an already initialised array of integers. When I analysed the class that calls this function I saw that Infer's debug information in the captured folder outputs: 'precondition_not_met in call to update..'

This warning can be removed by changing the function update to something like this:

[code]

Which makes sense because

[2016-06-13 00:22] hujiachun commented on #330
@jvillard
infer-out/toplevel.log

 [INFO] Running command /usr/local/bin/infer -- xcodebuild -workspace /Users/hujiachun684/Downloads/PALifeApp-master/PALifeApp.xcworkspace -scheme PALifeApp -configuration Debug -sdk iphonesimulator
[INFO] Path to infer script /usr/local/bin/infer (/usr/local/Cellar/infer/0.8.0/libexec/infer/lib/python/infer)
[INFO] Infer version v0.8.0
Copyright 2009 - present Fa

[2016-06-14 06:55] chen881129 commented on #351
Thanks a lot, it's solved :)

[2016-06-14 08:18] gql19890103 opened #380 "infer install error on mac os"
./build-infer.sh clang
initializing opam...
preparing build...
checking for .release... no
checking for .facebook... no
checking whether to use the compilers in /Users/guanqinglong/infer/facebook-clang-plugins/clang/bin... no
checking for shasum... shasum
checking for cmake... no
configure: error: cmake not found.

[2016-06-14 08:39] chen881129 opened #381 "what is "rebuild""
I'm installing infer with `./build-infer.sh java`, and I get an error:`configure: error: rebuild not found.`

initializing opam...
[WARNING] Running as root is not recommended
[WARNING] Running as root is not recommended
preparing build...
checking for .release... no
checking for .facebook... no
checking for python2.7... python2.7
checking for xcode-select... no
checking for C compiler default out

[2016-06-14 09:08] akotulski commented on #380
As the message tells you, you don't have cmake installed. It is new dependency needed when we compile clang from source.
If you are using homebrew, you can install it by running `brew install cmake`

From: Evan Guan <notifications@github.com<mailto:notifications@github.com>>
Reply-To: facebook/infer <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, June 14, 2016 at 9:18 AM
To:

[2016-06-14 09:51] gql19890103 commented on #380
thanks

[2016-06-14 09:51] #380 closed

[2016-06-14 09:54] gql19890103 commented on #380
thanks,it's work now.

[2016-06-14 10:08] #351 closed

[2016-06-14 10:11] jvillard commented on #381
`rebuild` is installed as part of [Reason](https://github.com/facebook/reason), follow the instructions on GitHub to install Reason. The error message should be better though, thanks for the report.

[2016-06-15 02:16] calistochen opened #382 "can it analysis application back end?"
can it  analysis application back end?

[2016-06-15 03:29] chen881129 commented on #381
Thank you for your solution~
But I get another error when I installing Reason

merlin is now git-pinned to https://github.com/the-lambda-church/merlin.git#reason-0.0.1

[ERROR] Command "git fetch -q origin +reason-0.0.1:refs/remotes/opam-ref" failed:
# opam-version 1.2.2
# os           linux
# command      git fetch -q origin +reason-0.0.1:refs/remotes/opam-ref
# path         /root/.opam/4.02.3/pa

[2016-06-15 07:04] chen881129 opened #383 "About "ERADICATE_NULL_METHOD_CALL""
Here is my code:

[code]

I wish to get an "ERADICATE_NULL_METHOD_CALL" when `docvrid`calls `equals()` method, but infer didn't.

[2016-06-15 07:39] cristianoc commented on #383
@chen881129 I guess you're using eradicate mode with `-a eradicate`.
Is the return type of `getClassid()` annotated `@Nullable`?

[2016-06-15 08:27] cristianoc commented on #381
@chen881129 can you do  `opam update` and try again the step
```opam pin add -y merlin 'https://github.com/the-lambda-church/merlin.git#reason-0.0.1```.

[2016-06-15 08:38] chen881129 commented on #383
@cristianoc . Yeah, I used eradicate mode.
There is no error about `getClassid() may return null but it is not annotated with `@Nullable`` in the bug.txt.

[2016-06-15 08:43] cristianoc commented on #383
@chen881129 you should annotate `getClassid()` in your source code, e.g.
``` @Nullable String getClassid() { ... }```

[2016-06-15 10:06] chen881129 commented on #383
@cristianoc In fact, I'm QA, I can't modify the code...
Thank you very much. I've seen the doc of Infer "What is the @Nullable convention?If you say nothing, you’re saying that the value **cannot be null**."

Can I modify the code of Infer to the opposite--If you say nothing, you’re saying that the value **can be null**."?

[2016-06-15 12:38] csierra commented on #314
does anybody know if somebody has any idea when java 8 support is going to be added? are we talking about months or years?

[2016-06-16 02:18] chen881129 commented on #381
@cristianoc
"opam update" before the step and the result is the same.
[code]

[code]

[2016-06-16 06:12] jmtiong commented on #382
What do you mean by analyzing application back end? Such as, running Infer in the background while the application is running? To my knowledge, Infer is a static analyzer so which means that it cannot analyze programs dynamically.

[2016-06-16 09:16] calistochen commented on #382
i means analyze the server side, not just client.

[2016-06-16 09:17] calistochen commented on #382
@jmtiong I means analyze the server side, not just client.

[2016-06-16 09:22] calistochen commented on #382
Example :facebook not only use it to analyze Instagram , but  also to analyze Instagram's server side?

[2016-06-16 09:23] calistochen commented on #382
@jmtiong facebook not only use it to analyze Instagram , but also to analyze Instagram's server side?

[2016-06-16 09:32] cristianoc commented on #382
There are no special restrictions, as long as the language and build system are supported by Infer.
An example of non-client code is buck: https://github.com/facebook/buck which Infer also analyzes.

[2016-06-16 09:34] cristianoc commented on #382
Feel free to re-open if you run into specific issues.

[2016-06-16 09:34] #382 closed

[2016-06-16 09:44] cristianoc commented on #381
@chen881129 looks like the tag `reason-0.0.1` is not found.
But it's there: https://github.com/the-lambda-church/merlin/commits/reason-0.0.1
The last commit there is 87ea0e7998c04f16e4821676c27f19d3879dc2d1.
So you could instead try the more direct
[code]

[2016-06-17 07:28] csierra opened #384 "OSError: [Errno 7] Argument list too long when invoking javac"
Projects with many files can't be scanned due to OS argument list limitations.

[2016-06-17 10:20] kumarbanty commented on #186
When i am running the command infer -- ./gradlew build i am getting the error which is shown in the screenshot. I am not really sure what this means because my project runs fine. Can I get some help with this
![image](https://cloud.githubusercontent.com/assets/19968540/16147807/1aa8b0fe-34a3-11e6-9165-0d35e5813e5f.png)

[2016-06-17 14:56] sblackshear commented on #186
Could you post the full output of running `./gradlew build` and `infer -- ./gradlew build`?

[2016-06-17 17:54] manishmaheshwarisc opened #386 "ASSIGN pointer type checker does not work when declaration is in .m file"

[2016-06-20 03:12] chen881129 commented on #381
Hello, @cristianoc , sorry to leave so long time.
I tried this command last friday, it also didn't work.

[code]

[2016-06-20 03:17] chen881129 commented on #383
Hi, @cristianoc , I'm trying to find the code, could you give me some clue?

[2016-06-20 09:59] kumarbanty commented on #186
I am getting the exact same error in both error with both the commands which I have posted earlier

[2016-06-20 10:08] kumarbanty commented on #186
Here is the full output of infer --./gradlew build command I am getting the same thing with ./gradlew build
I have researched a lot and I have tried all the clean, build, rebuild options as suggested by various websites but nothing works.
<img width="1440" alt="screen shot 2016-06-20 at 3 36 32 pm" src="https://cloud.githubusercontent.com/assets/19968540/16190422/cd1e5aee-36fc-11e6-8f81-aa10218364

[2016-06-20 10:53] jvillard commented on #386
Do you have a small example to reproduce the problem? What command did you run, with which version of Infer?

[2016-06-21 04:12] LichFaker opened #387 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xe7"
Hi, I type this into my terminal:
`infer -- gradle clean build`

However,  I got an error:
![image](https://cloud.githubusercontent.com/assets/5850082/16217793/5f879038-37a9-11e6-9293-ed88cf84b8e3.png)

I want to know why and how to solve it ?

[2016-06-21 07:44] chen881129 commented on #387
infer-0.8.1/infer/lib/python/inferlib/capture/util.py: 27

`return verbose_out_chars.decode('gbk').split('\n')`
改成这样试试

[2016-06-21 09:15] jvillard commented on #387
This should be fixed in latest master from GitHub. We should make a release but in the meantime you can compile Infer from source.

[2016-06-21 12:26] LichFaker commented on #387
@jvillard Okay, thank u very much

[2016-06-21 20:30] sblackshear commented on #313
Closing this, feel free to file issues if you run into other problems!

[2016-06-21 20:30] #313 closed

[2016-06-22 05:25] kumarbanty opened #388 "Analyse one single file in a large project"
I have an android app which contains more than 500 java classes and every time I run infer, it checks through the entire project, which takes a lot of time.Is it possible to run the tests in one single class only?

[2016-06-22 06:37] cristianoc commented on #388
@kumarbanty have you seen the Differential Workflow in http://fbinfer.com/docs/infer-workflow.html?
Alternatively, if your use case is different than a loop, change code + analyze, there are some experimental options to specify a list of files to be analyzed.

[2016-06-22 06:39] kumarbanty commented on #388
Thank you so much for your reply

[2016-06-22 06:39] #388 closed

[2016-06-25 01:19] Guoanshisb opened #389 "User-defined model for malloc"
Hi infer developers,

I was wondering if it is impossible to change the builtin model of `malloc` such that it always returns a non-null pointer.

Thanks,
Shaobo

[2016-06-27 04:16] loveai88 commented on #387
I run in OSX ,and change it to verbose_out_chars.decode('UTF-8').split('\n').It is ok

[2016-06-27 10:29] ddino commented on #389
malloc can return null. So it would be an incorrect model of the semantics of malloc.
There are other functions that do not return null for example xmalloc.

[2016-06-27 13:25] LichFaker commented on #387
@loveai88  thanks

[2016-06-27 13:25] #387 closed

[2016-06-30 08:42] fancygeek opened #390 "infer too slow"
it has cost me an hour to analyse my ios app,not done yet.how to make it quick

[2016-06-30 10:58] jvillard commented on #390
How long does it take to compile your project?

It's expected that analysing a whole project can take some time, but there may be something wrong if running Infer takes a lot longer than compiling your project. What is the command you use to run Infer and which version of Infer are you using?

If you're only interested in analysing some changes (eg introduced by a commit), have a look at the [diff

[2016-07-01 05:49] fancygeek commented on #390
i use the this command : infer -- xcodebuild -workspace HelloWorld.xcworkspace -scheme HelloWorld
Infer version v0.8.1

[2016-07-01 09:15] jvillard commented on #390
How long does it take to compile your project?

[2016-07-02 07:37] fancygeek commented on #390
about 2 or 3 mins to compile my project.my project is about 50m in app store.if my project use cocopos,will infer analysis all dependices or just my framework.

[2016-07-06 01:28] boyue commented on #390
It cost me 1-2 hours to analyze my android project includes 7000+ java files.
How can I improve the speed?

[2016-07-06 01:39] sblackshear commented on #390
Are you using the Gradle [plugin](https://github.com/uber-common/infer-plugin) for Infer? This should speed up the analysis quite a bit over the default Gradle integration, especially on a multicore machine.

Another thing you can try is instructing Infer only analyzing the files that have changed since the last analysis: `infer --reactive -- gradle assembleDebug` (assuming you have not blown away

[2016-07-06 11:00] lailiaomm opened #391 "build Android err"
Traceback (most recent call last):
  File "/usr/local/bin/infer", line 183, in <module>
    main()
  File "/usr/local/bin/infer", line 147, in main
    capture_exitcode = imported_module.gen_instance(args, cmd).capture()
  File "/usr/local/Cellar/infer/0.8.1/libexec/infer/lib/python/inferlib/capture/gradle.py", line 87, in capture
    cmds = self.get_infer_commands(util.get_build_output(self.build

[2016-07-06 11:06] jvillard commented on #391
This seems to be a duplicate of #387. Please update to the latest git version of Infer or try the fix suggested in #387 and reopen this issue if neither works.

[2016-07-06 11:06] #391 closed

[2016-07-06 16:03] sblackshear commented on #367
Closing for now; please feel free to open a new issue if you have additional questions.

[2016-07-06 16:03] #367 closed

[2016-07-06 16:14] sblackshear commented on #383
@chen881129,
  Is your copy of the code read-only, or is it possible to change it locally just for testing? Or can you suggest that someone else add the `@Nullable` annotation? This seems like it would be the simplest solution.

It would be quite difficult to change Eradicate to treat all values as potentially nullable, but it should be fairly easy to modify Infer to do this. If you change the cod

[2016-07-06 16:15] sblackshear commented on #314
The goal is to support Java 8 before the end of the year.

[2016-07-06 16:15] #369 closed

[2016-07-06 16:16] sblackshear commented on #359
Closing for now, feel free to reopen or file a new issue if you have another question.

[2016-07-06 16:16] #359 closed

[2016-07-06 16:18] sblackshear commented on #353
Check out my answer to https://github.com/facebook/infer/issues/383 to see another way to make Infer's NPE reporting more aggressive.

[2016-07-06 16:18] #353 closed

[2016-07-06 16:20] sblackshear commented on #326
Thanks for your contributions! Feel free to open another issue if you need more help with the checkers framework.

[2016-07-06 16:20] #326 closed

[2016-07-06 20:01] Guoanshisb opened #392 "false positive on short-circuit evaluation"
Hi guys,

Infer seems to give a false positive in terms of null pointer deference on the following example,

[code]

The output of Infer is `pointer x last assigned on line 5 could be null and is dereferenced at line 6, column 18`

Please let me know if some undefined behavior shows up. The command line I used is `infer -- clang -c <filename> ` and Infer version is `v0.8.1`.

Thanks,
Shaobo

[2016-07-06 20:06] Guoanshisb commented on #389
@ddino what if user defined a `malloc` function, will Infer always use its built-in model?

[2016-07-06 20:11] sblackshear commented on #392
It looks like this issue has been fixed since the 0.8.1 release. With I run with Infer built from c23dc81cfdad2d12d38ad3e7fab02d5a983edb74, I get no errors when running `infer -- clang -c <filename>` and get

[code]
when running with `infer -nf -- clang -c <filename>` (which seems as expected to me).

[2016-07-06 20:11] #392 closed

[2016-07-06 20:29] sblackshear commented on #389
Unfortunately, the model for `malloc` is currently baked into the backend, so the only way to change Infer's handling of `malloc` is to change the backend itself. If you change `execute_alloc Sil.Mmalloc true` to `execute_alloc Sil.Mmalloc false` [here](https://github.com/facebook/infer/blob/master/infer/src/backend/modelBuiltins.ml#L1117), Infer will treat `malloc` as if it never returns null.

[2016-07-06 20:53] Guoanshisb commented on #392
@sblackshear Thanks for your reply. I tried to find the commit you mentioned by doing `git show c23dc81cfdad2d12d38ad3e7fab02d5a983edb74` and it seems that there is no such commit.

[2016-07-06 21:11] sblackshear commented on #392
Apologies; I meant d1fa1e130dd154c5642174180851f8730c792aaa.

[2016-07-06 21:22] Guoanshisb commented on #392
@sblackshear It's fine. I built Infer release using this link (https://github.com/facebook/infer/releases/tag/v0.8.1). It seems that the commit you sent me is quite new and thus does not show up in the official release. So I was wondering if I should checkout the latest commit of master branch and rebuild it.

[2016-07-06 21:55] sblackshear commented on #392
Yes, that's what I would do. I'm not sure when the issue you bring up was introduced, but it seems to be fixed in master.

[2016-07-07 08:40] akotulski commented on #389
There is configuration option being added that will allow to change behavior of malloc (specifically whether it can return null). Stay tuned

[2016-07-07 08:42] akotulski commented on #392
it was fixed in https://github.com/facebook/infer/commit/daf043bff1c3cc35ab055c3ee5c752ef930965c1

[2016-07-07 09:47] akotulski commented on #377
Closing this issue. Feel free to create another issue with concrete false positive examples you have.

[2016-07-07 09:47] #377 closed

[2016-07-07 09:48] akotulski commented on #381
The problem shouldn't happen anymore - we install reason as part of ./build-infer script now
https://github.com/facebook/infer/commit/1420cabac5cdb1a7cb1d0999f48f1a7a6af80457

[2016-07-07 09:48] #381 closed

[2016-07-07 10:27] jvillard commented on #389
I'm adding an option to choose a different behaviour for `malloc`, stay tuned.

[2016-07-07 15:52] #389 closed

[2016-07-07 20:12] sblackshear commented on #379
Sorry to be so slow in answering your questions!

(1) I don't fully understand this. The precondition `{ i |-> _ * val |-> _ * this.a |-> j * ls(j,i') * i' |-> _  }` is one that you wrote by hand, not one that Infer produced, right? Infer doesn't introduce inductive `ls` predicates for arrays, so it has no notion of an `i'`.

(2) Yes, Infer knows to add proof obligations for array bounds, and this

[2016-07-09 15:29] YechengZhou commented on #111
any solution? I meet the same issue on MacOS and Mac release package

[2016-07-09 15:34] YechengZhou opened #393 "Failed to run InferAnalyze binary, exiting on MacOS"
Down load infer-osx-v0.8.0.tar.xz, follow the steps in https://github.com/facebook/infer/blob/master/INSTALL.md#install-the-dependencies

but get the error message "Failed to run InferAnalyze binary, exiting " when analyzing IOS project

[2016-07-11 13:52] eikebartels opened #394 "brew for version v0.9.0"
There is no installer for version v0.9.0

[2016-07-11 15:54] MatthewBennington opened #395 "Is there any documentation for running infer through Docker"
The ["Getting started with Infer"](http://fbinfer.com/docs/getting-started.html) lists Docker as the recommended way of installing Infer on Linux.

I had trouble installing infer from source in the past, so I wanted to jump at the opportunity to try it again.

But I'm not clear on how to actually run the program. You can of course run it in the Docker instance, but I can't access my project from i

[2016-07-11 16:15] jvillard commented on #394
There is no 0.9.0 release yet, it's in preparation.

[2016-07-11 16:17] eikebartels commented on #394
I see! Any eta when 0.9.0 will be released?

[2016-07-11 16:17] jvillard commented on #395
You can mount a volume pointing to your project inside the Docker instance. See for instance #345, or the Docker documentation.

[2016-07-11 16:18] jvillard commented on #394
probably next week!

[2016-07-12 06:50] RaghAkella opened #396 "Infer - Jenkins Integration"
Hi,

Using PMD plugin in jenkins we can analyse the results generated by ****oclint**.**
is infer giving support for any such features?

Any documentation for jenkins integration

[2016-07-13 14:47] #395 closed

[2016-07-15 07:32] galaxycoder commented on #282
same question, excute "infer -- xcodebuild -workspace xx.xcworkspace -scheme xx -configuration Debug" failed, however, excute "xcodebuild -workspace xx.xcworkspace -scheme xx -configuration Debug" succeeded

how to resolve it?

[2016-07-15 14:57] chainani opened #397 "NPE check not triggered for getters"
I have a getter in a class that returns an Object. When a function of this object is called (eg. `a.getObject().doSomething();`), infer does not trigger a warning for a possible NullPointerException. Is this the designed behaviour or is this an issue at my end? If this is the designed behaviour, is there a good way of ensuring such things don't pass on to production?

[2016-07-20 02:30] luoshangyu opened #398 "why infer told me configure error shasum not found?"
Hi experts,

I'm sorry for the bother.

I was building the infer but finally got below issue.
And nothing in the ../infer/bin except inferTest.

Anyone can help on this? Thanks a lot.

![image](https://cloud.githubusercontent.com/assets/7412385/16973268/fa49c696-4e64-11e6-81e2-f9c9f79cbb09.png)

I was building infer on CentOS 7.

Best Regards,
Lucas Luo

[2016-07-20 03:51] sblackshear commented on #398
Hi Lucas, looks like your distribution of CentOS is missing the shasum package. Try `yum install shasum` (or however you install packages on your system) and give the Infer build script another shot.

[2016-07-20 08:15] luoshangyu commented on #398
Thanks  sblackshear.
but after the build (./build-infer.sh), why nothing in ../infer/bin? still the `inferTest`?

[2016-07-20 08:38] d2s opened #399 "Docker build fails with error"
- Followed instructions on the Infer's Docker README.
- Bumped to an error on **Step 8** of the Docker container build process, because downloading of the Infer release failed.

This is what error code is visible on the second run of the `./run.sh`
Only latest things visible for clarity, as previous Docker container build steps (until _Step 8_) had succeeded.

[code]

I have all of the required fi

[2016-07-20 09:11] luoshangyu commented on #398
finally resolved everything, thanks `sblackshear`.

[2016-07-20 09:11] #398 closed

[2016-07-20 10:09] jvillard commented on #393
you need to compile infer or install it from homebrew. See [this page](http://fbinfer.com/docs/getting-started.html) for more instructions.

[2016-07-20 10:11] jvillard commented on #282
@galaxycoder to answer this question we need more information:
- what version of infer are you using?
- what is the full output of the infer command? (use https://gist.github.com/ or similar)

[2016-07-20 10:17] jvillard commented on #397
Can you provide a full minimal example that reproduces your issue? Shooting from the hip, you could add a `@Nullable` annotation to the return of your getter method so that Infer assumes it can return null.

More (speculative) details: When Infer doesn't know about a function for whatever reason (no implementation available, or Infer failed to analyse it), Infer will treat that function "angelical

[2016-07-20 10:18] jvillard commented on #399
This is usually an issue with accessing GitHub (GitHub temporarily unavailable, or no network). Would you mind trying again?

[2016-07-20 10:20] jvillard commented on #111
For the record, the solution usually is to follow the instructions in the [Getting Started page](http://fbinfer.com/docs/getting-started.html). Please open a new issue if that doesn't work for you. Thanks!

[2016-07-20 10:53] jvillard commented on #399
oops, my bad, it tries to download the 0.9.0 release, which has no tarballs yet. You can try an earlier version of the Dockerfile instead, eg [this one](https://raw.githubusercontent.com/facebook/infer/816cbd949aa935588cc516666905de46fc33116d/docker/Dockerfile).

[2016-07-20 10:56] d2s commented on #399
@jvillard Tried it again now, but the error stays the same. Previous build steps did download assets from various places so network connections should generally be working.

Changing the version number to previous (as suggested) worked.
[code]

[2016-07-21 05:41] galaxycoder opened #400 "Analyzed 0 files"
version v0.9.0
install from source

excute "infer -- xcodebuild -workspace xxx.xcworkspace -scheme xxx -configuration Debug -sdk iphonesimulator", no warning or error, excute succeeded, but output "Analyzed 0 files", then i excute with example code in [infer Hello world](http://fbinfer.com/docs/hello-world.html), still got output "Analyzed 0 files"

[2016-07-21 05:42] galaxycoder commented on #282
@jvillard

version 0.7, brew installed, then i install it from source, excute succeeded, but another issue occurred - #400

[2016-07-21 06:26] luoshangyu opened #401 "infer -- mvn target not work."
Hi guys,

I'm sorry for the bother.
I know this maybe dup question, but I found several related issues, and tried all, still not work for me.

It's very simple, I'm trying to analyze mvn project by using `infer -- mvn clean`, no matter which commands, never succeed.

![image](https://cloud.githubusercontent.com/assets/7412385/17013149/f8da522c-4f4e-11e6-96ac-bec741af168a.png)

Anyone can help me o

[2016-07-21 08:34] luoshangyu commented on #401
also, when using the linux x64 0.8.1 version.
this command cause infer cause on my side, `infer -- mvn install`.

  File "/infer-linux64-v0.8.1/infer/bin/infer", line 183, in <module>
    main()
  File "/infer-linux64-v0.8.1/infer/bin/infer", line 147, in main
    capture_exitcode = imported_module.gen_instance(args, cmd).capture()
  File "/infer-linux64-v0.8.1/infer/lib/python/inferlib/capture/mv

[2016-07-21 11:22] luoshangyu commented on #401
I solved the mvn issue.
but another issue came out.

anyone can help me to point out?

Usage: javac <options> <source files>
use -help for a list of possible options
Traceback (most recent call last):
  File "<stdin>", line 3, in <module>
  File "/usr/lib64/python2.7/subprocess.py", line 542, in check_call
    raise CalledProcessError(retcode, cmd)

Best Regards,
Lucas Luo

[2016-07-21 11:58] jvillard commented on #400
Can you please paste the full output of the hello world example you tried with `infer -g`? E.g. `infer -g -- clang -c hello.c`. Please also paste the contents of toplevel.log. You can use https://gist.github.com/ or similar. Thanks!

[2016-07-21 11:59] jvillard commented on #282
Please reopen if the same issue still exists.

[2016-07-21 11:59] #282 closed

[2016-07-21 12:07] jvillard commented on #401
Hi @luoshangyu, could you please paste the following:
- the command you used to run infer
- the full output (please use https://gist.github.com/ or equivalent)
- the contents of toplevel.log (also on https://gist.github.com/)

Thanks!

[2016-07-21 12:16] luoshangyu commented on #401
@jvillard, finally, i would think this could be a bug introduced by infer.
the command array contains all the java files to be compiled in the phase one of infer analysis process.
while there are several other files which extension are not `.java`, such as `.MF`, then javac failed.
I deleted all the irrelevant files, then it works.

Can infer consider to fix it?

[2016-07-21 12:23] jvillard commented on #401
Can you paste the output of `mvn -X install` after running `mvn clean`? I need to know what infer gets from maven to fix it. Thanks for the report!

[2016-07-22 03:30] luoshangyu commented on #401
@jvillard, sorry for that I can't use company code to repro this.
And my demo maven project seems not get the repro.
However, in my company project, there will generate file like META-INF/MANIFEST.MF in some place which will be javac-ed in python cmd array, or your can nested some kind of file with other extension type in src.

I still paste the demo by following your advise, see if it's helpful.

[2016-07-22 03:32] luoshangyu commented on #401
@jvillard, sorry for that I can't use company code to repro this.
And my demo maven project seems not get the repro.
However, in my company project, there will generate file like META-INF/MANIFEST.MF in some place which will be javac-ed in python cmd array, or your can nested some kind of file with other extension type in src.

I still paste the demo by following your advise, see if it's helpful.

[2016-07-22 03:33] luoshangyu commented on #401
@jvillard, sorry for that I can't use company code to repro this.
And my demo maven project seems not get the repro.
However, in my company project, there will generate file like META-INF/MANIFEST.MF in some place which will be javac-ed in python cmd array, or your can nested some kind of file with other extension type in src.

I still paste the demo by following your advise, see if it's helpful.

[2016-07-22 05:13] keanbin opened #402 "where get infer for ubuntu?"
Linux: https://github.com/facebook/infer/releases/download/v0.1.0/infer-linux64-v0.1.0.tar.xz
this is not found.

[2016-07-22 08:15] cocoaroger opened #403 "iOS build failed，i can't find same question"
Hello
I use the command:

then show me the error，i can't find any answer:

Traceback (most recent call last):
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/logging/__init__.py", line 859, in emit
    msg = self.format(record)
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/logging/__init__.py", line 732, in format
    return fmt.forma

[2016-07-22 09:44] jvillard commented on #402
That link does not exist anymore. You should follow [these instructions](http://fbinfer.com/docs/getting-started.html) instead.

[2016-07-22 09:45] #402 closed

[2016-07-22 09:45] jvillard commented on #403
What version of infer are you using? This should be fixed in 0.9.0.

[2016-07-22 12:16] cocoaroger commented on #403
Thanks, My current version is 0.8.1.

[2016-07-25 04:13] #403 closed

[2016-07-25 11:11] jmason commented on #399
I've just run into this too, and d2s' workaround worked for me.

[2016-07-25 11:21] jvillard commented on #399
The tarballs for 0.9.0 have been up for a few days now, which has fixed the issue reported by @d2s. However, I see a different error message now: `infer is not available because the package is pinned to /opt/infer-linux64-v0.9.0, version 0.9.0.`. I'm investigating.

[2016-07-25 11:22] d2s commented on #399
Good to see active project maintainers. :+1: @jvillard does good work supporting the project's users.

[2016-07-25 13:42] jvillard commented on #268
The way of compiling clang has changed, so hopefully this works now. Please reopen if there is still an issue.

[2016-07-25 13:42] #268 closed

[2016-07-25 13:42] jvillard commented on #278
closing optimistically

[2016-07-25 13:42] #278 closed

[2016-07-25 13:44] jvillard commented on #295
please re-open if there is still an issue

[2016-07-25 13:44] #295 closed

[2016-07-26 11:02] #399 closed

[2016-07-26 13:37] jvillard commented on #378
Hi @hujiachun, sorry for the delay in replying. This should be fixed in the latest version, can you please give it a try? Please re-open if there is still an issue.

[2016-07-26 13:37] #378 closed

[2016-07-26 13:39] jvillard commented on #396
There's a `--pmd` switch, see `infer --help`. Does that help?

[2016-07-27 09:39] eikebartels commented on #394
latest release https://github.com/facebook/infer/releases/tag/v0.9.0 not available via homebrew

[2016-07-27 09:41] jvillard commented on #394
Turns out this issue is hard to release via homebrew due to the way it links binaries. We've fixed this issue in infer and are hoping for a 0.9.1 release to put on homebrew in the coming days. Sorry for the wait.

[2016-07-27 11:56] liweijian opened #405 "Any example on finding security (data flow) bug?"
I just watch the talk of Infer on Mobile@Scale, and as it mentioned

![secanalysis](https://cloud.githubusercontent.com/assets/19320783/17174472/58e1b130-5434-11e6-836c-ba051b5cdb04.jpeg)

Wow~ It's so great!

I was wondering if there's any example on that kind of bug which Infer could hunt?

[2016-07-27 12:51] sblackshear commented on #405
Thanks for your kind words!

Here's an [example](https://gerrit-review.googlesource.com/#/c/75724/) of a security issue found by Infer: SSL hostname verification bug in Gerrit.

[2016-07-27 21:01] phuminp opened #406 "How to install infer-maven-plugin"
Can you give instruction that how to install infer-maven-plugin?
Now I have no idea how to add it into infer

Thank you

[2016-07-27 21:20] sblackshear commented on #406
The Infer Maven plugin is an external project located [here](https://github.com/anthemengineering/infer-maven-plugin). I believe the repo has installation instructions in the README.

[2016-07-27 21:20] #406 closed

[2016-07-30 13:54] xennygrimmato opened #408 "Running infer on Eclipse Jetty on MAC OS X raises an exception in analyze.py"
Trace: [Github Gist](https://gist.github.com/xennygrimmato/4c7ac1627368a54fcdb7ba15d373693b)

Command: `infer -- mvn package`

I ran this after cloning eclipse jetty.

[2016-07-30 14:15] xennygrimmato opened #409 "util.py: UnicodeDecodeError: 'ascii' codec can't decode byte 0xc2 in position 11943036: ordinal not in range(128)"
Trace: [Github Gist](https://gist.github.com/xennygrimmato/6f20501ebb9c24e059ff264d624bd579)

[2016-07-30 17:39] #409 closed

[2016-07-30 17:39] xennygrimmato commented on #409
brew pulls an old version of infer it seems.

[2016-07-30 23:44] sblackshear commented on #408
This happens when running on Java 8 code. Infer does not yet support Java 8, but we plan to soon (#314).

[2016-07-30 23:44] #408 closed

[2016-07-31 05:38] ZacSweers opened #410 "Infer should support Contract annotations in Java"
https://www.jetbrains.com/help/idea/2016.2/contract-annotations.html

[2016-07-31 13:28] cristianoc commented on #410
@hzsweers great suggestion.
What specific use cases do you have in mind?
For example, some time ago we added `@TrueOnNull` https://github.com/facebook/infer/blob/97bc95e8c920196d91a9d48cb4ac93f6c43b8187/infer/tests/codetoanalyze/java/eradicate/NullMethodCall.java#L248 to support boolean functions on objects that return `true` when the object is `null`. They can then be used as in https://github.co

[2016-07-31 22:42] hzsweers commented on #410
It would be great to support them in general as they give a lot of contextual information about how a method handles inputs. The example in there about a method that only returns `null` if the input parameter is `null` is a great example. Being able to express other conditions in that format would be great too. Being able to mark methods as throwing on certain conditions would be immense as well.

[2016-08-01 14:32] #396 closed

[2016-08-01 15:36] xennygrimmato opened #411 "Docker image for Linux and Mac"
I couldn't find a Docker image for using infer on Ubuntu. Is there an existing Dockerfile or image for this? If not, I don't mind creating them for MAC and Linux.

[2016-08-01 15:57] DougEdey opened #412 "Failure running build-infer.sh from 0.9.0 on Ubuntu 14.04"
This is my first time trying to run infer at all, I initially attempted to use the docker images but I don't understand enough about Docker to fix the `sdk directory not found` errors when running it that way.

When running the `build-infer.sh java` after following the INSTALL.md instructions in the tar release, I get the following error:

[code]

I'm unsure what's causing this, or why it's saying

[2016-08-01 16:11] #411 closed

[2016-08-01 16:22] DougEdey commented on #412
Sorry, I found out this was caused by ecryptfs

[2016-08-01 16:23] #412 closed

[2016-08-01 16:24] xennygrimmato opened #413 "Some latex components on the website are not rendered"
Under bi-abduction heading in the docs, a Latex component was not rendered, in the paragraph that starts with "In order to be able to decompose a global analysis":

`<script type="math/tex; mode=display">CallingState \vdash pre\_f  \;\;\;\;\;\;\;\;\;\;\;\; (Function Call)</script>`

[2016-08-01 16:36] jvillard commented on #413
Thanks for your report, it looks like markup of the form `$$ formula $$` is not rendered (anymore?). Let me take a look.

[2016-08-01 16:42] #413 closed

[2016-08-01 18:31] xennygrimmato opened #414 "Infer does not report a Null Dereference Issue for concatenation of 2 static Strings in Java"
I ran infer using `infer -- javac Hello.java` on the file [Hello.java](https://gist.github.com/xennygrimmato/260d50a78be0a21f0c5552d6b80a4ec2), but it found no issues. However, running the code gave me a NullPointerException. Is Infer not supposed to handle such cases? What am I missing?
![image](https://cloud.githubusercontent.com/assets/4271899/17306769/d6379ac0-5842-11e6-8c01-b5816219b170.png)

[2016-08-01 19:27] xennygrimmato opened #415 "Question: Quantitative Comparison with Findbugs Rules"
Findbugs, being pretty old, has a long set of rules implemented. Where does Infer stand in comparison to the set of rules implemented? I would like to contribute if possible to adding new rules to Infer.

[2016-08-02 11:30] xennygrimmato opened #416 "Adding Checkers doc is outdated"
-  [/docs/adding-checkers](http://fbinfer.com/docs/adding-checkers.html) still shows the `.mli` files instead of `.rei`. Maybe the example can be updated with Reason syntax as it conforms to the current master I suppose.

- If a function has been implemented for comparing (class_name, method_name), maybe it can be added to the doc.

- Does `java_proc_name_with_class_method` in `patternMatch.ml` do

[2016-08-02 14:49] jvillard commented on #415
The kinds of bugs found by the analyzers in Infer are listed here:
- http://fbinfer.com/docs/infer-bug-types.html
- http://fbinfer.com/docs/checkers-bug-types.html
- http://fbinfer.com/docs/eradicate-warnings.html

Contributions are very welcome! You can start here for directions on how to add new checks: http://fbinfer.com/docs/infer-bug-types.html

Feel free to open new issues or PRs to get help

[2016-08-02 16:48] xennygrimmato commented on #415
Thanks for the info! I've written a custom checker, modifying the existing example. Should I create a PR and continue the conversation there?

[2016-08-02 16:50] jvillard commented on #415
Please create a PR.

[2016-08-02 16:50] #415 closed

[2016-08-02 18:08] xennygrimmato opened #417 "infer -- mvn package does not seem to start analysis for a long time"
I am running infer on [Guava](https://github.com/google/guava) on an Ubuntu 14.04 Docker image, running on a MAC host.

Running `infer -- mvn package` after `mvn clean` printed:

[code]

and I waited for a long time, expecting to see some log regarding the analysis. I finally stopped the process as no log was printed on stdout.

[2016-08-02 21:28] xennygrimmato opened #418 "infer -- mvn package tries running javac on .properties and .MF files"
infer exits as it tries to run Manifest files with javac, while building using mvn.

[2016-08-03 07:17] oatsuper opened #419 "I don't wanna library soure code in Pods folder when my IOS project under infer running , can i ?"
I don't wanna library soure code in Pods folder were checked when my IOS project under infer running , can i ?

[2016-08-03 08:49] liweijian opened #420 "Is this `try close in finally` issue false positive?"
My code would be
[code]
I used a `try` to `close` the `FileOutputStream`, and Infer told me there's an issue as
[code]

I was wondering if maybe this issue is false positive? Because I thought the `oos` would be closed anyways.

[2016-08-03 09:37] onion4 opened #421 "I can't run infer on my macbook"
This is my error log,pls help me.Tks!

caoxiaodeMacBook-Pro:app-mararun-android caoxiao$ infer -- ./gradlew build
Traceback (most recent call last):
  File "/usr/local/bin/infer", line 183, in <module>
    main()
  File "/usr/local/bin/infer", line 131, in main
    touch_if_present=not args.continue_capture)
  File "/usr/local/Cellar/infer/0.8.1/libexec/infer/lib/python/inferlib/analyze.py", line

[2016-08-03 10:05] liweijian opened #422 "NULL_DEREFERENCE around `try ... catch`"
My code:
[code]

Infer result:
[code]

Since the null value dereferenced is wrapped by a `try ... catch`, I think may Infer should ignore it?

[2016-08-03 10:11] liweijian commented on #421
Wrap the log with markdown tag would make us easier.

And we need more info:
1. How would you install infer? (brew or compile the source code yourself?)
2. Can you build the code by just `./gradlew build` without _infer_?
3. Try to copy your code to another directory(Not in the dropbox file), and `./gradlew clean`, than try again?

[2016-08-03 10:52] martinoluca commented on #422
Hello @liweijian,
What you are discussing here is still a null dereference in practice, despite it being handled by the `catch` block.
In general, the presence of a potential null dereference in your code means that there's something wrong with the implementation itself, and you should avoid this situation by handling it correctly.
Do you have a specific use case in mind such that this kind of pat

[2016-08-03 10:52] #422 closed

[2016-08-03 10:56] martinoluca commented on #421
Hello @onion4,
From the logs seems there are wrong permissions set for the `infer-out` folder.

Thanks

[2016-08-03 10:56] #421 closed

[2016-08-03 11:06] martinoluca commented on #420
Hello @liweijian,
In this case, `ObjectOutputStream` can throw an exception during its initialization, thus leaving an open `FileOutputStream` resource that cannot be closed because you don't have a reference to it in the `catch` block.

For this reason this is a legit report. To fix it, you can try the following pattern:
[code]

To understand more this kind of report, Infer provides a tool named

[2016-08-03 11:06] #420 closed

[2016-08-03 13:00] xennygrimmato opened #423 "NULL_DEREFERENCE around try...catch"
This is in reference to #422 .

Consider that an object of type `T` is null and is being dereferenced, within a `try...catch` that handles `NullPointerException`. Shouldn't this be treated differently from a case in which the `try...catch` doesn't handle the null dereference at all?

From how I see this, probably we can show a warning to the user, saying, `"Maybe you should handle this derefence p

[2016-08-03 14:36] jvillard commented on #423
Strictly speaking, it's true that the code will not generate an NPE. That said, the choice Infer makes is to report anyway. If a project deliberately catches `NullPointerException`, Infer will produce a lot of unintended reports. For such projects (if they exist), a different message would help.

I suspect that it would be hard to implement that behaviour in infer: if `foo()` dereferences null, th

[2016-08-03 14:55] xennygrimmato commented on #423
Just curious to know:

- Which source files contain the logic for maintaining context and for composition?

[2016-08-03 15:06] sblackshear commented on #418
Thanks for the report. This should be a pretty easy fix, but do you have an example Maven project where I can reproduce the issue? I haven't actually encountered this problem before.

[2016-08-03 15:23] sblackshear commented on #417
It looks like `mvn package` takes a long time even without Infer since it's running tests. Have you tried `mvn compile`?

[2016-08-03 15:35] sblackshear commented on #414
Infer will only warn when it sees a `null` value flowing to a dereference either directly, or transitively via a call site. Doing otherwise tends to lead to too much noise.

To see *all* (or almost all) possible NPEs rather than the high-confidence subset that Infer reports, try Eradicate `infer -a eradicate -- <your_build_cmd>`. It will definitely warn on this example.

[2016-08-03 15:35] #414 closed

[2016-08-03 16:37] xennygrimmato commented on #418
Example Maven Project 1: [Jackson](https://github.com/FasterXML/jackson-core)
I ran the following on bash:
1. `mvn clean`
2. `infer -- mvn package`

Example Maven Project 2: [Error Prone](https://github.com/google/error-prone)
I ran the following on bash:
1. `mvn clean`
2. `infer -a eradicate -- mvn package`

[2016-08-03 16:40] xennygrimmato commented on #417
Build failed, saying it couldn't resolve a dependency - `com.google.guava:guava-gwt:jar:20.0-SNAPSHOT`

[2016-08-03 17:33] sblackshear commented on #417
That sounds independent of Infer. Have you tried running plain `mvn compile` without Infer? I always run the vanilla build to make sure it works before I try running Infer.

[2016-08-03 17:44] xennygrimmato commented on #417
Yes, I ran `mvn compile` without infer.

[2016-08-03 20:55] sblackshear commented on #417
Does the failure to resolve a dependency happen with `mvn compile` as well, or only under `infer -- mvn compile`?

[2016-08-03 22:16] xennygrimmato commented on #417
`mvn compile` seems to be working fine now actually. I am trying to run `infer -- mvn compile`, but I guess it will take some time. Meanwhile, I wanted to know if we can show `mvn`'s logs while running `infer -- mvn compile`? I think, what I'm perceiving to be "time-consuming", is the build process itself, but `infer` doesn't seem to log that.

[2016-08-03 22:28] xennygrimmato commented on #417
The failure to resolve a dependency happens with `mvn compile`.
With `infer -- mvn compile`, the program exists with exit status 1.

[2016-08-04 03:29] #405 closed

[2016-08-04 10:10] xennygrimmato commented on #423
It seems that the `type t` represents the Graph, `Procname.t` represents each node in the Graph and `Cfg.re` has functions to modify the graph. Is my understanding correct?

[2016-08-04 12:08] xennygrimmato opened #425 "A custom checker for Java to check that no catch( ) block is blank"
I want to write a custom checker for Java programs to process the contents of a `try...catch` block, specifically to perform some processing on the contents of the `catch` block.
From whatever code I read, I could figure out the following:
- `Cfg.Procdesc.iter_instrs do_instr proc_desc` iterates over the instructions of a procedure node in the CFG and executes `do_instr` on each instruction.
- `Pr

[2016-08-04 12:43] jvillard commented on #423
Which `type t` are you talking about? `git grep 'type t\b' infer/src/` returns 223 results ;)

`Procname` is a module for procedure names. A `Cfg` object contains the control-flow graph of all the functions defined in a given file, but by no means of all the procedures in a program. Those are stored on disk in infer-out/captured/.

The logic to analyse functions and in which order lives in ondeman

[2016-08-04 20:29] brotherpaul143 opened #427 "Participate in Ockham Criteria?"
We ran the [SATE V Ockham Sound Analysis Criteria](https://samate.nist.gov/SATE5OckhamCriteria.html) to better understand sound analyzers. Would anyone be interested in running Infer for another Ockham? Basically that consists of running an analyzer on a substantial set of code that we select and sending us the results. We'd also appreciate answering questions about details of the results that ari

[2016-08-05 08:53] xennygrimmato commented on #425
For understsanding the CFG created when a `try...catch` is present, I used the following piece of code:

[code]
CFG created:
[trycatch.pdf](https://github.com/facebook/infer/files/403420/trycatch.pdf)

In `18: method_body`, a line that I think would be particularly useful for me is:
[code]
I am guessing that a method_body node with the `CatchVar` property would be the start of the method body with

[2016-08-05 09:25] xennygrimmato opened #428 "Debugging and logging in infer"
I am writing a checker and I want to print some logs in order to see what's happening under the hood, in order to debug the checker.
I am trying to use `L.err "Sample Log Message %a@." Procname.pp proc_name;`, but it doesn't print anything on STDOUT, and the `infer-out/log/analyzer_err` and `infer-out/log/analyzer_out` files are empty.
What is the best way to perform logging and debugging while wr

[2016-08-05 10:53] martinoluca commented on #428
Hello @xennygrimmato,
To use `L.err`/`L.out` you have to be in developer mode, which means you need to invoke infer with the `--developer-mode` argument (as you can see [here](https://github.com/facebook/infer/blob/fe780cb6ffd236cf618c2f9b63b03ddd2de18764/infer/src/backend/logging.ml#L142-L148))

But even if you use that, there may be many different processes running one after the other during the

[2016-08-05 11:44] xennygrimmato commented on #428
Thanks @martinoluca , using `L.stderr` worked for me, but `L.stdout` didn't.

[2016-08-06 13:14] xennygrimmato opened #430 "A possible false positive for Null Dereference"
I ran `infer -- gradle build`on [Mozilla Rhino](https://github.com/mozilla/rhino).

[code]

Lines `127-129` in [`NativeCallSite.java`](https://github.com/mozilla/rhino/blob/master/src/org/mozilla/javascript/NativeCallSite.java#L127-L132):

[code]

It seems that the object `cs` won't be `null` on [Line 132](https://github.com/mozilla/rhino/blob/master/src/org/mozilla/javascript/NativeCallSite.java#

[2016-08-08 09:07] jvillard commented on #430
Thanks for the report. Could you please run `inferTraceBugs` and dump the trace corresponding to that NULL_DEREFERENCE report? That would help us see why Infer thinks `obj` can be null here. Thank you!

[2016-08-08 09:13] xennygrimmato commented on #430
[Here's the trace](https://gist.github.com/xennygrimmato/3980d96224bbf6e9d2eee55879417ec4).

[2016-08-08 13:36] xennygrimmato opened #431 "Using --reactive with infer after the first time shows that no issues were found"
- I ran infer for the first time using `infer -- mvn package`

I got a report consisting of some bug descriptions.

- Made some changes in my source code to fix some of the bugs.
- Ran `mvn clean`
- Ran `infer --reactive -- mvn package`

I got a new report, saying no issues were found.

I was expecting infer to show the previous report minus the bugs that I fixed, but instead it showed that there

[2016-08-08 13:41] jvillard commented on #431
This is the expected behaviour. `--reactive` will only show newly introduced bugs as it will only analyze changed files. See also http://fbinfer.com/docs/infer-workflow.html#differential-workflow

[2016-08-08 13:41] #431 closed

[2016-08-09 08:17] xennygrimmato opened #432 "Accessing modulo operator in Java source code"
In a checker, I want to find statements in a Java source code in which modulo 1 operations are being performed.
For example:

[code]

In order to do this, I am trying to use some thing similar to: [this line in checkers.ml](https://github.com/facebook/infer/blob/master/infer/src/checkers/checkers.ml#L186).
- How do I check if a certain line contains an expression with a `Binop.Mod` operator?
  In

[2016-08-09 09:56] xennygrimmato commented on #425
`>> A problem that I would face further with this, would probably be that I won't know where the method body ends.`
I guess [these lines](https://github.com/facebook/infer/blob/master/infer/src/IR/Cfg.re#L61-#L62) in `Cfg.re` give me the list of nodes in the procedure, so it won't be a problem.

[2016-08-09 10:01] liweijian opened #433 "Android: false negative on `if ((list == null) && (list.size() == 0))` ?"
I wrote a demo to test the capability between Findbugs and Infer.

Here's class `Utilz`:

[code]

Here's the activity:

[code]

Infer could hunt the _NULL_DEREFERENCE_  in

[code]

And findbugs could hunt the other

[code]

[2016-08-09 11:28] jberdine commented on #427
@brotherpaul143 Thanks for your interest in Infer. Perhaps there is some oversight, but as far as we understand Infer does not satisfy the SATE criteria. Infer produces two basic forms of output: 1) specifications of procedures / functions / methods, and 2) issue reports for property violations. Only the inferred specifications are claimed to be sound (subject to some idealistic and optimistic ass

[2016-08-09 12:16] akotulski commented on #433
Thanks for the report. We'll look into it.
It looks like infer finds out bug in `lstLen` but then it gets filtered out. If you run infer in debug mode (`infer -g ...`), you'll see null dereference in `[B5]` bucket.

[2016-08-09 12:27] brotherpaul143 commented on #427
The Ockham criteria was established to highlight the strength of analyzers using rigorous inference, in contrast to those that use heuristics. It does not require that all results be absolutely correct (halting problem, after all). Rather, are there some results that are correct? Since Infer results of {P} f(x) {Q} are always correct, given the qualifications you mention, I believe Infer would be

[2016-08-09 18:01] sblackshear commented on #432
Hi @xennygrimmato,

[Here](https://github.com/facebook/infer/blob/master/infer/src/checkers/liveness.ml) is a simple checker that you can imitate to get started. This checker computes the set of live variables at each program points, which requires traversing each instruction and expression type in SIL.

Once you've created  a checker that looks like this, you can add it to the checkers to be run

[2016-08-09 18:34] sblackshear commented on #425
This is going to be a bit cumbersome with our current checkers setup, but it can be done in a hacky way. Let me explain how to do this by modifying the `exec_instr` function in the checker [here](https://github.com/facebook/infer/blob/master/infer/src/checkers/liveness.ml).

[code]
I say `maybe` in the second function because it will also report the end of a catch block early if the catch block co

[2016-08-09 19:17] xennygrimmato opened #434 "Getting all defined methods of a Java class"
Does infer provide a function to get the list of all methods defined within a Java class?
Specifically, I want to check whether a certain class has both - `equals( )` as well as `hashCode( )` methods defined, identical to [this](https://github.com/SonarQubeCommunity/sonar-findbugs/blob/master/src/main/resources/org/sonar/l10n/findbugs/rules/findbugs/HE_USE_OF_UNHASHABLE_CLASS.html) rule in FindBug

[2016-08-09 19:57] xennygrimmato commented on #425
Thanks for the reply, @sblackshear !
To check if `_pvar` in `let is_catch_pvar _pvar = failwith "implement me" in` is a `catch`, do I need to compare it with the `handler.JBir.e_catch_var` type? I am unable to traverse to that variable in Atom - it seems to be in Sawja Javalib.

[2016-08-09 23:34] sblackshear commented on #425
Yes, you won't be able to do it using the Sawja type. I believe you'll need to do it in a slightly hacky way: a string comparison on the name of the `pvar`.

[2016-08-09 23:37] sblackshear commented on #434
You can implement a cluster checker like [this](https://github.com/facebook/infer/blob/master/infer/src/checkers/checkers.ml#L189) one that will be passed all of the procedures declared in a file (check the `all_procs` field). This isn't quite right for inner classes, but will catch most cases (I can explain the workarounds required for the inner class case if you are interested).

[2016-08-10 02:06] liweijian commented on #433
Thank you @akotulski ,I was curious why Infer ignore `lstLen` in that case?

[2016-08-10 14:17] xennygrimmato opened #435 "Proposal to create API documentation for infer"
Documenting functionality of various files in the infer source code might be beneficial to contributors now and in the future. Since there is no comprehensive documentation regarding the contents of the infer source code and their functionality, I would like to start writing documentation for the project. However, I am still new to the codebase and not strongly aware of all components of infer.
I

[2016-08-10 14:19] jvillard commented on #435
More documentation is always good. If you submit a PR we'll definitely look at it.

[2016-08-10 14:26] xennygrimmato commented on #435
Ok, I'll create a PR to start off. Thanks!

[2016-08-10 14:48] cristianoc commented on #435
This is the starting point:
[code]

[2016-08-10 19:31] xennygrimmato opened #436 "Help with understanding do_analysis in Interproc.ml"
I am trying to understand the `do_analysis` function/expression present in `Interproc.ml`:

[code]

From what I understand, all the defined Nodes in the CG are extracted, after which CFG for each call is created. I am guessing each procedure in the CG is traversed, and after creation of the CFG, it's analysis is stored on disk. I don't understand what exactly is happening in this function though C

[2016-08-11 16:46] hmijail opened #438 "Failing to build on OS X because of python locale bug (+fix)"
In OS X 10.11.6, Infer 0.9 failed to build with this stack trace:
[code]

This is a known python bug: it doesn't react well to non-Linux locales: https://bugs.python.org/issue18378

These were my locale environment variables:
[code]

One workaround was to do this:
`$ export LC_ALL=en_US.UTF-8`

[2016-08-12 06:43] stellaloveK opened #439 "error with lib/xcode_wrappers/clang++, how to skip this file during infer"
In file included from /Users/……/PRTimeFormatter/nspr/prtime.cp:78:
In file included from /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator9.3.sdk/System/Library/Frameworks/CoreFoundation.framework/Headers/CoreFoundation.h:19:
In file included from /Users/……/infer/facebook-clang-plugins/clang/install/bin/../include/c++/v1/math.h:309:
In fil

[2016-08-12 16:07] jvillard commented on #439
Thanks for your bug report. It looks like something went bad in replacing your compiler with Infer's own version of clang.

Can you please provide more information? Please include:
- the command you used to run infer
- the full output (please use https://gist.github.com/ or equivalent)
- the contents of toplevel.log (also on https://gist.github.com/)

There's no way to skip the compilation of some

[2016-08-12 16:13] jvillard commented on #438
I cannot reproduce your issue with the same locale settings on 10.10.5. That said, a simple fix would be to catch this error when we call `locale.setlocale()` in [config.py](https://github.com/facebook/infer/blob/master/infer/lib/python/inferlib/config.py#L17-L20) and fall back to our default `'ascii'` codeset in that case too.

Would you mind submitting a PR to that effect if that fixes your issu

[2016-08-13 03:22] stellaloveK commented on #439
- command:
 infer -- xcodebuild -project testInfer.xcodeproj -target testInfer -configuration Debug -sdk iphonesimulator9.3 -hideShellScriptEnvironment -arch i386

- full  output:
[https://gist.github.com/stellaloveK/8a728d2e4774c78ecf35d1b933b84ddf](url)

- what is toplevel.log??

In my project, there are many subprojects, can skip a subproject?
Originally I thought parameters(--skip-clang-analys

[2016-08-15 08:01] oatsuper commented on #419
any update？

[2016-08-15 20:08] xennygrimmato commented on #425
@sblackshear : For String comparison, I'm using `Pvar.to_string _pvar = "CatchVar"`, since the icfg.dot file seemed to have a node containing `n$13=*&CatchVar53:class java.lang.Object *`. However, I couldn't find a concrete name for a "catch" program variable, as other parts of the code seem to be using `JBir.e_catch_var` instead of String comparison. I tried string comparison of pvar with "catch"

[2016-08-16 11:02] xukai186 commented on #195
@wowsershan  How to solve the problem? 3ks

[2016-08-16 12:13] akotulski commented on #419
Sorry for late reply. There is a flag (`--skip-clang-analysis-in-path`) to exclude directories from being taken into account when running infer. For you it should look something like  `infer --skip-clang-analysis-in-path Pods ...`.
You still might see some issues coming from c++ headers in `Pods` if you are running in `--cxx` mode. If that's the case, you can try adding `--skip-translation-headers

[2016-08-16 12:13] #419 closed

[2016-08-16 12:34] jvillard commented on #427
@brotherpaul143 it seems that Infer and SATE use two opposite definitions of correct/sound. From your website:

"1. The tool is claimed to be sound."

and

"Sound means every finding is correct. The tool need not produce a finding for every site; that is completeness."

This is simply not the case for Infer: reports made by Infer may not correspond to an actual weakness in the code.

Note that Inf

[2016-08-16 13:35] brotherpaul143 commented on #427
I agree with you, @jvillard   Please note that Ockham uses the term "finding". The use of "finding" allows an additional level of interpretation. As you point out, "if Infer doesn't report on a procedure, then that procedure has no bugs". The *lack* of a report is a finding for Ockham's purposes. That is, users can absolutely depend on the fact that no bug reportfrom Infer  means that the procedur

[2016-08-16 17:09] jberdine commented on #427
It is unclear how Infer's "findings" could be evaluated or validated.  For example, suppose that for a function `f` Infer computes a specification `{P} f(x) {Q}`.  If Infer is wrong, how can this be demonstrated?  It seems that it would finding a state that satisfies `P` from which executing `f(x)`, subject to Infer's idealistic and optimistic assumptions, either crashes or returns in a state that

[2016-08-16 18:33] brotherpaul143 commented on #427
@jberdine asks, "Do you have something else in mind?" Yes. There are lots of steps and checks and details and caveats and conditions, but the basic outline is as follows. We choose a test suite with known bugs. If Infer fails to report a bug, then it doesn't satisfy the SATE VI Ockham Criteria.

I appreciate @jberdine and @jvillard responding to my inquiry. I'm a little surprised with what I perce

[2016-08-16 19:18] jvillard commented on #438
I just hit the same bug by running Infer inside a Linux VM inside osx. I'll look into it.

[2016-08-17 07:44] oatsuper commented on #419
usage: infer [-h] [-o <directory>] [-i] [-ic] [-r] [-m] [-c]
             [--debug-exceptions] [-g] [-a ANALYZER] [-nf] [--fail-on-bug]
             [--android-harness] [-l] [-v] [--pmd-xml] [-j n]
             [-x <projectname>] [--revision <githash>] [--buck]
             [--infer_cache <directory>] [-pr PROJECT_ROOT] [--absolute-paths]
             [--ml_buckets ML_BUCKETS] [-npb] [--specs-dir

[2016-08-17 09:46] akotulski commented on #419
Which version of infer are you using (run `infer --version`)?
I think latest homebrew release doesn't have the parameter yet. You can try infer [0.9.0](https://github.com/facebook/infer/releases/tag/v0.9.0) from our github releases page.
We are planning to release 0.9.1 with the fix allowing us to publish new infer via homebrew, but it's not there yet

[2016-08-17 10:39] oatsuper commented on #419
OK， my infer version is 0.8.1 , So  I try the newer infer by github download ~
 you are so nice ~~

[2016-08-17 10:49] jvillard commented on #438
fixed in 49adf5933260836c17bc29b90a6ade50a803a83d

[2016-08-17 10:49] #438 closed

[2016-08-18 10:07] jberdine commented on #427
@brotherpaul143, Thanks for bringing this up, and I don't mean to be off-putting.  What you're interpreting as reluctance is more wariness, and the expectation that the reality of how gray questions of soundness and completeness are for tools like Infer undermines the viability of these sorts of exercises.  In particular, Infer uses both sound techniques and heuristics which are neither sound nor

[2016-08-18 10:38] cristianoc commented on #427
@brotherpaul143 I think a good summary is that Infer comes from sound design principles, makes unsound compromises and heuristics where it makes sense. In particular, Infer tries to maximize the value given to developers, over soundness or completeness concerns.

Now that all the provisos are out of the way, the main question is whether, given these provisos, you think that the results will be use

[2016-08-18 10:45] cristianoc commented on #427
As a side note, I like to split things up in 2 separate aspects: report rate and fix rate.
Report rate measures how many defects that exist, are reported.
Fix rate measures how many reported issues are fixed by developers.

The reason for split things up in this way is that: first, the developer is part of the picture, the source of the value judgement. So the focus is to issue reports that bring

[2016-08-18 14:14] windanchaos opened #442 "javac: invalid flag"
use "mvn compile",all the project "BUILD SUCCESS",then I use "mvn clean".
but there is something wrong :

[code]

who can help me?

[2016-08-18 14:18] jvillard commented on #442
Could you paste the contents of /tmp/javac_args_paldK6?

[2016-08-18 14:24] windanchaos commented on #442
"-verbose"
"-g"
"-d"
"/opt/ArhasMK/mk-data-mysql/target/classes"
"-sourcepath"
"/opt/ArhasMK/mk-data-mysql/src/main/java:"
"-s"
"/opt/ArhasMK/mk-data-mysql/target/generated-sources/annotations"
"-g"
"-nowarn"
"-target"
"1.8"
"-source"
"1.8"
"-encoding"
"UTF-8"
"/opt/ArhasMK/mk-data-mysql/src/main/java/com/mk/dao/PageResult.java"
"/opt/ArhasMK/mk-data-mysql/src/main/java/com/mk/dao/IDynamicBaseDao.

[2016-08-18 14:27] windanchaos commented on #442
"/tmp/annotations_INgf9Y.out",it contains nothing

[2016-08-18 14:27] jvillard commented on #442
I wonder why these "*.xml" files get included in the list of source files, that seems to be causing the issue.

[2016-08-18 14:38] windanchaos commented on #442
the xml contains dao of mysql.
like:
========
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.dao.AcctRoleDao" >
  <resultMap id="BaseResultMap" type="com.mk.entities.AcctRole" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <id column="uid" property

[2016-08-18 14:49] jvillard commented on #442
It looks like infer just adds every file from the source roots as source files, whereas it should probably add `*.java` files only: https://github.com/facebook/infer/blob/master/infer/lib/python/inferlib/capture/mvn.py#L57-L63

PS: you should use markdown to format your comments:

[code]

[2016-08-18 15:32] xennygrimmato commented on #442
This looks similar to #418 .

[2016-08-19 03:37] windanchaos commented on #442
does that means this kind of project can not be supported by infer?

[2016-08-19 05:26] xennygrimmato commented on #442
@windanchaos : The project (i.e. a Java Maven project that builds) is supported by infer, but this bug will require a fix so that infer does not pick the `xml` files.

[2016-08-19 12:38] jvillard commented on #442
looks similar to #401 as well

I'm working on a fix. Thanks all for the reports!

[2016-08-19 13:11] jvillard commented on #384
closed by 92801ba1c90c04a44893b85cb1ce40a669720d4d

[2016-08-19 13:11] #384 closed

[2016-08-19 13:16] jvillard commented on #416
I think your PR addressed all of these.

[2016-08-19 13:16] #416 closed

[2016-08-19 13:18] #401 closed

[2016-08-19 13:18] #418 closed

[2016-08-19 13:18] #442 closed

[2016-08-19 13:48] brotherpaul143 commented on #427
@cristianoc thanks, I believe I understand now. Infer's approach sounds eminently practical. You're right though: with the heuristics filtering results before they reach the user, Infer is not a candidate for the Ockham criteria track in SATE VI. However, Infer would fit very well in other tracks in SATE VI.

Again, thanks for patiently answering my questions, @jberdine and @jvillard too.

[2016-08-22 11:40] cristianoc commented on #386
Please reopen if still relevant.

[2016-08-22 11:40] #386 closed

[2016-08-22 13:16] pumano commented on #394
How to get infer 0.9.1 via homebrew? or it not available? I have only 0.8.1 available via homebrew.

[2016-08-22 17:59] pumano commented on #314
Currently latest Android API 24.0.1 require Java 8 for compile. I can't use infer in our project due to this limitation.

If I use Java 8, Infer crashing (but I'm not sure, we can have cyrillic letters in project, and maybe python unicode decoding problems contains):
[code]

I will wait for your update. If you have any more detailed ETA than "end of year", write here please.

[2016-08-23 20:35] sblackshear commented on #417
Sounds like `mvn compile` fails without Infer. Infer only works when the underlying compilation command works.

[2016-08-23 20:35] #417 closed

[2016-08-23 20:45] #393 closed

[2016-08-24 11:48] jvillard commented on #400
please reopen if this is still relevant

[2016-08-24 11:48] #400 closed

[2016-08-24 11:50] jvillard commented on #394
You can follow along this PR on homebrew for infer 0.9.2: https://github.com/Homebrew/homebrew-core/pull/4007

[2016-08-24 15:28] modLX4 opened #445 "ValueError: unknown locale: UTF-8"
Traceback (most recent call last):
  File "/usr/local/bin/infer", line 18, in <module>
    from inferlib import analyze, config, utils
  File "/usr/local/Cellar/infer/0.8.1/libexec/infer/lib/python/inferlib/analyze.py", line 26, in <module>
    from . import config, issues, utils
  File "/usr/local/Cellar/infer/0.8.1/libexec/infer/lib/python/inferlib/config.py", line 18, in <module>
    CODESET =

[2016-08-24 16:07] xennygrimmato commented on #445
You seem to be using version 0.8.1.
This issue was fixed in [49adf59](https://github.com/facebook/infer/commit/49adf5933260836c17bc29b90a6ade50a803a83d).

[2016-08-25 09:26] zhangying19871987 opened #446 "build fail with ios app"
The infer version I used is V0.9.2.
when I execute
infer -- xcodebuild -workspace QQNews.xcworkspace -scheme QQNews -configuration Debug -sdk iphoneos
I met the error
clang -cc1as: error: error reading '/var/folders/yt/mcn2wbd112g1pyjcn84h4c3h0000gn/T/darwin64_x86_64-c68750.s'

[2016-08-26 01:15] jvillard commented on #445
Please reopen if there is still an issue with 0.9.2 (try `brew update && brew upgrade infer`).

[2016-08-26 01:15] #445 closed

[2016-08-26 01:16] jvillard commented on #394
0.9.2 has hit Homebrew.

[2016-08-26 01:16] #394 closed

[2016-08-26 01:21] jvillard commented on #446
Thanks for the report @zhangying19871987

Could you edit [this line](https://github.com/facebook/infer/blob/a31a735e355aeb0cb28377c7b25583c4bd374e2e/infer/lib/clang_wrappers/hijack_and_normalize_clang_command.sh#L30) to change

[code]

to

[code]

and report back?

[2016-08-26 03:06] chen881129 commented on #383
@sblackshear .Sorry to trouble you again. Infer compile failed until the OS is updated to centos7. I modify  infer/src/backend/rearrange.ml as you said, but it comes an error:
[code]
Infer: v0.9.2
Now my code is like this:
[code]
Can you help me ?

[2016-08-26 03:19] sblackshear commented on #383
Look's like you're missing an `in`:

  let is_only_pt_by_nullable_fld_or_param _deref_exp =
    nullable_obj_str := "everything is null";
    true in
  let root = Exp.root_of_lexp lexp in

[2016-08-28 15:40] tudorturcanu opened #447 "ValueError: unknown locale: UTF-8"
Traceback (most recent call last):
  File "/usr/local/bin/../Cellar/infer/0.9.2/bin/../lib/infer/infer/lib/python/infer.py", line 18, in <module>
    from inferlib import analyze, config, utils
  File "/usr/local/Cellar/infer/0.9.2/lib/infer/infer/lib/python/inferlib/analyze.py", line 26, in <module>
    from . import config, issues, utils
  File "/usr/local/Cellar/infer/0.9.2/lib/infer/infer/lib/

[2016-08-29 02:06] zhangying19871987 commented on #446
I have change if [ "$1" = "-cc1" ]; then to if [ "$1" = "-cc1" ] || [ "$1" = "-cc1as" ]; then
I got the error as follows：
/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS9.3.sdk/usr/include/module.m
odulemap:53:11: error: header 'float.h' not found
                        header "float.h" // note: supplied by compiler
                               ^
W

[2016-08-29 03:32] zhangying19871987 commented on #446
After I edit the line, I got another error as follows:
** BUILD FAILED **

The following build commands failed:
        CompileC /Users/selmazhang/Library/Developer/Xcode/DerivedData/QQNews-dzxfdpizqronydacwqerxzqgevkb/Build/Intermediates/QNCore.build/Debug-iphoneos/QNCore.build/Objects-normal/armv7/darwin64_x86_64.o QNCore/QNCrashGuard/3rd/JSPatch/Extensions/JPCFunction/libffi/src/x86/darwin64_x8

[2016-08-29 09:12] chen881129 commented on #383
@sblackshear Thank you very much, but it still compile error...
[code]

backend/rearrange.ml line 1186 is:
[code]

[2016-08-29 09:17] chen881129 opened #448 "v0.9.2 uses too much cpus"
Too much processes:
[code]

High load:
`load average: 19.18, 7.57, 4.23`

My OS is centos7, release: 7.2.1511.

[2016-08-29 09:33] akotulski commented on #446
which version of xcode are you using (you can run `xcodebuild -version` to find out)?

[2016-08-29 09:40] akotulski commented on #448
I think by default infer uses as many processes as there are cores on the machine (specifically, the result of `getconf _NPROCESSORS_ONLN 2>/dev/null`). How many cores your machine has?

If you are using `infer -- make ...` or `infer -- buck build ...`, you can use `-l` option limit load average. You can also decrease number of parallel jobs, by passing `-j` flag.

[2016-08-29 15:44] jvillard commented on #447
Thanks for the report. What does `locale` report to you?

[2016-08-29 18:52] jvillard commented on #383
Here the compiler is telling you that `"everything is null"` is a string but it was expecting some option type. You probably want `Some "everything is null"` instead.

For questions about OCaml it would be better to go to OCaml-specific resources:
http://ocaml.org/community/
irc://irc.freenode.net/#ocaml

[2016-08-30 01:52] zhangying19871987 commented on #446
Xcode 7.3
Build version 7D175

[2016-08-30 03:27] zhangying19871987 commented on #446
I comment the line in infer/lib/clang_wrappers/hijack_and_normalize_clang_command.sh
I change the line

sed -e "s#^[[:space:]]\"\([^\"]*\)\" \"-cc1\" \(.*\)\$# \"$CLANG_CC1_CAPTURE\" \"-cc1\" \2#g" | \

to

#sed -e "s#^[[:space:]]\"\([^\"]*\)\" \"-cc1\" \(.*\)\$# \"$CLANG_CC1_CAPTURE\" \"-cc1\" \2#g" | \

And now my ios app build success, Can I do like this?

[2016-08-30 05:26] yishuiliunian opened #449 "command not found: inferTraceBugs"
i install infer from brew ,but the  inferTraceBugs not found
<img width="569" alt="677feb40-b19f-43f5-a6ee-56f16ed7346d" src="https://cloud.githubusercontent.com/assets/846525/18075292/0a392b12-6ea6-11e6-9763-130653740105.png">

[2016-08-30 07:27] tudorturcanu commented on #447
hey, tnx for your support.

locale
LANG=
LC_COLLATE="C"
LC_CTYPE="UTF-8"
LC_MESSAGES="C"
LC_MONETARY="C"
LC_NUMERIC="C"
LC_TIME="C"
LC_ALL=

[2016-08-30 07:28] zhangying19871987 opened #450 "build fail with ios app"
I build successful if I just use the commond xcodebuild

I build my ios app with command infer,but I got the error as follows:
/Users/selmazhang/workspace/house_ios_codeCheck/src/Classes/Crash/Base/QHCrashAsyncThread_current.S:16:1: error: expected
      identifier or '('
.text
^
/Users/selmazhang/workspace/house_ios_codeCheck/src/Classes/Crash/Base/QHCrashAsyncThread_current.S:212:1: error: unkno

[2016-08-30 07:28] xennygrimmato commented on #447
You can try: `export LC_ALL=en_US.UTF-8`

[2016-08-30 07:51] tudorturcanu commented on #447
it works. tnx.

[2016-08-30 07:51] #447 closed

[2016-08-30 17:39] jvillard commented on #449
Is this infer 0.9.2?

[2016-08-30 17:48] mishudark commented on #381
I have the same problem on Centos 6

[2016-08-30 17:59] jvillard commented on #381
@mishudark Can you please provide more information? Please include:
- the version of Infer
- the command you ran
- the full output (please use https://gist.github.com/ or equivalent)

[2016-08-30 18:03] mishudark commented on #381
@jvanzyl sure
**os**: `CentOS release 6.8 (Final)`
**infer version**: `infer-linux64-v0.9.2$`
**command**: `sh build-infer.sh`
**output**:
[code]

[2016-08-30 18:14] jvillard commented on #381
@mishudark The version of `git` might be too old on your system. You'll need to install Reason manually for now I'm afraid. Something like this may work:
1. select the infer-4.02.3 opam switch: `opam switch infer-4.02.3 && eval $(opam config env)`
2. clone the Reason repo locally, checkout its 0.0.1 release, then `opam pin add -k git reason .` inside the repo should install reason from there
3. ru

[2016-08-30 18:47] jvillard commented on #446
Could you paste the full output of infer prior to the changes please? Please use a paste site such as https://gist.github.com/.

[2016-08-30 18:48] jvillard commented on #450
Could you paste the full output of infer please? Please use a paste site such as https://gist.github.com/.

[2016-08-30 18:50] jvillard commented on #446
You could also try not executing -cc1as commands by inserting this line right after the `sed` line that you commented out (but uncomment the `sed` line as well):

[code]

[2016-08-31 01:22] jvillard commented on #446
More precisely, could try to apply this diff? Thanks!

https://gist.github.com/jvillard/5fd9b9dc32a402aa5347edc5d327f45b

[2016-08-31 01:22] jvillard commented on #450
Could you try applying the following diff and running infer again to see if it fixes your issue? Thanks!

https://gist.github.com/jvillard/5fd9b9dc32a402aa5347edc5d327f45b

[2016-08-31 02:32] yishuiliunian commented on #449
Infer version v0.8.1

[2016-08-31 03:09] zhangying19871987 commented on #450
please tell me what can I do

[2016-08-31 03:12] zhangying19871987 commented on #450
The  all information that I can give is :
I build successful if I just use the commond xcodebuild
I build my ios app with command infer,but I got the error as follows:
/Users/selmazhang/workspace/house_ios_codeCheck/src/Classes/Crash/Base/QHCrashAsyncThread_current.S:16:1: error: expected
identifier or '('
.text
^
/Users/selmazhang/workspace/house_ios_codeCheck/src/Classes/Crash/Base/QHCrashAsyncT

[2016-08-31 03:12] zhangying19871987 commented on #450
I do not change anything about infer

[2016-08-31 03:14] zhangying19871987 commented on #446
The problem is I got the error when I compile my ios project

clang -cc1as: error: error reading '/var/folders/yt/mcn2wbd112g1pyjcn84h4c3h0000gn/T/darwin64_x86_64-08684d.s'
Command /Users/selmazhang/workspace/infer-osx-v0.9.2/infer/lib/python/inferlib/../../../lib/xcode_wrappers/clang failed wi
th exit code 1
** BUILD FAILED **

The following build commands failed:
CompileC /Users/selmazhang/Libra

[2016-08-31 04:53] zhangying19871987 commented on #446
I try not executing -cc1as commands by inserting this line right after the sed line

        grep -v "\"-cc1as\"" | \

and I got error as well:

/Users/selmazhang/workspace/news_ios_codeCheck/QNCore/QNCore/QNCrashGuard/3rd/JSPatch/Extensions/JPCFunction/libffi/src/ar
m/trampoline_armv7.S:3:1: error: expected identifier or '('
# GENERATED CODE - DO NOT EDIT
^
/Users/selmazhang/workspace/news_ios_co

[2016-08-31 06:35] mikechengwei commented on #439
i aslo want to skip some files,for example Pods. how to to it?

[2016-08-31 15:44] jvillard commented on #449
Upgrading to 0.9.2 with brew should fix this. Please reopen if it doesn't.

[2016-08-31 15:44] #449 closed

[2016-09-01 03:09] jvillard commented on #450
What I meant was: What happens if you replace infer/lib/clang_wrappers/hijack_and_normalize_clang_command.sh with this: https://gist.github.com/jvillard/9649b78fff071179509cd2dc2a254680
?

[2016-09-01 03:41] zhangying19871987 commented on #450
I replace infer/lib/clang_wrappers/hijack_and_normalize_clang_command.sh with this: https://gist.github.com/jvillard/9649b78fff071179509cd2dc2a254680
It seems I got the same errors.
[1.txt](https://github.com/facebook/infer/files/448773/1.txt)

[2016-09-01 03:45] zhangying19871987 commented on #450
I replace infer/lib/clang_wrappers/hijack_and_normalize_clang_command.sh with this: https://gist.github.com/jvillard/9649b78fff071179509cd2dc2a254680
It seems I got the same errors.
This is the all output
[1.txt](https://github.com/facebook/infer/files/448783/1.txt)

[2016-09-01 06:38] kageiit opened #452 "Infer fails immediately on 0.9.2"
Getting this error immediately after running infer 0.9.2 on an android project. 0.8.4 works correctly on the project

[code]

[2016-09-01 07:32] xennygrimmato commented on #452
Which version of Java are you using?

[2016-09-01 14:47] kageiit opened #453 "Infer looks for hardcoded command names when run on shell"
In https://github.com/facebook/infer/blob/e1f19192c07caf2fa0a2ea4fd6692e3de9cddbcd/infer/lib/python/infer.py#L34

the commands to look for are hardcoded to invoke the correct modules. This prevents users the flexibility to wrap such commands in their own.

For example, we wrap all buck invocations in a `buckw` script to perform some steps before the actual buck run and invoke it like `./buckw buil

[2016-09-01 16:39] akotulski commented on #453
Right now there is no such option - you may try adding `buckw` to the list in line you provided, but it's not guaranteed to out of the box for `buck` (we may have hardcoded `buck` in our buck integration).

Another short term solution is to make `which buck` point to your script, but I can imagine it may not be an option for you.

As for adding an option, we could add it in following form (modulo

[2016-09-01 16:55] akotulski commented on #450
I looked at full output and it seems that infer is failing to build code in `assembler-with-cpp` language. I'll try to play with some small examples to see if infer works at all with `assembler-with-cpp`, but I suspect issue may be hidden further.

@zhangying19871987 It would greatly help me to debug issue sooner if I could get my hands on standalone repro. It'd be great if you could run following

[2016-09-01 17:07] kageiit commented on #452
[code]

[2016-09-01 17:11] kageiit commented on #453
We circumvented this by writing an `inferw` wrapper that sets up the path correctly and replaces `buckw` with `buck` internally and invokes the right command

[2016-09-01 17:11] #453 closed

[2016-09-01 17:50] akotulski commented on #450
I couldn't reproduce the issue on small example (file that failed to compile and is coming from https://github.com/bang590/JSPatch) - it compiles fine for me. For posteriority, this is what I ran:
[code]

[2016-09-01 18:23] akotulski commented on #453
Yes, that works as well. Thanks for letting us know about this use case.

[2016-09-01 21:51] jeremydubreil commented on #452
Does it happen deterministically ?

It could it be a race condition between:
- https://github.com/facebook/infer/blob/master/infer/lib/python/inferlib/analyze.py#L200
and
- https://github.com/facebook/infer/blob/master/infer/src/backend/DB.ml#L356
?

[2016-09-01 22:37] jberdine commented on #452
The "jar jar" classpath entries such as com.android.support.support-annotations-24.1.1.jar.jar look fishy to me.  Is infer itself responsible for the duplicate extensions?

[2016-09-02 01:34] zhangying19871987 commented on #450
I  run following command  and the result is

[repro.txt](https://github.com/facebook/infer/files/451021/repro.txt)

And I can give you the file QNCore/QNCore/QNCrashGuard/3rd/JSPatch/Extensions/JPCFunction/libffi/src/x86/darwin64_x86_64.S

[darwin64_x86_64.S.zip](https://github.com/facebook/infer/files/451025/darwin64_x86_64.S.zip)

[2016-09-02 03:07] kageiit commented on #452
It is happening 100% of the time. we are on buck head

[2016-09-02 09:04] zhangying19871987 commented on #450
I have another app,
I replace infer/lib/clang_wrappers/hijack_and_normalize_clang_command.sh with this: https://gist.github.com/jvillard/9649b78fff071179509cd2dc2a254680

I build successful if I just use the commond xcodebuild
If I build my ios app with command infer, I got the error as follows:
[1.txt](https://github.com/facebook/infer/files/451594/1.txt)

[2016-09-02 14:29] akotulski commented on #448
Closing issue for now, feel free to reopen if you need further assistance

[2016-09-02 14:29] #448 closed

[2016-09-02 15:29] kageiit opened #454 "Support skip translation using path filters"
Seems like the skip translation matchers only match with source file contents or method names

https://github.com/facebook/infer/blob/7e59032a427769e8003d8bf3c34d207b81f47d3d/infer/src/backend/inferconfig.ml#L196

This makes it very hard to exclude auto generated source files from codegen for skipping translation in Infer.

Seems like the a new `FilePatternMatcher` can be supported for this.

Once

[2016-09-02 16:14] jeremydubreil commented on #454
What kind of information could be used to distinguish those generated files ?

[2016-09-03 08:51] LeeY0510 opened #455 "iOS App: Build Failed"
/<Document_ROOT>/<Project_Name>/Vendors/ReactNative/React/Core/React/Profiler/RCTProfileTrampoline-arm.S:15:3: error:
      expected identifier or '('
  .thumb
  ^
/<Document_ROOT>/<Project_Name>/Vendors/ReactNative/React/Core/React/Profiler/RCTProfileTrampoline-arm.S:37:3: error:
      unknown type name 'mov'
  mov r0, #0xc
  ^
/<Document_ROOT>/<Project_Name>/Vendors/ReactNative/React/Core/React/

[2016-09-04 05:40] se7en007 commented on #308
Hi,
 I am using Play framework to build our Java application. The play framework uses SBT as build tool but all of the code written by us is in Java. I tried running infer on play compile and sbt compile, in hope that it works, but no penny.

 Is there any plan of supporting it? Adding this here as scala comes under alternative JVM languages.

[2016-09-05 10:50] akotulski commented on #455
We encountered other similar reports recently:
https://github.com/facebook/infer/issues/450
https://github.com/facebook/infer/issues/446

It has to do with compiling assembly code (somehow infer doesn't run the right thing). The problem with solving those issue is that it's hard for us to reproduce.

Would it be possible for you to share complete example that doesn't work for you?
I suspect it mig

[2016-09-06 09:14] sumerman opened #456 "Adding models without recompiling infer"
Is it even possible to add a new model without recompiling? From what I can tell there is special undocumented `models-mode` and a global specs folder. Is that right? How hard would it be to allow to specify multiple spec folders? Is there a good place to start digging?

[2016-09-06 10:47] akotulski commented on #456
Currently it's not possible, but it shouldn't be very hard to add an option to specify extra search path. Right now path is hardcoded [here](https://github.com/facebook/infer/blob/13de8a0835ac3cf04c92dc73b2602e6aa0ece29e/infer/src/backend/config.ml#L242).

The other part is to create those extra specs, but I think running infer with `--models-mode` may be enough.

Could you provide more context on

[2016-09-06 21:50] kageiit commented on #454
The best information to distinguish these files is the directory where they come from. All generated sources typically have an ancestor dir that contains them.

Looking at the generated source itself is not reliable because all annotation processors/gradle plugins etc do not produce similar generated code or annotate them the same way

[2016-09-07 02:26] darkcrawler01 opened #457 "any plans for bazel support ?"
https://github.com/bazelbuild/bazel

[2016-09-07 02:48] sblackshear commented on #457
No current plans. If you have experience building Bazel plugins and are interested in contributing one for Infer, that would be awesome!

[2016-09-07 11:27] sumerman commented on #456
Ultimately I want to apply infer to check things like PostgreSQL extensions, but, for now, I'm just playing around with `libpq` and a small program using it.

Currently, I'm struggling with making infer detect simple resource leak. I've modeled `PQconnectdb` as `fopen`, `PQfinish` as `fclose` and call only the former in `main`. I've tried both: compiling my model with `models-mode` and copying spe

[2016-09-07 11:42] akotulski commented on #456
Thanks for the report, we'll look into it.

Regarding writing models, I was able to produce resource leak by writing following code `PQconnectdb` (I didn't include `libpq` so it's not exactly the same). Could you try that one and see if it helps?
[code]
We use similar mechanism in current models: https://github.com/facebook/infer/blob/master/infer/models/c/src/libc_basic.c#L450

[2016-09-07 11:52] akotulski commented on #456
Actually `specs-library` works as intended (`--models-mode` is not necessary I think). To reproduce it I created:
1. `pq.h` - library header, you won't need it if you are using real `libpq`
2. `pq.c` - library model implementation. This is where you put your models
3. `pq_client.c` - library user code.

Then I ran infer twice:
1. build specs in separate directory by running `infer -o pq-out -- cla

[2016-09-07 18:55] jeremydubreil commented on #457
Infer has support for Buck which is similar to Bazel. It works by redirecting to Infer the compiler invocations. Using the same approach may work for Bazel too. The code is here: https://github.com/facebook/infer/blob/master/infer/lib/python/inferlib/bucklib.py

[2016-09-08 02:26] zhangying19871987 opened #458 "build failed with ios app"
/Users/selmazhang/workspace/house_ios_codeCheck/src/Classes/Crash/Base/QHCrashAsyncThread_current.S:16:1: error: expected
identifier or '('
.text
^
/Users/selmazhang/workspace/house_ios_codeCheck/src/Classes/Crash/Base/QHCrashAsyncThread_current.S:212:1: error: unknown
type name 'mov'
mov r7, sp
^
/Users/selmazhang/workspace/house_ios_codeCheck/src/Classes/Crash/Base/QHCrashAsyncThread_current.S:2

[2016-09-08 02:33] jeremydubreil commented on #458
This looks like a compilation error and not directly related with the analysis. What build tool are you using to compile your project ? Do you get the failure with `infer <infer options> -- <build command>` whereas `<build command>` does not lead to compilation issues ?

[2016-09-08 02:39] jeremydubreil commented on #458
Is this report different from #450 ?

[2016-09-08 09:25] akotulski commented on #458
@jeremydubreil this is an issue with us trying to compile assembly code and fail. I've been unable to reproduce the problem so far.
Closing this one as this is duplicate of #450

[2016-09-08 09:25] #458 closed

[2016-09-08 12:23] sumerman commented on #456
Thank you for the detailed explanation. The actual reason for `infer` not finding any issues in my case was the scope of the connection variable: it was a static global. I understand that analysis might be impossible for global variables, but expected it to work for a static global initialized with `NULL`. Should I file another issue for that or it's definitely "won't fix"?

[2016-09-08 12:54] sumerman commented on #456
Unfortunately, even after wrapping a connection into a struct (I need a struct because there are two connections actually in my toy program) infer has ignored [at least one code path with an apparent issue](https://bitbucket.org/sumerman/pgtask/src/1308927e613c5663775262d5750088bceaf8fd9c/main.c?fileviewer=file-view-default#main.c-133).

[2016-09-08 12:57] akotulski commented on #456
globals are very tricky to get right and we prefer to just treat them as "safe" to avoid false positives. I'd say it has low priority for us right now.

Could you share your model code as well? I understand you need to model `PQfinish` and `PQconnectdb` to get any useful reports

[2016-09-08 13:01] sumerman commented on #456
Sure, but wouldn't it be possible to model a static global an argument that is passed to every function that is defined within a module?

[Here is my model.](https://bitbucket.org/sumerman/pgtask/src/1308927e613c5663775262d5750088bceaf8fd9c/infer_model/libpq.c?at=infer&fileviewer=file-view-default)

[2016-09-08 13:34] akotulski commented on #456
Regarding globals - there are many options to treat global variables better, your suggestion is one of them. The problem is that tracking many variables in each function can cause performance issues and/or confuse analyzer.

I reproduced your problem and unfortunately it's known limitation of C analysis - infer doesn't treat structs in C very well. In particular, pass-by-value and return-by-value

[2016-09-09 10:37] akotulski commented on #450
I believe I managed to reproduce similar problem and fix it in https://github.com/facebook/infer/commit/0817ab0ec221d97c6685e0f22f88c967b2b471df

To quickly test the change, could you replace `infer/lib/clang_wrappers/hijack_and_normalize_clang_command.sh` with version from master?

https://github.com/facebook/infer/blob/0817ab0ec221d97c6685e0f22f88c967b2b471df/infer/lib/clang_wrappers/hijack_and_

[2016-09-09 10:39] akotulski commented on #455
I think I managed to reproduce and fix the issue with https://github.com/facebook/infer/commit/0817ab0ec221d97c6685e0f22f88c967b2b471df. You can follow instructions from https://github.com/facebook/infer/issues/450#issuecomment-245879215 to quickly try the fix without having to recompile infer

[2016-09-12 06:00] LeeY0510 commented on #455
Thx for ur kind reply. It was fixed this issue. Thanks a lot.

[2016-09-12 06:00] #455 closed

[2016-09-12 08:40] zhangying19871987 commented on #450
It was fixed this issue. Thanks a lot.

[2016-09-12 10:04] zhangying19871987 commented on #446
It was fixed this issue. Thanks a lot.

[2016-09-13 03:19] LeeY0510 commented on #277
Hi, @jvillard. You provide the URL(example) can not be opened.

[2016-09-13 13:50] rocketnik opened #459 "false positive for Objective-C STRONG_DELEGATE_WARNING"
The following code is identified as STRONG_DELEGATE_WARNING:
@property (readwrite, nonatomic, strong) NSMutableDictionary *mutableTaskDelegatesKeyedByTaskIdentifier;

It should not have been.

Here is one additional requirements that could improve the checker:
- in order to identify a property as delegate, besides containing "delegate" in the name also require the usage of a protocol in the type.

[2016-09-13 17:57] eboudrant opened #460 "Is there any user guide / article on how to integrate differential workflow in CI / pull request system"
I'm struggling to use Infer with the differential workflow, I want Infer to be run by CI on pull request and have the analysis written as comments in code review system (bitbucket). It is an Android project building with Gradle.

I will probably have to write the script that will create the comments in bitbucket but here I am looking for help on what Infer command to run and what Infer output to c

[2016-09-13 23:33] kageiit commented on #452
This seems to be only happening when running with `-r`

[2016-09-14 06:51] hwahwahwa opened #461 "android"

[2016-09-14 06:52] hwahwahwa opened #462 "android eclipse"
is support eclipse android project

[2016-09-14 06:58] #461 closed

[2016-09-14 22:56] jeremydubreil commented on #462
The support is per build system. Are you using Gradle or Ant to build your Eclipse Android project ?

[2016-09-15 02:27] jeremydubreil commented on #452
Yes, that is right. Using `--reactive`, I am able to reproduce the issue.

[2016-09-15 12:29] achilleasxy opened #463 "Error in reporting line"
Infer reports a Null Dereference error for the the following code snippet.

[code]

Infer message:

267 is the method header line.

[2016-09-15 17:08] jeremydubreil commented on #463
Hi @achilleasxy. I don't see either `readFieldOrNull` or an object named `context` in the code snippet. Does it exits somewhere else in the project ? In which case it could be an issue about reporting the errors in the right place.

[2016-09-19 08:08] frankyliu opened #464 "infer build error under xcode 8 -sdk iphonesimulator10.0"
We used the infer 0.8.1 and  upgraded xcode version to xcode8 and encounter error as below:

build command:
infer -- xcodebuild -scheme xxxx -configuration Release -sdk iphonesimulator10.0

error message:

While building module 'MessageUI' imported from /Users/xxxx/IOS_INFER/source/xxxx/xxx/xxx.m:12:
In file included from <module-includes>:1:
In file included from /Applications/Xcode.app/Contents/

[2016-09-19 08:21] jvillard commented on #277
@LeeY0510 it still opens for me

[2016-09-19 08:38] jvillard commented on #464
Hi @frankyliu,

- Does `xcodebuild -scheme xxxx -configuration Release -sdk iphonesimulator10.0` succeed on its own?
- Do you still get an error with infer 0.9.2?
- If so, do you still get an error with the latest master from github? We recently upgraded the version of clang used by infer to deal with the latest xcode release.

[2016-09-19 09:39] achilleasxy commented on #463
Definitely a reporting error then. ````readFieldOrNull```` and ````context```` appear in the following methods which start on line 85 and 224 respectively:

[code]

[code]

[2016-09-19 21:57] #427 closed

[2016-09-19 22:02] jberdine commented on #397
Closing for now, please reopen with more info if this is still an issue with the latest version.

[2016-09-19 22:02] #397 closed

[2016-09-20 02:46] frankyliu commented on #464
thanks jvillard quickly response.
1. we have tried xcodebuild for the project, it was compiled green.
2. also we tried the infer 0.9.2, the same issue there.
3. ok, we will try it today.

By the way,  when the latest version will be released?

[2016-09-20 06:44] ychexingwuji opened #465 "In terminal build error"
Use Xcode8

/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator10.0.sdk/System/Library/Frameworks/Foundation.framework/Headers/NSCharacterSet.h:27:22: error:
      unknown property attribute 'class'
@property (readonly, class, copy) NSCharacterSet *uppercaseLetterCharacterSet;
                     ^
fatal error: too many errors emitted, stop

[2016-09-21 05:15] jvillard commented on #464
We are working on publishing a new release with the newer clang.

[2016-09-21 05:19] jvillard commented on #465
Which version of Infer are you using? This may be due to an incompatibility with the version of clang used by Infer up to 0.9.2. See #464.

Please try again using infer from latest master, which includes an updated clang, or wait until we release 0.9.3 (should be soon!) to save you some compilation time.

[2016-09-22 15:49] jberdine commented on #465
Infer 0.9.3 has been released, please try and reopen this issue if the problem remains.

[2016-09-22 15:49] #465 closed

[2016-09-22 15:49] jberdine commented on #464
Infer 0.9.3 has been released, please try and reopen this issue if the problem remains.

[2016-09-22 15:49] #464 closed

[2016-09-22 15:51] jberdine commented on #450
Infer 0.9.3 has been released, please try and reopen this issue if the problem remains.

[2016-09-22 15:51] #450 closed

[2016-09-22 15:52] jberdine commented on #446
Infer 0.9.3 has been released, please try and reopen this issue if the problem remains.

[2016-09-22 15:52] #446 closed

[2016-09-22 16:24] jberdine commented on #428
The situation should be a bit better since [f30b6e3](https://github.com/facebook/infer/commit/f30b6e39db55b9c1ba6c02e5544abd2b36e598a2).  In particular, `L.err` and `L.out` should reliable produce output in log files under the results directory when run in `--stats` or `--debug` modes.  Please reopen if this issue persists.

[2016-09-22 16:24] #428 closed

[2016-09-22 17:41] jeremydubreil commented on #463
Are the two definitions of `trustManager` in two different inner classes ?

[2016-09-24 09:24] hapton opened #466 "attempting to build only the clang analyzers with `./build-infer.sh clang` fails"
[code]

I fail to install infer 0.9.3 release (./build-infer.sh clang),please give me some advice.Thanks.

[2016-09-24 14:38] jberdine commented on #466
Can you tell us explicitly how you got the source code (e.g. git clone or release tarball, etc.) and what commands you executed leading to this failure?

[2016-09-25 03:00] hapton commented on #466
I download the release package and unzip it.And brew install dependency, then i /build-infer.sh clang.
<img width="960" alt="2016_9_25_ 11_00" src="https://cloud.githubusercontent.com/assets/1235170/18812718/3df54f8a-830f-11e6-9809-a0a20c0364b0.png">

[2016-09-25 03:01] hapton commented on #466
opam list
# Installed packages for infer-4.02.3:
ANSITerminal              0.7  Basic control of ANSI compliant terminals and the
atd                     1.2.0  Parser for the ATD data format description langua
atdgen                 1.10.0  Generates efficient JSON serializers, deserialize
base-bigarray            base  Bigarray library distributed with the OCaml compi
base-bytes               ba

[2016-09-25 13:24] Will5 opened #467 "`brew install infer` error"
I recently updated facebook infer on my work laptop, and am trying to update infer on my personal laptop. It installed without an issue on my work laptop, but I am getting an error (see below) on my personal laptop. Both have opam 1.2.2 and ocaml 4.03.0 installed. If I execute `opam init --comp=VERSION`, I see that everything is already up-to-date. Any ideas why `brew install infer` could be faili

[2016-09-25 14:50] jberdine commented on #467
The infer 0.9.2 brew recipe does not pull in ocaml, and it seems that neither does opam.  I don't know if this has always been the case.  As a workaround, does executing `brew install ocaml` before `brew install infer` resolve the issue?

[2016-09-25 15:18] Will5 commented on #467
Hi @jberdine, I tried reinstalling both ocaml and opam, then installing infer, but infer threw the same error

[2016-09-26 10:07] mmellau opened #468 "Can't update infer"
I'm trying to update Infer to 0.9.3 by executing `brew upgrade infer`, but unfortunately the output is `Error: infer 0.9.2 already installed`. Should I install the new version by downloading the release package and run build-infer.sh?

[2016-09-26 22:13] jberdine commented on #468
We are working on updating brew.  The brew formula no longer works and another release of infer is needed to patch the build script.

[2016-09-26 22:15] jberdine commented on #467
We are working on this.  Brew seems now to sandbox more aggressively and opam cannot find the system ocaml, and the `opam init` call we use in the build script needs a system ocaml.  We will release a new version and update brew soon.

[2016-09-27 02:23] ychexingwuji opened #469 "home-brew no found 0.9.3"
home-brew no found 0.9.3

[2016-09-27 08:13] achilleasxy commented on #463
Sorry for late response. Yes the first is in the public outer class and the second is in the static inner class that extends the outer class. It is from Okhttp version 3.2.0 in the Platform.java file.

[2016-09-27 08:41] jvillard commented on #469
this is a duplicate of #468

[2016-09-27 08:41] #469 closed

[2016-09-28 08:34] frankyliu commented on #468
when will this be ready? My project is looking forward to it

[2016-09-28 10:54] rocketnik opened #470 "infer binary"
Hello infer dev-team,

compiling/installing infer seems to be a common problem.

Personal experience (on Mac):
I have had trouble installing infer 0.8.1 in the beginning and managed to get it compiled/installed after half a day.
I had problems installing infer 0.9.1? and gave up.
I could install 0.9.2 without problems via brew on one machine. Later when installing on a 2nd machine, I could not get

[2016-09-29 09:13] #456 closed

[2016-09-29 09:13] sumerman commented on #456
Thank you so much for your answers!

[2016-09-29 09:17] cendywang commented on #468
We have the same problem regarding to this. When could we got 0.9.3 at homebrew?

[2016-09-29 09:32] jvillard commented on #466
Does `./build-infer.sh` work for you? It looks like the clang build now depends on the Java build so you get an error trying to compile just clang.

[2016-10-01 20:27] jberdine commented on #466
Just to update: there is a change now in master that should fix this and will be included in the next release.

[2016-10-02 09:10] self-creative commented on #467
but i can't install infer with

initializing opam...
Checking for available remotes: rsync and local, git.
  - you won't be able to use mercurial repositories unless you install the hg
    command on your system.
  - you won't be able to use darcs repositories unless you install the darcs
    command on your system.

[WARNING] Recommended external solver aspcud not found.
[ERROR] No OCaml compiler

[2016-10-02 09:12] self-creative commented on #467
my  mac os is on macOS  Version 10.12.

also

[2016-10-02 09:51] self-creative commented on #467
if i build from source code
`run sh build-infer.sh clang`

following error will occur:

ocamlfind ocamlopt -package unix,atdgen,camlzip -I build -o build/clang_ast_visit.cmx -c clang_ast_visit.ml
ocamlfind ocamlopt -package unix,atdgen,camlzip -I build -o build/clang_ast_j.cmx -c build/clang_ast_j.ml
File "build/clang_ast_proj.ml", line 53, characters 2-28:
Error: This variant pattern is expected

[2016-10-03 00:56] master-q opened #474 "Why does not Infer capture invariant violation?"
After issue #472, I write some precondition example:

https://github.com/master-q/practice-infer/blob/c642f4f92f80a4c2e19409fa8fef6be0d50c300f/DbC/main.c
https://github.com/master-q/practice-infer/blob/c642f4f92f80a4c2e19409fa8fef6be0d50c300f/DbC/queue.h

But Infer can't capture the violation. Why? Infer does not exhaustively verify invariant?

[2016-10-05 09:01] mohadian opened #475 "Does not seem to work with JNI methods"
It seems Infer crashes if the main project is referencing a JNI method from one of the sub modules

library module
[code]

main app module{
[code]

warning: The following options were not recognized by any processor: '[classSourceMapOutputFilename]'
/app/B.java:XYZ: error: cannot find symbol
        reference.jniMethod();
                  ^
  symbol:   method jniMethod()
  location: variable refr

[2016-10-05 09:05] mohadian commented on #475
More details
if I comment the `reference.jniMethod();` the infer finishes successfully

[2016-10-08 06:11] zhenyu-zhou opened #476 "How to acquire the result for symbolic execution?"
Hello,

I intend to look into the control graph (or the execution path tree) provided by Infer but I find that I cannot understand the output. Ideally, I think the execution tree should look like:

a > 5
(true) b < 3
          (true) foo1
          (false) foo2
(false) foo3

Follow the instruction here: http://fbinfer.com/docs/advanced-features.html#debug-mode, I use the command `infer --debug --

[2016-10-08 18:56] sblackshear commented on #476
The `icfg.dot` files mentioned in the debug mode documentation might be more along the lines of what you are looking for. You can view the CFG in these files using `dotty` or any other tool that understands the graphviz format. This won't have details about the abstract state at each program point, but it should be easier to understand the flow.

[2016-10-08 23:36] zhenyu-zhou commented on #476
Thank you! I've taken a look at `icfg.dot` and it seems to still include the abstract states“ (Please let me know if the attachment is not visible):
![screen shot 2016-10-08 at 3 58 19 pm](https://cloud.githubusercontent.com/assets/9327647/19216465/a5a0e448-8d71-11e6-901d-d4727093f5db.jpg)

I only find this one branch in my target function (in fact there should be several branches). And I'm kind o

[2016-10-09 13:56] jberdine commented on #476
I think that there might be some confusion here about what information `icfg.dot` is presenting.  The `icfg.dot` files contain the static control-flow graph, which is determined by the source code and control-flow paths that might be impossible are not removed.

From the comments, with the mention of e.g. "which variable is symbolic", it seems that @zzy assumes that infer operates in a way similar

[2016-10-10 07:25] zhangying19871987 opened #477 "build failed with my ios app"
I met an error when I build my ios app with infer. The error in the 1.txt. If I build my ios app without infer, I can build successful.

[1.txt](https://github.com/facebook/infer/files/518933/1.txt)

[2016-10-11 11:57] liontree commented on #467
@self-creative  Have you resolved this problem?  I have encountered the same error when I update infer from 0.8.1.

[2016-10-11 18:54] cryptogrammer opened #479 "False Positive Detected by Infer"
For code of the form
`if (x != null) {
    doSomethingWithX();
} else {
    doSomethingElse();
}`

infer works just fine. However, for code of the form

`final boolean y = x != null;
if (y) {
    doSomethingWithX();
} else {
    doSomethingElse();
}`

infer gives an error in doSomethingWithX, saying x could be null.

[2016-10-11 18:58] clonetwin26 commented on #479
This is probably the most frequent false positive we see with the tool.

[2016-10-12 16:06] jeremydubreil commented on #479
Hi @cryptogrammer. Would you be able to reproduce it on a small example ?

[2016-10-13 09:44] achilleasxy commented on #463
Hi,
Is there any update on this issue?
I am not sure whether it is actually a true or false positive, but in any case it is incorrectly reported on a different line.

[2016-10-17 07:48] zhangying19871987 opened #480 "build failed with my ios app use infer0.9.3"
I met an error when I build my ios app with infer. The error in the 1.txt. If I build my ios app without infer, I can build successful.

CompileC /Users/daryadan/Library/Developer/Xcode/DerivedData/QQNews-ctpsqiypwzetckhehwmrhxrehcyp/Build/Intermediates/QQNews.build/Release-iphoneos/QQNews_libs.build/Objects-normal/armv7/CMusicSongView.o QQNews_libs/3rd/Vertical/entertainment/CMusicSongView.m norm

[2016-10-17 12:50] iceheart82 opened #481 "memory is not enough when infer analyze a IOS project"
when i use infer to check a ios project which size is 178MB , infer analyse the problem takes 30Gb memory  ,so it is interrupted  with exit code (  macbook pro with 8G rom ),is there anybody who can tell me how to analyse such big project?

[2016-10-17 13:36] jberdine commented on #481
We are currently working to reduce memory consumption.  Currently there is not much in the way of configuration options to reduce memory consumption.  One possible option is to set `skip-clang-analysis-in-path` in .inferconfig or on the command line to avoid analyzing particularly problematic code.  Identifying this code is somewhat roundabout, as you need to, while infer is running, observe which

[2016-10-17 20:35] zhenyu-zhou commented on #476
@jberdine  Thank you! I spend a while to understand the concept here and you are right, it is very different from the definition in my mind. Sorry for my misunderstanding!

[2016-10-18 10:56] martinoluca commented on #480
Hello @zhangying19871987,
I think the problem here is that your compilation process is generating llvm-bitcode, which we don't support.
Try disabling it via xcode, or by adding `ENABLE_BITCODE=NO` to your xcodebuild command.

Thanks!

[2016-10-20 03:13] boyue opened #482 "Java Resource_leak issue"
@Override
    protected IMByteSendStream encodeChildHeader() throws IOException {

[code]

infer  say this have Reaource_leak ，but I dnot know how to fix,anybody can help me ?

[2016-10-20 03:19] boyue opened #483 "Can't install infer 0.9.3 in linux"
After i download infer-linux64-v0.9.3.tar.xz and tar it

I got the following error when I run ./build-infer.sh

[code]

How to fix it?

[2016-10-20 07:39] xennygrimmato commented on #482
Hey @boyue !
In this line:
`IMByteSendStream sendStream = new IMByteSendStream(new ByteArrayOutputStream());`
the `ByteArrayOutputStream()` resource has been passed to `IMByteSendStream` and has not been closed. I think that is the reason for the leak.

[2016-10-20 08:30] adolf2v opened #484 "Build failed-0.9.3-clang: error: linker command failed with exit code 1 (use -v to see invocation)"
ld: warning: directory not found for option '-L/Users/xiaoqiang/english/EnglishReading/Tools/Agora/Crasheye'
ld: warning: directory not found for option '-F/Users/xiaoqiang/english/EnglishReading/ThirdLib'
ld: library not found for -lAFNetworking
ld: warning: directory not found for option '-L/Users/xiaoqiang/english/EnglishReading/Tools/Agora/Crasheye'
ld: warning: directory not found for option

[2016-10-20 10:22] jvillard commented on #483
The error is not shown in the part of the logs that you pasted. Can you paste the full output?

[2016-10-20 10:25] jvillard commented on #484
Because infer inserts itself instead of the compiler, sometimes you need to disable linking for the build system to be happy: `LD=/bin/true infer ...`. Let me know if this helps.

[2016-10-20 10:39] boyue commented on #482
protected IMByteSendStream encodeChildHeader()  {

        IMByteSendStream sendStream = null;
        ByteArrayOutputStream byteArrayOutputStream = new ByteArrayOutputStream();
        try {
            sendStream = new IMByteSendStream(byteArrayOutputStream);
            // 进行写流
            sendStream.writeByte(flag);
            sendStream.writeShort(version);
            sendStream.writeShort(

[2016-10-20 10:43] xennygrimmato commented on #482
Can you try closing both resources in the `finally` block?

[2016-10-20 14:55] peterogithub commented on #482
Can you tell us what the error message was? Could it be that there was a potential exception in the code? Resource leaks sometimes happen when close() is not done on an exception path.

[2016-10-20 14:57] peterogithub commented on #482
Also, this link explains some common issues and how to resolve them.
   http://fbinfer.com/docs/infer-bug-types.html#RESOURCE_LEAK

[2016-10-21 01:38] adolf2v commented on #484
Im OSX, use /usr/bin/ture instead of /bin/true,It's very very useful, thanks a lot .

[2016-10-21 03:37] zhangying19871987 opened #485 "Analysis ios app failed"
the errors as follows:

F.................................F..F............F......................................................F............F..............................F..............................................................................F..........................................................................................................................F........................

[2016-10-21 20:16] kanersan commented on #109
I think we need better documentation overall... It is so hard to use and configure infer without spending so much time on it. The tool is supposed to help us write better code, not be another burden on developers to deal with?

[2016-10-24 08:35] martinoluca commented on #485
Hello @zhangying19871987,
could you please provide instructions on how to reproduce this issue?

Thanks!

[2016-10-24 14:03] h32 commented on #467
Same problem, any thoughts how to fix it?

[2016-10-25 13:51] GeekMin opened #486 "[crash] InferAnalyze Failed when analyzing my ios project"
Today, I use infer to analyze our IOS project:
Capture part is OK, but analyze part is failed:

log here:
[INFO] Capture phrase was successful
[INFO] Starting analysis
[ERROR] Failure during run_makefile, original command was
[u'infer', u'-g', u'infer', u'--', u'javac']

Crash strace:
make: **\* [cl2558] Error 137
make: Target `default' not remade because of errors.
Traceback (most recent call las

[2016-10-25 18:40] kanersan opened #487 "Storyboard compilation fails on Xcode8.0"
I have installed infer version 0.9.3 which is supposed to support Xcode8.0 however when I created a single view project (nothing other than 1 viewcontroller and Main.storyboard) infer fails at the CompileStoryboard step. Attched is the build log.

[InferBuildLog.rtf.zip](https://github.com/facebook/infer/files/551478/InferBuildLog.rtf.zip)

PS. Project is called MultipleFrameworks because I was go

[2016-10-25 19:28] kanersan commented on #468
I had the same issue also, I had to manually install 0.9.3 which wasn't as easy as using homebrew. Though after upgrading to 0.9.3 Xcode8.0 storyboards still don't compile. Burn!