[2016-10-26 08:53] dulmarod commented on #487
Does the build command succeed on its own? i.e. xcodebuild -target MultipleFrameworks -sdk iphonesimulator

[2016-10-26 10:53] adolf2v commented on #53
In my case , ant debug.
the following is the available targets.

     [echo]    **clean:**     Removes output files created by other targets.
                               This calls the same target on all dependent projects.
                                Use 'ant nodeps clean' to only clean the local project
     [echo]    **debug:**     Builds the application and signs it with a debug key.

[2016-10-26 13:42] kanersan commented on #487
Oh wow it seems that's failing too actually but the project runs fine when I run it on Xcode8.0.
The log I get when I run "xcodebuild -target MultipleFrameworks -sdk iphonesimulator":

Build settings from command line:
    SDKROOT = iphonesimulator9.3

2016-10-26 09:41:26.903 xcodebuild[59756:5160956] CoreSimulator is attempting to unload a stale CoreSimulatorService job.  Detected Xcode.app reloc

[2016-10-26 13:47] dulmarod commented on #487
I don't know what's the correct build command.
If you are using CocoaPods, you may need to use xcodebuild -workspace MultipleFrameworks.xcworkspace instead of target.

[2016-10-26 13:49] kanersan commented on #487
No cocoapods in this project. There is no workspace either, its just a single view template from Xcode. That's why I'm surprised it's failing to build.

[2016-10-26 13:58] dulmarod commented on #487
I would recommend trying to Google how to compile an ios app in the command line with xcode8 and your settings.

[2016-10-26 17:15] kanersan commented on #487
Right, thanks for pointing me in the right direction. It wasn't my build settings or the project itself. I had Xcode 7 on my machine as well as Xcode 8. My terminal/command line was using Xcode 7 for building as that was the registered Xcode on the system. I deleted old xcode and ran this in command line: "sudo xcode-select --switch /Applications/Xcode8.0.app" Then command line xcodebuild started

[2016-10-27 09:41] boyue commented on #483
➜  infer-linux64-v0.9.3 sudo ./build-infer.sh
initializing opam...
[WARNING] Running as root is not recommended
OPAM has already been initialized.
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

1. To configure OPAM in the current shell session, you need to run:

      eval `opam config env`

2. To correctly configure OPAM for subsequent use, add the following
   lin

[2016-10-27 09:42] ferasOS opened #489 "infer now only scanning one file in Xcode project, was working fine yesterday"
HI,

Basically I ran infer to analyse my Xcode project yesterday and it came up with over 100 issues. I have dealt with some of the issues and to check I ran a xcodecuild clean and then tried running infer in a similar way. However now it analysis 1 file and says no issues. I am confused on why this has happened?

Thanks in advance,

Feras A.

[2016-10-27 10:07] akotulski commented on #483
@jvillard That looks like unicode problem. Extracted from the log above:
[code]

[2016-10-27 10:45] jvillard commented on #483
`UTF-8` is not a valid locale name. And for some reason Python raises `ValueError` in this case but we only catch `locale.Error`. I suppose we can change infer to also catch `ValueError` here.

In the meantime @boyue you can try `export LC_CTYPE=en_GB.UTF-8` or whatever valid locale before compiling and running infer. Let me know if it helps!

[2016-10-27 11:14] dulmarod commented on #487
Glad you could fix your problem. Will close this one, let us know if you have another problem.

[2016-10-27 11:14] #487 closed

[2016-10-27 11:16] dulmarod commented on #489
Could you provide more details?
1. Is the version of Infer the same on both days?
2. Command you ran on both occasions

Doing xcodebuild clean should cause infer to analyze everything again, so this is not expected.

[2016-10-27 11:38] ferasOS commented on #489
the versions are the same and the command is:
infer -- xcodebuild -workspace OneScream.xcworkspace -scheme OneScream

[2016-10-27 13:39] dulmarod commented on #489
Can you check how many files are getting compiled with
 xcodebuild -workspace OneScream.xcworkspace -scheme OneScream

I think xcpretty can help with a nicer log.

[2016-10-27 16:21] ferasOS commented on #489
Ferass-MacBook-Pro:onescream-ios-app_sourcetree feras$ xcodebuild -workspace OneScream.xcworkspace -scheme OneScream | xcpretty

2016-10-27 17:19:52.063 xcodebuild[6777:780301] [MT] PluginLoading: Required plug-in compatibility UUID 8A66E736-A720-4B3C-92F1-33D9962C69DF for plug-in at path

'~/Library/Application Support/Developer/Shared/Xcode/Plug-ins/XInfer.xcplugin' not present in DVTPlugInCompa

[2016-10-28 02:48] truebit opened #491 ""not found" error when executing `infer -- gradle build` in Jenkins with infer built from source"
On a Debian Wheezy, I built infer-0.9.3 as per the guide [Install from source](fbinfer.com/docs/getting-started.html). and I also put gradle 2.14.1 in `$PATH`.

Now I could run `infer -- gradle build` in bash shell. But when I put this command in Jenkins shell, it would throw error `infer -- gradle: not found`.

I also tried put `eval `opam config env`` before infer, but with no luck. log as below

[2016-10-28 06:20] rgrig opened #492 "error statement"
**Question:** I'd like to be able to insert `assert false` in the code, and have Infer tell me if it thinks that that statement is reachable. _Is this possible?_

**Some extra info:**

Unless I'm crazy, which is not unlikely, I recall that using `while(true){}` worked (in the sense that there was a warning when such a piece of code was reachable). But now (08d4465e1dbde345fd96a2df13640388ff20b85f)

[2016-10-28 10:45] sblackshear commented on #491
Can't tell for sure from the paste, but it looks like you may be running `infer--gradle` rather than `infer -- gradle` (note the spaces around the `--`).

If that is not the issue, could you please paste the output of `infer -v` and `gradle -v`?

[2016-10-28 10:48] sblackshear commented on #486
Can you share the command that you are using to run Infer on your project?

[2016-10-28 10:57] sblackshear commented on #475
Will this program compile independently of Infer? In your small example, there's a spelling mistake (`refrence` vs `reference`). When I fix this mistake, the program works with both Infer and `javac`.

[2016-10-28 10:57] #475 closed

[2016-10-28 11:01] sblackshear commented on #479
Have tried to repro with the example below, but I don't see any warnings. Is there a similar example where we'll see the FP?

[code]

[2016-10-28 11:29] truebit commented on #491
there was spaces around `--`. added `-v`, but the message is the same:

[2016-10-28 11:59] sblackshear commented on #491
It looks like the Infer executable may not be installed -- can you paste the output of just `infer -v` (no gradle command)?

[2016-10-28 12:29] jvillard commented on #491
This looks suspiciously as if you'd typed an unbreakable space instead of a regular space between `infer` and `-v`. Then the shell would look for a command called "infer -v".

[2016-10-31 00:40] technion opened #493 "Possible false positive on Argon2"
Hi,

I've been running infer against this file:

https://github.com/P-H-C/phc-winner-argon2/blob/1f8e9fdef0558ae539e0aa92abeac24ecac4264f/src/argon2.c

I've currently seeing this alert, which I'm having difficulty confirming:

[code]

decode_string doesn't seem to touch ctx.out except as a destination, and valgrind can't find a leak anywhere.

Infer has found genuine bugs in Argon2 previously, and

[2016-10-31 03:37] truebit commented on #491
Today I removed the command and enter again. It works now

[2016-10-31 03:37] #491 closed

[2016-10-31 10:46] eXhausted commented on #467
same problem (macOS 10.12)

[2016-10-31 10:47] ddino commented on #493
After a quick check, it looks like a FP.
Do you have the code for decode_string?

[2016-10-31 10:57] technion commented on #493
@ddino Thanks for looking at this.

The code for decode_string is in here:

https://github.com/P-H-C/phc-winner-argon2/blob/1f8e9fdef0558ae539e0aa92abeac24ecac4264f/src/encoding.c

[2016-10-31 13:15] ddino commented on #493
so I had a look to decode_string. So I'm now more convinced that this is a FP.  But I still don't understand why infer is reporting it

[2016-11-01 23:19] loyaltyarm commented on #467
I'm getting this error on 10.11.5 as well, with some additional output below:

[code]

[2016-11-03 02:41] ccl0326 commented on #481
we also have this problem.

[2016-11-03 09:47] boyue commented on #483
Unfortunately,it dont work

I add
`export LANG="en_US.UTF-8"
export LC_COLLATE="en_US.UTF-8"
export LC_CTYPE="en_US.UTF-8"
export LC_MESSAGES="en_US.UTF-8"
export LC_MONETARY="en_US.UTF-8"
export LC_NUMERIC="en_US.UTF-8"
export LC_TIME="en_US.UTF-8"
export LC_ALL=
`
into the bash_profile

then test with command
`python -c 'import locale; print(locale.getdefaultlocale());'`

got ('en_US', 'UTF-8')

[2016-11-04 08:00] GeekMin commented on #486
infer  -- xcodebuild -target dailybuildipa -configuration DailyBuild -sdk iphonesimulator CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

But run twice.. the problem is missing...

[2016-11-04 10:29] jvillard commented on #481
Can you share the command you use to run infer? Some of them are not meant to be passed on large projects, eg `--debug`.

[2016-11-04 10:33] jvillard commented on #483
Does `LC_CTYPE=en_US.UTF-8 make` work for you?

Can you run `./infer/bin/infer -- clang -c examples/hello.c` from the root of the infer repo in a shell with the settings that you pasted, and paste the resulting `infer-out/toplevel.log`?

[2016-11-04 10:55] FALLENANGEL74 commented on #34
+1

[2016-11-04 10:55] FALLENANGEL74 commented on #34
+1

[2016-11-04 14:26] GeekMin opened #494 "How can i get the callgraph output ..."
Like Java, If I want to get the call graph information, I just need to use the infer debug option to accomplish this...But the final result's format is not what i want...
Like dot..or .cg..., here maybe I want the output like this format:

A:AA  *** A:AB
that means method AA belongs to A calls method AB belongs to A... something about this format..

For Objective-C or C/C++, the same similar forma

[2016-11-04 14:34] GeekMin commented on #375
@hongzimao
Here, If i want to get human readable format, have you found any solutions..~?
(like xml format.. or others that is easier to format.. to assist something, like do regression test..
hmmm, you see, if i get the xml-like format, I think i really get the raw data..)

[2016-11-04 14:52] GeekMin commented on #494
hmmm, for Java, maybe I can use the soot, wala... framework etc.
but for Objective-C, I need to do that based on the LLVM from scratch

Perfect, now, by infer, I can get the C/C++, Java, Objective-C call-graph..
Here, is it sound or precise enough? Anybody here can give more information about this..
(the call-graph is sound or precise enough.. considering what or not)

[2016-11-05 15:27] sblackshear commented on #494
Infer compute the call graph in an on-demand fashion depending on the analysis it is running. This means that there's currently no way to dump the entire call graph. Can you explain what analysis you want to use the call graph for? I can try to help you figure out how to do this with Infer.

[2016-11-05 15:29] sblackshear commented on #375
Have you taken a look at the debug [HTML](http://fbinfer.com/docs/advanced-features.html) that is produced when running using the `--debug` option? This gives a very readable representation of the IR, especially because you see the IR next to the source code that produced it.

[2016-11-05 15:34] sblackshear commented on #492
This is possible, but only in a somewhat hacky way at the moment. You can use `Object o = null; o.toString()` as an alias for `assert false`, and Infer will report a null dereference on `o` only if it thinks that the dereference is reachable.

[2016-11-05 15:42] rgrig commented on #492
If I say

[code]

I get a warning no matter what argument I actually send D.f. I'd like to get a warning only if I call with the argument being `true`. The `null` trick you suggest is actually what I was trying before @ddino showed me that `while(true){}` does what I want. But it stopped working in the meantime ...

[2016-11-05 15:53] sblackshear commented on #492
Ah, good point. My original suggestion will not work so well for what you want. But what about `f(Object o) { o.toString(); }` with `f(null)` as an alias for `assert false`?

[2016-11-05 16:08] rgrig commented on #492
Hmm, it still doesn't seem to be compositional. Here's a function: `void f(Object x, Object y) { /* ??? */ }`. What do I put in there to force infer to find a (single) triple with the precondition x!=y and complain later only if `f` is used in a way for which that triple is not enough? This worked: `void f(Object x, Object y) {while(x==y);}`.

Here's how I tried to use your second proposal (so you

[2016-11-05 16:56] sblackshear commented on #492
Thanks, that does indeed clear things up!

I think that the triple you want is what can/will inferred for the on-paper version of the bi-abduction algorithm, but the Infer implementation chooses to report a warning in this case for pragmatic reasons (assuming that all branches are reachable in some context lets us report more bugs without causing too many false positives).

If I'm right about this

[2016-11-05 17:18] cristianoc commented on #492
Notice that Infer works bottom-up, so if `f` calls `g` then Infer's decision on whether reporting on `g` will not be affected by how `f` calls it.
For example, If `f` contains ```if (a) {Object o = null; o.toString();}``` then the error is reported in `f` no matter how it's called.
If `f` contains instead ```if (a) {o.toString();}``` then nothing is reported in `f` but will be reported in `g` if i

[2016-11-05 17:26] rgrig commented on #492
Bottom up "reachability" is what I want. I want to cook up a procedure with a given pre (say, `x!=y`) and then have infer say when that procedure is called in a situation where the pre doesn't hold. The issue is convincing Infer to use the precondition I want. The precondition I want will always be a (Java, boolean) expression over the arguments.

[2016-11-05 17:28] rgrig commented on #492
So, that's OK in principle. But, why is there an error reported in `f` in the `T2` example? Clearly it can continue propagating up the pre.

[2016-11-05 18:12] GeekMin commented on #494
hmmm... My thought is like this:  If I want to do inter-procedural analysis, I need to compute the call graph for every analyzed file..(.java/.c/.cpp/.m etc.). If I can get the call-graph for every single file... then I can construct the whole graph...(To some degree, here, I just want one call graph for one analyzed file(that joined into the compilation procedure) Maybe the final output is like t

[2016-11-05 20:08] sblackshear commented on #494
I think I still don't understand, but let me try to explain how we envision others using Infer to create new analyses. The mental model of Infer-based checkers is that you specify:
(1) how to compute an analysis summary for a single method
(2) when errors should be reported

and then Infer applies (1) and (2) to all methods, stitches the results together, and gives you the complete list of errors

[2016-11-06 02:15] GeekMin commented on #494
Maybe I can describe the problem like this：
How can I deserialize the *.cg file from infer-output/capture/*/*.cg into readable content..
(Like Why I can use javap to see the classfile..because the classfile is organized by some jvm specifications..)
So the same to Infer, If I open the *.cg file directly, It will be unreadable..
Here maybe I should learn Ocaml and look inside the source code..?

[2016-11-06 07:22] rgrig commented on #492
I dug a bit to make sure I'm not crazy. This is the file I was actually looking at some time ago (with @ddino):

[code]

This used to give a warning on line marked with HERE. It stopped giving a warning at commit 3fb8801b6c8672ad0b7819aeda74d1feb4325be7 (by @cristianoc).

In any case, even if the parent commit gives a warning on T3@HERE (which I want!), it does not give a warning on the following:

[2016-11-06 07:25] rgrig commented on #492
Oh, maybe it's because `G.go_call` has some specs, while `T2.f` doesn't.

[2016-11-06 15:58] ktsaou opened #495 "False positives"
Hi,

I tried to analyze https://github.com/firehol/netdata with infer.

I get 2 false positives:

[code]

The first is false positive, since `url_decode_r()` returns the supplied `buf`: https://github.com/firehol/netdata/blob/2fffb74cab6bfe7d6b8e212afcfaf8f74113a07f/src/url.c#L76

The second is false positive, since `tv_in` is a static member of `w`: https://github.com/firehol/netdata/blob/2fffb74

[2016-11-07 11:22] master-q commented on #474
I found it! The latest Infer correctly catches the invariant violation!

https://gist.github.com/master-q/e0f2184b2a441da114b304610160ba05#file-infer_version_v0-9-4-e757d92-txt-L2

But, why doesn't old Infer catch it? Does Infer sometimes miss-understand such invariant?l

[2016-11-07 11:30] #474 closed

[2016-11-07 11:31] master-q commented on #474
In any case, my problem is fixed by your effort. This issue should be closed. Thanks.

[2016-11-07 12:50] master-q opened #496 "False positive on Infer and small struct."
I have following code:

https://gist.github.com/master-q/8d24f66a3a3be66440fc2713982af6fb#file-check_foo_eats_null-txt-L1

that occurs error on Infer, but it doesn't really have any problems.
And also I changed the code as following:

https://gist.github.com/master-q/8d24f66a3a3be66440fc2713982af6fb#file-check_foo_eats_nonnull-txt-L1

that have problem at `__infer_assert` line.

I found difference

[2016-11-08 03:15] persenlee commented on #467
I got same problem.
something got  wrong with build-infer.sh when call opam
but I dont know where is build-infer.sh,may be I can change script manually

[2016-11-08 09:11] jvillard commented on #467
@self-creative can you please open a separate issue for your problem when compiling from source?

Others: we should have a new Homebrew release by next week, stay tuned.

[2016-11-08 21:51] JeffreyLeeSpokeo commented on #186
I know that last year jeremy says that there is no integration with the IDE. is that still the case now?

[2016-11-08 23:54] master-q opened #497 "Function `g_realloc` causes false positive"
Following code causes false positive:

https://github.com/master-q/practice-infer/tree/e7bf49199c130bf670f4a91f99a6fd62b9334176/g_malloc

The result is following:

[code]

My Infer version is `v0.9.4-e757d92`.

[2016-11-09 00:08] master-q opened #498 "Function `setlocale` in libc can eat NULL pointer with 2nd argument"
Function `setlocale` in libc can eat NULL pointer with 2nd argument. Please see following example:

https://github.com/master-q/practice-infer/tree/3b462d7da986e5532c2f3c26859ffc4b4b020104/setlocale

The example shows following result:

[code]

But the code is correct.

I think the `setlocale` model is bad:

[code]

[2016-11-09 04:09] master-q opened #499 "False positive while code return wrapped pointer"
False positive while code return wrapped pointer. See following code:

https://github.com/master-q/practice-infer/tree/b0d810f3a326dda8d32ea0770e577a434b14635f/wrap

The code causes following result on Infer:

[code]

But the `new_p` is freed by `delete()` function.

[2016-11-09 09:21] jvillard commented on #497
Thanks for the report. These look like false positives indeed. Could you paste the result of

[code]

so we can see why infer thinks that way? It looks like we already model the fact that these functions should always succeed if the size is non-zero: https://github.com/facebook/infer/blob/16010adab4c43114f1ff5f3a01ff634376dbb9ee/infer/models/c/src/glib.c#L18

[2016-11-09 10:52] master-q commented on #497
Is this?

[code]

[2016-11-10 10:05] trulex opened #500 "NPE not detected"
Analyze the following class:
[code]

NPE is not detected. If you execute the program it will throw java.lang.NullPointerException.

[2016-11-10 12:33] trulex opened #501 "Annotating method with @NonNull"
Infer is reporting false positives for some methods that never return null. I tried annotating them with `android.support.annotation.NonNull`, but it doesn't help. Is there any way I can tell Infer that some method will always return non null value? I'm working on creating an example for reproducing the false positive.

[2016-11-10 18:38] sblackshear commented on #500
This is a known issue because Infer doesn't model invocation of class initializers (where the implicit assignment to `null` happens). Modeling class initializers correctly is tricky and can cause noise, so we do not bother with it.

For fully exhaustive checking of NPE related issues that will detect this case, I recommend you give Eradicate (`infer -a eradicate`) a try.

[2016-11-11 01:17] sblackshear commented on #501
You can use `@SuppressWarnings("infer")` to silence the warning, but there's no annotation that says "I always return a non-`null` value". But Infer should be normally be pretty good at determining when this is true. Interested to see your repro example if you can come up with a small one.

[2016-11-11 10:50] ddino commented on #497
hi,

I had a look to the problem.
The problem is that infer makes at some point a wrong assumption that 10*sizeof(int) could be zero.
This implies that g_realloc will return zero, and at line 8 we dereference null.

Given this problem, the functon set_foo won't get a specification and when it is called at line 10,
infer doesn't know what set_foo does, and in particular that it free f->p. So it wil

[2016-11-13 08:37] rgrig commented on #492
Last time I forgot to say that one needs `-nf` to see the warning with older versions. Also, I misidentified the culprit, probably by messing up some `git bisect` command. The issue appeared in a9f1d21dd210f41c5632cff23ddce06361bd6d8c. I'll put a comment on the commit to ask if the change was intended. (I hope not.)

Here's a small change that brings back the missing warnings:
[m.zip](https://gith

[2016-11-14 11:36] rgrig commented on #492
One can get back the warnings with `--debug-exceptions`. I'm closing.

[2016-11-14 11:36] #492 closed

[2016-11-14 19:45] kageiit opened #503 "Updates to .inferconfig do not invalidate cached infer results when running with buck"
Changes to `.inferconfig` do not invalidate the buck cache if no other changes to source are made.

infer should be able to add `.inferconfig` as a src to every rule to make sure the invalidation happens automatically. I believe it already adds the generated python script as a source to ensure such invalidation

[2016-11-15 05:34] kageiit opened #504 "Infer does not respect `javac_jar` in .buckconfig"
Rules that set `javac_jar` or if it is configured in `.buckconfig`, do not invalidate the buck cache for infer as it always uses a javac from path. This leads to different build behavior in buck and infer and creates cache key duplication for the network cache. Can we support running on top of a `javac_jar` that buck supplies in it's config?

[2016-11-15 09:58] boyue commented on #483
I can use the infer command to check my code now after I set LC_CTYPE=en_US.UTF-8 ,thank you

When I run ./build-infer.sh i got
make[4]: *** [c_src/infer_builtins_cxx.o] Error 1
make[4]: *** Waiting for unfinished jobs....clang -c -w infer_builtins.c -o infer_builtins.o

make[4]: *** [c_src/glib_cxx.o] Error 1
clang -c -w libc_basic.c -o libc_basic.o
make[4]: *** [glib.o] Error 1
make[4]: *** Wait

[2016-11-15 16:21] bmihaescu opened #505 "Can not update to version 0.9.3"
Hi,

After following the steps from here https://github.com/facebook/infer/blob/master/INSTALL.md#pre-compiled-versions i'm still unsable to install the new version of infer.
:/# opam --version
1.2.2
I see that on the `pwd`/infer/bin is only:
/# ll /opt/infer/infer/bin/
total 12
drwxr-xr-x 2 900 900 4096 Aug 23 11:16 ./
drwxr-xr-x 9 900 900 4096 Aug 23 11:16 ../
-rwxr-xr-x 1 900 900  881 Aug 23 11

[2016-11-15 17:33] #483 closed

[2016-11-15 18:14] jvillard commented on #466
This is fixed in master, closing.

[2016-11-15 18:14] #466 closed

[2016-11-15 18:15] jvillard commented on #498
Thanks for the report, it does look like the model is wrong here.

[2016-11-15 18:31] jvillard commented on #505
Where did you get infer from and what steps did you follow to install it?

[2016-11-15 20:53] jeremydubreil commented on #504
I am not sure I understand. Using Infer will create infer specific cache entires anyway that should be separated from the cache entries of the normal build.

Infer can use the `javac_jar` to compile the code by adding the option:

  "java-jar-compiler":
    "path/to/javac.jar"

in the `.inferconfig` file.

[2016-11-15 21:03] jeremydubreil commented on #503
This is indeed a problem. Buck has support for decorating the Java and Android targets and make them depends on a target like:
[code]

[2016-11-16 01:02] kageiit commented on #504
Was not aware of that option. Because there are two configuration options one in `.buckconfig` and one in `.inferconfig

[2016-11-16 01:03] kageiit commented on #503
can the infer.py script not wrap the existing rules dynamically?

[2016-11-16 06:05] boyue opened #506 "Fatal error: exception Out of memory"
I have a problem when i used 0.9.3 to analyze thouands of java files ,as below .
but it's ok when i used 0.8.1 to do the same thing before.

.................................F....F..................................................................F.......................................F.........................................F.......................................................................

[2016-11-16 07:44] bmihaescu commented on #505
I'm getting it from here: https://github.com/facebook/infer/releases/download/v0.9.3/infer-linux64-v0.9.3.tar.xz
And the steps are :
sudo add-apt-repository ppa:ubuntu-toolchain-r/test
sudo apt-get update
sudo apt-get upgrade
sudo apt-get install -y \
  autoconf \
  automake \
  build-essential \
  g++-4.8 \
  gcc-4.8 \
  git \
  libgmp-dev \
  libmpc-dev \
  libmpfr-dev \
  m4 \
  openjdk-7-jdk \

[2016-11-16 08:00] bmihaescu commented on #505
I think the sources are not compete because there is no `infer` under `infer/infer/bin`.

[2016-11-16 09:38] jvillard commented on #506
Hi, can you please paste the full command you are using to run infer? How much RAM do you have?

We've made improvements in that area since 0.9.3, would you mind trying out the latest master and see if memory consumption is still an issue?

[2016-11-16 09:43] jvillard commented on #505
`infer/bin/infer` is a product of `./build-infer.sh`. Can you please paste the full output of `./build-infer.sh` so we can see what went wrong?

[2016-11-16 11:18] #498 closed

[2016-11-16 13:00] bmihaescu commented on #505
./build-infer.sh
initializing opam...
[WARNING] Running as root is not recommended
OPAM has already been initialized.
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

1. To configure OPAM in the current shell session, you need to run:

      eval `opam config env`

2. To correctly configure OPAM for subsequent use, add the following
   line to your profile file (for i

[2016-11-16 13:03] bmihaescu commented on #505
can you add the already compiled code to the archive ?
Like it is on versions 0.9.0 and 0.9.1 ?

[2016-11-16 13:05] iceheart82 commented on #481
infer -- xcodebuild -project xx.xcodeproj -scheme xx -configuration Debug -sdk iphonesimulator -arch "i386" ONLY_ACTIVE_ARCH=NO VALID_ARCHS="i386 x86_64" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO >> result1012.txt

[2016-11-16 13:09] iceheart82 commented on #481
at last , i delete the file in the directory of '/spec' ,then run infer again to get the final result. 3Q @ jberdine

[2016-11-16 13:25] jvillard commented on #505
That's the issue. Your system doesn't supply the version of glibc++ needed by the precompiled plugin that we provide. You can either install that version on your system (probably by upgrading your version of gcc) or recompile clang and its plugin yourself by following the instructions to install infer from source in INSTALL.md.

What system are you using?

Note that none of our releases include a

[2016-11-16 14:57] bmihaescu commented on #505
Ubuntu 14.04.
Why the archive for 0.9.0 include `infer/bin/infer` and this one is not including it anymore ?
https://github.com/facebook/infer/releases/download/v0.9.0/infer-linux64-v0.9.0.tar.xz

[2016-11-16 15:06] jvillard commented on #505
`infer/bin/infer` used to be a Python script that called the analyzer, the plugin, etc. While the toplevel `infer` executable could be shipped as-is, everything else still needed to be compiled for `infer` to work. So the situation hasn't changed since 0.9.0, except for the fact that the toplevel `infer` command is now also written in OCaml and so needs compiling.

Regarding your issue, I think it

[2016-11-17 00:02] jeremydubreil commented on #503
I don't know. Is there a buck command that can do this ?

[2016-11-17 05:21] kageiit commented on #503
I dont think there is a buck command. But basically the infer python wrapper creates rules on the fly so it could also add `.inferconfig` as a source so it can invalidate the cache

[2016-11-17 09:32] bmihaescu commented on #505
Do you consider to create a .deb package with it in the future ?

[2016-11-18 10:32] zierka commented on #34
+1

[2016-11-18 20:05] sblackshear commented on #314
The latest release https://github.com/facebook/infer/commit/a2f9ce3f23da3c8ddd8c11d0e84852d7d009711e has preliminary Java 8 support, and the changes will be in homebrew once https://github.com/Homebrew/homebrew-core/pull/7057 is accepted.

We should no longer crash on Java 8 code, but we may miss some bugs in code that uses `invokedynamic`.

Closing this issue for now, feel free to open new ones w

[2016-11-18 20:05] #314 closed

[2016-11-19 00:11] bsameh commented on #468
Any updates on this? There doesn't seem to be a due date for 0.9.4, which is supposed to include a fix for the issue with the Homebrew formula.

[2016-11-19 00:15] jvillard commented on #468
The new release is published, and there's a PR for the Homebrew formula https://github.com/Homebrew/homebrew-core/pull/7057

[2016-11-19 00:41] bsameh commented on #468
Great news! 👍

[2016-11-19 04:24] kanersan commented on #468
Nice. I fixed my issue actually. After installing Xcode 8.0 next to 7.0, my terminal still thought 7.0 was default for running Xcode commands which also happen while running infer. So that's why the storyboards were not compiling. As soon as I made Xcode 8.0 the system default, everything worked fine with Infer 0.9.3.

[2016-11-19 14:35] sencho commented on #467
Same issue,but i can install 0.9.3 successfully by manual installaction.

[2016-11-20 16:16] carlonzo opened #507 "False negative with NPE"
Hi all,

I received a NPE on my app. analysing the code it look like it was a very stupid piece of code I wrote. I was interesting in knowing why Infer did not notice it for me even if it looked like an obvious NPE. here is a simplified example that Infer 0.9.4 is not able to detect. my question may be related to this one https://github.com/facebook/infer/issues/500 but I'll leave that to you (`in

[2016-11-20 16:19] carlonzo commented on #507
@martinoluca here is the NPE I was mentioning to you at the droidcon

[2016-11-21 11:45] dulmarod commented on #489
Hi, we have a new release now, 0.9.4, that provides better integration with xcodebuild, using xcpretty. Check it out, it may solve your problem.

[2016-11-21 11:45] dulmarod commented on #485
Hi, we have a new release now, 0.9.4, that provides better integration with xcodebuild, using xcpretty. Check it out, it may solve your problem.

[2016-11-21 11:45] dulmarod commented on #480
Hi, we have a new release now, 0.9.4, that provides better integration with xcodebuild, using xcpretty. Check it out, it may solve your problem.

[2016-11-21 11:46] dulmarod commented on #477
Hi, we have a new release now, 0.9.4, that provides better integration with xcodebuild, using xcpretty. Check it out, it may solve your problem.

[2016-11-22 16:11] zhuowei opened #508 "InferClang++ missing in 0.9.4 Homebrew release"
After upgrading Infer to version 0.9.4 through Homebrew on macOS Sierra 10.12.1, I'm getting this message when running Infer:

`
/usr/local/Cellar/infer/0.9.4/lib/infer/infer/lib/python/inferlib/../../../lib/xcode_wrappers/clang++: line 8: /usr/local/Cellar/infer/0.9.4/lib/infer/infer/lib/xcode_wrappers/../../bin/InferClang++: No such file or directory`

`Command /usr/local/Cellar/infer/0.9.4/lib/

[2016-11-22 16:19] dulmarod commented on #508
Thanks for reporting, we'll look into that. Could you tell us more about what kind of project you were trying to analyze, and the command you used if possible?

[2016-11-22 16:29] akotulski commented on #508
`InferClang` should be created during build process of infer, so it's ok if it's not in the archive. Could you try removing and installing infer? Maybe there is something wrong with the upgrade process.
`brew reinstall infer`

[2016-11-22 16:37] jberdine commented on #508
As a temporary workaround, you can create a symbolic link named InferClang++ in the same directory as InferClang that points to InferClang.

[2016-11-22 17:00] akotulski commented on #508
@zhuowei I reproduced issue on my computer and I'm looking into the fix.
For now you can follow @jberdine suggestion

[2016-11-22 18:38] akotulski commented on #508
I pushed the fix in https://github.com/facebook/infer/commit/f0bb23bc35bb69ba045052cbc7a24cd38e563c09 I'll keep the issue open until we have fixed release

[2016-11-23 13:55] cristianoc commented on #507
Infer filters out NPEs based on a heuristic.
There's a debugging option --no-filtering to turn off the heuristic.

[2016-11-23 14:01] carlonzo commented on #507
ok thanks. but why if I add the `if` block, the NPE is filtered? if I remove it (leaving the `text.length()`) the NPE is non filtered and shows the issues.

[2016-11-23 14:12] cristianoc commented on #507
With the `if` the report is on `test1` and `test2`, while without the `if` the report is on the caller: the constructor `Infer()`. The heuristics tend not to report NPEs when the blame is on the parameter of the function.

[2016-11-23 14:27] carlonzo commented on #507
thanks for your answers even still do not understand why on `test2` the `if` statement is filtering the report. I get that the report is on `test2` but I would have expected Infer to assume that the value could be null at that point. even more in `test1` as we assert that in that block the value _is_ null. anyway thanks for your time.

[2016-11-24 10:56] akotulski commented on #508
Fixed version has been pushed to homebrew and this problem shouldn't happen anymore

[2016-11-24 10:56] #508 closed

[2016-11-25 07:21] keigoi opened #511 "Some arrays are abstracted too much before a loop"
The following code will result in a false positive:
[code]

The captured log says that SIL's instruction APPLY_ABSTRACTION just before the loop abstracts (almost) all array content, and it causes FP above. If I move the array initialization into the loop, FP will disappear.

And I took a slightly detailed look into it. It seems that APPLY_ABSTRACTION abstracts all the existing arrays at the curren

[2016-11-25 22:28] keigoi commented on #499
Here Infer could not infer specs for wrap and create since the calls g_malloc(sizeof(...)) are causing PRECONDITION_NOT_MET. Maybe sizeof(...) is evaluated to 0, as mentioned by @ddino in #497. Replacing g_malloc with malloc removed those FPs (see code below).

[code]

[2016-11-27 09:23] KihongHeo opened #512 "Infer 0.9.4 does not work with preprocessed C code"
Hi Infer Team,

0.9.4 does not work on some programs that can be successfully analyzed by 0.9.3.
Below, I put the messages.

--
$ ~/project/infer-linux64-v0.9.3/infer/bin/infer -- gcc -c time-1.7.c
Infer version v0.9.3
Copyright 2009 - present Facebook. All Rights Reserved.
Starting analysis (Infer version v0.9.3)

legend:
  "F" analyzing a file
  "." analyzing a procedure

F
Analyzed 1 file

  No

[2016-11-28 09:29] akotulski commented on #512
Thank you for reporting, I managed to reproduce the issue:
[code]

It looks like time-1.7.c was generated on another computer with different layout for system headers, but infer should be smart enough to deal with it.
Currently I'm overhauling this part of the system and will fix this bug, but it may take some time before it's fixed.

[2016-11-28 10:03] master-q commented on #496
Thanks for your advice. I should try to capture invariant in BSD's tree.h using INFER_EXCLUDE_CONDITION.

[2016-11-28 10:06] ddino commented on #499
I'm trying to fix the problem with g_malloc in #497, hopefully we can fix both problem.
At the moment not clear if both problems comes from  the same issue.

[2016-11-29 05:20] Will5 commented on #467
Resolved in Infer version 0.9.4.1

[2016-11-29 05:20] #467 closed

[2016-11-30 13:43] jberdine commented on #506
The 0.9.4 release includes significant memory consumption improvements, please try and reopen if this is still an issue.

[2016-11-30 13:43] #506 closed

[2016-11-30 13:45] jberdine commented on #489
Optimistically closing this, please reopen if the issue remains with 0.9.4 and the new xcpretty integration.

[2016-11-30 13:45] #489 closed

[2016-11-30 13:47] jberdine commented on #481
The 0.9.4 release include significant memory consumption improvements, please try that and reopen if this issue remains.

[2016-11-30 13:47] #481 closed

[2016-11-30 13:48] jberdine commented on #480
Optimistically closing, please reopen if this problem remains with 0.9.4 and the xcpretty integration.

[2016-11-30 13:48] #480 closed

[2016-11-30 13:48] jberdine commented on #477
Optimistically closing, please reopen if this problem remains with 0.9.4 and the xcpretty integration.

[2016-11-30 13:48] #477 closed

[2016-11-30 13:51] jberdine commented on #470
We are aware of the pains of building from source, but there are some issues with binary distribution.  We aren't there yet, and it will take some time.

In the meantime, is the installation process using homebrew also painful in your experience?

[2016-11-30 13:52] jberdine commented on #452
Optimistically closing, please reopen if this problem remains with 0.9.4.

[2016-11-30 13:52] #452 closed

[2016-11-30 14:35] pmlbrito commented on #34
+1

[2016-11-30 16:50] rocketnik commented on #470
using brew in general is rather convenient and not painful, except that most of the time, running "brew install" did not result in a working installation of the infer app on my machine (in some cases it did).

[2016-11-30 16:57] rocketnik commented on #470
installing infer 0.9.4.1 did work.

[2016-11-30 21:01] jberdine commented on #470
Thanks for the info.  Yes, we have had some bum brew releases.  The infer release process and the brew one conflict a bit, and we need to make a github release before we can fully test the brew one, so if there are issues that can't be handled in the brew formula alone, we get a broken release.  Changing the processes takes time...

[2016-11-30 21:22] jberdine commented on #505
Statically linking the C(++) runtime is a bad idea.  It is also not supported by the underlying toolchain.  So for the statically link glibc aspect of this issue, I would label it "wont fix".

Please open a separate issue about alternate packaging and distribution, or add to e.g. #470 .

For the particular build failure in the original issue, I'm closing this optimistically, but please reopen if

[2016-11-30 21:22] #505 closed

[2016-11-30 21:27] jberdine commented on #486
Could you try with the current 0.9.4.1 release, which includes much more robust integration with xcodebuild using xcpretty?  Optimistically closing, but please reopen if the problem remains.

[2016-11-30 21:27] #486 closed

[2016-11-30 21:30] jberdine commented on #476
Closing this as discussion seems to have settled, but please reopen if there are additional questions.

[2016-11-30 21:30] #476 closed

[2016-11-30 21:31] jberdine commented on #468
Optimistically closing this, please reopen if the issue remains.

[2016-11-30 21:31] #468 closed

[2016-11-30 21:33] jberdine commented on #485
Optimistically closing this, please reopen if the problem remains with the new release.

[2016-11-30 21:33] #485 closed

[2016-11-30 21:39] jberdine commented on #494
The code that deserializes the .cg files is [here](https://github.com/facebook/infer/blob/master/infer/src/base/Serialization.ml#L62).  In particular, it just uses the built-in OCaml Marshal module.  You should be able to deserialize these files without much trouble from another OCaml program that copies the [cg type definition](https://github.com/facebook/infer/blob/master/infer/src/IR/Cg.re#L45)

[2016-11-30 21:42] jberdine commented on #439
This issue may be resolved by using the xcpretty integration for xcodebuild in the current 0.9.4 release.  Optimistically closing, but please reopen if the problem remains.

[2016-11-30 21:42] #439 closed

[2016-11-30 23:16] sblackshear commented on #433
Our filtering heuristics tend to rank reports where an explicit flow of null to a dereference site is observed as high-confidence, and reports where a variable is compared to `null` and then dereferenced (such as the example here) as low-confidence.

The reason is that reports for the latter reason can often be false positives when the comparison to `null` is in a callee. That said, there are ofte

[2016-12-01 10:41] KihongHeo opened #514 "Alarm report issue"
Hi Infer team,

I am making a new checker using the abstract interpretation module of Infer.
When reporting alarms, my checker sometimes ignores some of them.

Here is a brief description of the error reporting part in my checker code.
[code]
Basically I followed the tutorial and I  think the only differences
are the commented parts. ("proc_name" and "proc_desc")

In my experience, the alarm repor

[2016-12-01 11:00] akotulski commented on #514
analyzing multiple files.

How are you analyzing multiple files? What are the infer commands that you run?

[2016-12-01 11:04] KihongHeo commented on #514
I run Infer as follows:
[code]

The problem also happens
[code]

[2016-12-01 11:12] akotulski commented on #514
That looks correct. I'll let someone more knowledgeable about writing checkers look at the question.

[2016-12-01 11:56] jvillard commented on #514
It's hard (for me) to tell without looking at the full code and examples. For debugging, you can use `InferPrint` to print the specs computed by your checker, for instance:

[code]

That may give you an idea of what could be wrong.

[2016-12-01 12:01] cristianoc commented on #514
Can you try disabling all the other checkers in `checkers/registerCheckers.ml`, to make sure there's no interference.

[2016-12-01 13:26] KihongHeo commented on #514
Thanks for your help.

I disabled all the other checkers but the results are the same.
And the output of ```InferPrint``` is as follows:
[code]

```main``` and ```foo``` are in different files,  ```foo``` has an error
and  ```main``` calls ```foo```.
It is an inter-procedural analysis and propagates safety conditions in callees to callers.
Finally it reports alarms according to the conditions at t

[2016-12-01 13:32] jvillard commented on #514
My bad, you also need to teach infer how to print your new payload for `InferPrint` to be useful. Add your payload to `Specs.pp_payload` here, like it's done for quandary, siof, threadsafety, ...: https://github.com/facebook/infer/blob/827d7c3d9ca49aedeb069131947fa574dcb2f51c/infer/src/backend/specs.ml#L448

[2016-12-01 13:54] KihongHeo commented on #514
I see. But ```InferPrint```'s result is correct.
I will look into the problem more deeply and give you other helpful observations.

[2016-12-01 15:27] sblackshear commented on #514
Like @jvillard, I think it will be hard to tell without seeing more code, but here's a few ideas off the top of my head:

- Try running infer with `--no-filtering`
- Report on the `proc_name`/ `proc_desc`/`location` of the current procedure rather using `e.proc_desc` and so on. I think all of the checkers we have so far log errors that occur in a function `foo` called from `main` in `main` rather

[2016-12-01 17:22] KihongHeo commented on #514
Thanks @sblackshear .

- Running with ```--no-filtering``` does not change anything.
- I don't get the second point clearly. My checker collects ```foo```'s safety conditions and merges them into ```main```'s safety conditions. Each safety condition (```e``` in the above code) has ```proc_name``` and ```proc_desc```. Then, it prints out  all the collected errors using ```Checkers.ST.report_error``

[2016-12-01 17:35] sblackshear commented on #514
Ah, so the parameter `e.proc_name` is `main` in your example (as it should be, I think). Does the parameter `e.proc_desc` also correspond to the procdesc of `main`?

[2016-12-01 17:46] KihongHeo commented on #514
No. I want to keep the original location of errors, so each ```e``` has its original information.

For example,
[code]
I collect all the errors after analyzing ```main```, i.e., ```errors``` = {error1, error2}.
So ```error1.proc_name``` = ```foo```, ```error2.proc_name``` = ```main```, and so on.
When I just print them out using ```prerr_endline```,  the output is correct,
but ```Checkers.ST.repor

[2016-12-01 17:59] sblackshear commented on #514
This should work, but (as mentioned above) I am not sure that it actually will. All of the other checkers we have would log error1 in `foo` while analyzing `foo` instead of deferring the logging of all errors until the analysis of `main` has finished.

I would try logging errors as soon as they are detected (if you can) and see if that fixes the problem. Alternatively, I'm happy to try debugging t

[2016-12-02 13:50] theshuklz opened #515 "getting crash after signing android app"
I am getting below crash after signing the app. Do I need to add this class to proguard file?

`Verifier rejected class com.android.volley.toolbox.z: com.android.volley.s com.android.volley.toolbox.z.a(android.content.Context, com.android.volley.toolbox.k) failed to verify: com.android.volley.s com.android.volley.toolbox.z.a(android.content.Context, com.android.volley.toolbox.k): [0x59] register v

[2016-12-02 13:53] jvillard commented on #515
Can you please provide more information? Please include:
- the version of infer
- the command you used to run infer
- the full output (please use https://gist.github.com/ or equivalent)

[2016-12-03 00:30] KihongHeo commented on #514
Thanks a lot. I will try to look into the problem more deeply.

By the way, the analysis on multiple files run in parallel?
I use a reference type value (counter) to make unique symbols when analyzing each procedure.
I don't fully understand the whole Infer system so I am suspicious about the uniqueness.

[2016-12-03 03:39] jberdine commented on #514
Yes, by default the analysis runs in parallel, unless it fails to determine the number of processors your machine has.  You can specify explicitly with `-j N`.

[2016-12-03 03:51] KihongHeo commented on #514
Is it guaranteed that one procedure is analyzed only once?

[2016-12-03 05:49] KihongHeo opened #516 "Error in translation"
Hi Infer Team,

Infer translates the following code
[code]
to
[code]

[2016-12-03 12:55] jberdine commented on #514
No.  If procedures are recursive, they may be analyzed a few times.  Each procedure should have only a single spec written to disk, however.

[2016-12-03 23:53] yinle2002 opened #517 "cannot compile clang"
When I execute facebook-clang-plugins/clang/setup.sh to compile clang, the error presents as follows.

      make: *** [all] Error 2
      strip: '/home/parallels/opensrc/infer/facebook-clang-plugins/clang/install/bin/*': No such file
      find: `/home/parallels/opensrc/infer/facebook-clang-plugins/clang/install/lib': No such file or directory

There are also many 'undefined reference' warnings,

[2016-12-04 00:02] jberdine commented on #517
Can you please provide more information? Please include:
1. the version of infer
2. the full history of commands you used to run infer
3. the full output (please use https://gist.github.com/ or equivalent)

[2016-12-04 01:01] KihongHeo opened #518 "Problem in parallel analysis"
Hi Infer Team,

As @jberdine said in https://github.com/facebook/infer/issues/514,

Also, multiple parallel processes may analyze the same procedure multiple times and race to write the spec to disk.

- Can multiple parallel processes analyze the same procedure even though it is not recursive?
- Is there any mechanism to protect the race condition?

Also, when I use ```-j 1```, it seems that Infer

[2016-12-04 01:50] jberdine commented on #518
I should have also mentioned this before, but yes, parallel processes can analyze the same procedure simultaneously.  There are mechanisms to protect against reading partially written files, for when one process reads the specs of a procedure while another is writing them, etc.  But there is intentionally nothing blocking multiple parallel processes from analyzing any individual procedure simultan

[2016-12-04 10:24] akotulski commented on #517
Please include OS you use and version of gcc/clang you have on your system as well

[2016-12-04 14:31] yinle2002 commented on #517
I am building the infer of the latest version in github on ubuntu 14.04. The ubuntu OS is installed in the virtual machine Parallels(TM) on Mac OS (intel Core i7 cpu).

The command 'uname -a' printed information as follows.
      Linux ubuntu 3.13.0-32-generic #57-Ubuntu SMP Tue Jul 15 03:51:08 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

I run the following commands:
     git clone https://github.com

[2016-12-05 06:32] KihongHeo commented on #518
Thanks. I got your fix and it correctly works with ```-j 1``` without the checkers.
But I think it still does not invoke the checkers with ```-j 1```.
The output messages are a little bit different.
[code]
[code]

[2016-12-05 07:32] KihongHeo opened #519 "Interprocedural checker"
Hi Infer Team,

I have a question about the inter-procedural module.
Here is a part of my checker code. I just followed the tutorial.
[code]

What do the ```pdesc``` and ```proc_name``` stand for?
I assumed those are the information about the same function but the assertion failed.

Could you explain the details about ```callback```?

[2016-12-05 08:05] KihongHeo commented on #519
I see. The ```pdesc``` is for the function analyzed on demand. Now I understand. I will close this issue.

[2016-12-05 08:05] #519 closed

[2016-12-05 08:34] jvillard commented on #516
Thanks for the report(s)! (I think it would be better to open one issue for each problem if you can)

1) Looks like a bug, thanks!
2) Correct, but what is the problem here? Does that lead to incorrect analysis results?
3) Same as 2). Is your C source missing some code, like `z = y`?

[2016-12-05 08:41] jvillard commented on #518
Hi @KihongHeo, It's expected that the output is a little bit different with `-j 1` than with other modes, so I don't think your last example shows a difference in behaviour between the two. Could you please clarify?

[2016-12-05 08:47] carozuoP opened #520 "v0.9.4 only print 10 bugs in the running log,"...too many issues to display (limit=10 exceeded)" but inferTraceBugs only print brief log. Can infer didn't limit the bug number, we want all detail running logs as before"

[2016-12-05 08:52] carozuoP commented on #520
present, log "
 1. app/mall/SplashFragment.java:315: error: NULL_DEREFERENCE
      object bitmap last assigned on line 299 could be null and is dereferenced at line 315

 2. app/mall/SplashFragment.java:246: error: NULL_DEREFERENCE
      object bitmap last assigned on line 240 could be null and is dereferenced at line 246"

[2016-12-05 09:11] KihongHeo commented on #516
Hi @jvillard ,

I will open the second one as a new issue.

[2016-12-05 09:13] KihongHeo opened #521 "Casting operation"
Hi,

It seems that the front-end skips casting operations.
For example,
[code]
to
[code]

and
[code]
to
[code]

As @jvillard said in https://github.com/facebook/infer/issues/516,
it seems to be an intended result.
But my checker is sensitive to type casing.
Is it possible to capture type castings?

[2016-12-05 11:39] akotulski commented on #521
Yes, right now we don't translate cast operations to SIL. This is ok for us, because we didn't care about them.
Could you explain in a little bit more detail what you would like to catch with your checker (give an example)?

[2016-12-05 11:43] akotulski commented on #520
Full report with same output as before should be in `infer-out/bugs.txt` - if you are using it on CI, then you can `cat` it after running infer and see same results on stdout. Would that work for you?

[2016-12-05 11:46] jvillard commented on #520
Is the issue that there is no longer a full text output available that includes the source excerpts around each error?

We introduced the limit because we found it was often too spammy to list all the errors on the terminal. Maybe bugs.txt should include the source excerpts as well to make it more like the terminal output.

[2016-12-05 11:56] KihongHeo commented on #521
Thanks for the answer.

I want to keep tracking array sizes and their strides by looking the casing operations following mallocs.

[2016-12-05 13:06] akotulski commented on #521
I see. Changing frontend shouldn't be very hard, but there are questions I don't know answers to:
1. there may be some implications to our backend that I'm not aware of (this adds another indirection for backend to understand)
2. there is a question how to represent such cast in SIL.
Maybe @ddino or @cristianoc will know?

[2016-12-05 14:19] akotulski commented on #512
I committed fix in https://github.com/facebook/infer/commit/bd0f0cc7fcfe61e5c80a2ac91af1b94dc153584f

Note that infer doesn't really support running on preprocessed source code (other than "it shouldn't raise exceptions"), so I'm discouraging you from doing it if possible. Recent changes to our frontend broke this and it may break again in the future. This fix doesn't restore all functionalities t

[2016-12-05 14:19] #512 closed

[2016-12-05 14:31] akotulski commented on #517
I meant your host compiler that is used to compile that clang - from your gist it looks like you have `gcc 4.8.4` which should be new enough to compile clang.
I've seen those errors before but I thought they were fixed (https://github.com/facebook/facebook-clang-plugins/blob/master/clang/setup.sh#L82 should do it)
I'm going to try and reproduce the problem on local VM, but it may take some time

[2016-12-05 14:46] akotulski commented on #517
@yinle2002 could you check if you have c++ libraries installed?
Simply run following command: `apt list | grep libstdc++`

[2016-12-05 17:12] skcho opened #522 "Frontend issue on conditional operator in C"
[code]
Current front-end parses the above example into an incorrect control flow graph, where return node is unreachable from the entry node. This issue was initially observed when compiling `strspn()` with `gcc -O2` and `clang -O2` as follows.

[code]

[2016-12-05 18:10] akotulski commented on #522
Thanks for reporting - we did take some shortcuts translating statement expressions and if you pair it with conditional operators it may end up here.

On the other hand, how did you make source of `strspn`available for infer? Usually we use models for C library

[2016-12-05 18:13] akotulski commented on #517
I reproduced the problem on my VM. I was unable to find the fix yet, but I'm planning to look into it more. Stay tuned

[2016-12-05 21:43] bootstraponline opened #525 "Binary Linux releases"
^ appears to work fine for me. Why are there no linux binaries?

[2016-12-06 02:42] skcho commented on #522
Thank you for the reply. We just downloaded gnu gzip 1.8 and run
[code]
The default setting of the `Makefile` uses the `-O2` option, and then `strspn` is inlined.

[2016-12-06 02:48] KihongHeo commented on #518
Hi @jvillard,
```-j 1 -a checkers``` does not invoke the checkers (i.e., ```exec_instr``` is not executed).

[2016-12-06 03:41] carozuoP commented on #520
To akotulski, infer-out/bugs.txt didn't have source excerpts around each error, it is very simple.  To jvillard, can you add it back to infer-out/bugs.txt if you guys think it is too often spammy. I use it in CI and all my developers like detail codes around the error, they said it is more useful to judge if the report issue needs to fixed at the first glance.

[2016-12-06 08:35] tonyying opened #526 "How can I change the rules or add new rules?"
Hi,
Is there any way to change the rules or add new rules?
eg: change the bug level from error to warning , or ignore specific type bug
thanks for any help :)

[2016-12-06 09:22] jvillard commented on #520
@carozuoP ok, I'll work on adding this feature to bugs.txt. Thanks for the feedback!

PS: If you haven't already, can you please consider adding your company to our [list of users](https://github.com/facebook/infer/edit/gh-pages/_data/powered_by.yml)? This helps us prioritise open-source users.

[2016-12-06 09:57] jvillard commented on #525
Duplicate of #470, please see discussion there.

[2016-12-06 09:57] #525 closed

[2016-12-06 10:00] jvillard commented on #526
Let me answer your questions in reverse order:
- To ignore a specific bug type there is a `--disable-checks` option. Use it on the command line: `infer --disable-checks MEMORY_LEAK --disable-checks RESOURCE_LEAK` or inside .inferconfig:

[code]

- Bug levels are hardcoded for each bug type and cannot be changed.
- What rules would you like to change/add?

[2016-12-06 11:20] akotulski commented on #517
Issue reproduces with newest `clang-3.9.1` release. I created [bug report](https://llvm.org/bugs/show_bug.cgi?id=31291), hopefully they will have a fix/workaround for it

[2016-12-06 11:45] ddino commented on #497
This has now been fixed

[2016-12-06 11:45] #497 closed

[2016-12-06 12:20] harshikesh commented on #390
_--changed-files-index_
What is the use of this? Is it same as "infer_whitelist ":[ ] and Can you give the full command, because It is giving me error:  Unknown command-line option '--changed-files-index'.

I am just looking for an options to run infer on a particular file which should be faster than normal in android application.
Thanks.

[2016-12-06 12:24] harshikesh opened #527 "Unknown command-line option '--changed-files-index'."
I am using this command
infer -- ./gradlew run --changed-files-index app/src/main/java/com//ui/MainActivity.java

It is giving : Unknown command-line option '--changed-files-index'

[2016-12-06 12:27] skcho opened #528 "C++ class support"
Hi, I'm curious about Infer's support for C++ class.

What happens when a method of a class is invoked? Does Infer start to analyze the callee for calculating its summary?

When given some method calls, it does not look like working as I expected. For example,
[code]
in this code, there are two sink points inside the `main` function and `myshell` function. However, the analysis result is only abou

[2016-12-06 12:30] jvillard commented on #527
This is passing `--changed-files-index` to gradle, not infer. You want to specify it before `--` and give it as argument a file containing a list of source files to reanalyse:

[code]

This will capture all the files in your project, but analyze only MainActivity.java and the files it depends on.

[2016-12-06 12:31] jvillard commented on #528
C++ support is still experimental and you need to pass `--cxx` to infer to capture c++ code:

[code]

[2016-12-06 12:33] #520 closed

[2016-12-06 12:33] jvillard commented on #497
For reference: bd216f320566dab07756c8a2852e3dee43c07c19

[2016-12-06 12:36] skcho commented on #528
Oh, I see. Thank you.

[2016-12-06 12:36] #528 closed

[2016-12-06 14:12] bootstraponline commented on #470
For binary linux releases, this appears to work fine:

- `tar czvf infer-v0.9.4.1-linux.tar.gz /infer/infer/bin /infer/infer/lib`

what exactly are the issues?

[2016-12-06 14:39] jvillard commented on #470
@bootstraponline our releases do not include the infer binaries, in particular infer/infer/bin is empty.

[2016-12-06 14:40] bootstraponline commented on #470
I understand that but using [these commands](https://github.com/bootstraponline/meta/wiki/Infer) it's easy for someone to generate a binary release on their own.

[2016-12-06 14:51] jvillard commented on #470
@bootstraponline The issue is in distributing these binaries, which is tricky due to the licenses of some of infer's dependencies. We are working to resolve the issue but this will likely take some more time.

[2016-12-06 20:17] harshikesh commented on #527
Thanks for the answer!
Is --changed-files-index works same as if you run keeping the file name in .inferconfig as whitelist?
 "infer_whitelist": [
     "app/src/main/java/com/ui/MainActivity.java"
   ],

[2016-12-06 20:17] #527 closed

[2016-12-07 02:51] adolf2v commented on #484
now,run LD=/usr/bin/true infer .....
the error :Ld build/Debug-iphonesimulator/EnglishReading.app/EnglishReading normal i386 was found again。

[2016-12-07 02:52] adolf2v commented on #484
the complete command is :LD=/usr/bin/true infer -- xcodebuild -target EnglishReading -configuration Debug -sdk iphonesimulator

[2016-12-07 02:57] adolf2v commented on #484
I have update Build Active Architecture Only from yes to no, and add i386 in the valid Architectures,but it doesn't work.

[2016-12-07 03:19] tonyying commented on #526
Thanks for the answer.
It's helpful for me.

[2016-12-07 03:19] #526 closed

[2016-12-07 07:11] harshikesh commented on #527
@jvillard  Can you please reply I am stuck?

[2016-12-07 07:33] harshikesh opened #529 "Can I suppress infer warning on a block of code rather than putting on a function?"

[2016-12-07 07:36] harshikesh opened #530 "Can I suppress infer warning on a block of code rather than putting on a function?"
Can I suppress infer warning on a block of code rather than putting on a function?
Registering a listener from onStart() of an Activity to another class is giving a ContextLeak issue. but I am unregistering it in onStop() from same activity. This is false Positive.

[2016-12-07 07:46] #529 closed

[2016-12-07 08:21] jvillard commented on #484
What version of infer are you using? 0.9.4.1 has a new xcodebuild integration based on xcpretty that should avoid this issue.

[2016-12-07 08:26] jvillard commented on #527
The whitelist is so that infer doesn't skip analyzing a file that would otherwise be blacklisted. `--changed-files-index` tells infer where to start the analysis from and makes sure all the files in the index are re-analyzed by infer. Without `--changed-files-index` infer will analyze all the files that were captured (or, if `--reactive` was passed, all the files that infer finds have changed sinc

[2016-12-07 08:36] adolf2v commented on #484
my version is 0.9.3,when i upgrade 0.9.4.1.the following error was found:
[infer-deps-d7B3] /Users/xiaoqiang/Downloads/infer-0.9.4.1/infer-deps-d7B3/ already up-to-date
The following dependencies couldn't be met:
  - infer-deps-d7B3 -> reason >= 1.4.0
Your request can't be satisfied:
  - reason>=1.4.0 is not available because the package is pinned to https://github.com/facebook/reason.git#0.0.6, v

[2016-12-07 08:45] jvillard commented on #484
Try `OPAMSWITCH=infer-4.02.3 opam unpin reason merlin merlin_extend; opam update`.

[2016-12-07 08:47] jvillard commented on #530
Infer doesn't support suppressing warnings on a block of code but you could always put the offending code in a separate method and add `@SuppressWarnings("infer")` on that method.

[2016-12-07 08:55] adolf2v commented on #484
yes ,I ran the command :sudo opam pin add -y reason 'https://github.com/facebook/reason.git#0.0.6' to update reason,the result is that version 0.0.5 was installed

[reason] https://github.com/facebook/reason.git#0.0.6 updated
[reason] Installing new package description from https://github.com/facebook/reason.git#0.0.6

reason needs to be reinstalled.
The following actions will be performed:
  ↻  r

[2016-12-07 08:58] jvillard commented on #484
You don't need to pin reason anymore as it's been pushed to the main opam repository. 0.0.6 is too old for infer 0.9.4.1, which requires reason >= 1.4.0. The commands I gave should remove the pin on reason, allowing `./build-infer.sh` to find the more recent reason currently in opam.

[2016-12-07 09:18] harshikesh commented on #527
Thanks for explaining @jvillard .

Problem statement :

First I whitelisted some files on which I want to run infer then,
_I tried all these commands._
`infer -- ./gradlew run`  //I was running this each time after fixing my issues It worked but it is taking too much time.

`infer --reactive -- ./gradlew --offline run` // This gives no issues found each time after first build

`infer --changed-fil

[2016-12-07 09:25] harshikesh commented on #530
Thanks 👍

[2016-12-07 09:25] #530 closed

[2016-12-07 10:16] leo-yinle commented on #517
Hi @akotulski

Thank you for your response.

In  [https://llvm.org/bugs/show_bug.cgi?id=31291](url), the bug is expected to be closed. However, how should I do to make 'setup.sh' work? Is there any concrete guide?

[2016-12-07 10:19] leo-yinle commented on #517
Hi @akotulski

Thank you for your response.

In https://llvm.org/bugs/show_bug.cgi?id=31291, the bug is expected to be closed. However, I still wonder how should I do to make 'setup.sh' work? Is there any concrete guide?

[2016-12-07 11:22] adolf2v commented on #484
0.9.4.1 has the same problem :

ld: warning: directory not found for option '-L/Users/xiaoqiang/Downloads/english/build/Debug-iphonesimulator/SDWebImage'
ld: warning: directory not found for option '-L/Users/xiaoqiang/Downloads/english/build/Debug-iphonesimulator/SVProgressHUD'
ld: warning: directory not found for option '-L/Users/xiaoqiang/Downloads/english/build/Debug-iphonesimulator/SocketRocke

[2016-12-07 13:19] akotulski commented on #517
I'm planning to update source code of clang we use. Then it should work for you.

[2016-12-07 15:46] jvillard commented on #518
@KihongHeo I'm looking into this.

[2016-12-07 21:25] ozmium commented on #246
This false positive report also happens when you have something like this:

    Cursor = myDatabase.rawQuery(...);
    cursor.moveToFirst();
    closeSilently(cursor);

A separate class that has `closeSilently()`:

    public void closeSilently(java.io.Closeable closeable) {
        if (closeable != null) {
            try {
                // This is only allowed on API 16+ (JELLY_BEAN, Android 4

[2016-12-08 04:22] KihongHeo commented on #517
Hi @akotulski  and @leo-yinle ,
I also have a problem but I am not sure it is the same as the one above.
In my case, I got the following error messages during the clang compilation.

[code]

I use
[code]

[2016-12-08 06:53] riyaz opened #532 "Optimize incremental builds for android/gradle"
We have lot of 'grandfathered' issues which we are fixing, below are the workflow we typically use

[code]

Above works fine, however step 4 seems to analyse the complete project even though only 1 file changed and it takes more time to analyse and report.

is there any flags or options which we can use to build only a file or two when using gradle, I'm aware its possible for normal java builds bu

[2016-12-08 06:56] riyaz commented on #460
We use below steps, it does not need clean for every change, I have filed issue #532  to check if there is any faster way, but below steps are faster than doing a clean build.

[code]

[2016-12-08 10:20] adolf2v commented on #484
I had alias Ld="/usr/bin/true",and add it to my /etc/profile,but it doesn't work also

[2016-12-08 13:24] akotulski commented on #517
I just committed https://github.com/facebook/infer/commit/3096e8448b124607dc0a0a0df99795711502683f to fix that problem. Please fetch infer's master and remember to update `facebook-clang-plugins` submodule by running `git submodule update`

@KihongHeo by the fact that you are using ubuntu 14.04 I'd say it's likely the same issue. Please try again with newest version of infer.

[2016-12-08 13:24] #517 closed

[2016-12-08 14:11] jvillard commented on #484
Have you tried the version that uses `xcpretty`? It would likely solve your issue as it doesn't require infer to interfere with the `xcodebuild` compilation process.

Otherwise there should be a way to tell `xcodebuild` to call `/usr/bin/true` instead of the normal `ld` but if exporting `LD` doesn't work I don't know what would. Is there a way you could share your app?

Just to check: the command

[2016-12-09 01:03] clonetwin26 opened #533 "A method annotated @SuppressParameterNotNullable is considered @Nullable."
This annotation makes infer think a method is @Nullable even when its not. I think it sees @ and Nullable and causes this bug.

[2016-12-09 01:15] sblackshear commented on #533
Good catch. We check if the suffix of the annotation is `Nullable` so we don't need to add separate cases for `javax.lang.Nullable`, `my.custom.Nullable` etc, but it looks like that's the wrong thing to do here :). We should probably check if the unqualified classname is exactly `Nullable` instead.

[2016-12-09 03:13] adolf2v commented on #484
AFNetWorking can't support simulator,is there a way that can I  use infer on real phone?

[2016-12-09 11:37] carocad opened #534 "equality between Java enums is not handled correctly"
Hey guys,
I have a very simple class in Java with:
[code]

and then on another file I call
[code]

The problem is that Infer reports the call to msg.getId() as a null_dereference even though the consistencyCheck obviously states that such an state is not possible due to the Status.OK return value.

[code]

Let me know if you need more information and thanks a lot for the great tool :)

Infer versi

[2016-12-09 17:17] skcho commented on #514
We read more Infer code and our issue became more clear. I remind you about our situation.

1. A callee(`foo`) and a caller(`main`) are in different files.
2. A bug is in the callee.
3. When analyzing the callee, we are not sure that the code is buggy. Thus, after analyzing the callee, we do not report the bug yet.
4. After analyzing the caller, we are sure there is a bug in the callee. So we repo

[2016-12-09 18:09] sblackshear commented on #514
I would recommend reporting an interprocedural trace starting at `main` and ending in `foo`. There's a general mechanism for creating and displaying such traces. To check out the visualization, you can run Infer (the bi-abduction analyzer) on a file with an interprocedural trace, then run `inferTraceBugs` (as described [here](http://fbinfer.com/docs/infer-workflow.html)).

To get your own nifty tr

[2016-12-09 18:17] skcho commented on #514
Thank you. I will take a look at it.

[2016-12-10 11:26] KihongHeo commented on #514
헐. 해결하셨어요?

- 허기홍 드림

2016. 12. 10. 오전 3:17 skcho <notifications@github.com> 작성:

[2016-12-10 11:37] skcho commented on #514
@sblackshear We solved our issue by collecting the starting points and ending points of the trace as you said. It works now though we did not apply the general `TraceDomain`. Thank you for help again.

[2016-12-10 21:42] sblackshear commented on #514
Glad to hear it! I'll close this for now then; please feel free to open another issue if you have any questions about creating a `TraceDomain`.

[2016-12-10 21:42] #514 closed

[2016-12-12 04:43] ursusursus commented on #35
bump

[2016-12-12 11:32] jberdine commented on #35
Just to be clear: The core infer team does not have a use case for windows support, and does not have time to allocate to this.  If someone wants to work on this, I expect that there is a bit of work to do to generalize the build scripts to work on (even one of the ~6 OCaml ports for) windows.  Building the dependencies will likely involve some work.  After that, some of the build system integrati

[2016-12-12 20:47] jeremydubreil commented on #534
Thanks for reporting this. Is `Status` an enum type or a standard class with static constants ? I will try to reproduce it. It may be that Infer does not recognize that `Status.OK` is actually different from `Status.MISSING_ACTION`.

[2016-12-13 02:10] carozuoP commented on #520
thank jvillard so much， my company name is JD(beijing jingdong century trade .ltd), which can be found in NASDAQ

[2016-12-13 08:03] #533 closed

[2016-12-13 10:12] carocad commented on #534
@jeremydubreil Status is a normal very basic enum. Here is the main part in case you need it:

[code]

Hope it helps

[2016-12-13 13:57] akotulski commented on #522
I looked more into the issue and found the problem: clang AST is looking differently when compiled with `-O2` and we don't want that. Infer has a [model](https://github.com/facebook/infer/blob/master/infer/models/c/src/libc_basic.c#L278) for `strspn` which we should use.
I'm going to fix issue with `-O2` and I'll leave "conditional inside statement expression" problem

[2016-12-14 03:21] leo-yinle opened #536 "How to debug Infer's backend"
Hi,

I have had experience of developing compilers' backend. Generally the backend is started in debug, e.g. gdb, and stops at some breakpoints. The backend can be executed step by step and function calls can be followed by stepping into. The IR of the analyzed program can be printed to stdout/stderr or dumped into files.

However, as a newcomer of OCaml, I cannot find the counterpart things in de

[2016-12-14 06:27] skcho commented on #522
Thanks. It works now in our case.

[2016-12-14 10:24] jvillard commented on #520
@carozuoP Thanks! Would it be ok to add the logo of your company to our [list of users](http://fbinfer.com/index.html#who-uses-infer)?

[2016-12-14 12:44] dulmarod commented on #536
Hi,
Most of us don't use a debugger to debug Infer. We just print elements, most of the IR elements have print functions, so we use those. To debug the symbolic execution in particular, we use html files that have printed most of the execution. You get those files with the option --debug, there is an html file for each source file in the folder infer-out/captured. Also, when you print things, if y

[2016-12-15 14:00] cristianoc commented on #532
Note that using `--continue` option, it will keep on growing the set of files to be analyzed. So in your particular case, since it follows a complete compilation, it will repeatedly analyze everything.

You might want to try without `--continue`, i.e. step 4 is the same as step 2, so only the files compiled in the last `gradlew` invocation will be analyzed.

[2016-12-15 18:18] #518 closed

[2016-12-15 23:39] tautschnig opened #537 "Annotation @Test(expected=NullPointerException.class) ignored"
Hello Infer Team,
I would consider the below a false-positive, but you might as well tell me that this is by design and `@SuppressWarnings("infer")` should be used instead. Here's an example code:
[code]
with the result
[code]
and infer-out/report.json confirms that the trace originates at `should_fail`:
[code]

My claim is that `@Test` with `expected=NullPointerException.class` should possibly on

[2016-12-16 03:26] adolf2v commented on #484
That‘s the problem of my source code, it can't complie successfully with "xcodebuild -target EnglishReading -configuration Debug -sdk iphonesimulator ". I will close this issue,and try to find the problem with developers.
Thanks a lot.

[2016-12-16 03:26] #484 closed

[2016-12-16 07:13] leo-yinle commented on #536
Hi @dulmarod

Thank you for your replay.  My question was answered.

[2016-12-16 10:35] #536 closed

[2016-12-16 11:55] jvillard commented on #518
Thanks for the report @KihongHeo, this should be fixed now!

[2016-12-17 14:23] davido opened #538 "Exception JParseCode.OpcodeLengthError(26, _)"
Wen I run infer on [Gerrit Code Review](https://gerrit.googlesource.com/gerrit), on master, I'm getting this crash:

[code]

The whole log: [1].

The content of `.inferconfig` is:

[code]

* [1] http://paste.openstack.org/show/592710

[2016-12-18 21:52] ngorogiannis opened #539 "Implementation/interface file pairs sometimes clash in filename initial letter case"
Hello! There are some pairs of .ml/.mli files that differ in casing, e.g.:

checkers/AbstractInterpreter.mli ; checkers/abstractInterpreter.ml

If I rename "abstractInterpreter.ml" to match the case of the .mli file, the build fails.

There are other instances of this, but not as problematic (eg, checkers/abstractDomain.ml and checkers/AbstractDomain.mli, but building doesn't fail when casing is f

[2016-12-19 13:45] jvillard commented on #539
Good catch! Did you remove the build directory before running `make` again? (in infer/_build) In any case I'll send a diff (unless you send one first).

[2016-12-19 15:13] ngorogiannis commented on #539
I did `make clean ; make`.

The reason I didn't include a patch is that it's not that simple :) It seems that `abstractInterpreter.ml` and `AbstractInterpreter.mli` have diverged (eg the `S` signature is different), and it's not obvious to the uninitiated how to reconcile them.

[2016-12-19 15:30] sblackshear commented on #539
Wow, that is an unfortunate problem! Nice one. I will fix this.

[2016-12-19 18:55] sblackshear commented on #539
Thanks for the report, this should be fixed by 084fd9301be42b5a24980b8b6abc2bb46c399fe1.

[2016-12-19 18:55] #539 closed

[2016-12-19 20:28] ngorogiannis opened #540 "FTBFS"
Hi, infer fails to build from source for me in a freshly cloned folder.

[code]

Command is `build-infer.sh java`.

[2016-12-19 23:38] sblackshear commented on #540
Thanks, should be fixed by e817d5390d8087061e74c052d28560c9d37d90ea. Sorry for the breakage.

[2016-12-19 23:38] #540 closed

[2016-12-20 18:52] sblackshear commented on #537
Hi Michael,
  We don't currently have any special support for JUnit annotations like `@Test`, but we could add support if there is a need.

In general, I'm skeptical of the utility of statically analyzing small pieces of test code like your example (since one can always just run the code and let JUnit check if the right thing happens). But I'm intrigued by the possibility of using JUnit assertions

[2016-12-20 19:11] tautschnig commented on #537
Thanks a lot for the feedback!

For us, this has come up as part of various larger code bases. (I agree that static analysis of small snippets is of limited use.) My example was just intended so as to have a reproducible test scenario. Arguably we could work on ways to exclude tests from the analysis altogether.

For specifications, I am wondering whether JUnit is most suitable; wouldn't JML possi

[2016-12-20 21:06] jberdine commented on #537
Another issue that is independent of annotations is that infer does consider whether there is an enclosing handler for RuntimeExceptions.  In the larger code bases, do you rely on catching RuntimeExceptions and want infer to not report raising them in cases where they will be caught?  Such a change might be quite involved.

[2016-12-21 13:54] jvillard commented on #537
A tad unrelated direction is to use infer's blacklisting options to avoid analysing or reporting on these files, unless tests and regular source codes are mixed together.

For instance: `--infer-blacklist-files-containing "@Test("` or `--infer-blacklist-files-containing "import org.junit.Test;"`. These options (like all options) can also go into a .inferconfig file.

[2016-12-21 20:48] sblackshear commented on #537
@tautschnig

I get it now, thanks!

I don't have any strong opinion about this. If you already have a large codebase with lots of JML annotations or lots of programmers who would be willing to write JML annotations in exchange for having them statically checked, then I think JML sounds like a great choice.

[2016-12-22 09:12] sukesh1989 commented on #337
Its happening for me again.
Traceback (most recent call last):
  File "/usr/local/bin/infer", line 178, in <module>
    main()
  File "/usr/local/bin/infer", line 142, in main
    capture_exitcode = imported_module.gen_instance(args, cmd).capture()
  File "/usr/local/Cellar/infer/0.8.0/libexec/infer/lib/python/inferlib/capture/xcodebuild.py", line 78, in capture
    utils.stdout(exc.output)
  File

[2016-12-22 10:28] jvillard commented on #337
@sukesh1989 Can you try with infer 0.9.4.1? You should be able to upgrade via Homebrew.

[2016-12-23 04:09] omuomugin opened #541 "Error : keep occurring R.java not found"
Hello, Infer team

I'm doing research about analysis tools for Android apps and one of it is this Infer.
The problem that I have right now is that I can run ```./gradlew build clean```, ```./gradlew clean``` succesfully but when I try to run ```infer -- ./gradlew build clean``` it tells me that infer cannot find R.java.

I'm using v0.9.2, and for example applying Infer on [iosched](https://github.

[2016-12-23 09:47] omuomugin commented on #541
For additional information, even I update infer to v0.9.4, this still occurs.

just for adding detail
Thank you,

[2016-12-23 09:57] jvillard commented on #541
The gradle integration shipped with infer is crude and will run javac on all the files ending in ".java" in gradle's verbose output... If there is no file R.java then that will fail.

You may have more luck with the more robust [uber's gradle plugin for infer](https://github.com/uber-common/infer-plugin).

[2016-12-23 10:10] omuomugin commented on #541
@jvillard
thank you for info. I will take a try.

[2016-12-23 13:21] devKrishnan opened #542 "Clang Error: error: invalid version number in '-miphoneos-version-min=10.0'"
I have set up all the dependencies as per the documentation.

**Mac OS:** El Capitan-10.11.5
**Xcode:** 8.1
**Error:**

 invalid version number in '-miphoneos-version-min=10.0'

**Command Used:**

infer -- xcodebuild -target TargetName -configuration Release -sdk iphonesimulator

[2016-12-23 13:34] devKrishnan commented on #542
This specific issue is resolved, as I should have run infer on my workspace rather than the Project

infer -- xcodebuild -workspaceWorkspace.xcworkspace -scheme Scheme -sdk iphonesimulator -configuration Debug

[2016-12-23 13:49] #542 closed

[2016-12-23 14:02] devKrishnan opened #543 "infer build does run the tests for UIKit"
**My Requirement:**

I do not want the UIKIts and other dependencies to be run for verification. I wanted my project files alone to be considered while running infer.

I have created a .inferconfig for excluding the pods, but still the pod contents are validated

{
    "skip-clang-analysis-in-path": [
        "node_modules",
        "Pods"
    ]
}

A sample of the Error I get in the terminal:

Log

[2016-12-23 14:07] akotulski commented on #543
Please update to newest version of infer `0.9.4.1`. Old versions of infer are not compatible with xcode 10.
Running `brew upgrade infer` should be enough.

[2016-12-23 14:22] akotulski commented on #543
Regarding your initial requirement about skipping files in `Pods`, I believe analysis [will be skipped](https://github.com/facebook/infer/blob/f2a5810141b82d8dd96445e403d1080ef1872706/infer/src/clang/Capture.re#L161-L163), however they are still compiled to mimic behavior of `xcodebuild`.
At least that is true in `0.9.4.1`, I'm not sure what was behavior in `0.8.1` - that release is 9 months old

[2016-12-24 04:45] devKrishnan commented on #543
@akotulski  When I upgrade infer I get the below error

Warning: You are using a pre-release version of Xcode.
You may encounter build failures or other breakages.
Please create pull-requests instead of filing issues.
Error: infer 0.8.1 already installed

[2016-12-24 05:07] devKrishnan opened #544 "xcodebuild succeeds but infer fails after finding issues with Apple's framework"
I used the below command to Build a dummy project. The build succeeded without any problems

Then I used same command with infer prefix to run the infer on my project.

**Output**

http://pastebin.com/M11ZMbRt

[2016-12-24 06:24] devKrishnan commented on #468
I fixed this issue by updating my brew to the latest version

[2016-12-24 09:50] jvillard commented on #543
@devKrishnan try `brew update` before `brew upgrade infer`.

[2016-12-24 09:51] jvillard commented on #544
Does the issue persist with a more up-to-date infer? You should be able to upgrade with `brew update && brew upgrade infer`.

[2016-12-24 15:03] davido commented on #538
Installing `infer` from source solved that (I used docker image).

[2016-12-24 15:03] #538 closed

[2016-12-24 23:26] davido opened #545 "Error during capture phase on makefile project"
I'm trying to run infer v0.9.4 on `LibreOffice` project, and getting this error:

[code]

The full output can be found here: http://paste.openstack.org/show/593310. Can I get more detailed message on this failure?

[2016-12-25 01:03] omuomugin commented on #541
Finally I solved the problem.

After running ```gradlew init```, infer started to run successfully.

Thanks,

[2016-12-25 01:03] #541 closed

[2016-12-25 08:35] davido opened #546 "Publish infer annotations on Central"
For easy integration with java projects that not use Monorepo approach (and not check in all dependencies into their repositories), it would be great if `infer` annotations could be published on Central, so that I could just say in `BUCK`:

[code]

[2016-12-25 18:04] davido opened #547 "[Java] False positive on null dereference"
Infer v0.9.4 reports on this code:

[code]

this error:

[code]

[2016-12-25 21:52] davido commented on #547
Never mind, I missed that `g.getUUID()` could be null.

[2016-12-25 21:52] #547 closed

[2016-12-26 11:22] devKrishnan commented on #543
@jvillard  It worked

[2016-12-26 11:22] #543 closed

[2016-12-26 11:23] #544 closed

[2016-12-26 15:21] harshikesh opened #548 "SuppressWarning("infer") is not working ."
SuppressWarning("infer") is not working for context leak on a method.
infer Version 0.9.4

[2016-12-26 15:29] jvillard commented on #545
C++ is not enabled by default in 0.9.4.1, you need to pass `--cxx` to infer (this will be the default in the next release).

Also, just to make sure: you will need to run `make clean` first:

[code]

[2016-12-26 20:23] davido commented on #545
Doesn't seem to help:

[code]

And the log file contains:

[code]

[2016-12-27 16:39] sblackshear commented on #548
3dfaa9ed7b750eddf1dad6870aea94569cbf1f43 drops support for `@SuppressWarnings` (though it is not included in the 0.9.4 release); we are using [`@SuppressLint`](https://developer.android.com/reference/android/annotation/SuppressLint.html) going forward. I'll take a look and make sure that `@SuppressLint` works for context leaks.

[2016-12-27 16:40] sblackshear commented on #546
This sounds like a great idea! We will look into doing this when we create the next release of Infer.

[2016-12-28 07:34] vincentyao opened #551 "how to let infer work in python3.5"
Dears:
   i have finished download and install infer0.9.4 on my computer. But my python's version is Python 3.5.2 (default, Nov 10 2016, 12:31:28) .

  when i do execution, infer have a exception occur. i have to edit the infer.py file #!/usr/bin/env python3.5

but the infer still can not execution.

please help,if i want to infer can work in python3.5. how to do it?

thanks

[2016-12-28 09:30] jvillard commented on #551
Infer needs Python 2.7 to work. You should be able to install Python 2.7 alongside Python 3.5.2 to use infer. `infer` calls `python27` explicitly so in particular the `python` executable can point to Python 3.5.2 so as not to affect your Python environment.

[2016-12-28 11:12] akotulski commented on #545
I suspect there is something non trivial going on in those Makefiles and infer doesn't deal with it nicely. We replace normal compilation commands with ours and sometimes some file expected by Makefile may not be created/updated.
For example, you are never supposed to run code created by `infer -- make all` invocation. Maybe your `Makefile` does it somewhere?

Is it possible for us to reproduce is

[2016-12-28 11:15] jvillard commented on #545
It could also be that infer cannot capture calls to the compiler because the path to the compiler is there with absolute paths in the Makefiles.

Was Makefile generated by some other tool?

[2016-12-28 14:02] davido commented on #545
It's hand written make files, but I agree they are not trivial. That why I asked how could I get stack traces and/increase verbosity?

To reproduce, you would need to set up [LibreOffice development environment](https://wiki.documentfoundation.org/Development/BuildingOnLinux), in a nutshell:

[code]

[2016-12-28 14:39] jvillard commented on #545
I suspect this is a case of absolute paths to the compilers set by `./configure`, I'm downloading the libreoffice sources to confirm. In the meantime, you can try:

  infer -- ./configure
  infer --cxx -- make

[2016-12-28 15:50] jvillard commented on #545
So far, I haven't succeeded in building libreoffice because I got a source tarball from master on the GitHub mirror, which doesn't include sources.ver which is required to build.

However, I did manage to make the build system accept the infer wrappers as compilers by doing:

[code]

The flags I added to `./configure` are just there so that I don't have to install these dependencies; I don't think

[2016-12-29 10:48] jvillard commented on #545
In this case, yes.

The way infer is integrated with `make` is a simple `PATH` trick that replaces gcc/clang/... with our wrappers that run infer instead. `PATH` has no power when the path to the compiler is used instead of just its name (eg, `/usr/bin/clang` will not lookup `PATH`, so will bypass infer).

Some build systems such as `cmake` and LibreOffice's custom build system defeat this simple

[2016-12-30 07:36] vincentyao commented on #551
@jvillard
Thanks!~
As your message, infer can not support with python3.5? we just let infer  execute in python 2.7 version?

[2016-12-30 07:36] #551 closed

[2016-12-30 09:15] jvillard commented on #551
@vincentyao yes

[2017-01-02 03:43] kstreee commented on #551
@vincentyao FYI, I strongly recommend the [pyenv](https://github.com/yyuu/pyenv) to handle Python version and dependencies.

[2017-01-02 11:21] evgzor commented on #512
Hi,

I have the same problem please c below:

evgzor$ infer -- xcodebuild -target CustomDatePicker -configuration Debug -sdk iphonesimulator
0.2.4
2017-01-02 14:08:11.428 xcodebuild[41219:131183] [MT] PluginLoading: Required plug-in compatibility UUID E0A62D1F-3C18-4D74-BFE5-A4167D643966 for plug-in at path '~/Library/Application Support/Developer/Shared/Xcode/Plug-ins/VVDocumenter-Xcode.xcplugin'

[2017-01-02 11:35] evgzor opened #552 "infer-0.9.4.1.sierra not working for iOS"
[infer_49785_a86434-out.log.zip](https://github.com/facebook/infer/files/680721/infer_49785_a86434-out.log.zip)

Hi,

I have some problem please c below:

evgzor$ infer -- xcodebuild -target CustomDatePicker -configuration Debug -sdk iphonesimulator
0.2.4
2017-01-02 14:08:11.428 xcodebuild[41219:131183] [MT] PluginLoading: Required plug-in compatibility UUID E0A62D1F-3C18-4D74-BFE5-A4167D643966 fo

[2017-01-03 10:14] martinoluca commented on #552
Hi @evgzor,
have you tried running the xcodebuild command without `infer`, that is:
[code]
and see whether it succeeds or not?

If succeeds, maybe it's the space in the path where the project is located:
[code]
Try renaming it to a name without spaces and see if it keeps failing.

Let me know, thanks!

[2017-01-03 10:34] evgzor commented on #552
Hi,

Another error :
2017-01-03 13:33:04.092 xcodebuild[39155:465229] [MT] PluginLoading: Required plug-in compatibility UUID E0A62D1F-3C18-4D74-BFE5-A4167D643966 for plug-in at path '~/Library/Application Support/Developer/Shared/Xcode/Plug-ins/VVDocumenter-Xcode.xcplugin' not present in DVTPlugInCompatibilityUUIDs
2017-01-03 13:33:04.092 xcodebuild[39155:465229] [MT] PluginLoading: Required plug

[2017-01-03 11:35] jberdine commented on #552
UTF-8 is not a valid locale.  This is probably a duplicate of #447 .

[2017-01-03 12:20] evgzor commented on #552
I did export LC_ALL=en_US.UTF-8
and :
MacBook-Pro:CustomDatePickerNoArc evgzor$ infer -- xcodebuild -target CustomDatePicker -configuration Debug -sdk iphonesimulator
0.2.4
2017-01-03 15:15:54.661 xcodebuild[43952:479696] [MT] PluginLoading: Required plug-in compatibility UUID E0A62D1F-3C18-4D74-BFE5-A4167D643966 for plug-in at path '~/Library/Application Support/Developer/Shared/Xcode/Plug-ins/VV

[2017-01-03 12:55] evgzor commented on #552
I integrated into Xcode and got:  https://gyazo.com/3611c911ca1207957edc816a80125fb8
Which different in compare what I've got above

[2017-01-03 15:09] evgzor commented on #552
I made Xcode integration and it works now with script:
if [ "${CONFIGURATION}" = "Infer" ]; then
PROJECT_BUILD_DIR=${PROJECT_DIR}/build
INFER_OUT_DIR=${PROJECT_DIR}/infer-out
if [ -d "$PROJECT_BUILD_DIR" ]; then
echo build dir exist: ${PROJECT_BUILD_DIR}
fi
rm -r -f ${PROJECT_BUILD_DIR} ${INFER_OUT_DIR}
export LC_ALL=en_US.UTF-8
PLATFORM="$(echo "$EFFECTIVE_PLATFORM_NAME" | sed 's/-//g')"
RUN_INFE

[2017-01-03 18:39] davido commented on #545
I see this too, but only if `infer` is involved. When I use direct `clang/clang++`, then all is fine with libstdc++. I asume this is a bug on `infer` side?

[2017-01-04 20:37] davido commented on #545
Found a workaround for `configure` phase: compiled clang from trunk, and used it with `libstdc++` as usual. After configure step, I replaces in config_host.mk `CC`, `CXX` and `COMPATH` with the right value for `infer`. Now after calling `infer --cxx -- make` I am getting this report: [1], mostly complaining about `unique_ptr` redefinition.

*  [1] http://paste.openstack.org/show/593905/

[2017-01-05 10:27] akotulski commented on #545
Those errors are because we have our own simplified headers for `std::unique_ptr` so that analyzer understands it. Unfortunately, in your case those headers conflict with standard ones and we didn't catch it (see below for more info). If you can compile infer from source, you can work around this problem by changing one line in `ClangCommand.re`: https://github.com/facebook/infer/blob/master/infer

[2017-01-05 11:20] davido commented on #545
Another question is would using libc++ also run in the same `unique_ptr` issue, or is this only stdlibc++ specific issue? I'm asking, because on Linux it's not trivial to use libc++. And i wanted to avoid going down that path.

[2017-01-05 12:29] akotulski commented on #545
This issue is specific to libstdc++, possibly introduced in versions 6.x (4.9.x are battle tested and work, 5.x seemed to work when I tried).
You are right that it will break anyone that ends up including that header, unfortunately it's not trivial to replace our current mechanism with more robust one.

If we get more reports like this, I'll try to think of better workaround for the problem. The m

[2017-01-05 22:56] davido commented on #545
It seems to work, but I had to copy number of other inlcludes.

The next problem I'm running into, in LO we create files, like UNO compiler and then generate classes from type library description. Now these files are instrumented too, and the execution during the make execution now failing with:

[code]

Am I right in assuming that those tools should be excluded from checks. I tried to add `.infer

[2017-01-05 23:33] dwbuiten opened #555 "Infer infinitely loops/mallocs on certain C files"
# Description

FFMpeg's [matroskadec.c](http://git.videolan.org/?p=ffmpeg.git;a=blob;f=libavformat/matroskadec.c;h=7e74348b2a1b8833ed5fa67fce384b8c430d48d6;hb=HEAD) seems to cause Infer to loops infinitely somewhere in the compiler plugin, I think. You end up seeing things like:

[code]

or

[code]

It might actually finish (i.e. not be infinite) but I killed it after 15-20 mins + 22gb mem usage.

[2017-01-06 00:19] rvantonder opened #556 "fclose builtin not modeled as file resource"
I noticed that the resource predicate for `fclose` matches `Rmemory Mnew` instead of `Rfile` as expected (PredSymb.re). `fclose` is modeled as `free`, but no file attribute is set (compare https://github.com/facebook/infer/blob/master/infer/models/c/src/libc_basic.c#L485 and `fopen` https://github.com/facebook/infer/blob/master/infer/models/c/src/libc_basic.c#L445).

Is there a particular reason f

[2017-01-06 10:36] akotulski commented on #545
At this point I can tell that this is one of the more complex open source projects I've seen so far :)

The problem with infer's current mechanism is that we replace std headers with different ones which are not equivalent (`shared_ptr` is not refcounted for example) and hence we explicitly disallow to run binaries that were created with our headers. In your case, it looks like that you
1. create

[2017-01-06 10:47] akotulski commented on #556
@ddino do you know something about it?

[2017-01-06 12:30] akotulski commented on #555
Interestingly, it works on my mac (both 0.9.4.1 and master) so it may be something system dependent. Do you know which version gcc of docker container uses?

[2017-01-06 16:43] ddino commented on #556
I think it is not necessary to set up this attribute because it's already set by fopen.

But @cristianoc should know this for sure.

[2017-01-06 17:40] dwbuiten commented on #555
I used the standard method of installing (on Linux) using the `Dockerfile` and `run.sh`. Infer version is:

[code]

Tried with both GCC and Clang, which have the following versions inside the Infer container:

[code]

[code]

Some additional info in case it's useful:

[code]

[code]

[2017-01-06 17:47] davido commented on #545
Thanks, it works: [1] in the end ;-)

* [1] http://paste.openstack.org/show/594146

[2017-01-06 17:47] #545 closed

[2017-01-09 14:50] cristianoc commented on #556
The resource predicate information is used to detect and report resource/memory leaks.
It's set when a resource is allocated. Currently, it's not needed after a resource has been released.

[2017-01-09 16:36] rvantonder commented on #556
The analysis correctly models the action on a file resource `Racquire`,`Rrelease`. The type definitions for resource predicates are:

[code]

The issue I observed is that the resource variant type at `fopen` is `Rfile`, but for a call such as `fclose` the variant changes to `Rmemory Mnew`.  You may reproduce what I saw by running the following in debug mode:

[code]

You'll note ` FILE < fopen:4 >

[2017-01-10 05:07] msridhar opened #559 "Eradicate not reading annotations from class file"
Not sure if this is a bug or a missing feature (or neither).  I have two source files as input.

T1.java:
[code]
T2.java:
[code]
I have infer installed from Homebrew, version 0.9.4.  If I run javac on T2.java with Eradicate, I get the expected result:
[code]
However, if I first compile T1.java with javac **without** running Eradicate, and then run javac on T2.java with Eradicate, I get no error:
[

[2017-01-10 10:12] akotulski commented on #559
I'm not familiar with eradicate so it may be a little off, but in general if you want to analyze certain file, you need to compile it with `infer --` command. Otherwise we are blind about contents of those files (`T1.java` in your example). That being said `eradicate` is a little bit different/simpler and there may be solution to you problem.

Could you write some concrete example you had in mind?

[2017-01-10 10:29] vincentyao commented on #551
@kstreee
thanks for your help. i use it in python2.7 now ~~~

[2017-01-10 13:17] cristianoc commented on #556
True it would not hurt to set it to file.

[2017-01-10 16:22] msridhar commented on #559
Thanks for the response!  The main motivating example is with 3rd-party libraries.  If the library is unannotated, there are [tools](https://types.cs.washington.edu/annotation-file-utilities/) that let you inject separately-written annotations into the class files.  (Why not add annotations to the source and contribute back?  Some libraries, like [RxJava](https://github.com/ReactiveX/RxJava/wiki),

[2017-01-10 18:28] jeremydubreil commented on #559
Hi @msridhar.

It is theoretically possible to follow the annotations from the 3rd party libraries. One thing that is not so clear is that different libraries do not necessarily follow the same convention when it comes to `@Nullable`. For example, for analyzed source code,
[code]
is equivalent to:
[code]
for Eradicate, meaning that parameter are consider non-nullable by default except when analyze

[2017-01-10 18:56] msridhar commented on #559
Hi @jeremydubreil yes that's a good point.  My example was contrived; I wanted to keep things simple to make sure I was running the tool correctly.  Probably the right thing to do is to assume usage similar to Guava when annotations from class files are being parsed.  If it's clearly documented, I think that would work well for most cases.  Also, maybe the default should be to behave just as Infer

[2017-01-10 19:32] sblackshear commented on #559
One additional issue that I just became aware of: annotations on method parameters/return values actually live in the constant pool, not in the method signature. For already-compiled classes (and anything else in the classpath), we parse the method signature and add it to the type environment, but we don't look at the implementation of the method or its constant pool. This is why you're seeing the

[2017-01-10 20:36] jeremydubreil commented on #559
@sblackshear, it would actually be easy to load the annotations from the 3rd party library. There is already some support for analyzing the dependencies. For example (changing the example a bit to avoid the issue with `@NonNull` mentioned earlier):

[code]
and
[code]
We can actually have Eradicate report the issue using the undocumented `--dependencies` options:
[code]
The reason why we don't use

[2017-01-10 21:13] xennygrimmato opened #560 "Adding models doc doesn't highlight source code"
This is just a minor documentation bug I guess; the `Adding models` page [here](http://fbinfer.com/docs/adding-models.html) doesn't highlight syntax. The markdown text seems to be correct, but the UI doesn't render the highlighted syntax.

[2017-01-11 07:17] 2290120311 opened #561 "Uncaught exception: ( Sys_error “ //android.content.e967034d408e8fa099bccaf2a80273ba.attr6bb662.tmp.tmp” :file name too long )"
I'm trying to install infer(https://github.com/facebook/infer/blob/master/INSTALL.md#pre-compiled-versions) on my Ubuntu 14.04 system, But now I'm facing a problem,one tmp file name too long that abort the make progress.see blew

![error](https://cloud.githubusercontent.com/assets/25050663/21839035/8dd353e8-d810-11e6-9069-7da37d983168.PNG)
Is any one can give me some advice on it. Waiting for your

[2017-01-11 18:37] jvillard commented on #561
Could you paste the full output together of the build command as text? It's hard to count the number of characters on an image ;)

What's weird to me is that this path doesn't seem too long: no path element seems to be over 255 characters (but I haven't counted precisely). What filesystem is this, can you give the output of `mount`?

[2017-01-11 21:25] jberdine commented on #561
It may also be that realpath of a seemingly short path turns out to be very long.

[2017-01-11 21:39] cxzhang2 opened #562 "false-positive (?) on null deferencing"
error message:
![image](https://cloud.githubusercontent.com/assets/2879713/21866075/ab49660a-d816-11e6-93a4-c4dd679ee259.png)

code that it's referencing:

[code]

changing the key to a `Float` "fixes" the bug.

strangely, hardcoding the key also doesn't generate a bug report, e.g.:

[code]

is fine according to Infer.

[2017-01-11 21:43] jeremydubreil commented on #562
Hi @cxzhang2. Is `1f` a global constant in your example ?

[2017-01-11 21:44] cxzhang2 commented on #562
It is local

[2017-01-11 23:06] jeremydubreil commented on #562
Do you still get the NPE reported if you use:
[code]
?

[2017-01-11 23:15] cxzhang2 commented on #562
yes

[2017-01-11 23:43] jeremydubreil commented on #562
Yes, sorry.

Thanks for checking. So Infer does not understand that `map.get(key)` called twice in a row will return the same value. So Infer assume that `map.get(key)` can return null in `return map.get(key);` does dereference the returned value to unbox the float value. This is indeed a false positive, thanks for reporting it. I will check how we can make Infer not reporting anything here.

Howe

[2017-01-12 02:48] cxzhang2 commented on #562
Hey @jeremydubreil thanks for the suggestion I'll do that for now.  My intuition is that Infer does a `==`check on the keys.  This would explain why `float` generated the bug report but `Float` and the hardcoded `1f` doesn't.   i.e. looking just at the keys of the two map.get() calls, these are the three scenarios:

[code]

[code]

`1f == 1f //true, null check is honored`

[2017-01-12 11:02] akotulski commented on #552
Looks like all issues were resolved. Don't hesitate to open new issues if you encounter problems

[2017-01-12 11:02] #552 closed

[2017-01-12 13:02] jotaemepereira commented on #34
+1

[2017-01-12 19:16] jvillard commented on #423
Seems like we can close this, please re-open if not.

[2017-01-12 19:16] #423 closed

[2017-01-12 19:28] jvillard commented on #390
There have been a number of improvements in infer since this issue was open so I'm closing it. @fancygeek please re-open if infer is still many times slower than compilation.

@harshikesh sorry for the delay; `infer --changed-files-index file_list.txt --reactive ...` will not analyse all the source files that have been captured, but instead only the ones in "file_list.txt", and the ones that they

[2017-01-12 19:28] #390 closed

[2017-01-12 19:36] jvillard commented on #317
There was indeed an issue with wrong line numbers that have been fixed in master: bfb0cfa4fd65089094fd6f552e72689d642b9788 and 81856c0d15d14b823431db983152d4488779af08

It looks like you were hitting the same issue. Please re-open if not.

[2017-01-12 19:36] #317 closed

[2017-01-13 06:25] fancygeek commented on #390
ok，thank you!

[2017-01-13 08:04] zhangying19871987 opened #563 "when I run infer, my computer crash"
I use infer 0.9.3 to analyse my ios app, but sometimes my computer crash like this:
<img width="1325" alt="c4f71023-b3ad-4bf8-86f0-3376f6967ca4" src="https://cloud.githubusercontent.com/assets/18108287/21922507/e87b7bfa-d9a9-11e6-9320-492a706058ae.png">

[2017-01-13 08:05] zhangying19871987 commented on #563
when this happen, I can do nothing without kill the infer process

[2017-01-13 10:24] akotulski commented on #563
Please upgrade to infer-0.9.4.1 and try again:
  brew update && brew upgrade infer

[2017-01-13 22:39] kageiit commented on #559
@jeremydubreil That sounds like a great idea. As long as infer knows how to extract the analysis artifacts from the `prebuilt_jar` or `prebuilt_android_aar` decorated infer/eradicate genrules, the performance impact will be minimal and the quality of analysis will be a lot greater. Seems like that is the best approach forward.

[2017-01-16 15:14] #560 closed

[2017-01-16 15:16] jvillard commented on #560
Thanks for the report! Apparently GitHub stopped supporting `C` and `Java` as languages and wants `c` and `java` instead. Looks ok now as far as I can tell.

[2017-01-19 12:13] revolter commented on #84
I agree with @Ricardo1980. Cocoapods is so used that this should be in the "Hello World" example.

[2017-01-19 12:42] jvillard commented on #84
Are you talking about adding this information here: http://fbinfer.com/docs/hello-world.html? It would be easy to add a note in the "Hello world iOS" section.

By the way, there's an entry in the FAQ, but maybe it should be given more visibility: http://fbinfer.com/support.html#infer-cannot-analyze-my-cocoapods-project

[2017-01-19 13:25] revolter commented on #84
Yes, in the _Hello world Objective-C_ section, there could be a warning like:

[2017-01-20 19:36] msridhar opened #564 "Eradicate unsoundly missing an uninitialized field"
Test case:
[code]
Analysis output (running from git master):
[code]
But when I run the program:
[code]
If I comment out the body of the `MissingFieldInit` constructor I get an error as expected.

[2017-01-23 10:17] mohammedsafiq opened #565 "How to suppress a warning in eradicate?"

[2017-01-23 15:01] cristianoc commented on #564
Thanks for the report!
There's a fix coming.

[2017-01-23 17:00] cristianoc commented on #565
Here's an example:
[code]

[2017-01-23 17:49] cristianoc commented on #564
Fixed in https://github.com/facebook/infer/commit/3f8ee7df493f951bf34fe43096cae091310ebd26.

[2017-01-23 17:51] #564 closed

[2017-01-23 17:55] msridhar commented on #564
Thanks for the quick fix!

[2017-01-23 18:55] mohammedsafiq commented on #565
Thanks.

[2017-01-23 19:02] mohammedsafiq opened #566 "Problem in blacklisting the file in eradicate"
Hi,

I have to ignore some files in my project for eradicate analyzer.

So, in .inferconfig, I have wrote,

"eradicate_blacklist":[
"filename1",
"filename2"]

But eradicate is still running the analyzer for the above mentioned files even though it is blacklisted.

Here is the command which i use to run eradicate.

infer -a eradicate -- ./gradlew --offline assLollipopDeb

I have also tried eradicat

[2017-01-23 19:57] msridhar opened #567 "Eradicate and conditional field initialization"
Test case:
[code]
Eradicate finds no issues for the above code, but running the code fails with an NPE.  I'm not sure if this is a bug or whether my expectations are off, in terms of what kind of guarantees Eradicate is intended to provide around field initialization.

[2017-01-23 21:47] sblackshear commented on #566
Are `filename1` and `filename2` relative paths to the files from the project root? If you are running Eradicate from `myproject/` and `filename1` is at `myproject/src/com/my/project/filename1`, .inferconfig would expect `src/com/my/project/filename` in `eradicate_blacklist`.

In addition, note that the blacklist does not actually stop Eradicate from running on those files altogether; it just stops

[2017-01-24 00:48] msridhar commented on #567
Here's another similar test:
[code]
Not sure if this is the same problem or not.  If it's different, let me know and I can open a separate issue.

[2017-01-24 07:42] chenglou opened #568 "Syntax highlighting has arrived for Reason on Github"
@jberdine I recall you wanted to remove those comment headers for Reason files?

[2017-01-24 08:30] rvantonder opened #569 "Question: Multicore mode"
How does Infer partition files for analysis in multicore mode (and how does this relate to cluster makefiles)?

[2017-01-24 09:53] cristianoc commented on #568
@chenglou what's the expected classification in the bar that shows the distribution of files per language?
With the comment headers, .re files are classified as Rust files.
Without comment headers, e.g. `InferPrintExe.re` seems not to be classified as any language: https://github.com/facebook/infer/search?utf8=%E2%9C%93&q=InferPrint&type=Code
Though there is syntax highlighting.

[2017-01-24 09:55] chenglou commented on #568
https://github.com/github/linguist/pull/3336 seems to have categorized it as plain ocaml. Will have to verify with @freebroccolo

[2017-01-24 10:33] #568 closed

[2017-01-24 10:43] #565 closed

[2017-01-24 15:40] jvillard commented on #569
The partition is that each file is one cluster. The makefiles run the clusters in parallel.

Clusters (and Makefiles) exist mainly because of historical reasons: it used to be the case that infer partitioned procedures according to a call graph that it was trying to compute before the analysis. Now we rely on an on-demand analysis of procedures: if the analysis of a procedure `foo` requires the sp

[2017-01-24 18:05] AppVet opened #570 "Building on CentOS 7 fails"
I followed directions for building infer on CentOS using: ```sh run.sh``` but it gave the errors below. Also, it says that a shell script in ```/infer``` returned a '1', but there is no ```/infer``` directory. Can anyone help?

[code]

[2017-01-24 21:27] rvantonder commented on #569
Thank you @jvillard, that's helpful.

[2017-01-24 21:27] #569 closed

[2017-01-24 22:34] freebroccolo commented on #568
Originally they were going to be classified as Reason files but one of the linguist maintainers requested that I change it to OCaml.

[2017-01-25 11:51] jvillard commented on #570
Hi, what version of infer did you try? The /infer directory is inside the Docker instance, you can get a shell in that instance by running `docker run -it infer /bin/bash` from the docker/ directory.

[2017-01-25 18:26] cristianoc commented on #567
Thanks for the reports.
In both cases, referencing the object before the conditional triggers the expected report (`Object tmp = o1;` and `Object tmp = x.f1;`), so perhaps the same mechanism can address both.
I'll do some experiments and see how that affects the rest of the system.

[2017-01-25 18:43] amunro commented on #34
+1

[2017-01-25 23:03] msridhar commented on #567
Ok, great, thanks for looking into it!

[2017-01-26 23:08] satabafome commented on #567
DEUS LUZ FORÇA AXE

[2017-01-27 12:10] trulex commented on #501
I've come back to this issue after some time. I analyzed the trace with inferTraceBugs, and there's something I don't understand.
[code]
Why doesn't the analyzer enter init() method on line 257?

[2017-01-27 13:00] satabafome commented on #501
[cid:7d84c005-35cd-4590-9801-530072ee4a1f]

________________________________

Vinnycius de Rodrigues
Cargo
Empresa

________________________________
De: Darko Janković <notifications@github.com>
Enviado: sexta-feira, 27 de janeiro de 2017 10:10:31
Para: facebook/infer
Cc: Subscribed
Assunto: Re: [facebook/infer] Annotating method with @NonNull (#501)

I've come back to this issue after some time.

[2017-01-30 09:51] trulex opened #571 "Support for android.util.Pair"
CLASS_CAST_EXCEPTION is reported for code where Pair is used and running Infer in debug mode.
[code]
error: CLASS_CAST_EXCEPTION (backend/BuiltinDefn.ml:249:10-17:)
  class android.util.Pair cannot be cast to class java.lang.Integer   at line 20

[2017-01-30 22:08] Guoanshisb opened #572 "Conflicting if condition value in an error trace"
Hi there,

I am using Infer (version v0.9.4) to analyze sqlite and got a weird error trace that contains contradictory values of a certain if condition.

[code]

Shaobo

[2017-01-30 22:23] jeremydubreil commented on #501
Is `init()` defined `Manager.java` ?

[2017-01-31 07:27] mohammedsafiq opened #573 "Eradicate is not understanding the flow in the code."
Hi,

Please look in the following example.

@Nullable
public String name;

public static boolean notEmpty(@Nullable String string) {
    return !isEmpty(string);
}

public static boolean isEmpty(@Nullable CharSequence str) {
        if (str == null || str.length() == 0)
            return true;
        else
            return false;
}

**My piece of code is**,

public void checkString()
{
   if (n

[2017-01-31 09:53] trulex commented on #501
Yes

[2017-01-31 14:09] jvillard commented on #572
Infer includes the evaluation of sub-expressions in the trace, so the way to read this is:
1. `pVal` is true
2. `!pVal` is false

I agree that this can be confusing when negations are involved, especially when the subexpression is trivial. This could be made clearer by adding column number information to the traces to clarify which sub-expression is being evaluated. This is quite hard as, eg, the

[2017-01-31 19:02] Guoanshisb commented on #572
@jvillard Thanks for your reply. It make sense now. May I ask another question about error trace? I noticed that some functions are not stepped into in the error trace even I set the max level to "max". I was wondering if the analysis is broken somewhere in these functions.

[2017-02-02 09:12] cristianoc commented on #573
Hi @mohammedsafiq, Eradicate works pretty much like a type checker, where a value annotated @Nullable is considered as always being potentially null, so local checks for null are required.
In particular, Eradicate does not try to understand the flow of values in a method call, such as `notEmpty(name)`. Another way to look at this: it only considers information at method boundaries, so it will give

[2017-02-02 15:24] jvillard commented on #572
@Guoanshisb this can happen when infer failed to analyse a function for some reason. Possible reasons include infer getting confused when trying to understand the code, or the function taking too long to analyse.

It could be useful to include that kind of info in the trace too in the future.

[2017-02-02 15:25] jvillard commented on #570
Friendly ping: any progress here?

[2017-02-02 20:15] Guoanshisb commented on #572
Thanks, @jvillard. It's so nice of you to answer my questions. Just want to confirm this issue:

[code]

This is the last part of an error trace I got from executing the command, `inferTraceBugs --select 11 --max-level max`. `*ppDb` is initialized to 0 at the beginning and got deferenced at line 142399 (`#define ENC(db)        ((db)->enc)`). However, `openDatabase` can have side effects of updatin

[2017-02-03 01:23] jvillard commented on #572
@Guoanshisb you can look at the specs in infer-out/specs/ and see if you see one for `openDatabase()`. It should look like `openDatabase.<some hash>.specs`. `InferPrint` knows how to read .specs files if you pass them on the command line (depending on how you installed infer, you may not have it in your `PATH` though, but it's always at `$(dirname $(realpath $(which infer)))/InferPrint`).

[2017-02-03 18:19] Guoanshisb commented on #572
@jvillard There are some specs for this function,

[code]
Does it mean the analysis times out on this function?

[2017-02-03 22:12] jvillard commented on #572
`FAILURE:SYMOPS TIMEOUT (334)` yup, that's a timeout (too many symbolic execution steps).

We are increasing the default timeout in the next release (it's already in master), but in the meantime you can increase the timeout using the options `--iterations` and `--symops-per-iteration`. See `infer --help-full` for usage.

[2017-02-06 08:24] cristianoc commented on #567
Hi @msridhar, there is a new treatment of conditionals in https://github.com/facebook/infer/commit/319e3ed271e81618bdd809823c2dbb9e065e2794.
This affects the treatment of conditionals in general, when a value is accessed for the first time in one branch of the conditional, and is not accessed in the other branch. The tests we have run look positive so far.

[2017-02-06 16:22] jvillard opened #574 "Print the expression being evaluated in infer traces"
This will help understand for instance which condition is being evaluated when infer prints `Condition is true/false`. An example from #572:

[code]

The goal would be for infer to include a different message in the trace, so that `inferTraceBugs` would print this instead:

[code]

The code printing this message is [here](https://github.com/facebook/infer/blob/fb14d31bb71c480e548cfa2bb22a3c2117e69

[2017-02-06 16:41] jvillard opened #575 "If a function is skipped by Infer, include the reason why in the trace"
It can happen that infer fails to analyse a function for some reason. Possible reasons include infer getting confused when trying to understand the code, or the function taking too long to analyse.

When infer reports, calls to skipped functions are simply jumped over, which can leave people wondering why infer won't go inside the function. Including some information why infer skips a function ins

[2017-02-06 16:43] jvillard commented on #572
I filed #574 and #575 to address the points about making traces more informative, I think this one can be closed now. Let me know if you have other issues!

[2017-02-06 16:43] #572 closed

[2017-02-06 17:01] msridhar commented on #567
That sounds great!  Did you leave this issue open deliberately?  If the tests above are behaving as expected now, I'm fine with closing.  It may take a bit time before we are able to run this new version across our code base.

[2017-02-06 20:50] daneov commented on #9
+1

[2017-02-07 07:46] cristianoc commented on #567
Great, let us know if you notice anything. Closing for now.

[2017-02-07 07:46] #567 closed

[2017-02-07 11:24] technion commented on #570
I replicated this today.

This is not a CentOS problem. @jvillard I suspect the root cause is an updated OS package that broke something, as the problem is I cannot get the Docker image to build.

Following commands run today:

[code]

Error messages continue as per original issue.

[2017-02-07 12:44] AppVet commented on #570
Is it possible to get a fully-built Docker image or executable for Infer, preferably for CentOS7 but will consider any OS including Windows?

[2017-02-07 13:10] jvillard commented on #570
@AppVet you can always build infer from source (using the [release](https://github.com/facebook/infer/releases/latest/) or directly from GitHub). See the "Install from source" section of the [getting started page](http://fbinfer.com/docs/getting-started.html). For CentOS7 you will need to install some dependencies, including `sudo yum install autoconf automake cmake devtoolset-2-gcc-c++`.

I will

[2017-02-07 22:02] technion commented on #570
Thanks @jvillard . None of this should matter since it's docker, but just in case:

[code]

This is probably not the place to discuss it, but the build does take forever even when it works. I'd be happy to put my hand up to managing a prebuilt image to solve @AppVet 's request if there was interest.

[2017-02-08 06:58] Vissonabe opened #576 "False Positive Detected by Infer in JAVA"
False positive for Null reference exception.

I have a static method
[code]

when i call this in class like this

[code]

it still throws `temp` could be null.

Can you please tell what is the solution for this.

[2017-02-08 18:00] jeremydubreil commented on #571
There currently are issues with `CLASS_CAST_EXCEPTION`. These warnings are not production ready so you should not rely on those warnings. The issue here is not specific to `android.util.Pair` but more broadly about having parse data when checking for sub-typing. This is being worked on so this particular issue may disappear once class cast checks are production ready.

Please re-open an issue if y

[2017-02-09 02:54] cristianoc commented on #573
Closing for now. Feel free to reopen if there are further questions.

[2017-02-09 02:54] #573 closed

[2017-02-09 09:51] trulex commented on #571
Thank you.

[2017-02-09 09:51] #571 closed

[2017-02-10 03:35] kraj opened #577 "Uninterpreted extension 'merlin.syntax-error'"
I am getting following error when compiling from source or from prebuilt release tarball on ubuntu 16.04/64bit

File "IR/StructTyp.rei", line 22, characters 17-237:
Uninterpreted extension 'merlin.syntax-error'.
Command exited with code 2.
Compilation unsuccessful after building 89 targets (0 cached) in 00:00:09.
Makefile:176: recipe for target '/home/kraj/infer/infer/_build/infer/backend/infer.na

[2017-02-10 03:42] kraj commented on #577
kraj@ubuntu:~/infer$ opam list | grep merlin
merlin                  2.5.3  Editor helper, provides completion, typing and so
merlin-extend             0.3  A protocol to provide custom frontend to Merlin

[2017-02-10 04:54] carozuoP opened #578 "can't install infer from source via ./build-infer.sh java"
when I run ./build-infer.sh java, it popped
=-=- Synchronising pinned packages =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  🐫
[infer-deps-iGyw] /Users/zuoqiong/Documents/infer/infer/infer-deps-iGyw/ already up-to-date
The following dependencies couldn't be met:
  - infer-deps-iGyw -> reason >= 1.4.0
Your request can't be satisfied:
  - reason>=1.4.0 is not available because the package is pinned to

[2017-02-10 05:50] banfeng commented on #577
Dear all,

I met this trouble as well, below is the error msgs:
File "IR/StructTyp.rei", line 23, characters 17-237:
Uninterpreted extension 'merlin.syntax-error'.
Command exited with code 2.
Compilation unsuccessful after building 135 targets (0 cached) in 00:00:08.
make[1]: *** [infer] Error 10
make[1]: Leaving directory `/home/ban_feng/Templates/infer/infer-linux64-v0.9.4.1/infer/src'
make: ***

[2017-02-10 10:12] jvillard commented on #578
Your version of reason was pinned at a specific version that is outdated, probably by a previous version of the `build-infer.sh` script. You need to unpin it:

[code]

Let me know if this works for you.

[2017-02-10 10:27] jvillard commented on #577
What command did you use to build?

Could you please paste the output of `OPAMSWITCH=infer-4.02.3 opam list`?

You might be missing the "ppx_deriving" package.

[2017-02-10 10:41] jvillard commented on #577
Hold on, this has also been affecting our Travis CI since [yesterday](https://travis-ci.org/facebook/infer/jobs/199705140). I'm investigating. Perhaps an upgrade on some opam package has broken infer.

[2017-02-10 12:34] jvillard commented on #577
While master is fixed, this doesn't address the issue in the release, reopening.

[2017-02-10 16:27] jvillard commented on #577
I made a new release with the fix: https://github.com/facebook/infer/releases/tag/v0.9.5

Let me know if this works for you.

[2017-02-10 17:46] kraj commented on #577
todays master works well

[2017-02-10 17:46] #577 closed

[2017-02-10 19:41] ilazakis commented on #34
+1

[2017-02-11 12:59] carozuoP commented on #578
it worked, but it still pop error. I installed successfully finnaly by opam update, opam upgrade, it fixed all my dependencies. thanks jvillard

[2017-02-11 12:59] #578 closed

[2017-02-13 02:52] banfeng commented on #577
Dear jvillard,

After git clone or download a new package, I encounter another issue:
Your request can't be satisfied:
  - Conflicting version constraints for reason

No solution found, exiting

without your commit, I will meet the original build break. :<

[2017-02-13 03:21] banfeng commented on #577
ban_feng@banfeng:~/Templates/infer/infer-linux64-v0.9.5$ OPAMSWITCH=infer-4.02.3 opam list
# Installed packages for infer-4.02.3:
atd                     1.2.0  Parser for the ATD data format description language
atdgen                 1.10.0  Generates efficient JSON serializers, deserializers and valida
base-bigarray            base  Bigarray library distributed with the OCaml compiler
base-ocam

[2017-02-13 04:13] shaobo-he opened #579 "biabduction forgets too much about array values"
Consider the following C program,

[code]
There is a NULL pointer deference bug in this program. However, Infer (v0.9.4) does not catch it with the default setting,

[code]
Here is the spec for function main,
[code]
So I tried to increase time limit suggested in the issue #572. However, Infer still didn’t catch the bug.

[code]
It seems there was no timeout for this run. Please let me know if I in

[2017-02-13 05:56] banfeng commented on #577
After re-installed all dependencies, it works at the latest release. :>

[2017-02-13 09:15] banfeng opened #580 "How to build linux kernel with infer"
Hi all,

Recently I would like to use infer to check the linux kernel v3.18 sourcecode.
For example, I can successfully use infer to check the files which locate in .../examples/.
However, if changing to kernel driver, such as .../driver/mmc/core/core.c, it will meet lots of header files doesn't include.
And if following aosp build kernel steps, http://source.android.com/source/building-kernels.ht

[2017-02-13 10:07] akotulski commented on #580
In general, in order to to analyze code with infer, you need working compilation command and most of the time we can't tell our users what the right command is.

With your example, let's say you want to analyze `../driver/mmc/core/core.c`:
you probably can't run `infer -- clang -c ../driver/mmc/core/core.c`, as it will miss header search paths. Instead, you need to find Makefile target that builds

[2017-02-13 10:43] jvillard commented on #579
Infer is quite aggressive in abstracting away array values so I'm not surprised it doesn't find this bug. If you want to find out more you can pass `--debug` to infer:
- it will show you if the error was filtered out
- if you are curious you can inspect the intermediate values of the analysis in "infer-out/captured/test1.c.*.html" (warning: this displays the internal symbolic execution state of in

[2017-02-13 22:50] Guoanshisb commented on #579
@jvillard Thanks for your reply. I tried to change the program so that it exits when `malloc` fails as you suggested and got the same result. I was wondering if there is something that I can do to improve the precision.

If it's convenient for you, would you mind taking a look at another example that is a slightly modified version of this one?

[code]

Here is the result I got,
[code]

Infer catch

[2017-02-14 11:05] jvillard commented on #579
The complete trace with intermediary states is in the html debug (with `--debug`): infer-out/captured/*.html.

[2017-02-15 20:00] daneov commented on #9
Workaround
---

### Generate a json compilation database
If you add the [following parameter](http://oclint-docs.readthedocs.io/en/stable/guide/xctool.html#running-xctool-with-json-compilation-database-reporter) to
* `xctool`: `-reporter json-compilation-database:compile_commands.json`
* `xcpretty`:  `-r json-compilation-database -o compile_commands.json`

#### This'll enable you to use one of the

[2017-02-17 10:55] prizrak1609 commented on #34
+1

[2017-02-22 20:03] rex-remind101 commented on #34
👍

[2017-02-23 05:11] medduk9871 opened #584 "BufferOverrun Analysis Error"
Hello!

I tried the Inferbo(Buffer Overrun) with some of open sources.
There's no issue with the test cases in the source code to analyze bufferoverrun.
But, I got the errors like below when analyzing the opensource whose loc is about 362,000.

[Error in analysis phase]
`ONDEMAND EXCEPTION dev_urandom (Failure
  "conversion from int64 to int failed: 9223372036854775807 is out of range")

BACK TRAC

[2017-02-23 09:36] technion commented on #570
Despite the fact that the Docker image is built in the CI environment which apparently returns 0 and gives it an all green - the build there currently fails. See this line of the log from the last build:

https://travis-ci.org/facebook/infer/jobs/204297887#L2278

I believe there's an issue with the CI environment compounding this issue, in that it suggests the Docker image is working when apparent

[2017-02-23 10:00] jvillard commented on #584
Hi @medduk9871, this is an internal infer error. Does the analysis carry through after that? If so you don't need to worry about it.

We can look into fixing it in infer though, thanks for the report.

[2017-02-23 10:01] jvillard commented on #570
@technion good catch!

[2017-02-23 16:56] jvillard commented on #570
I'm working on a fix; looks like it's missing the libffi-dev dependency.

[2017-02-23 23:19] Guoanshisb opened #586 "Infer v0.9.4 fails to analyze openssh-portable-V_7_2_P2"
Hey guys,

Infer throws some errors and fails to analyze openssh-portable-V_7_2_P2 (`infer -- make -j64`).  The useful error message may be,

[code]

It's weird that Infer v0.8.1 works fine on this project.

Shaobo

[2017-02-24 03:08] 3flex commented on #570
@jvillard I was just going to open a PR for that very issue - the Docker image didn't build for me either, showing the error below. Installing `libffi-dev` at the apt-get install step fixed the build.

[code]

[2017-02-24 18:02] jeremydubreil commented on #586
Hi @Guoanshisb,

Thanks for reporting this.

Can you check if you get the same error with the latest release v0.10.0 ?

[2017-02-24 20:20] 3flex opened #588 "build-infer.sh fails with opam 1.2.0"
Related to #554 (specifically this https://github.com/facebook/infer/pull/554#issuecomment-271283944)

Confirm that build-infer.sh fails on opam 1.2.0 due to the changed name of the flag as of https://github.com/ocaml/opam/commit/9ccabc03f75b1908ce5fda4c676ddd16d9d0c7ce#diff-906c973c07f8c64e8dd7866de2b40e35. Error is:
[code]

Would either need to support both `--comp` and `--compiler` flags in bui

[2017-02-24 22:06] Guoanshisb commented on #586
Yes, it seems v.10.0 also doesn't work. The following are the relevant messages,

[code]

[2017-02-24 22:38] michaeleiselsc opened #590 "Infer fails with "PCH file built from a different branch ((clang-800.0.42.1)) than the compiler ()""
Hi, I'm getting the following problem:

[code]

Any ideas?

[2017-02-24 22:39] michaeleiselsc commented on #590
I believe this may have been caused by me building it from scratch without using infer, and then having infer do an incremental build? But then there are problems when I try to do it with infer from scratch

[2017-02-24 22:45] michaeleiselsc commented on #590
[code]
[code]

[2017-02-25 01:30] michaeleiselsc commented on #590
what if i just replaced infer's version of clang with a symlink to xcode's?

[2017-02-25 07:05] jeremydubreil commented on #586
Thanks for checking with the latest release. So the issue comes for here: https://github.com/facebook/infer/blob/957b67fa878f297f12a9bdb3dcf13fd962856e2a/infer/src/backend/interproc.ml#L1433

However, I cannot reproduce the error locally when running Infer on `openssh-7.2p2`

[2017-02-25 07:27] Guoanshisb commented on #586
@jeremydubreil  Thanks for looking into it. I just downloaded the openssh source code again and ran infer.  And I got the same error again.

The commands I used are,

[code]

I was wondering if I invoked Infer correctly here.

[2017-02-25 18:46] jeremydubreil commented on #586
This is the expected way to run Infer. I also tried with `infer -- make -j64` but did not observe the same issue. I look into what can cause the files to not be found.

[2017-02-26 01:59] Guoanshisb commented on #586
@jeremydubreil Thanks a lot for your help.

[2017-02-27 07:26] xennygrimmato commented on #574
Can this issue be extended to also cover an entire `if` condition. To be specific, we currently output `Taking true branch` or `Taking false branch`, but we should ideally print the expression as well.
Referring to [this part of code](https://github.com/facebook/infer/blob/fb14d31bb71c480e548cfa2bb22a3c2117e698b4/infer/src/backend/paths.ml#L447-L448).

[2017-02-27 09:15] mohammedsafiq opened #591 "Is @SuppressWarnings("infer") not supported from 0.9.4 ??"
But the documentation says it is removed in 0.10.0. Then how come it is not working in 0.9.4 itself?

[2017-02-27 09:18] mohammedsafiq commented on #591
But the documentation says it is removed in 0.10.0. Then how come it is not working in 0.9.4 itself?

[2017-02-27 10:07] sencho opened #592 "inferTraceBugs error"
When I run `inferTraceBugs` command  at below two cases, error happens.

Infer Version:v0.10.0, install through brew.

Case1:
Command:
[code]

Error:
[code]

Case2:
Command:
[code]

Error:
[code]

[2017-02-27 12:03] jvillard commented on #588
Thanks @3flex. As I said in the comment you link to, I'd rather bump the minimum version of opam we support that periodically fix the build for ancient opam versions. Would that make sense for your use-case too?

[2017-02-27 12:56] qmkCamel commented on #34
+1

[2017-02-27 13:18] jvillard commented on #574
@xennygrimmato yes, that makes sense.

[2017-02-27 13:37] jvillard commented on #590
Can you try with PCH disabled? `GCC_PRECOMPILE_PREFIX_HEADER=NO infer -- ...` (see our [FAQ](http://fbinfer.com/support.html#i-get-a-compilation-error-involving-pch-files-when-running-infer)).

What problems? I don't think it will work incrementally if you first compiled with Apple's clang.

Infer needs a specific version of clang to run which is why it's shipped with infer. This is because it att

[2017-02-27 13:48] jvillard commented on #592
Thanks for the report. Could you please paste the contents of infer-out/toplevel.log?

[2017-02-27 14:59] sencho commented on #592
I installed Infer v0.9.3 manaully before

[code]

[2017-02-27 15:03] jvillard commented on #592
Does 0.9.3 also crash with the same error?

[2017-02-27 15:06] sencho commented on #592
Already removed,but echo the $PATH display below,is no "infer-osx-v0.9.3".
[code]

[2017-02-27 15:07] 3flex commented on #588
Yes, I was only playing around with the Docker build, so bumping the minimum version would have no effect on me.

[2017-02-27 15:20] jvillard commented on #592
Can you paste toplevel.log after running infer 0.10.0 and making inferTraceBugs crash?

[2017-02-27 15:37] sencho commented on #592
I removed toplevel.log and run inferTraceBugs --html, these is no toplevel.log file.
and error is:
[code]

[2017-02-27 16:47] jeremydubreil commented on #591
Do you have a small example where `@SuppressWarnings` does not work with 0.9.4 ?

Having support for `@SuppressWarnings` is very tricky because the default `@SuppressWarnings` annotation only source retention only, and Infer runs on bytecode. The support was based on some complex annotation processing step and I would not be surprised if there are cases where it does not work properly. As of 0.10.

[2017-02-28 04:04] sagpatil opened #594 "Cannot find Command InferPrint"
Hi,

I am getting started with Infer and I can see it analyzed the project and created the output json and csv files, however I cannot use InferPrint to see the report.

I am on Infer version v0.10.0.

I get a -bash: InferPrint: command not found

[2017-02-28 09:30] jvillard commented on #594
Hi @sagpatil, we do not put `InferPrint` in the PATH because it's internal to `infer`, but it's still available. You should be able to find it with `$(dirname $(realpath $(which infer)))/InferPrint`, or directly with `/usr/local/Cellar/infer/0.10.0/lib/infer/infer/bin/InferPrint`.

[2017-02-28 19:27] #594 closed

[2017-02-28 19:27] sagpatil commented on #594
Thanks @jvillard

[2017-03-01 00:33] vavrusa commented on #584
It doesn't generate the report fwiw:

[code]

[2017-03-01 10:52] sencho opened #596 "Confuse how to integrate Infer into our Gitlab CI"
I am confused how to integrate Infer into our Gitlab CI pipeline at static analysis stage:

* To slow
I use this command follow the wiki,but still scan whole project 1700+ files when CI Runner checkout the branch every time。
[code]

* Can seperate two phases?
 I just want to analyze  the commit files ,but Infer must compile first,and use command `infer -- <command>`
Suppose our CI pipeline include

[2017-03-02 06:18] Guoanshisb commented on #586
@jeremydubreil I would like to share some update on my side. I tried to build Infer v0.10.0 on Windows subsystem for Linux and it worked on openssh. I guess that I must have messed up some environment setups in another machine. Do you think the clang version matters?

[2017-03-02 08:51] qmkCamel commented on #312
Now it should replace " infer_whitelist " to " infer-whitelist-path-regex ".
But I don`t find any thing about the white-list or black-list in the website .
Is there anything need to explain how to use it in the website , or just give a example in the website.
Thanks !

[2017-03-02 17:36] jeremydubreil commented on #586
Thanks for the update. Infer uses its own version of clang. I may be wrong but the version installed on the system should not matter. @jvillard: is this correct ?

[2017-03-02 17:38] Guoanshisb commented on #586
Yes, my guess is also that clang version shouldn't matter. It's weird that I got the same errors again after some experiments. Now I'm trying to use the docker image. It seems to work pretty smoothly.

[2017-03-02 17:41] Guoanshisb commented on #586
May I ask another question here? If I increase the `--iterations` flag, Infer will probably get more precise, right?

[2017-03-02 17:47] RomanWuattier opened #600 "Reactive mode is not working"
Hi!
I use infer to find every NPE in my Android application. Gradle is an incremental build system so I would analyse only the current changes.
Here is how I use reactive mode with infer v0.10.0:
```$ ./gradlew clean```
```$ infer -a capture -- gradle build```
```$ infer --reactive --continue -- gradle build```

Infer find some issues among 2000 files.

The execution time is very slow and infer an

[2017-03-02 17:52] xennygrimmato commented on #586
I have faced the same issue while analyzing a project with a large number of Java files.
@jeremydubreil Do you think it could be because of that?

[2017-03-03 08:12] qmkCamel opened #602 "How to set the –iphoneos-target-sdk-version"
infer  -- clang –iphoneos-target-sdk-version 8.0
Is it like this ?
But I got the following issue
clang: error: no such file or directory: '–iphoneos-target-sdk-version'

thanks

[2017-03-03 08:42] xennygrimmato opened #603 "Java - Dynamic Dispatch Analysis"
How does Infer treat cases in which an anonymous class is extended and a method is over-ridden?

For example:
[code]
Function `query(...)` is called inside `execute()`, but Infer does not go inside the `execute()` method for analysis. Is this the expected behaviour?

Due to this, I am encountering a false positive, so I want to understand why Infer does not visit `execute()`.
I'll be happy to shar

[2017-03-03 10:46] jvillard commented on #602
You want `--` (two dashes) not `–` (one long dash).

[2017-03-03 10:54] jvillard commented on #586
@jeremydubreil correct.

It will spend more time on procedures before giving up. That often translates into more precision but your mileage may vary.

@xennygrimmato size of chains of function calls do not matter thanks to the way the interprocedural analysis is implemented: a caller only knows to read the spec of the callees, it doesn't need to go and look at their code.

[2017-03-03 11:00] jvillard commented on #312
@qmkCamel they work the same as before, only the names changed. The example above is still valid.

If you specify a whitelist, only the files whose path matches the whitelist regexp will be analysed. The path is relative to the project root (see help for `--project-root`).

[2017-03-03 11:06] dulmarod commented on #602
In general, you can check these things with infer --help.

[2017-03-03 12:46] qmkCamel commented on #312
@jvillard Thanks ! I got it .

[2017-03-03 15:46] #602 closed

[2017-03-03 23:09] shaobo-he opened #604 "Function specs missing"
Hi,

In the spec folder, there are no specs for some functions in the source file. Is it possible to troubleshoot why it happens?

Thanks,
Shaobo

[2017-03-03 23:20] Guoanshisb opened #605 "Start analysis from certain function"
Hi,

May I ask if it is possible for Infer to start analysis from certain function? It would be useful if a bug is fixed on one function or the user would like to increase the time spent on some critical function of which the analysis times out.

Thanks,
Shaobo

[2017-03-04 15:04] jvillard commented on #605
You can start from a specific **file**, but not from a specific procedure. See the `--changed-files-index` option.

[2017-03-05 16:01] sblackshear commented on #546
We have the annotations published now; see https://github.com/facebook/fresco/commit/b33eefb87639a1cf22e0f6d5068305afe1bbf497 for an example usage.

[2017-03-05 16:01] #546 closed

[2017-03-05 16:18] davido commented on #546
Thanks.

[2017-03-06 05:27] technion commented on #570
I can confirm recent updates to the Dockerfile resolve this issue.

[2017-03-06 08:09] sencho opened #607 "Incremental build is not work at iOS project"
Step1: edit one .m file

Step2: run below command
[code]
Infer is still scan all files,why?

[2017-03-06 08:21] cristianoc commented on #607
Thanks, also reported in https://github.com/facebook/infer/issues/600.
A fix is available, we just need to push it.

[2017-03-06 08:21] cristianoc commented on #607
Closing as duplicate. Please follow on https://github.com/facebook/infer/issues/600.

[2017-03-06 08:21] #607 closed

[2017-03-06 08:24] sencho commented on #607
I had a issue #596  before ,but  no one can help me.

[2017-03-06 08:27] cristianoc commented on #596
@sencho is your build incremental, or does CI compile everything every time it runs?

[2017-03-06 08:29] sencho commented on #596
Incremental, we have Android/iOS/Java/HTML5 project

[2017-03-06 08:32] sencho commented on #596
compile everything every time it runs

[2017-03-06 08:40] sencho commented on #596
@cristianoc ,I have another problem if the two builds are in different CI Runner, how can i ensure that two of the infer-out file contents are synchronized? Should i put the infer-out folder content up or ignore it?

[2017-03-06 08:47] cristianoc commented on #596
OK then the best that can be done is to split the work into two parts:
1) together with the build, run the Infer capture phase only
```  infer -a capture -- ...build command...  ```
2) separately, find out what files you want to run the analysis on, and only analyze those files:
``` infer -reactive --changed-files-index index.txt -- analyze```
where `index.txt` contains a list of files to analyze,

[2017-03-06 08:50] cristianoc commented on #596
@sencho since CI builds all the files every time, each CI Runner should have its own `infer-out`, so no synchronization. Unless I am missing some specific use you have in mind.

[2017-03-06 09:11] sencho commented on #596
@cristianoc Can I use a regular expression to match the file name what i want to analyze?

Well, before that, I have to complete a complete analysis, right? Check if the  `infer-out` directory exists .if it exists, then run  incremental analysis, if not exist run full analysis.

[2017-03-06 09:16] cristianoc commented on #596
@sencho `index.txt` must be an explicit list of files. You can use a regular expression in a script that generates `index.txt`.

With the process I've described above in points `1.` and `2.` there's no need to run a previous analysis: each analysis will be completely separate.

But, notice that step `1.`, the capture, must run on all the files, every time.

[2017-03-06 09:17] sencho commented on #596
@cristianoc ,The third question is that Facebook is using Phabricator to do Code Review, but we are using Gitlab Code Review. When Infer completes the analysis, does the result insert the code into the code's comment to block CI progress?

[2017-03-06 09:21] cristianoc commented on #596
Yes the analysis at FB inserts comments into the code review tool, but it does not block progress.
It appears together with the other comments, written by programmers, as part of code review.

[2017-03-06 09:29] shreyasmrs opened #608 "Failed to execute: javac -J-Duser.language=en"
I got the following error when I ran infer on hello.java in the examples folder.
I'm new to SCR and couldn't figure it out. It also says
Uncaught exception:
                                  (Unix.Exit_or_Signal(Exit_non_zero 2))

[2017-03-06 09:29] sencho commented on #596
![image](https://cloud.githubusercontent.com/assets/863912/23603825/9bfe6bd2-0291-11e7-9460-0895e3b87e11.png)

I see a presentation on the Infer team online, which has a slideshow introducing the process. When Infer analyzes the problematic code, it is commented on the code through the review tool's API. The code reviewer will ask for the development Repair again after submission, and then run an

[2017-03-06 09:33] cristianoc commented on #596
The reviewers decide when to accept the code. The static analysis is one of the inputs they use to decide. For example, the issue reported by Infer could be relevant and addressed immediately, or might not be relevant, or might be better addressed in a separate commit.

[2017-03-06 09:35] cristianoc commented on #596
This is one way of deploying in CI. Feel free to use whatever works best for you, and let us know what's your experience.

[2017-03-06 09:41] sencho commented on #596
@cristianoc Can you talk about the time and analysis strategy used by Facebook iOS App to give us a reference, when to use incremental analysis, when to use the full analysis in a CI process.I think I will share my practice here for everyone, if I succeed.

[2017-03-06 09:43] cristianoc commented on #596
@sencho CI on iOS uses always incremental analysis, by giving the list of files that are in the current commit (step 2).

[2017-03-06 10:06] sencho commented on #596
@cristianoc Thanks a lot for your help!

[2017-03-06 10:09] cristianoc commented on #596
@sencho looking forward to hear about your experience. If all works well, a great outcome would be a short guide to help others with CI integration.

[2017-03-06 10:10] #570 closed

[2017-03-06 10:11] jvillard commented on #608
Can you please provide more information? Please include:
- the version of infer you are using
- how you built/installed infer
- the command you used to run infer
- the full output (please use https://gist.github.com/ or equivalent)
- the contents of toplevel.log (also on https://gist.github.com/)

[2017-03-06 10:50] shreyasmrs commented on #608
I pulled out the latest version of infer from github.
build ./autogen.sh
./configure
./build(something).sh

command to run
infer -- javac hello.java

Can I get the stepwise guide to install in kali linux

thanks

[2017-03-06 11:47] jvillard commented on #608
The correct invocation for the example in the repo is `infer -- javac examples/Hello.java`, is that what you ran?

If so, could you please paste the full output of infer?

[2017-03-06 11:54] shreyasmrs commented on #608
yes, thats right

I found the issue. I twas due to atdgen1.6.0 not installed.
I installed it using opam install atdgen=1.6.0 and still I'm having same issue

[2017-03-06 12:01] jvillard commented on #608
Can you paste the output of `./build-infer.sh` and `infer -- javac examples/Hello.java` somewhere?

[2017-03-06 12:05] shreyasmrs commented on #608
Uncaught exception:
(Unix.Exit_or_Signal(Exit_non_zero 2))

invoked some(around 4) .ml files

[2017-03-06 12:55] jvillard commented on #608
I really need the full output to be able to help you further.

[2017-03-06 13:35] shreyasmrs commented on #608
infer -- javac hello.java
Capturing in javac mode...
Failed to execute: javac -J-Duser.language=en @/tmp/args_936e26
Uncaught exception:

  (Unix.Exit_or_signal (Exit_non_zero 2))

Raised at file "integration/Javac.ml", line 77, characters 14-17
Called from file "src/exn.ml", line 45, characters 8-11
Re-raised at file "src/exn.ml", line 48, characters 12-15
Called from file "src/core_unix.ml", lin

[2017-03-06 14:46] sofiareis opened #609 "infer fails running clang command"
Hi, I'm trying to run infer on an objective-c file (infer -- clang -c AFNetworkReachabilityManager.m) but it gives me an error:

 Capturing in make/cc mode...
AFNetworkReachabilityManager.m:195:5: error: cannot create __weak reference in file using manual reference counting
    __weak __typeof(self)weakSelf = self;
    ^
1 error generated.
Error: the following clang command did not run successfull

[2017-03-06 14:51] jvillard commented on #609
You have to give infer a working compilation command. You get a similar clang error in both cases (with and without infer). You may need to pass more flags to clang to compile your ObjC file.

[2017-03-06 14:54] jvillard commented on #592
I didn't mean that you should remove toplevel.log, it's generated by infer and not inferTraceBugs, but it would still be helpful here.

[2017-03-06 15:25] jvillard commented on #592
I managed to reproduce the bug with one of the tests in infer, I think (trace and error is similar):

[code]

I'll work on a fix.

[2017-03-06 15:27] cristianoc commented on #600
Fixed in 1a3fcd44a1a8321c722182d3bde65bbc210b7028.

[2017-03-06 15:27] #600 closed

[2017-03-06 18:18] #592 closed

[2017-03-07 07:09] sencho commented on #596
@cristianoc ,only infer capture phase spend 28 minutes for 1800+ files(iOS project) ,it is really unacceptable.If the speed is faster, I can implement in every push, instead of  merge request.How can i save time?

[2017-03-07 07:48] cristianoc commented on #596
@sencho if you run the same build command, but without Infer, how long does it take?

[2017-03-07 08:18] sencho commented on #596
@cristianoc it takes in 3 minutes without infer

[2017-03-07 08:29] sencho commented on #596
Whether the performance of the machine will affect the speed?my mac's cup 2.7 GHz Intel Core i5,8G RAM,SSD

[2017-03-07 09:08] sencho commented on #596
@cristianoc ,I follow your suggestion,run step2.
[code]
 just one .m file  inside index.txt file what I want to analyze, why infer print out all file's analysis result?
[code]

[2017-03-07 10:24] dulmarod commented on #609
That particular error may be because you need to add the flag -fobjc-arc. But yes, check that the clang command compiles first, then try it with Infer.

[2017-03-07 12:03] #588 closed

[2017-03-07 12:27] cristianoc commented on #596
@sencho that's an unusual slowdown -- something in the range of 2X is to be expected, but not from 3 to 28 minutes. You're referring to step 1, i.e. the capture command only, correct?

For your question on step 2, Infer analyzes all the functions called from the .m file you are providing. My guess is that's what you're observing. As a simple check: if `index.txt` is empty, then nothing will be ana

[2017-03-07 13:14] akotulski commented on #596
Can you provide full list of commands you run (step 1 and step 2)? I suspect you are running to much in step 1

[2017-03-07 13:55] sencho commented on #596
@akotulski
step1.
[code]

step2.
[code]
index.txt file just one .m file path

[code]
[code]
as above proc_stats.json ,it analyze one file only.

[2017-03-07 17:34] sofiareis commented on #609
Yes, you're right. Thank you! :) Yesterday, I dove through the flags (clang --help | grep -i objc) for a while and solved the issue.

[2017-03-07 17:34] #609 closed

[2017-03-07 18:10] jvillard commented on #608
Try `infer -- javac examples/Hello.java`

[2017-03-07 18:11] jvillard commented on #608
If you try the javac command that infer failed to execute (`javac -J-Duser.language=en @/tmp/args_936e26`) it will give you more info.

[2017-03-07 18:11] jvillard commented on #605
Let me know if you have more questions, feel free to reopen.

[2017-03-07 18:11] #605 closed

[2017-03-07 18:13] jvillard commented on #604
What's the command you are using to run infer? If there are no specs for a function, it's most likely because the corresponding source file has not been captured.

[2017-03-07 18:15] jvillard commented on #591
Please reopen with more information.

[2017-03-07 18:15] #591 closed

[2017-03-07 18:16] jvillard commented on #590
Closing optimistically in case `GCC_PRECOMPILE_PREFIX_HEADER=NO` fixed it for you. Please reopen if not.

[2017-03-07 18:16] #590 closed

[2017-03-07 18:19] jvillard commented on #584
cc @KihongHeo

[2017-03-08 00:27] Guoanshisb commented on #604
I am using `infer -- make`. It appears to me the source is captured since other functions of the same file are analyzed and have corresponding specs.

[2017-03-08 05:47] shreyasmrs commented on #608
I was inside examples folder and this issue happened and now I came out of examples folder its working fine.

Thanks @jvillard

[2017-03-08 05:47] #608 closed

[2017-03-08 06:45] KihongHeo commented on #584
Hi @vavrusa ,
Did you run the buffer overrun checker? What kind of options did you use?
And please provide more detailed information about the error such as your environment, options, or minimal crashing examples.

[2017-03-08 09:02] shreyasmrs opened #610 "Issue Building clang"
I tried building clang after java and got stuck in the process.

details:

checking for ant... no
checking for buck... no
checking for mvn... no
checking for ndk-build... no
checking for ndk-build... no
checking for Python module lxml... ok
checking for xcpretty... no
configure: saving configure flags to ./config.flags
configure: creating ./config.status
config.status: creating Makefile.autoconf

[2017-03-08 10:33] jvillard commented on #610
Hi @shreyasmrs, these warnings are harmless. Clang takes a while to build (30 minutes to an hour).

[2017-03-09 03:07] vavrusa commented on #584
Hi, I ran the buffer overrun checker in OS X.

[code]

I'm having a hard time to create a minimal example though, the constructions I thought could be a problem seem to be okay when I create an example. Here's what I did:

[code]

[2017-03-09 03:34] KihongHeo commented on #584
Thanks @vavrusa. Now I figured out the problem. I will submit the patch today.

Thanks for your help.

[2017-03-09 07:19] mohammedsafiq opened #612 "Problem with @SuppressWarnings("infer")"
Hi,

I read the documentation that @SuppressWarnings will have no support from v0.10.0.

Now i have installed v0.10.0 and in my project i have used @SuppressWarnings("infer") in 24 places. I thought after installing v0.10.0 it it will throw 24 errors to replace @SuppressWarnings with @SuppressLint.

But it is not throwing. So does it mean like @SuppressWarnings will work in v0.10.0??

Any help is

[2017-03-09 08:17] shreyasmrs opened #613 "Is there a way to run the complete project with single infer command"
I want to run a scan on all the java files in my root directory. Is there a way to run it in single command something like infer -- javac <folder path>

[2017-03-09 08:25] mohammedsafiq commented on #613
It will run for entire project only. try with your build variant.

infer --reactive -- ./gradlew <buildVariant>

[2017-03-09 08:26] shreyasmrs commented on #613
for a java project. Not for the android project

[2017-03-09 08:34] mohammedsafiq commented on #613
What is the current command you are using?

[2017-03-09 08:37] shreyasmrs commented on #613
infer -- javac <folder>/file.java

I want to know a command like infer -- javac  <folder>

[2017-03-09 08:49] mohammedsafiq commented on #613
Add this in your command.

-pr "specific module/package/project path for infer to run".

-pr is project root. But your terminal path should be in android root only. Because all supporting files(python files) which helps to run infer will be available in android root. But you can specify your module for infer to run using -pr

[2017-03-09 09:26] shreyasmrs commented on #613
thank you

[2017-03-09 09:26] #613 closed

[2017-03-09 09:56] shreyasmrs commented on #610
/usr/bin/ld: ../../lib/libLLVMSupport.a(Error.cpp.o): relocation R_X86_64_32 against symbol `_ZN4llvm9ErrorList2IDE' can not be used when making a shared object; recompile with -fPIC
/usr/bin/ld: ../../lib/libLLVMSupport.a(GraphWriter.cpp.o): relocation R_X86_64_32 against `.rodata.str1.1' can not be used when making a shared object; recompile with -fPIC
/usr/bin/ld: ../../lib/libLLVMSupport.a(Int

[2017-03-09 10:00] jvillard commented on #612
Hi @mohammedsafiq,

Other tools use `@SuppressWarnings` annotations, so they won't make infer crash but infer will ignore them. In particular, infer may report on methods annotated with `@SuppressWarnings("infer")`.

[2017-03-09 10:06] mohammedsafiq commented on #612
No. Its not reporting the methods annotated with @SuppressWarnings("infer")

[2017-03-09 10:15] mohammedsafiq commented on #612
And it is throwing few new NULL_DEREFERENCE issues which is not thrown in previous versions.

[2017-03-09 10:19] jvillard commented on #610
Thanks for the report. To help us debug, could you checkout the latest master and paste the full output of `./build-infer.sh` into a gist? Eg `git checkout master && git pull && ./build-infer.sh 2>&1 > logs.txt`, then upload logs.txt to https://gist.github.com/.

Also, is this a linux machine or osx? Which version?
Thanks!

[2017-03-09 14:15] shreyasmrs commented on #610
I'm running infer on kali linux 2.0 sana. The above command you mentioned has taken more than 3 hours. Should I stop it or let it run

[2017-03-09 14:19] akotulski commented on #610
Full output of the compilation failure would helps us to determine what's the problem (but https://gist.github.com/ to paste the output).

Which version c++ compiler your system have?
`gcc --version`

[2017-03-09 14:20] shreyasmrs commented on #610
gcc (Debian 4.9.2-10) 4.9.2

[2017-03-09 14:26] akotulski commented on #610
Ok, that version should be new enough to build llvm.

If I understood correctly, `git checkout master && git pull && ./build-infer.sh 2>&1 > logs.txt` has been running for 3 hours?

Have you typed `y` to make clang compilation move forward? (you don't see prompt because it's redirected to logs.txt)

[2017-03-09 22:35] jvillard commented on #610
Oops, yes, running `git checkout master && git pull && ./build-infer.sh --yes 2>&1 > logs.txt` will skip the prompts... You can check what's being done by running `tail -f logs.txt` in another terminal.

[2017-03-10 02:39] carozuoP opened #615 "infer pop ImportError: No module named zlib Uncaught exception"
zuoqiongs-MacBook-Pro:workspace zuoqiong$ /Users/zuoqiong/Documents/infer/infer/bin/infer --version
Infer version v0.10.0-61b4955
+ LC_ALL=en_US.UTF-8 /Users/zuoqiong/Documents/infer/infer/bin/infer -- /Users/zuoqiong/Downloads/gradle-3.3/bin/gradle assembleDebug
Capturing in gradle mode...
Traceback (most recent call last):
  File "/Users/zuoqiong/Documents/infer/infer/bin/../lib/python/infer.py"

[2017-03-10 08:00] shreyasmrs commented on #610
please look at the log file [<script src="https://gist.github.com/shreyasmrs/96b5a189d026113400112b103306d179.js"></script>](url) logs.txt

[2017-03-10 11:19] akotulski commented on #610
Did you pipe stderr to logs.txt as well? I don't see those errors you mentioned before:
[code]

[2017-03-10 18:13] eboudrant commented on #460
There is also a discussion on https://github.com/facebook/infer/issues/596
It is also presented in this video by @jvillard https://fosdem.cu.be/2017/H.2213/infer_a_static_analyzer.mp4 (~ min 22)

[2017-03-10 18:13] #460 closed

[2017-03-10 19:41] rahul-malik commented on #457
@jeremydubreil @sblackshear  - With the last release I noticed that Infer has support for clang compilation databases. Assuming we can get Bazel to output this would that be the preferred method for integration?

[2017-03-12 13:48] #615 closed

[2017-03-13 10:08] shreyasmrs commented on #610
I wrote the following command and got the logs file : git checkout master && git pull && ./build-infer.sh --yes 2>&1 > logs.txt

[2017-03-13 11:00] jvillard commented on #457
@rahul-malik I would recommend using compilation dbs to integrate with Bazel. I don't think infer can reasonably support a large range of build systems "natively". Going through an intermediate compilation DB is a more scalable solution.

Note however that infer doesn't support running its Java frontend using compilation DBs yet. Let us know if that'd be helpful to add for you (are there tools out

[2017-03-13 12:00] jvillard commented on #612
If you introduce an obvious bug in one of the methods annotated with `@SuppressWarnings`, does infer report it? Maybe it simply doesn't find any issues anymore on these methods as they are.

[2017-03-13 12:07] jvillard commented on #610
Unfortunately I gave the wrong command and so we don't get stderr in the logs (need to redirect stderr to stdout *after* redirecting stdout to the log file)...

@shreyasmrs if you still have the energy, could you try this instead?
[code]

Thanks!

[2017-03-13 18:31] rahul-malik commented on #457
@jvillard - Thanks! The compilation db should work well since we're only interested in analyzing our targets which are compiled with llvm/clang which already supports outputting a compilation database (I'm unaware of any Java compilation db as well).

[2017-03-13 19:29] eboudrant opened #619 "False positive resoufrce leak in Java"
I have this code using a **try-with-resources** and Infer still generate a warning :
I am using Infer version v0.9.5.

[code]

[code]

line 151 is `ByteArrayOutputStream out = new ByteArrayOutputStream(end - pos + 80) {`

Looks like this is a false-positive, is there an issue with Infer ?

[2017-03-14 07:13] shreyasmrs commented on #610
logs file for the above command <script src="https://gist.github.com/shreyasmrs/df21aa807ca0b4e674d1c30d62be4033.js"></script>

[2017-03-14 08:53] mohammedsafiq commented on #596
@cristianoc ,

Can i follow the same approach for android too?

1. Where should the index.txt file should reside?

I followed two steps:

infer -a capture -- ./gradlew --offline assLollipopDeb
infer --reactive --changed-files-index ./index.txt -- analyze

I know there are two issues in the file which i given in index.txt. But its not working. I tried giving both relative path and absolute path of

[2017-03-14 08:59] mohammedsafiq opened #620 "Issue in capture and analyse - Infer"
@cristianoc

I have read the article to make the infer to analyze only the modified files.
https://github.com/facebook/infer/issues/596

Can i follow the same approach for android too?

Where should the index.txt file should reside?
I followed two steps:

`infer -a capture -- ./gradlew --offline assLollipopDeb`
`infer --reactive --changed-files-index ./index.txt -- analyze`

I know there are two i

[2017-03-14 09:04] mohammedsafiq commented on #612
Yes I have introduced obvious bug with @SuppressWarnings just to test. Its not reporting. Have you given any backward compatibility?

[2017-03-14 09:25] cristianoc commented on #620
Can you try this on the example given in the Infer distribution.
These are the same commands you're mentioning, and they work for me.

[code]

[2017-03-14 09:47] mohammedsafiq commented on #620
After excuting the following command, still the index.txt file is empty.

`cat ./index.txt
app/src/main/java/infer/inferandroidexample/MainActivity.java`

But index.txt should include the file path right?

[2017-03-14 10:07] cristianoc commented on #620
Sorry for the confusion: you should edit `index.txt` so that it contains one line:
[code]
Then give the command
[code]

[2017-03-14 10:42] jvillard commented on #610
@shreyasmrs looks like there's a problem with your paste; could you send again?

[2017-03-14 10:43] jvillard commented on #610
@shreyasmrs ah, if I remove .js at the end of the URL it works correctly: https://gist.github.com/shreyasmrs/df21aa807ca0b4e674d1c30d62be4033

[2017-03-14 11:06] shreyasmrs commented on #610
Do you got to know the error or issue which I'm facing in clang building

[2017-03-14 11:10] jvillard commented on #610
The error is that [the linker fails](https://gist.github.com/shreyasmrs/df21aa807ca0b4e674d1c30d62be4033#file-lo-L9680):
[code]

It says to use "-fPIC". However, the configure phase says that ["-fPIC" is not supported by the compiler](https://gist.github.com/shreyasmrs/df21aa807ca0b4e674d1c30d62be4033#file-lo-L414-L415):
[code]

These are only observations. I don't understand why it fails that way

[2017-03-14 11:14] shreyasmrs commented on #610
Is there any solution you know for this?

[2017-03-14 11:36] mohammedsafiq commented on #620
Should the file reside inside the infer-out or outside?

[2017-03-14 11:38] jvillard commented on #620
Outside. "infer-out" may get wiped out by infer if you run infer without `--reactive`.

[2017-03-14 12:06] mohammedsafiq commented on #620
Still not working. Still saying No Issues found.

I tried

`./gradlew clean`
`infer -a capture -- ./gradlew build --offline assLollipopDeb`
`cat ./index.txt app/src/main/java/com/olacabs/customer/ui/GreenCategoryHelper.java`
`infer --reactive --changed-files-index ./index.txt -- analyze`

Inside index.txt file, i tried both of the below path:

/Users/mohammedsafiq.sa/Documents/Projects/android/app

[2017-03-14 12:10] jvillard commented on #620
I don't think your `cat` command does anything. Try:
[code]

[2017-03-14 12:10] jvillard commented on #610
We're looking into it.

[2017-03-14 12:11] jvillard commented on #612
Can you paste the command you are using and the result of `infer --version`? Thanks!

[2017-03-14 12:15] mohammedsafiq commented on #620
Dint work. I am just following your command. Still not sure why it is not throwing.

[2017-03-14 12:32] mohammedsafiq commented on #612
Infer version v0.10.0

[2017-03-14 13:57] jvillard commented on #610
I managed to reproduce the issue, working to fix it.

[2017-03-15 06:57] carozuoP opened #621 "Infer report Null-Rereference wrongly"
I use Infer scanning our Android project. Everything goes fine, however it report some null-dereference which should be handled well. Two samples below may make sense:

## Sample 1:
Infer reports

[code]
But method getAlphabetList defined as below:
[code]
Since it appears already handles the null-pointer, I don't think Infer need report such error.

## Sample 2
[code]
Null could be directly passed

[2017-03-15 08:08] Linhao87 opened #622 "A false positive and false negative"
Nice tool! I played the [demo](https://codeboard.io/projects/11587?view=2.1-21.0-22.0) a little bit and found two cases where the analysis does not work very well.

False positive example:
[code]
It seems that in the analysis, the ```stream``` argument flows into the ```mayClose``` function. And it is reasonable to infer that ```-10``` also flows into the ```value``` argument. The analyzer should

[2017-03-15 10:12] cristianoc commented on #622
@Linhao87 thanks for the report!
For the first example, do you get the expected behavior using integers instead of doubles?

[2017-03-15 15:33] #610 closed

[2017-03-15 15:39] jvillard commented on #610
Thanks for your patient reporting @shreyasmrs! Please re-open this issue if the current master still doesn't build clang for you.

[2017-03-15 18:20] Linhao87 commented on #622
@cristianoc Yes, I got the expected behavior using integers. The first one looks more like a bug now.

[2017-03-15 18:27] cristianoc commented on #622
@Linhao87 yes looks there is a bug in the treatment of non-integer constants.

[2017-03-16 05:57] shreyasmrs commented on #610
Thanks for the update. Just to be sure. I have infer in my downloads folder, so the command for PATH is export PATH=/root/Downloads/infer/bin:$PATH/ I need to put this is /etc/profile file and source /etc/profile  right??

[2017-03-16 08:27] shreyasmrs commented on #610
Thanks for the commit on github. however I'm unable to clone the facebook-clang-plugins using ./autogen.sh I not sure why this is not working.

[2017-03-16 09:25] mohammedsafiq commented on #620
Ok now its analysing. Actually its /index.txt and not ./index.txt.

It said 7 source files found and analysed. How come 7 files when i hardcoded one file path in index.txt?

[2017-03-16 11:04] jvillard commented on #610
@shreyasmrs yes that's one way. You can also run `make install` to install infer in /usr/local/bin, or use `./configure --prefix=/usr` to install in /usr/bin (more installation options are available, see `./configure --help`).

[2017-03-16 11:10] jvillard commented on #620
@mohammedsafiq In order to analyze a file, infer has to analyze all the procedures called from that file. So if some of these procedures live in different files then they are also analyzed. That doesn't mean that all the procedures in these files were analyzed, only the ones called (transitively!) from the original file.

[2017-03-16 11:22] jvillard commented on #621
Can you give a complete trace of the error using `inferTraceBugs`? Infer should not report if `null` is handled correctly by the method.

[2017-03-17 08:27] ftlno commented on #34
+1

[2017-03-19 08:18] riyaz commented on #460
Thanks @eboudrant, finally we came up with steps which reduced the build time by 4 times

[code]

[2017-03-19 08:25] riyaz opened #623 "Steps to speedup the build if infer & eradicate analysis is required"
Below steps helped us improve the CI builds by 4 times, its good to include these in getting started section under CI section.

I can send PR if anyone can point right section or even if its required, anyways this issue will be help as reference if in case this does not make it to getting started.

We use both infer and eradicate steps in gitlab ci.

[code]

[2017-03-19 13:03] carozuoP commented on #621
You mean you want the whole log by using infer --trace-error gradle assembleDebug?

[2017-03-19 13:33] carozuoP commented on #621
object jsonArray last assigned on line 169 could be null and is dereferenced by call to getAlphabetList(...) at line 170
[code]

And getAlphabetList is defined as below
[code]

[2017-03-20 09:08] xennygrimmato opened #624 "False positive related to a File object in Java - Null Dereference"
A bug was reported by Infer for the following code snippet:

[code]

The qualifier for the issue says: ```object returned by srcFile.delete() could be null and is dereferenced at line 88```. srcFile gets initialized and is not null.

In Java's `File` class, the `delete` method returns `boolean`. It can not return `null`.
I think this is a false positive.

[2017-03-20 09:47] xennygrimmato commented on #619
+1 as I have faced a similar false positive.

[2017-03-20 12:04] ludaye123 opened #625 "Not work in -sdk iphoneos"
hello, I hava a trouble  in this case, what should i do?

infer  -- xcodebuild -workspace xxx.xcworkspace -scheme xxx  -configuration Debug -sdk iphoneos

Capturing using xcpretty...
Starting translating 0 files
.
Starting analysis...

legend:
  "F" analyzing a file
  "." analyzing a procedure

Found 0 source files in /Users/sangfor/Documents/xxx/infer-out

  No issues found

[2017-03-20 12:20] riyaz commented on #623
@cristianoc Done, sent PR

[2017-03-20 12:46] peterogithub commented on #623
@riyaz, are you using, or have you considered, some of the functionality available under "infer -a checkers"?

In particular, there is a new check for classes labelled @ThreadSafe, which looks for concurrency issues. (Not so well documented yet, but it is there.)

Just though I'd ask!

[2017-03-20 16:16] riyaz commented on #623
@peterogithub Not yet, now that we have faster build will include more analyzers, thanks for your inputs.

[2017-03-20 16:59] dulmarod commented on #625
Maybe you need to clean the build first? If there is nothing to compile, Infer won't analyse anything.

[2017-03-20 17:50] jvillard commented on #621
@carozuoP I mean the output of `inferTraceBugs --max-level max` when you select the bug where infer seems to be wrong. `inferTraceBugs` is an executable that ships with infer.

[2017-03-20 22:55] sblackshear commented on #624
I can't reproduce this on master. I'm using the following code:

[code]

Infer reports nothing on this code. Is there something different about your example?

[2017-03-21 06:56] mohammedsafiq opened #628 "Regarding Linters"
Does Linters supported for Android? I can see the documentation only for iOS

[2017-03-21 07:57] cristianoc commented on #628
@mohammedsafiq linters operate on the AST produced by a front-end -- currently there's only support for the clang front-end, so no Java.

[2017-03-21 09:38] shreyasmrs commented on #610
Hi, @jvillard I tried with the new commit as well. I'm still facing the same issue for building the clang. Any suggestions on this please

[2017-03-21 14:23] jsachs opened #629 "Static Memory Leak Detection"
I'm currently enrolled in a course on software reliability, and I'm interested in using Infer to explore [static memory leaks in Android apps](http://blog.nimbledroid.com/2016/09/06/stop-memory-leaks.html). I've been digging through the repository and reading the docs to try to understand how to best build new checking capabilities. Are there any particularly good commits or PRs that demonstrate h

[2017-03-21 14:56] jvillard commented on #610
Hi @shreyasmrs, could you paste again the result of this command? Thanks!
[code]

[2017-03-21 17:36] jeremydubreil commented on #504
Closing the issue. @kageiit: please re-open it is there is more to be done.

[2017-03-21 17:36] #504 closed

[2017-03-21 17:59] sblackshear commented on #629
Hi Jacob,
  Infer already supports detecting some of these bug types (e.g., [`Context`](http://fbinfer.com/docs/infer-bug-types.html#CONTEXT_LEAK) leaks). Extending the detection to handle other cases like `View` leaks or leaks via `SensorManager` would should be pretty straightforward.

The code for reporting `Context` leaks lives [here](https://github.com/facebook/infer/blob/master/infer/src/bac

[2017-03-21 18:34] jsachs commented on #629
This is great, thanks @sblackshear!

[2017-03-22 06:54] ludaye123 commented on #625
yeah, I forget it , thanks

[2017-03-22 06:54] #625 closed

[2017-03-28 20:11] smarkovik opened #631 "Fail analyzing ios (Failure "ERROR: Path is relative, when absolute path was expected .\n")"
Hey there,
I am getting a weird fbinfer error, when analyzing an ios project.
It all works fine on one machine but on our build server (jenkins) I get this error.

The error shows up both in a jenkins look but also in a normal terminal.

the build works perfectly fine if I don't add `infer --` in front.

my analysis command is :
`infer -- xcodebuild -project Project/Project.xcodeproj -target Proje

[2017-03-28 20:33] #575 closed

[2017-03-28 22:14] akotulski commented on #631
I'm not sure you understand, are you saying you can run `infer -- <build_cmd>` on your laptop, but `infer -- <build_cmd>` fails on jenkins machine (both from jenkins and terminal on jenkins machine)

That's definitely not expected. Could you run following commands on your jenkins terminal?
[code]

[2017-03-28 22:21] smarkovik commented on #631
Exactly,
on my laptop infer works like a charm, but on my CI (both through a jenkins shell script and in a normal terminal) I get the same error (described above).

`echo $PWD - root of repo : /Users/tancho/repos/project`
`ls -id $(echo $PWD) : 828343 /Users/tancho/repos/project`
`ls -id .  : 828343 .`

I am working on a mac (both ci and workstation)
no funky business with symlinks
just a clean cl

[2017-03-28 22:48] akotulski commented on #631
That was ran on jenkins machine?

[2017-03-28 22:52] smarkovik commented on #631
yes, from the normal terminal, not the build loop.
i imagine jenkins's shell environment will show other problems, so for the
time being I wanna make it work as If I use it as a work station
(the jenkins machine is a mac mini which I can access through screen
sharing, and open a normal terminal with a proper bash environment, this
output is from a normal terminal)

<http://www.contentsquare.com/>

[2017-03-29 10:03] jvillard commented on #631
This is the code that runs according to the backtrace:

[CompilationDatabase.ml](https://github.com/facebook/infer/blob/41c5be9bad47ff77b51c927363b5ef5a014b2c4d/infer/src/integration/CompilationDatabase.ml#L79-L80)
[code]

[SourceFile.ml](https://github.com/facebook/infer/blob/ec6a3cf6bb36616c8c4cc4e619861a8e345d3e43/infer/src/base/SourceFile.ml#L36-L40):
[code]

So it seems that the directory `di

[2017-03-29 10:13] smarkovik commented on #631
Have in mind that this works on one machine and not another.
even if I do a clean clone within a folder anywhere on this machine, it still won't work.
Is it possible that infer is failing because of xcpretty?
how about any dependency library which is the wrong version?
It's quite symptomatic that I can not make it work on a machine where it's broken, and I can't break it where it works fine...

wh

[2017-03-29 10:25] jvillard commented on #631
@smarkovik hard to tell without seeing some logs on the failing Jenkins job. Can you get your job to run the commands that @akotulski mentioned? I'm also looking for a command you can run to dump the compilation database used by infer, so if you want you can wait until we have that too and run both in the same job to save yourself some time.

[2017-03-29 11:03] jvillard commented on #631
Got it (thanks @dulmarod). @smarkovik can you please run these commands as part as your Jenkins job? (the same where infer is failing)

[code]

Or just check what the entry for "sources/Recognizer.m" is and whether it has a relative or absolute directory. You can also run these commands on your laptop to see if there's a significant difference.

[2017-03-29 15:41] smarkovik commented on #631
When I try to run
[code]
xcodebuild  -project Project/Project.xcodeproj  -target Project  -configuration Debug -sdk iphonesimulator | xcpretty -report json-compilation-database  --output compile_commands.json
/Users/tancho/.rvm/gems/ruby-2.4.0/gems/xcpretty-0.1.5/bin/xcpretty:73:in `each_line': No such file or directory @ rb_sysopen - json-compilation-database (Errno::ENOENT)
	from /Users/tancho/.

[2017-03-29 15:48] dulmarod commented on #631
The argument to xcpretty is -r or --report, you were using -report, maybe that's the problem.

[2017-03-29 15:49] jvillard commented on #631
Sorry, wrong command, I've edited my post.

[2017-03-29 15:54] smarkovik commented on #631
You're absolutely right, the argument was to blame.
here is the output from my actual project.

/Users/tancho/Development/repos/cs-ios/attanni
6325429 /Users/tancho/Development/repos/cs-ios/attanni
ContentSquare/sources
6325659 ContentSquare/sources
ContentSquare/sources/CSPinchGestureRecognizer.m
6325698 ContentSquare/sources/CSPinchGestureRecognizer.m

compile commands attached
[compile_commands

[2017-03-29 16:05] jvillard commented on #631
Thanks! So indeed the compilation database gives us no absolute paths to work with...

Last (heh, maybe) question: did you run xcodebuild from /Users/tancho/Development/repos/cs-ios/attanni or /Users/tancho/Development/repos/cs-ios/attanni/ContentSquare?

I'm asking because the compilation database is of the form `{"directory": "sources", "file" : "CSPinchGestureRecognizer.m", "command": "<big com

[2017-03-29 16:21] smarkovik commented on #631
Thanks for the quick reply
I ran it from `/Users/tancho/Development/repos/cs-ios/attanni ` which is the root of my project.

[2017-03-29 18:19] jvillard commented on #631
Ok well that's bad news because I don't see how infer can find, eg, `/Users/tancho/Development/repos/cs-ios/attanni/ContentSquare/sources/CSPinchGestureRecognizer.m` given the information that the current dir is `/Users/tancho/Development/repos/cs-ios/attanni` and the compilation database says the file is in `sources/CSPinchGestureRecognizer.m`. At this point we have to resort to parsing the conte

[2017-03-29 20:26] smarkovik commented on #631
That actually solves my problems....
I can live without the xcpretty output, but I want to get the analysis...
thanks guys!

[2017-03-29 20:27] #631 closed

[2017-03-30 15:56] christianix opened #632 "Undetected free of uninizalized pointer in C"
Please consider the following example:

**C source file buggy.c**
[code]
**Makefile**
[code]
The statement commented out in function data_read() causes the process to segfault. Is it possible that fbinfer would detect such a missing initialization?

[2017-03-30 18:27] akotulski commented on #632
I'll let others respond, I confirmed that right now we don't catch it. Here's simplified example:
[code]

[2017-04-03 09:13] smarkovik opened #633 "[ObjC] Skip analysis on file or part of File"
Hey guys,
is there a way to skip a complete but single file or a part of a file, similarly to what you can do for Java with [@SuppressWarning("infer") ](https://github.com/facebook/infer/issues/206)

Anything similar for xcodebuild analysis?

[2017-04-03 09:48] dulmarod commented on #633
Yes, you can skip a whole source file with the option --skip-analysis-in-path <path>. It also accepts regex.

 If you want to skip a header file, that is imported in some source file, you can use --skip-translation-headers <path to header>.

Skipping a part of the file is not supported for the ObjC analysis at the moment.

[2017-04-03 09:57] ddino commented on #632
Yes we don't find this at the moment. We would need to do some changes in the back-end to have this fixed. It may take some time.

It's a very interesting example. Thanks for providing it. We'll use it to improve the back-end.

[2017-04-03 10:44] smarkovik commented on #633
That would make for a nice feature...

Thanks!

[2017-04-03 10:44] #633 closed

[2017-04-03 23:26] jsachs opened #634 "running `make test` fails"
Running `./build-infer.sh java` runs with no issues, but `make test` yields several errors, all with the following form:

[code]

It looks like `clang -` is not being prepended to these commands, causing them to fail.

I am building Infer 0.10.0 on Mac OS 10.12.3

[2017-04-04 10:36] jvillard commented on #634
At the moment `make test` fails if you're building infer for Java only. This is because the [Makefile](https://github.com/facebook/infer/blob/21af28619f3baa970d9c271f590b08ebe090e898/Makefile#L16) does not exclude some tests that depend on the clang parts of infer, even though it should. Right now it tries to exclude them but the logic is incomplete.

We're working on adding this workflow to our C

[2017-04-04 19:46] jsachs commented on #629
I've attempted to modify the context checker to look for any `View` that is assigned to a static variable, as follows (mostly based around changing `is_context` to `is_view`:

[code]

However, if fails to find the following memory leak. This is essentially the same form as a `Context` leak, and Infer was able to identify this example as an error when an `Activity` was used instead of a `View`.

[c

[2017-04-04 19:58] sblackshear commented on #629
Infer doesn't analyze the source code of the Android framework, so it only understands the behavior of functions like `findViewById` if we add an explicit model for the functions.

I would try replacing the call to `findViewById` with a dummy function like `getMyView() { return new ImageView(); }`. If this allows Infer to find the bug, then you can make this work for all calls to `findViewById` by

[2017-04-06 14:33] #634 closed

[2017-04-06 22:26] jsachs commented on #629
Hey @sblackshear,

Two things that we tried so far. Adding the explicit function for a `View` still returns nothing, whether running `infer -- gradle build` or `infer -a checkers -- gradle build` (just to see if the View fragment checker might grab it).

We also noticed that we will get slightly different results depending on the order of the checkers. For example,
[code]
produces two leaks, but
[

[2017-04-06 22:37] sblackshear commented on #629
Ah, this looks like an OCaml gotcha. You probably want:

[code]
In the code snippets you give, the first report instruction will run conditionally, but the second will always run. Think of `begin/end` as `{ }` for a language like C/Java; they create a block.

[2017-04-06 23:13] jsachs commented on #629
Got it, thanks! Infer builds and runs correctly. We're still not finding the View leak, but the double counting is gone.

[2017-04-06 23:39] sblackshear commented on #629
Hmm, so a simple example like`sView = new MyView()` still isn't detected? I'm not sure what could be going wrong there. What does the code for `report_view_leaks` look like?

[2017-04-06 23:47] jsachs commented on #629
@sblackshear it's a few comments above, and still pretty much the same. All we really did was change `AndroidFramework.is_context` to `AndroidFramework.is_view`. My co-developer and I were curious if somehow the View isn't making it into `reachable_exps`.

[2017-04-07 00:01] sblackshear commented on #629
One way to check on that is to run Infer on your example with the `--debug` [flag](http://fbinfer.com/docs/advanced-features.html) and check the debug HTML to see if the `View` is in the abstract state. I'm perplexed, though; it seems like your code should work.

[2017-04-07 05:43] unkosun opened #635 "ERROR: "etree" Python package not found."
use `--pmd-xml` report an error

Summary of the reports

                    NULL_DEREFERENCE: 4
       DIRECT_ATOMIC_PROPERTY_ACCESS: 4
          PARAMETER_NOT_NULL_CHECKED: 2
                         MEMORY_LEAK: 1
                       RESOURCE_LEAK: 1
  PREMATURE_NIL_TERMINATION_ARGUMENT: 1

ERROR: "etree" Python package not found.
ERROR: You need to install it to use Infer with --pmd-xml
**

[2017-04-07 09:31] jvillard commented on #635
You need to install the lxml package, which provides etree. See http://lxml.de/installation.html for instructions.

[2017-04-07 15:50] jsachs commented on #629
With lots of debugging information omitted, this is what I am seeing:
[code]

So does this mean that Infer is still not respecting the constructor as establishing a `View` rval, and we'll just have to implement the model?

[2017-04-10 18:15] Will5 opened #636 "(Unix.Exit_or_signal (Exit_non_zero 66))"
When I run `./gradlew build`, I get a `BUILD SUCCESSFUL`. When I run `infer -- ./gradlew build`, I get  the following error:

[code]

I'm running OS X El Capitan Version 10.11.6 and Infer 0.10.0.

[2017-04-11 04:50] DhirajAggarwal commented on #467
@Will5, I tried installing infer but it is throwing below error. Same error is thrown when I did **brew install opam**

Warning: You are using OS X 10.12.
We do not provide support for this pre-release version.
You may encounter build failures or other breakages.
Please create pull-requests instead of filing issues.
==> Installing dependencies for infer: opam
==> Installing infer dependency: opam

[2017-04-11 07:14] jvillard commented on #636
Hi @Will5, the actual error message is a bit lost in there; it is:

[code]

It will be a bit better in the upcoming 0.11.0 release (not out yet):
[code]

That last line of output is still quite useless though, we can probably get rid of it.

[2017-04-11 14:04] Will5 commented on #636
Hi @jvillard, I forgot to mention that I get the same error after running `./gradlew clean`. Here's the output from `infer -- ./gradlew clean`:

[code]

Is there an ETA on 0.11.0?

[2017-04-11 14:05] jvillard commented on #636
@Will5 you need to rerun infer once you'ver run `./gradlew clean`:

[code]

[2017-04-11 14:10] Will5 commented on #636
@jvillard, that was after a `./gradlew clean`.

Both `.gradlew build` and `./gradlew clean` return the same BUILD SUCCESSFUL.
Both `infer -- .gradlew build` and `infer -- ./gradlew clean` return the same error message.

[2017-04-12 06:56] DhirajAggarwal opened #637 "infer: command not found | Solution in #345 is also not working, throwing same 'command not found'"

[2017-04-12 08:48] unkosun opened #638 "How to configure .inferconfig file"
`.inferconfig `
[code]
I want filter out  directories which  not use `ddyc` for prefix，but it do not work.
Has same example ?

[2017-04-12 08:54] #635 closed

[2017-04-12 10:01] jvillard commented on #637
Hi @DhirajAggarwal, could you please include more information? Please follow [these guidelines](https://github.com/facebook/infer/blob/master/CONTRIBUTING.md#reporting-issues).

[2017-04-12 11:33] liuchao853 opened #639 "ValueError, 'unknown locale: %s' % localename"
File "/usr/local/Cellar/infer/0.10.0/lib/infer/infer/bin/../lib/python/infer.py", line 24, in <module>
    from inferlib import analyze, config, utils
  File "/usr/local/Cellar/infer/0.10.0/lib/infer/infer/lib/python/inferlib/analyze.py", line 19, in <module>
    from . import config, utils
  File "/usr/local/Cellar/infer/0.10.0/lib/infer/infer/lib/python/inferlib/config.py", line 19, in <module>

[2017-04-12 11:41] jvillard commented on #639
This should be fixed in master (see #630).

As a workaround, try setting your locale to a valid one, for instance `export LC_ALL=en_US.UTF-8`.

If there's still an issue, please reopen with [more information](https://github.com/facebook/infer/blob/93b6980b281c489fd08ef859c0f325f4b6beac4a/CONTRIBUTING.md#reporting-issues). Thanks!

[2017-04-12 11:41] #639 closed

[2017-04-12 17:25] jvillard commented on #638
The regexp is interpreted as an [OCaml regexp](https://caml.inria.fr/pub/docs/manual-ocaml/libref/Str.html).

How about this one?
[code]

[2017-04-12 18:27] jvillard commented on #636
Just to make extra sure: What's the output of `./gradlew clean && infer -- ./gradlew build`?

[2017-04-13 01:43] unkosun commented on #638
@jvillard  sorry, I wrote wrong， I want filter which not （use 'ddyc' for prefix or use 'component' for suffix）。

[2017-04-13 03:45] baxiang opened #640 "IndexError: list index out of range"
Traceback (most recent call last):
  File "/usr/local/Cellar/infer/0.10.0/lib/infer/infer/bin/../lib/python/report.py", line 47, in <module>
    main()
  File "/usr/local/Cellar/infer/0.10.0/lib/infer/infer/bin/../lib/python/report.py", line 43, in main
    args.issues_json, bugs_out, args.pmd_xml)
  File "/usr/local/Cellar/infer/0.10.0/lib/infer/infer/lib/python/inferlib/issues.py", line 191, in

[2017-04-13 12:36] DhirajAggarwal commented on #637
Hi @jvillard, I removed my old setup. And did a fresh start. I am getting the same error. I am surely missing some tiny thing. Below is the details of all commands and logs. Please have a look.

Here I got an error: **OPAM has already been initialized.[ERROR] /Users/dhiraj.aggarwal/.opam reports a newer OPAM version, aborting.**
So I removed the **.opam** file and run the above command again. It w

[2017-04-13 14:47] jvillard commented on #637
Thanks for the details. The log stops after opam succeeds and I see no errors there. Does the error come after that?

[2017-04-13 20:08] jeremydubreil commented on #640
@baxiang: What is the top-level analysis command that you are using ?

[2017-04-14 02:03] DhirajAggarwal commented on #637
Hi @jvillard, errors are only in the attached file. No other error. infer gives no response to me yet.

[2017-04-14 03:10] baxiang commented on #640
infer  -- xcodebuild -workspace PuddingPlus.xcworkspace -scheme PuddingPlus  -configuration Debug  clean
infer --pmd-xml -- xcodebuild -workspace PuddingPlus.xcworkspace -scheme PuddingPlus -configuration Debug

[2017-04-14 04:01] jeremydubreil commented on #640
Are both commands failing or just the second one ?

[2017-04-14 05:52] baxiang commented on #640
remove  --pmd-xml ,the  analysis command success。
add  --pmd-xml print:
.too many issues to display (limit=10 exceeded), please see /Users/roobo/Documents/Pudding_Plus/infer-out/bugs.txt or run `inferTraceBugs` for the remaining issues.

Summary of the reports

          DIRECT_ATOMIC_PROPERTY_ACCESS: 259
                       NULL_DEREFERENCE: 75
                           RETAIN_CYCLE: 39

[2017-04-17 05:57] DhirajAggarwal commented on #637
Hey @jvillard, any help here will be appreciated. Just want to, how do I build a Java file now?

[2017-04-17 20:30] jeremydubreil commented on #637
@DhirajAggarwal: if the java file compiles with:
[code]
then, you can run Infer with:
[code]
http://fbinfer.com/docs/infer-workflow.html

[2017-04-18 06:46] jvillard commented on #637
@DhirajAggarwal After the build, infer is left in infer/bin, so you have to run `~/Documents/infer-osx-v0.10.0/infer/bin/infer`, not just `infer`.

You can run `make install` to install infer on your system (defaults to /usr/local/bin, see `./configure --help` for more options), then you can simply type `infer ...`.

[2017-04-18 06:49] jvillard commented on #640
Looks like the xml output is assuming some format for the `"procedure_id"` field of the json that doesn't work for ObjC: https://github.com/facebook/infer/blob/master/infer/lib/python/inferlib/issues.py#L215-L218

Thanks for the report, I'll look into it.

[2017-04-18 07:54] ganjarpanji commented on #34
+1

[2017-04-18 13:05] jvillard commented on #640
@baxiang I cannot reproduce your issue on a simple xcodebuild example. Can you paste your infer-out/report.json?

[2017-04-18 22:01] trofi opened #641 "c++ emory leak false positive"
Found a false positie in `re2c codebase. Iccue looks similar to C bug in https://github.com/facebook/infer/issues/120 but given C++ is involved here I've decided to file a bug anyways.

Example source:

[code]

False positive output:

[code]

Today's git version:
[code]

[2017-04-19 02:24] baxiang commented on #640
https://drive.google.com/open?id=0B2FWH0mS2hdhbEhaZUZIOGpVMzg

[2017-04-19 05:27] shankybnl commented on #608
Hi,

I am getting the above-mentioned error while executing java_hello/Hello.java file. Below are the details for debugging:

- version of infer : **Infer version v0.10.0**

- how you built/installed infer: **via docker**

- the command you used to run infer: **infer -- javac Hello.java**. Also tried, **infer -- javac java_hello/Hello.java**

- java and javac version: openjdk version "1.8.0_45-int

[2017-04-19 09:37] akotulski commented on #641
There are bunch of reasons why infer reports this:
1. it doesn't understand `std::for_each` and function pointers
2. deallocation happens in destructor and right now infer doesn't understand those semantics (instead it skips all resource leaks it finds in constructors)

Overall resource resource leaks detection in C++ is not great. With modern C++ it's not an issue that often because RAII prevents

[2017-04-19 10:01] jvillard commented on #608
Does `javac Hello.java` work on its own?

[2017-04-19 10:17] shankybnl commented on #608
@jvillard : Below is the output of `javac Hello.java`

Hello.java:22: error: package Pointers does not exist
    Pointers.A a = Pointers.mayReturnNull(10);
            ^
Hello.java:22: error: cannot find symbol
    Pointers.A a = Pointers.mayReturnNull(10);
                   ^
  symbol:   variable Pointers
  location: class Hello
Hello.java:28: error: package Pointers does not exist
    Pointers.

[2017-04-19 10:40] jvillard commented on #608
I see, you're analyzing [these files](https://github.com/facebook/infer/tree/8a8fe9eedd7fdaae1cfbdbf1cae23be2ef2792f2/examples/java_hello), sorry I missed that. You want this command (pointed out in [this README](https://github.com/facebook/infer/blob/8a8fe9eedd7fdaae1cfbdbf1cae23be2ef2792f2/examples/README.md#contents)):

[code]

In general, infer needs a working compilation command to run, so if

[2017-04-19 11:15] shankybnl commented on #608
Thanks a lot @jvillard for the help! Working fine with the below command.

`infer -- javac Pointers.java Resources.java Hello.java`

[2017-04-19 11:55] zhangzheyuk opened #642 ""Too many open files" exception when I used infer to my Java project."
I try to use infer in the MacOS, My project used ant to build.

zzydeMacBook-Pro:EBP_PDT zzy$ infer -- ant -f build.xml
Capturing in ant mode...
Translating 796 source files (862 classes)
Uncaught exception:

  (Sys_error
   "/Users/zzy/apache-ant-1.10.1/lib/ant-commons-logging.jar: Too many open files")

Raised by primitive operation at file "pervasives.ml", line 335, characters 20-46
Called from

[2017-04-19 13:21] xennygrimmato commented on #642
On Mac OS X, there's a limit on the number of open files. You can check that number using `sysctl kern.maxfiles`. You can increase that limit using `sysctl -w kern.maxfiles=[SOME_NUMBER]` and then try running infer.

[2017-04-19 14:01] adilek opened #643 "Can't run build-infer.sh"
I can't run build-infer.sh due to some error related to reason-parser.

I do get error message like this:
[code]

Tried:
[code]
Same issue.

[2017-04-19 14:08] adilek commented on #643
Just got this:

`The following dependencies couldn't be met:
  - reason -> topkg = 0.8.1
Your request can't be satisfied:
  - No package matches topkg.0.8.1.
`

[2017-04-19 21:57] sblackshear commented on #642
What version of Infer are you using? I see some pretty old options in your paste (e.g., `-suppress_warnings_out`). You might want to try upgrading to the latest release and seeing if it fixes your problem.

[2017-04-19 23:39] sblackshear commented on #624
Optimistically closing; let me know if you have find a self-contained repro and I will try it.

[2017-04-19 23:39] #624 closed

[2017-04-19 23:41] sblackshear commented on #586
Closing since it works in Docker/we can't reproduce locally.

[2017-04-19 23:41] #586 closed

[2017-04-19 23:48] sblackshear commented on #433
Closing because we do find this even though the default bucketing filters it out.

[2017-04-19 23:48] #433 closed

[2017-04-19 23:53] sblackshear commented on #482
Closing for now, feel free to re-open if there is an update.

[2017-04-19 23:53] #482 closed

[2017-04-20 06:33] tddsg opened #644 "Cannot build Infer by `build-infer.sh` because of incompatible version with some packages in Opam"
Hi there,

- I'm trying to build the newest version of Infer (https://github.com/facebook/infer/commit/bcbb0320521845e7bea0fda3812406ee0ec83bca), but encounter the following errors:

[code]

- This seems not right to me, since the default version of OCaml used by Infer is 4.04.0, according to `./build-infer.sh -h`:

[code]

- Here is the detail of my OCaml setting:

[code]

- And here is the full