[2015-09-11 02:34] kingangelTOT commented on #174
xcode version is 6.4

so i can't run？

[2015-09-11 10:14] balachandarlinks commented on #169
after initialising opam, we should run "opam update" to synchronize the repo. Otherwise it will never find the required packages.

So the instructions should be,

opam init -y --comp=4.01.0
eval `opam config env`
opam update
opam install -y extlib.1.5.4 atdgen.1.6.0 javalib.2.3.1 sawja.1.5.1

[2015-09-12 09:49] kwosu87 commented on #34
+1

[2015-09-14 03:34] jimmyleaf opened #175 "run inferTraceBugs error and get error after analysis done"
use infer analyize ios project by command:
infer -- xcodebuild clean build -workspace  xxx.xcworkspace -scheme xxx -configuration Debug -sdk iphonesimulator

after build succeeded , I get this error :

** BUILD SUCCEEDED **

Starting analysis (Infer version git-401109b4eb9d54ef8831ee953a3436ec3e2bb72e)

Analysis done

Traceback (most recent call last):
  File "/Users/appdev/infer/infer/bin/infer",

[2015-09-14 06:11] swatigoel opened #176 "Not able to compile infer on Linux Ubuntu 14.10"
I have followed this link to setup infer on Linux machine (https://github.com/facebook/infer/blob/master/INSTALL.md#install-the-dependencies)

After that I followed steps to checkout infer and clang to compile But I am not able to do so/
# Checkout Infer
git clone https://github.com/facebook/infer.git
cd infer
git submodule update --init --recursive
# Compile clang
facebook-clang-plugins/clang/set

[2015-09-14 08:54] martinoluca commented on #176
Hello @swatigoel,
I think that your problem is due to a missing atdgen binary (`make[1]: atdgen: Command not found`).
Make sure all your dependencies have been installed correctly (run `opam list` and check they are all there) or re-install them with the command:
[code]

If they are all there and the problem persists, run:
[code]
and try again.

[2015-09-14 08:57] swatigoel commented on #176
can you please tell me in which directory, I have to run this command
./opam install -y extlib.1.5.4 atdgen.1.6.0 javalib.2.3.1 sawja.1.5.1

[2015-09-14 09:02] swatigoel commented on #176
I got it... I am doing opam setup
Setup Opam
wget https://github.com/ocaml/opam/releases/download/1.2.2/opam-1.2.2-x86_64-Linux -O opam
chmod +x opam
./opam init -y --comp=4.01.0
eval `./opam config env`
./opam install -y extlib.1.5.4 atdgen.1.6.0 javalib.2.3.1 sawja.1.5.1

[2015-09-14 09:17] swatigoel commented on #176
Hello @martinoluca ,
I run this command "eval ./opam config env" as per setup steps but I got below error:

The program 'opam' is currently not installed. You can install it by typing:
sudo apt-get install opam

So I did sudo apt-get install opam, it installed opam but after running command "eval ./opam config env" again I got below error:

[ERROR] Your version of OPAM (1.1.1) is not recent enough

[2015-09-14 09:22] martinoluca commented on #176
Right, seems like you've installed opam from apt-get rather than using the one you downloaded with wget.

You now have to use that one, which means you should suppress the `./` from the command and type instead:
[code]

[2015-09-14 09:27] swatigoel commented on #176
thank you for your quick response, I used this comman now eval `./opam config env` and run
make -C infer again. Now it's giving another error

make: Entering directory '/home/user/infer/infer'
make -C src clang
make[1]: Entering directory '/home/user/infer/infer/src'
GIT_COMMIT=$(git rev-parse HEAD 2> /dev/null || printf "unknown commit"); \
GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD 2> /dev/nul

[2015-09-14 09:31] martinoluca commented on #176
try running
[code]

[2015-09-14 09:37] swatigoel commented on #176
Thanks, It worked. Now I've completed infer setup. I want to know how can I run this for my application.

[2015-09-14 09:52] swatigoel commented on #176
one more thing, I want to know. How can I maintain opam and infer setup for subsquent sessions.

[2015-09-14 10:05] martinoluca commented on #176
From now on, you'll need to pull the latest changes from the infer repo, then run `make -C infer` to build the new changes.
To run Infer on your codebase, follow the instructions here http://fbinfer.com/docs/analyzing-apps-or-projects.html

[2015-09-14 11:16] swatigoel commented on #176
thanks for your help. It really helped me to set up infer.

[2015-09-14 11:22] swatigoel opened #177 "Not able to analyze my app using infer not even sample app on Linux"
I have done infer setup as per documentation and steps told in this thread https://github.com/facebook/infer/issues/176

After that I tried to run infer for sample app android_hello. It worked in sample app. So I thought to run for my application.

My Android application has little complex structure. It uses 2 android library and one java library and it's own code structure.
When I ran "infer -- g

[2015-09-14 11:36] martinoluca commented on #177
Hello @swatigoel,
Could you please run `infer --version` and paste here the output?

[2015-09-14 11:36] #176 closed

[2015-09-14 11:56] swatigoel commented on #177
@martinoluca
This is the output.
Infer version git-401109b4eb9d54ef8831ee953a3436ec3e2bb72e
Copyright 2009 - present Facebook. All Rights Reserved.

[2015-09-14 12:03] martinoluca commented on #177
You ran `infer -- gradlew build` and it fails saying `No such file or directory`.
Try running `gradlew build` only.

[2015-09-14 12:10] swatigoel commented on #177
I ran ./gradlew build and it said everything is UP-TO-DATE and build is successful including all 3 depenedent library(2 android lib and 1 java lib)

BUILD SUCCESSFUL
Total time: 42.298 secs

[2015-09-14 12:13] martinoluca commented on #177
`./gradlew` is not `gradlew`
Please now run `./gradlew clean` then run `infer -- ./gradlew build`

[2015-09-14 12:20] swatigoel commented on #177
ok will do, Actually I tried to run "gradlew build" it showed below error
No command 'gradlew' found, did you mean:
 Command 'gradle' from package 'gradle' (universe)
gradlew: command not found

So I ran "./gradlew build" and it successfully built the app.

As you said, I ran "./gradlew clean" and then ran "infer -- ./gradlew build" now it started running infer. Let's see this time it should compl

[2015-09-14 12:26] swatigoel commented on #177
It gave below error now

Fatal error: exception Failure("The project root /home/user/app is not a prefix of /home/user/javalib/src/main/java/com/test/MyClass.java")
Traceback (most recent call last):
  File "/home/user/infer/infer/bin/infer", line 180, in <module>
    main()
  File "/home/user/infer/infer/bin/infer", line 144, in main
    capture_exitcode = imported_module.gen_instance(args, cmd).

[2015-09-14 13:20] martinoluca commented on #177
Is your library located in `/home/user/javalib`?

[2015-09-14 14:55] swatigoel commented on #177
Yes, it's located in javalib folder

[2015-09-14 14:57] martinoluca commented on #177
Try passing the `--project_root` argument to infer, run:
[code]

[2015-09-15 06:06] swatigoel commented on #177
@martinoluca

thanks for your support. But that also didn't work. Actually "infer" doesn't suit to our code structure.
To run infer I have moved all library folders into main app folder and then ran below commands

"./gradlew clean"
"infer -- ./gradlew build"

Now it started running without giving project root error.

[2015-09-15 09:43] swatigoel commented on #177
hello @martinoluca

After running "infer -- ./gradlew build", it gets stuck after sometimes.
I retried multiple times but always it gets stuck at same location.
Attached is the screen-shot that displays logs after that app gets stuck for infinite time. I have to interrupt it by Ctrl+C
![selection_001](https://cloud.githubusercontent.com/assets/3157058/9873267/397363fa-5bbc-11e5-8ea8-aaa4ecf61bb7.p

[2015-09-15 09:48] martinoluca commented on #177
Hello @swatigoel,
That is the output of the debug info of gradle, and should be normal, the analysis may take some time, depending on the size of your codebase.

[2015-09-15 09:51] swatigoel commented on #177
ok sir, I got it. but if it is actually running then it should show debug info with latest time stamp. right?

I waited for more than 2 hours and last debug info on terminal was 2 hours ago.

[2015-09-15 09:56] swatigoel commented on #177
I ran infer for small app it gave output in seconds only.
May be I have to wait for longer time to analyze my app.
Thank you anyways. Will ask you again if I get stuck somewhere.

[2015-09-15 10:00] martinoluca commented on #177
Good point about the timestamp, the reason why they are shown with a delay is that `infer` processes the debug info in order to run the analysis, then it emits the info as soon as the processing is done.
Wait and see how it goes!

[2015-09-15 10:01] swatigoel commented on #177
sure, thank you so much for your support.

[2015-09-15 11:41] Ricardo1980 commented on #84
Nowadays very often iOS developers use cocoapods (or similar).
I suggest writing this info in the docs section, because I spent a while searching what I was doing wrong.

[2015-09-15 14:06] akotulski commented on #175
@jimmyleaf I can't reproduce the problem locally (infer doesn't crash for me with unicode characters in error message).

There is one line fix that might fix your problems, could you change inferlib.py file and report back whether it helps? I'll push the patch if it fixes your problem.

The potential fix: add `u` before `'{0}:{1}: {2}: {3}\n  {4}\n'.format(` like so:
http://pastebin.com/EvZ1Hvup
Y

[2015-09-15 14:07] sblackshear commented on #177
Unless your app is massive or your machine is very slow, two hours seems way too long.

Could you try running `infer --log_to_stderr -- ./gradlew build` and sharing the output?

In addition, if you would be willing to share the source code for your app I would be happy to try running it on my machine to see if I can understand what's going on.

[2015-09-16 04:23] swatigoel commented on #177
Hello @sblackshear
As I already said My main app is using 2 android app as library and 1 java library. All are at different different locations.
So while running "infer -- ./gradlew build" , I was getting error related to project root.
So After code checkout I moved out all library code inside my main app and updated path in settings.gradle
After that I ran "./gradlew clean" command to build the p

[2015-09-16 08:23] jimmyleaf commented on #175
@akotulski  I add u before '{0}:{1}: {2}: {3}\n {4}\n'.format(  at infer/bin/inferlib.py  line 361

save the file and I rerun infer command
[code]
at terminal，and I got same error   at last

[code]

and  I  run  inferTraceBugs command  at Project path

[2015-09-16 10:04] martinoluca commented on #173
Hello @kingangelTOT,
It looks like a problem of paths.
`infer` searches for the capture package within the lib folder, and that is not found. How did you install infer?

[2015-09-17 07:48] sacrificar commented on #169
after I do opam update and opam install, I still get the problem. What supose I do?

[2015-09-17 09:39] martinoluca commented on #169
Hello @sacrificar,
could you please paste here the output of `opam list`?
Thanks

[2015-09-17 09:49] sacrificar commented on #169
# Installed packages for 4.01.0:
atd               1.1.2  Parser for the ATD data format description language
atdgen            1.7.1  Generates efficient JSON serializers, deserializers and
base-bigarray      base  Bigarray library distributed with the OCaml compiler
base-threads       base  Threads library distributed with the OCaml compiler
base-unix          base  Unix library distributed with

[2015-09-17 09:59] martinoluca commented on #169
the version of atdgen that we require to install from the website is atdgen.1.6.0

[2015-09-17 10:16] sacrificar commented on #169
before I update to 1.7.1, I already have atdgen 1.6.0 but that's not working. Then I read this issues and try to opam update then terminal said there's update for atdgen and other 2. Then I do opam upgrade. Then that's still not working too.

[2015-09-17 10:24] martinoluca commented on #169
it may be that atdgen is not in your PATH environment, so try running
[code]
then try again.

[2015-09-17 10:29] sacrificar commented on #169
that's work. Thanks.

[2015-09-17 10:31] #169 closed

[2015-09-17 13:17] denizt commented on #150
I think @sblackshear is working on something similar to FindBugs' SupressWarnings annotation, or maybe I am misreading a9b6f33940554629538cecd1c36ccb291da9ce78? For further reference, please see [the stackoverflow question] (http://stackoverflow.com/questions/1829904/is-there-a-way-to-ignore-a-single-findbugs-warning)

[2015-09-17 19:41] sblackshear commented on #150
@denizt Yes, Infer now supports the java.lang `@SuppressWarnings` [annotation](http://docs.oracle.com/javase/7/docs/api/java/lang/SuppressWarnings.html). You can write `@SuppressWarnings("infer")` or `@SuppressWarnings("null")` on a method/class to suppress all warnings on the method/methods belonging to the class.

This does indeed seem to be very similar to the FindBugs feature you mention. Hope

[2015-09-17 20:38] denizt commented on #150
Yes, indeed this was the feature request :) Thanks!

[2015-09-21 07:16] sylvestre commented on #170
I think the error message should be updated for something more obvious like "Please compile infer".

[2015-09-21 07:30] sylvestre commented on #163
Similar issue with a different project / build system:
[code]

[2015-09-21 13:54] sblackshear commented on #163
Hi @sylvestre,
  Could you try pulling the latest Infer code, recompiling, running it again, and reporting the result? a62c71290b4f03db93277fe8abc01911631277c0 added a better error message that should help us debug this problem.

[2015-09-21 14:54] sylvestre commented on #163
@sblackshear infer built. The error message is indeed much better:  "The project root /var/lib/jenkins/workspace/fennec-infer/obj-arm-linux-androideabi/build/annotationProcessors is not a prefix of /var/lib/jenkins/workspace/fennec-infer/build/annotationProcessors/AnnotationInfo.java" but I am not sure infer is right here (it worked with 0.1.0)

[2015-09-21 15:10] sblackshear commented on #163
Try passing `-project_root /var/lib/jenkins/workspace/fennec-infer/build/annotationProcessors/` to your top-level Infer command and see if that fixes the problem.

Thanks for working with us on this--I think we need to make Infer a bit smarter at detecting the project root for Gradle projects.

[2015-09-21 15:25] sylvestre commented on #163
Welcome! FYI, I am not using Gradle but the custom Mozilla build system (building firefox for android here).
Failed the same way: *The project root /var/lib/jenkins/workspace/fennec-infer/obj-arm-linux-androideabi/build/annotationProcessors is not a prefix of /var/lib/jenkins/workspace/fennec-infer/build/annotationProcessors/AnnotationInfo.java* with *--project_root ...*

If you want to see the fu

[2015-09-21 15:57] sblackshear commented on #163
Thanks, the full log/the link to the fennec-infer source inside is very helpful! I think I see the problem (`project_root` flag not being passed down the line properly); I'll see if I can get it to work properly.

[2015-09-22 19:40] RahulRvR commented on #170
I have installed the dependencies and compiled infer , still getting the same error . I have java version "1.8.0_25"

[2015-09-22 19:42] RahulRvR opened #178 "infer compilation error"
I get the following error

make -C infer

<pre>
*make -C src clang
GIT_COMMIT=$(git rev-parse HEAD 2> /dev/null || printf "unknown commit"); \
	GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD 2> /dev/null || printf "unknown branch"); \
	UNKNOWN="-unknown"; \
	if [ -e "/Users/vijayr/Downloads/infer/.release" ]; then \
	  UNKNOWN=""; \
	fi; \
	GIT_TAG=$(git tag --points-at HEAD 2> /dev/null || printf "

[2015-09-22 22:29] sblackshear commented on #163
I've just pushed a fix that should stop this exception from occurring. Feel free to close the issue if this fixes it on your end.

[2015-09-23 09:32] sylvestre commented on #163
OK. It fixes the bug but the warning is displayed on every call... This is flooding the log:
http://relman-ci.mozilla.org/job/fennec-infer/101/consoleFull
I don't know if it is possible for you but showing it once should be enough.

[2015-09-23 10:56] cristianoc commented on #163
Thanks for the report.
Fix in https://github.com/facebook/infer/commit/28f5025862b0b145ee64ce4a4ed44b94eeb071c0.

[2015-09-23 13:04] giacgbj opened #179 "Javac '-d', 'eprecation'"
Environment:
* infer git-5104d852eec5d30da8cd68ae6b6a2fb4e31764a8
* Java 1.7.0_71
* Maven 3.3.3
* Python 2.7.10

I installed the latest version of infer manually on Mac OS X following the guide https://github.com/facebook/infer/blob/master/INSTALL.md .

Plugin configuration:
[code]

Error:
[code]

As you can see
[code]
is used instead of
[code]

[2015-09-23 13:10] martinoluca commented on #170
Hi @RahulRvR,
please try running
[code]
to configure your PATH environment variable, then try again.

[2015-09-23 18:14] #163 closed

[2015-09-23 19:00] RahulRvR commented on #170
@martinoluca
I get the following error when I run

make -C infer

Error :

make -C src clang
GIT_COMMIT=$(git rev-parse HEAD 2> /dev/null || printf "unknown commit"); \
	GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD 2> /dev/null || printf "unknown branch"); \
	UNKNOWN="-unknown"; \
	if [ -e "/Users/vijayr/Downloads/infer/.release" ]; then \
	  UNKNOWN=""; \
	fi; \
	GIT_TAG=$(git tag --points-at HEA

[2015-09-23 19:12] coderReview opened #180 "Compilation error with Clang"
Having compilation error with latest code in Github:
[code]

[2015-09-23 19:19] sblackshear commented on #179
Thanks for reporting; that was a silly mistake on our part! Fixed in 62b57827c83a59f5b72b4ed8518db8534ddca61d.

[2015-09-23 19:19] #179 closed

[2015-09-24 08:47] martinoluca commented on #180
Hello @coderReview,
Thanks for reporting this issue, we are actively working on a fix!

[2015-09-24 08:47] giacgbj commented on #34
+42

[2015-09-24 08:51] martinoluca commented on #170
are you compiling from a checkout of the repo, or you downloaded the pre-built binaries from here https://github.com/facebook/infer/releases/latest/ ?

[2015-09-24 10:30] sylvestre opened #181 "facebook-clang-plugins/clang/setup.sh should detect if rebuilding clang is necessary"
It would be appreciated if ```facebook-clang-plugins/clang/setup.sh``` could detect if a rebuild of clang is necessary or not.
For now, it is rebuilding the whole software each time it is called.

[2015-09-24 12:02] giacgbj opened #182 "No issues found / Error during capture phase, exiting on "infer -- mvn install""
Environment:
* infer git-a50ecde01cf990555f2d2e9e5da05af87b8965d7
* Java 1.7.0_71
* Maven 3.3.3
* Python 2.7.10

Running the following commands

[code]

no issues are found on a project which surely has issues and the file "target/infer-out/toplevel.log" contains

[code]

I can't find anywhere which error the logs are referring to.

Moreover, the logs seem not properly "flushed" and the rows mix i

[2015-09-25 05:49] jollychang commented on #170
I have try
[code]
then
[code]
got error too

[code]

[2015-09-25 13:30] akotulski commented on #180
This should be fixed now (4216ad9 fetches new version of clang that doesn't crash the plugin). It is workaround against bug in clang (https://github.com/facebook/facebook-clang-plugins/commit/c5d9c58940ccb7e7ae3113af9fb6c84e895e34ac)

You will have to run `facebook-clang-plugins/clang/setup.sh` to rebuild and apply patch to clang and then rebuild infer:
`./compile-fcp.sh && make -C infer clean &&

[2015-09-25 13:30] #180 closed

[2015-09-28 16:03] JohnWong commented on #174
@kingangelTOT Finally, I run infer without issue. Do not compile from source. Just use the release as follow to save your time: http://fbinfer.com/docs/getting-started.html

[2015-09-30 13:01] jvillard commented on #170
@jollychang there is no error message in the logs you pasted. Can you please paste the full logs? You can also use https://gist.github.com/ for text pastes such as this.

@RahulRvR it looks like you're not using the release version of infer, so you need to compile the clang plugin (or `make -C infer java` if you're only interested in Infer for Java). Please follow the [compile instructions](https:

[2015-09-30 13:02] jvillard commented on #172
closing as duplicate. please reopen if this is not accurate.

[2015-09-30 13:02] #172 closed

[2015-09-30 13:07] jvillard commented on #173
closing for now. feel free to reopen with more info as per @martinoluca's question.

[2015-09-30 13:07] #173 closed

[2015-09-30 13:09] jvillard commented on #178
Hi @RahulRvR, thanks for opening a separate issue. I'm pasting what I said on #170 here:

it looks like you're not using the release version of infer, so you need to compile the clang plugin (or `make -C infer java` if you're only interested in Infer for Java). Please follow the [compile instructions](https://github.com/facebook/infer/blob/master/INSTALL.md#compile-clang-and-infer-from-source).

L

[2015-09-30 14:01] sphan opened #184 "Retain Cycle - Possible False Alarm?"
Hi Infer team,

I have recently used Infer to analyse a few opensource iOS projects for a university subject. I came across 3 retain cycles detected by Infer from the same application and file.

These are the 3 bugs reported:
aMenjar-master/aMenjar/AMQRPedidoViewController.m:638: error: RETAIN_CYCLE
  Retain cycle involving the following objects:  (1) an object of class MBProgressHUD  retaining an

[2015-09-30 14:12] jvillard commented on #174
@kingangelTOT Xcode 6.4 should be no problem.

[2015-09-30 14:13] jvillard commented on #174
closing for now, please reopen if there's still an issue

[2015-09-30 14:13] #174 closed

[2015-09-30 15:25] ddino commented on #184
hi,
you are right these are false positives.

Thanks for reporting them. We will work to improve infer reporting on retain cycles.

[2015-10-01 02:01] sphan commented on #184
Hi ddino,

just to confirm on the method and to know if my method was correct, how did you verify that they are false positives?

Thanks.

[2015-10-04 17:51] sdduursma commented on #34
:+1:

[2015-10-04 17:52] rymir commented on #34
+1

[2015-10-05 16:11] cristianoc commented on #171
This should be fixed in https://github.com/facebook/infer/commit/1e9ce380567b64b555a8088a046eb29240d5f614

[2015-10-05 16:12] #171 closed

[2015-10-06 14:53] #181 closed

[2015-10-06 14:54] jvillard commented on #181
Hi @sylvestre, thanks for the suggestion. There is a fix in the facebook-clang-plugins repo: https://github.com/facebook/facebook-clang-plugins/commit/2bc8e83d2e84a0c274ad0eaf61645bfc0be1855c

We'll soon include it in infer.

[2015-10-09 03:40] jollychang commented on #170
@jvillard https://gist.github.com/jollychang/7eab752eafa029ea348f

[2015-10-09 09:02] pontusbostrom opened #185 "Inheritance and interfaces in modelling"
I use a rather large third party library of components and I would like to model its behaviour. To make the work manageable I would like to model methods in the classes highest in the class hierarchy. Additionally it would be very useful to model interfaces. E.g. it would be convenient to model the List interface instead of providing identical models for every list implementation.

-It seems metho

[2015-10-09 10:09] jvillard commented on #170
@jollychang what version of clang and Xcode are you using? You can check with:

[code]

There seems to be a mismatch between the versions of Xcode and the command-line tools. See eg [here](https://github.com/glfw/glfw/issues/559) for a similar-looking issue.

[2015-10-09 11:06] jollychang commented on #170
[code]

[2015-10-09 11:10] akotulski commented on #170
@jollychang I think you may have too old clang in facebook-clang-plugins.
Could you run `facebook-clang-plugins/clang/bin/clang --version` from top of infer directory?

We updated clang version there some time ago and you'd need to recompile clang (which takes some time)

[2015-10-09 11:20] jollychang commented on #170
[code]

[2015-10-09 23:05] JFKingsley commented on #34
:+1:

[2015-10-09 23:26] keith commented on #34
I think all the comments have shown this is a feature the community would appreciate, I think now we should just subscribe to this issue and wait for updates from the authors.

[2015-10-12 13:34] jvillard commented on #170
@jollychang there is a new version of clang in the infer repo. You need to recompile clang:

[code]

See also infer's [INSTALL.md](https://github.com/facebook/infer/blob/master/INSTALL.md#compile-clang-and-infer-from-source).

[2015-10-13 03:47] jollychang commented on #170
Thanks @jvillard
after update repo and
[code]
is successful,  but `./compile-fcp.sh` failed, log as below:
https://gist.github.com/jollychang/4dfcd09a15a96bb691b8

[2015-10-13 16:19] raghavsatyadev opened #186 "how can i use Facebook infer in android studio ?"

[2015-10-13 16:24] jvillard commented on #170
@jollychang can you try the following and let me know if it helps?

[code]

This looks like a problem in our Makefiles, thanks for reporting it.

[2015-10-15 09:38] wangype opened #187 "Failed to run InferAnalyze binary, exiting"
hi, I download infer-linux64-v0.4.0.tar.gz and run 'tar -xvzf' to the file on linux system,  report "Failed to run InferAnalyze binary, exiting" when i run infer, can you tell me how to run the infer ,thank you very much.

[2015-10-15 12:31] jvillard commented on #187
Hi @wangype, you need to compile Infer to use it. The release only contains a pre-compiled clang because that's the most time-consuming step. Please follow the instructions [here](http://fbinfer.com/docs/getting-started.html).

[2015-10-15 12:31] #187 closed

[2015-10-15 22:30] jeremydubreil commented on #185
Unfortunately, it does not work right now to model the interfaces in order to model all the implementations at once. This is due to an incomplete support for dynamic dispatch in the analyzer. For example, if a method is of the form:

[code]

Then the model provided for `List.length()` will not be used in the call to `foo(l)` in `bar`.

I am leaving this task opened for now as this are things that

[2015-10-16 09:21] wangype commented on #187
thank you very much~

[2015-10-16 09:26] jollychang commented on #170
update repo ba00f08f0019684232d7393622fb84769156a827 and
[code]
is successful, but  `make -C infer` failed
https://gist.github.com/jollychang/30f09750d64db92b2787

[2015-10-16 12:45] jvillard commented on #170
@jollychang you may need to reinstall the command-line tools:

[code]

see #132

[2015-10-16 14:04] pontusbostrom commented on #185
Thank you for your reply and for describing the current situation in the tool! Good to hear that support for modelling interfaces is in the plans

[2015-10-20 22:46] lumaxis opened #189 "False positive with NSMutableDictionary and CoreFoundation bridging?"
We are using SFHFKeychainUtils in our project and analyzing our code with Infer, I get the following error

[code]

for these [lines](https://github.com/bitstadium/HockeySDK-iOS/blob/develop/Classes/BITKeychainUtils.m#L291-L295):

[code]

I'm thinking this might be a false positive or am I overlooking something? Thanks in advance for looking into it.

[2015-10-22 16:26] jvillard commented on #189
Hi @lumaxis, thanks for your report. From the small snippet it's not immediately obvious what's wrong, we'll look into it.

PS: It seems that the project you linked to is gone [(404 here)](https://github.com/kamiro/SFHFKeychainUtils).

[2015-10-22 16:36] lumaxis commented on #189
Hey @jvillard, thanks for looking into this! After being online for 3 years, the project out of all days was removed now ... weird.
I updated the links in my original post to point to the part of our code where we use SFHFKeychainUtils, hope that helps debugging.

[2015-10-22 19:09] jeremydubreil commented on #186
You should be able to run Infer from the command line if your projects are using Gradle for the compilation.

If your question is about having Infer integrated with the IDE, there is no real support for this. However, you may be able to get your Infer reports inlined in the IDE if you use `infer -- gradle` as build command instead of `gradle`, but this has probably never been tried.

[2015-10-23 04:41] raghavsatyadev commented on #186
thank you for your support

[2015-10-23 16:48] joshualan commented on #124
Have the same problem, where does OPAM install atdgen? Trying to find it to add it to my path.

[2015-10-23 16:54] jvillard commented on #124
@joshualan you probably need to run `eval $(opam config env)` to add opam's to your PATH, etc.

To avoid doing this every time you open a new console, you can install opam:

[code]

[2015-10-27 09:29] RameshAran opened #190 "Error while doing "make -C infer""
After installing all dependencies while I do "make -C infer", I am getting the following error.

I was following steps from

https://github.com/facebook/infer/blob/master/INSTALL.md#install-the-dependencies
http://fbinfer.com/docs/getting-started.html

Error from console
=======================================

In file included from wctype.cIn file included from In file included from glib.c:In fil

[2015-10-27 10:27] #186 closed

[2015-10-27 10:28] jvillard commented on #178
Closing this issue, assuming it is solved.

[2015-10-27 10:28] #178 closed

[2015-10-27 10:30] jvillard commented on #190
@RameshAran have you tried reinstalling the command-line tools?

[code]

This looks similar to #132.

[2015-10-27 12:15] RameshAran commented on #190
@jvillard, Thank you. Yes,  its working now.

[2015-10-27 12:15] #190 closed

[2015-10-27 15:10] jvillard commented on #182
Hi @giacgbj, sorry for the delay. Is there any chance you could share the project you are trying to analyse, or provide a reproducible example?

In "toplevel.log", the line `[u'inferJ', u'-g', u'-a', u'infer', u'javac', '[OMISSIS]']` has java files instead of `'[OMISSIS]`, right? Just checking that infer actually sees *some* files being compiled.

Lastly, you might want to have a look at #38.

[2015-10-27 15:29] jvillard commented on #170
I'm assuming that finally did the trick and closing the issue. Please re-open if I'm mistaken.

[2015-10-27 15:29] #170 closed

[2015-10-27 15:32] jvillard commented on #157
Please re-open this issue if needed.

[2015-10-27 15:32] #157 closed

[2015-10-27 15:32] jvillard commented on #158
Please reopen this issue if needed.

[2015-10-27 15:32] #158 closed

[2015-10-27 15:36] jvillard commented on #175
@jimmyleaf can you try running infer with `LANG=C` to see if the error persists?

[code]

[2015-10-27 21:35] giacgbj commented on #182
Hi @jvillard, unfortunaly I cannot share the project: I would be probably fired :-)
[OMISSIS] had a lot of file.

I just installed the stable version v0.4.0 and I tried again: from the error I have now I understood that I had to increase the number of open files, as suggested in #22;
However, still no issues are found.

I don't know if it can help you, but *infer-out/log/analyzer_err* contains
[co

[2015-10-28 06:35] liaohuqiu commented on #164
Sorry guys. I was busy in looking for my next job and can not update the document. Now I think everything is almost settle down. I will update it soon. Can you assign this issue to me?

[2015-10-28 09:41] jollychang commented on #170
@jvillard after `xcode-select --install` , it works!!
Thanks

[2015-10-28 11:18] pontusbostrom opened #191 "Warning if modelled methods are called with null argument"
I have a question relating to modelling. I would like to model an api in order to check with infer that it is used correctly, i.e., that certain methods are called with non-null parameters. This seems to be done for java.lang.System.getProperty(String s) by de-referencing the parameter s by calling s.length() in the model of the method.

Below is a simple model of ArrayList (the purpose of the mod

[2015-10-28 16:44] jvillard commented on #164
@liaohuqiu that's great to hear! Unfortunately only contributors with push access can be assigned issues from GitHub.

[2015-10-30 10:46] bhargav1 opened #193 "Getting error while doing Compile Infer from source with clang enabled steps"
for ./compile-fcp.sh getting error
bash: ocamlfind: command not found
make: *** [build/clang_ast_types.cmx] Error 127

for  make -C infer getting
make -C src clang
GIT_COMMIT=$(git rev-parse HEAD 2> /dev/null || printf "unknown commit"); \
	GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD 2> /dev/null || printf "unknown branch"); \
	UNKNOWN="-unknown"; \
	if [ -e "/Users/bhargavsuthar/infer/.release"

[2015-10-30 11:49] jvillard commented on #193
Did you install the [dependencies](https://github.com/facebook/infer/blob/master/INSTALL.md#infer-dependencies-for-macosx)? It looks like ocaml is not installed on your system.

[2015-10-30 11:51] bhargav1 commented on #193
yes i had install already that dependencies

[2015-10-30 12:57] jvillard commented on #193
Can you run `which ocamlfind`, then `./compile-fcp.sh`? Maybe you didn't run `eval $(opam config env)` before `./compile-fcp.sh`?

[2015-10-30 13:26] bhargav1 commented on #193
eval $(opam config env)
work before ./compile-fcp.sh

Thanks

[2015-10-30 13:26] #193 closed

[2015-10-31 01:42] tettoffensive opened #194 "Getting error with clang capture (-gmodules)"
[code]
I was using infer with a previous project a couple months ago fine, but now it's giving me this error. I even tried updating the master branches of both infer and the facebook-clang-plugins and recompiling, but still getting the error

[2015-11-02 07:39] xilin commented on #9
+1

[2015-11-02 08:08] jimmyleaf commented on #175
@jvillard   I just try  running infer with LANG=C and get the error
[code]

get same error at lase
[code]

[2015-11-02 09:36] martinoluca commented on #194
Hello @tettoffensive,
Could you please provide instructions on how to reproduce this issue?

Thanks!

[2015-11-02 18:32] tettoffensive commented on #194
This is how I installed facebook-clang-plugins and infer:

[code]

And then I ran:

[code]

This last command is where I saw the clang error over and over. I believe this workflow worked for me a few months ago with another project.

[2015-11-02 19:12] shbi commented on #165
I too and having this issue
after about 30 mins i stopped execution
^CTraceback (most recent call last):
  File "/Users/jschneider/Downloads/infer-osx-v0.4.0/infer/bin/infer", line 180, in <module>
    main()
  File "/Users/jschneider/Downloads/infer-osx-v0.4.0/infer/bin/infer", line 144, in main
    capture_exitcode = imported_module.gen_instance(args, cmd).capture()
  File "/Users/jschneider/Dow

[2015-11-02 19:12] shbi commented on #165
if it helps any
ps
  PID TTY           TIME CMD
  746 ttys000    0:08.82 -zsh
  748 ttys001    0:02.15 -zsh
52620 ttys001    3:32.34 /Library/Java/JavaVirtualMachines/jdk1.8.0_51.jdk/Contents/Home/bin/java -XX:MaxPermSize=256m -XX:+HeapDumpOnOutOfMemoryError -Xmx1024m -Dfile.encoding=UTF-8 -Duser.country=US -Duser.language=en -Duser.variant -cp /Users/jschneider/.gradle/wrapper/dists/gradle-2.4-al

[2015-11-02 21:12] jvillard commented on #194
@tettoffensive the workflow has changed. It's now:

[code]

You can also [use the release](http://fbinfer.com/docs/getting-started.html) to avoid having to recompile clang and the plugin.

[2015-11-02 21:16] jvillard commented on #113
I'm assuming the problem has been solved, but please re-open this issue if this is not the case.

[2015-11-02 21:16] #113 closed

[2015-11-02 21:17] jvillard commented on #175
@jimmyleaf is infer-out/toplevel.log created and if so can you copy its contents?

Is there any non-ascii character in the path of the project that you are running infer on? I'm wondering if this is linked to #76.

[2015-11-03 07:04] wowsershan opened #195 "[android]Too many open files & returned non-zero exit status 2"
I use infer -- ./gradlew build      and after about 8min then:
Fatal error: exception Sys_error("/Users/lm/project/android_workplace/********/app/build/intermediates/exploded-aar/com.mogujie/user/1.2.17/jars/classes.jar: Too many open files")
Traceback (most recent call last):
  File "/Users/lm/project/infer_workplace/infer-osx-v0.4.0/infer/bin/infer", line 180, in <module>
    main()
  File "/Use

[2015-11-03 09:47] martinoluca commented on #194
With 6553ba237916125be8e389f46a4006ed6e92abaf the problem should be solved, since the `-gmodules` flag gets replaced with equivalent ones.
Can you please check you are running the latest version?
To save time, follow the instructions above, provided by @jvillard

[2015-11-03 14:22] giljulio commented on #195
+1

[2015-11-03 16:40] jvillard commented on #195
This looks like the same issue as #22. You can check how to increase the maximum number of open files on osx as suggested on that issue. Let me know if that helps.

[2015-11-03 18:07] shbi commented on #165
Also if it helps, ran with --debug a few times, it always hangs on the same file,
It's a package-info.java file

[2015-11-03 18:17] tettoffensive commented on #194
Thanks. Getting an error with `compile-fcp.sh` :
[code]

[2015-11-03 21:46] jvillard commented on #194
@tettoffensive just to be sure, is that after running `facebook-clang-plugin/clang/setup.sh`?

[2015-11-03 22:01] tettoffensive commented on #194
@jvillard Yes. I followed your instructions.

[2015-11-03 22:15] tettoffensive commented on #194
The release build gave me different errors:

[code]

[2015-11-03 22:19] jvillard commented on #194
you can try (re)installing the command-line tools: `xcode-select --install` (see #132).

[2015-11-03 22:26] tettoffensive commented on #194
ah...thanks...i forgot about that one. Release build works now

[2015-11-04 02:19] jimmyleaf commented on #175
@jvillard   infer-out/toplevel.log created
[code]
And i can confirm that there is no non-ascii character in the path of the project

[2015-11-04 03:49] wowsershan commented on #195
@jvillard
I do like this
sysctl -w kern.maxfiles=20480
sysctl -w kern.maxfilesperproc=22480
ulimit -S -n 2048
It does not work then I set 100 times larger num it does not work too

[2015-11-04 09:39] cristianoc commented on #195
Looks like more recent version of OS X need heavier changes and a restart:
  http://apple.itsprite.com/applehow-to-properly-increase-ulimit-n-on-lion/

[2015-11-04 12:32] scarrobin opened #196 "Can't make infer if path to makefile contains spaces"
When trying to make infer in a directory with spaces I get this error:

[code]

This is clearly due to the spaces in my working directory, the result of pwd is:

[code]

I've found the source of the issue is line 24 of /infer/infer/src/Makefile:

[code]

pwd does not escape spaces so all commands that use the ROOT variable see the different parts of the path separated by spaces as separate argumen

[2015-11-04 19:44] tettoffensive commented on #194
Now I'm getting this:
[code]

The xcodebuild command on its own compiles fine

[2015-11-05 03:53] wowsershan commented on #195
@cristianoc solve the problem,3ks

[2015-11-05 07:07] oatsuper opened #198 "Failed to run InferAnalyze binary, exiting When the infer run"
On  unbuntu ,I git clone the source code ,and updated the bashrc for Infer

I met "Failed to run InferAnalyze binary, exiting" and the infer run fail

and How can I do static analysis the android code with android eclipse project

Thanks~

[2015-11-05 09:27] martinoluca commented on #198
Hello @oatsuper,
About the "Failed to run InferAnalyze binary, exiting" error, you have to compile the binaries of Infer first, please follow the instructions [here](http://fbinfer.com/docs/getting-started.html).

About Eclipse, there's no plugin to run Infer from the UI, but you can still run Infer on your source code through the command-line. If your project builds with gradle, and the task to b

[2015-11-05 09:41] martinoluca commented on #194
Have you tried using the workspace in the xcodebuild command, as explained in https://github.com/facebook/infer/issues/84#issuecomment-114098965?

[2015-11-05 12:00] jvillard commented on #195
@wowsershan can you please close the issue?

[2015-11-05 12:05] wowsershan commented on #195
@jvillard ok, first use issue-.-|||

[2015-11-05 12:05] #195 closed

[2015-11-05 12:08] jvillard commented on #195
@wowsershan no problem, thanks :)

[2015-11-05 16:59] tettoffensive commented on #194
I am using -workspace.

[2015-11-05 17:11] martinoluca commented on #194
do you have a simple example that I can use to reproduce the issue?

[2015-11-06 20:02] tettoffensive commented on #194
here is a project I have that is structured similarly and had the same failure: https://github.com/tettoffensive/ASCollectionViewTest

[2015-11-07 05:47] dhruvbhatt commented on #34
+1

[2015-11-08 12:33] ruijun opened #199 "Use Infer in Android Studio project , It appear unrecognized arguments"
When I use `infer –- ./gradlew build` to android studio project TestInfer

ruijun-MacBookPro:TestInfer ruijun$ infer –- ./gradlew build
usage: infer [-h] [-o <directory>] [-i] [-ic] [-g] [-a ANALYZER] [-nf]
             [—fail-on-bug] [—android-harness] [-l] [—log_to_stderr] [-v]
             [-j n] [-x <projectname>] [-r <githash>] [—buck]
             [—infer_cache <directory>] [-pr PROJECT_ROOT

[2015-11-08 13:29] jvillard commented on #199
You are using `–-` (long-dash dash) instead of `--` (dash dash) in your infer command. Try `infer -- ./gradlew build`.

[2015-11-08 16:09] oatsuper commented on #198
Thanks you very much~

[2015-11-09 01:33] ruijun commented on #199
@jvillard Thank you, it is work for me.

[2015-11-09 09:43] #199 closed

[2015-11-09 09:45] martinoluca commented on #198
Feel free to open this issue again if the problem persists.

Thanks!

[2015-11-09 09:45] #198 closed

[2015-11-11 11:24] jvillard commented on #175
I can reproduce the error if I write some code with non-ascii chars in them. Let's assume that's what you're seeing here. I'm working on a fix.

[code]

[2015-11-11 15:30] sblackshear commented on #165
I haven't been able to reproduce this issue with the file from @wanyukang. @shbi, would you mind sending the package-info.java file that is causing trouble for you?

[2015-11-11 15:48] shbi commented on #165
I'm not sure if it was the file that was causing trouble it was just the last one that printed out with --debug
I'll have to find time to run it again to see which particular one it was but it was just a simple package info file, no special characters.

/*
 * copywrite, same as in every other file
 */

/**
 * just a javadoc, no parameters, links ect
 */
package com...;

[2015-11-11 16:40] sblackshear commented on #165
Makes sense--I tried running on several pacakge-info files and everything worked fine. Let me know if there's a small (or large) example exhibiting the issue that you can share.

[2015-11-11 16:57] andrewbutterfield opened #200 "make -C infer can't find wctype.h or stdlib.h"
I tried to install infer, but the build failed with a number of errors - unable to find certain header files:

examples:
wctype.c:14:10: fatal error: 'wctype.h' file not found
#include <wctype.h>
         ^
In file included from math.c:13:
./infer_builtins.h:13:10: fatal error: 'stdlib.h' file not found
#include <stdlib.h>
         ^
In file included from infer_builtins.c:13:

(see attachedfile fo

[2015-11-11 17:04] martinoluca commented on #200
Hello @andrewbutterfield,
Have you installed the xcode command-line tools?
If not, the command to install them is:
[code]

[2015-11-12 03:23] dongdaqing commented on #177
@sblackshear I got the same error as belows, and the output here:
dongdaqing->~/Downloads/infer-master/examples/android_hello $infer --log_to_stderr -- ./gradlew build
[INFO] Running command /Users/dongdaqing/AndroidDevEnv/infer-osx-v0.4.0/infer/bin/infer --log_to_stderr -- ./gradlew build
[INFO] Path to infer script /Users/dongdaqing/AndroidDevEnv/infer-osx-v0.4.0/infer/bin/infer (/Users/dongdaqi

[2015-11-12 06:07] SylarDu commented on #165
I met the same issue, related logs as following
^CTraceback (most recent call last):
  File "/home/android/infer-linux64-v0.4.0/infer/bin/infer", line 180, in <module>
    main()
  File "/home/android/infer-linux64-v0.4.0/infer/bin/infer", line 144, in main
    capture_exitcode = imported_module.gen_instance(args, cmd).capture()
  File "/home/android/infer-linux64-v0.4.0/infer/bin/../lib/capture/g

[2015-11-12 15:01] andrewbutterfield commented on #200
Gah! I thought those were installed! I did as you suggested and all now seems to work (I get warnings about no Java, but that's fine)

PS - will installing JDK 1.8 work with current infer, or does it have to be 1.7?

[2015-11-12 15:13] martinoluca commented on #200
Hello @andrewbutterfield,
You can use JDK 1.8 but new Java 8 constructs in source code are not supported.

Feel free to reopen this issue in case the problem still persists.

[2015-11-12 15:13] #200 closed

[2015-11-12 15:22] akotulski commented on #200
@andrewbutterfield regarding JDK 1.8, we don't really support it yet and we encourage to use JDK 1.7.
While JDK 1.8 might work for some projects, infer might crash for some projects.

You are also fine with JDK 1.8 as long as you are not analyzing java code.

[2015-11-12 15:32] andrewbutterfield commented on #200
That's OK - I'll skip the Java for now. I managed to get it to run on C - and got some Null Dereference errors - so now I am happy! Thanks for your help.

[2015-11-13 17:02] jvillard commented on #175
@jimmyleaf I forgot to update this issue to let you know that your issue may now be fixed in the current master. Let me know if that works for you.

[2015-11-14 01:41] vinnybad commented on #124
@joshualan were you able to resolve the atdgen issue?  @Polyg0n - where did you find the atdgen path to add to PATH?

[2015-11-18 07:09] keywind opened #201 "Retain Cycle not work"
I test infer for detecting retain cycle with simple exsample:

In ViewController.m:

    @property (strong, nonatomic) TestView *testView;

    self.testView = [TestView new];
    self.testView.controller = self;

In TestView.m

    @property (strong, nonatomic) ViewController *controller;

Run infer and give me some other issue but no Retain Cycle warning.

[2015-11-18 09:27] dulmarod commented on #201
Hi, could you paste the exact code that you tried to run? Was the code

self.testView = [TestView new];
self.testView.controller = self;

inside a method?

[2015-11-18 09:28] dulmarod commented on #201
Also can you paste the command that you used for analysing those files with Infer?

[2015-11-18 09:35] ddino commented on #201
Hi this is an interesting example.
As Dulma suggest can you paste the full example and the command to run infer and we will look into that.

Thanks,
Dino

Sent from my iPhone

On 18 Nov 2015, at 07:09, Dafeng Jin <notifications@github.com<mailto:notifications@github.com>> wrote:

I test infer for detecting retain cycle with simple exsample:

In ViewController.m:

@property (strong, nonatomic) Test

[2015-11-18 09:49] keywind commented on #201
Sorry for the lack of information.

The example is really simple, I just upload it: https://github.com/keywind/InferSample.

and I run Infer as this:

<img width="483" alt="2015-11-18 5 44 24" src="https://cloud.githubusercontent.com/assets/782770/11237719/815f23ec-8e1c-11e5-9dad-863b88cd78f7.png">

The PARAMETER_NOT_NULL_CHECKED issue works and the Retain Cycle not.

[2015-11-18 10:06] dulmarod commented on #201
If you add this function

void t() {
    ViewController *controller = [ViewController new];
    [controller viewDidLoad];
}

you will get the cycle. Infer only reports it when the variable involved in the cycle is going out of scope.

[2015-11-18 11:17] dulmarod commented on #201
We will look into improving reporting of cycles. Will close this issue for now. Feel free to reopen if you have more questions.

[2015-11-18 11:17] #201 closed

[2015-11-19 15:10] jvillard commented on #175
closing optimistically.

Note that infer still has a problem with unicode in paths, but that's harder to fix as it's caused by the fact that, amongst other things, python2's Popen doesn't deal well with unicode.

[2015-11-19 15:10] #175 closed

[2015-11-20 09:55] sulthana opened #202 "build failed - clang: error: unknown argument: '-mwatchos-simulator-version-min=2.0'"
I am trying to use infer on Apple watch app to find possible crashes and errors. The command that I am using is like below,
"infer -- xcodebuild -target TestApp -configuration Debug -destination "name=iPhone5" -sdk watchsimulator2.0"

but the build is getting failed throwing error,
clang: error: unknown argument: '-mwatchos-simulator-version-min=2.0'

Please help me in getting rid of this issue.

[2015-11-20 10:01] sulthana opened #203 "Unable to build ios app with Apple watch extension : infer"
I am trying to build and check possible crashes and errors for iOS app with Apple watch extension. The command I am using is like below,
infer -- xcodebuild -target TestApp -configuration Debug -sdk iphonesimulator

This is not getting build with the following error,
Check dependencies
target specifies product type 'com.apple.product-type.watchkit2-extension', but there's no such product type for

[2015-11-20 11:19] martinoluca commented on #203
Hello @sulthana,
The support for the analysis of the Watch extension is not yet implemented, we are working on it.

Thanks.

[2015-11-20 11:56] jvillard commented on #202
@sulthana, @martinoluca, is this a duplicate of #203?

[2015-11-20 12:09] sulthana commented on #202
@jvillard, Its not the duplicate. This is the alternate command that I tried to run Watchkit extension as a separate component Which returns the above mentioned error. I wanted to know the reason for the error and solution for the same. Please help me by giving info.

[2015-11-23 10:35] xuejunxd opened #204 "Pop/WebCore/TransformationMatrix.cpp normal armv7 c++ com.apple.compilers.llvm.clang.1_0.compiler (1 failure)"
when we use infer to analyze project ,will get error as follow,but the project can be compiled successfully with xcodebuild 。

 In file included from <module-includes>:2:
1610 In file included from /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS9.1.sdk/System/Library/Frameworks/Foundation.framework/Headers/Foundation.h:10:
1611 In file included from /

[2015-11-23 22:56] mohamedmansour commented on #34
If it supports LLVM it shouldn't be difficult to support Swift?

[2015-11-24 04:48] sblackshear commented on #34
We do not yet support LLVM (as @rohanjr mentioned earlier in the thread, we have the beginnings of an LLVM IR frontend, but there are lots of constructs we can't parse or translate yet). If you're interested in extending the frontend, let me know and I can give you some pointers on where to start!

[2015-11-24 13:23] jvillard commented on #202
@sulthana one thing you can do is use infer on a target that does not use the watch toolkit, as infer's version of clang does not support it yet.

That said, you may have better luck with Infer's latest master, as we just upgraded clang to the latest trunk: 04e4546a918c0aa2d1a7331c7497578bfd1e149c

Note that you'll have to recompile infer's clang for this version (see instructions [here](https://g

[2015-11-25 09:35] Gohan opened #205 "inferAnalyze stuck at 100% cpu, no io"
GohanMBP:tribe_proj chaozhong$ infer -- ./gradlew :compileProductDebugSources
Running and capturing gradle compilation...
16:54:50.571 [ERROR] [system.err] Note: Some input files use or override a deprecated API.
16:54:50.581 [ERROR] [system.err] Note: Recompile with -Xlint:deprecation for details.
16:54:50.582 [ERROR] [system.err] Note: Some input files use unchecked or unsafe operations.
16:54:5

[2015-11-25 13:55] LyndonChin opened #206 "Is there a way to annotate the misreport ?"
for example, in a java file, add an annotation to the misreport place like lint-thing

[2015-11-25 14:03] jvillard commented on #206
Yes, you can use `@SuppressWarning`: https://github.com/facebook/infer/blob/master/infer/tests/codetoanalyze/java/infer/NullPointerExceptions.java#L424

[2015-12-01 07:35] TequilarTomsk opened #207 "Build failed: clang: error: unknown argument: '-fembed-bitcode-marker'"
I try to build xcode project with cocoapods.
After run pod install, I tried to build work space by command:
infer -- xcodebuild -workspace Test.xcworkspace -scheme Test
But it always returns error: clang: error: unknown argument: '-fembed-bitcode-marker'
Please help

[2015-12-01 10:12] martinoluca commented on #207
Hello @TequilarTomsk,
We recently updated the version of clang, that supports this flag.
The release is not ready yet, so you need to compile Infer from source following the instructions [here](http://fbinfer.com/docs/getting-started.html) (look at the `Dependencies` section, then follow the `Compile and install Infer`).

Thanks!

[2015-12-01 10:15] martinoluca commented on #207
Hello @TequilarTomsk,
I had a better look at that and seems like the version of clang in use doesn't support that flag yet, so please update your release of Infer to a recent one that is skipping that flag and should proceed with the analysis.

Thanks!

[2015-12-01 10:54] martinoluca commented on #207
Just to clarify, please visit https://github.com/facebook/infer/releases/tag/v0.4.0/latest and download the latest release; that should fix your problem.
To install it, please follow the instructions [here](http://fbinfer.com/docs/getting-started.html)

Thanks!

[2015-12-01 15:47] ScottRobbins commented on #34
+1

[2015-12-02 01:26] TequilarTomsk commented on #207
Thank you so much!!!!!!!!!

[2015-12-02 01:37] TequilarTomsk commented on #207
@martinoluca  So sorry.I checked again and I think I installed the latest version v0.4.0 ;(
But it always returns error: clang: error: unknown argument: '-fembed-bitcode-marker'
only in case when I try to build workspace

[2015-12-02 11:34] jvillard commented on #207
@TequilarTomsk you can check which version of infer you are using with

  infer --version

Can you post the contents of infer-out/toplevel.log from where you've run infer to help us debug?

[2015-12-03 07:39] njafei opened #208 "make -C infer error: wctype.h and stdlib.h not found and xcode-select --install not work"
while make -C infer , error occured
I have read other issus, and some resolve this problem using xcode-select --install,
but I have install it, and error still happen

./infer_builtins.h:13:10: fatal error: 'stdlib.h' file not found
#include <stdlib.h>
         ^
1 error generated.
wctype.c:14:10: fatal error: 'wctype.h' file not found
#include <wctype.h>
         ^
1 error generated.
In file incl

[2015-12-03 10:20] wavs commented on #34
:+1:

[2015-12-04 03:20] TequilarTomsk commented on #207
@jvillard Please check some log files.
[toplevel.log.zip](https://github.com/facebook/infer/files/51614/toplevel.log.zip)
[toplevel.log.zip](https://github.com/facebook/infer/files/51615/toplevel.log.zip)

[2015-12-04 03:53] TequilarTomsk commented on #207
@jvillard Here are the screen capture when I tried to build
<img width="541" alt="screen shot 2015-12-04 at 10 48 48 am" src="https://cloud.githubusercontent.com/assets/10858548/11581483/140f8088-9a75-11e5-8941-0cf79a9d9dd6.png">
<img width="780" alt="screen shot 2015-12-04 at 10 51 16 am" src="https://cloud.githubusercontent.com/assets/10858548/11581482/140ee9b6-9a75-11e5-9996-fbffca54c6bd.png">

[2015-12-04 07:09] njafei commented on #208
I don't know what happned, try again today,and it works
and I failed 10+ times yesterday
anyway it's solved

[2015-12-04 07:09] #208 closed

[2015-12-04 09:01] njafei commented on #207
open your project
in Build Setting ，search Enable BitCode ，then set NO
wish can help

[2015-12-04 13:14] NebirosFeR opened #209 ""too many arguments" when call clang while building"
I am trying to use Infer to analyze iOS project with .xcworkspace file (I use cocoapods).
To analyze I use command:
`infer -- xcodebuild -workspace "MyProjectName.xcworkspace" -scheme "MyProjectName" -configuration Debug -sdk iphonesimulator`

While project was building output was:
[code]
Message about "clang: line 11: [: too many arguments" appeared for every object.
Finally build finishes succes

[2015-12-06 14:47] LiJunyang commented on #165
I met the same issue, gradle 2.4
I met the same issue, related logs as following
^CTraceback (most recent call last):
  File "/Users/lijunyang/Downloads/infer-osx-v0.4.0/infer/bin/infer", line 180, in <module>
    main()
  File "/Users/lijunyang/Downloads/infer-osx-v0.4.0/infer/bin/infer", line 144, in main
    capture_exitcode = imported_module.gen_instance(args, cmd).capture()
  File "/Users/lij

[2015-12-07 06:27] njafei opened #210 "can I collect warning infomation by Eradicate?"
I read document ,and find that Eradicate can report warning like null thing, but when I read report.json, I did't find warning infomation,
so here is my question: can collect warnings by Eradicate?
I have tried inferTraceBugs, but  it not work
thanks

[2015-12-07 07:53] LiJunyang commented on #165
i meet this before .but after i clean my project, it solves now...

[2015-12-07 13:00] akotulski commented on #210
@njafei you need to add `-a eradicate` flag to run eradicate analyzer. Eradicate only works for @Nullable annotations in java.

You need to run something like this:
infer -a eradicate -- ...

[2015-12-07 19:54] sblackshear commented on #165
Good to hear! Does cleaning solve for anyone else?

If anyone has a small example exhibiting this problem that they can send, please let me know and I will take a look.

[2015-12-08 01:23] njafei commented on #210
@akotulski  so I can't use it to collect warning in Object-C
in infer's log,I found something like:
/InferTest/DetailViewController.m:34:15: warning:
      unused variable 'price' [-Wunused-variable]
    NSString *price;
              ^
1 warning generated.

but it did's show in report,can I collect warnings like this?I mean it's loged,so there is a way to collect it?

[2015-12-08 10:26] markusfisch opened #211 "Wrong/incomplete build instructions"
Following [INSTALL.md](https://github.com/facebook/infer/blob/master/INSTALL.md) does not work on OS X (at least on 10.11.1).

After installing all dependencies, we should do:

[code]

But "make -C infer java" fails because the repository does not come with a Makefile. Just a Makefile.config.in and Makefile.in. So I ran autoconf which fails too:

[code]

After cleaning up, I tried the included bui

[2015-12-08 12:03] jvillard commented on #211
@markusfisch This behaviour has just changed and we're in the process of making a new release and updating the docs. Here is the correct sequence:

  ./autogen.sh
  ./configure
  make java

[2015-12-08 12:14] markusfisch commented on #211
Oh my, I totally missed autogen.sh. Thanks a lot!

[2015-12-08 14:10] jvillard commented on #210
@njafei there is no equivalent of eradicate for ObjC at the moment. The warning you see is from the compiler (clang), not infer.

[2015-12-09 02:03] njafei commented on #210
@jvillard  get it ,thanks

[2015-12-09 02:03] #210 closed

[2015-12-09 21:45] ruimaranhao opened #212 "Compilation issues"
Hi,

I am not able to do ./configure when trying to install. I am following the instructions in INSTALL.md.

 ✘ maranhao@crystal-wlan  ~/PARC/Static/infer   master  ./configure
zsh: no such file or directory: ./configure

Any idea what is going on?

Thanks.

[2015-12-09 21:54] sblackshear commented on #212
Are you running `./autogen.sh` beforehand, and does it complete with no errors? Errors during autogen could prevent `configure` from being generated.

[2015-12-09 21:56] ruimaranhao commented on #212
Yes, I am.

[2015-12-09 21:57] ruimaranhao commented on #212
Oh wait, there is something going on here:

generating ./configure script..../autogen.sh: line 32: autoreconf: command not found

Ok. Thanks. This was already useful.

[2015-12-09 22:09] sblackshear commented on #212
No problem!

Sounds like you may be missing `auoconf` and `automake`; `yum install autoconf automake` (or the equivalent for your package manager) should hopefully do the trick.

[2015-12-10 10:06] marukami commented on #212
Thanks @sblackshear
I had a same issue. Should ```brew install opam``` be updated to  ```brew install opam autoconf automake``` in the https://github.com/facebook/infer/blob/master/INSTALL.md#infer-dependencies-for-macosx

[2015-12-10 10:49] jvillard commented on #212
we'll add this to the instructions, thanks!

[2015-12-10 10:50] #212 closed

[2015-12-10 15:09] veryitman opened #213 "make error"
Hi
i run:
make -C infer
and happen error:
make: *** No targets specified and no makefile found.  Stop.

My pc is mac os 10.11.1 and xcode7.

[2015-12-10 15:09] veryitman commented on #213
please help me.

[2015-12-10 15:11] jvillard commented on #213
The way to build infer has changed; now you need to run

[code]

[2015-12-10 18:47] vigneshr89 opened #214 "Stuck with 100% CPU usage"
I have used infer to analyze my iOS project. Its a big project with lots of dependencies (sub projects). Normally the compilation takes around 5 mins with xctool. But with Infer it is extremely slow (1.30 mins and stuck with 90% CPU usage). The machine I have is really powerful and fast. Sorry, I can't share source code.

[2015-12-10 19:30] #211 closed

[2015-12-11 02:35] tonycosentini opened #216 "Build fails on master."
When I try to build master (using sha `b8c16ddb27cb279e9571716a7f737640fbe3c3cf`), the build consistently fails with:

[code]

[2015-12-11 09:29] martinoluca commented on #214
Hello @vigneshr89, could you please provide more information, for example the console output where it gets stuck? It will help understanding more what's happening.

Thanks.

[2015-12-11 11:41] jvillard commented on #216
fixed in 2565bb1438fba60bcbc39da3f7abe0a813e17f73, thanks!

[2015-12-11 11:41] #216 closed

[2015-12-11 11:42] #213 closed

[2015-12-11 11:46] jberdine commented on #214
Also, you should expect infer to take much longer than the compiler.  As long as it continues to print dots ('.') on the terminal, progress is being made.

[2015-12-11 11:49] jvillard commented on #209
Hi @NebirosFeR, could you paste the contents of infer-out/toplevel.log to help us debug this? In particular, what version of infer are you using and does this still repro with latest release or master?

[2015-12-11 11:53] jvillard commented on #207
@TequilarTomsk sorry, that's an issue with v0.4.0 that has been addressed since (9db0648cb1d9b9512dc5c5b7c5ef68db2f891a29). Please upgrade to latest master or wait until we publish a new release (should be soon!).

[2015-12-11 11:54] #206 closed

[2015-12-11 11:55] jvillard commented on #205
The analysis can take some time, a few minutes to a few hours depending on the size of the app. As long as infer is printing dots it's still running usefully.

[2015-12-11 11:58] jvillard commented on #204
could you paste a more complete output on https://gist.github.com/? the output is truncated here, eg, line 1613 cuts after "expected unqualified-i".

[2015-12-11 14:50] veryitman commented on #213
@jvillard
why not update doc?
i download from https://github.com/facebook/infer/releases/tag/v0.4.0, and build successfully!

[2015-12-11 22:23] vigneshr89 commented on #214
@martinoluca there is no specific console output . It was xcodebuild compile command for a .m file and stopped there for around 20 mins.
@jberdine I understand that it will be slower than the compiler but 90 mins and counting seemed to be way long. Definitely Facebook source code must be much bigger than mine. I am wondering how much it takes for infer to analyze the source code.

It could be beca

[2015-12-12 00:38] tonycosentini opened #217 "Infer reports inaccurate errors when there are classes with the same name in different packages."
If I create two classes with the same class name, but in different packages Infer will inaccruately report warnings.

For example, if I have `com.example.inferbug.app.failing.MainActivity`:
[code]

and `com.example.inferbug.app.passing.MainActivity`:
[code]

Running Infer will give me a warning for the class that should not have any warnings, also the warning points to a line that does not make an

[2015-12-15 00:03] jeremydubreil commented on #217
Thanks for reporting this. We found out what the cause is and we are working on a fix.

[2015-12-15 12:17] liutingdu commented on #60
Thanks @sereden It's good to know other people had the same problem...

I had to manually create ```local.properties```. The [document](http://fbinfer.com/docs/hello-world.html#hello-world-android) says **Edit** the file, which is really confusing.

[2015-12-15 12:25] jvillard commented on #60
@liutingdu Thanks, I've updated the docs to clear that up.

[2015-12-15 14:18] RameshAran commented on #26
After running the following command its working for me.
$ eval 'opam config env'

Thank you guys...

[2015-12-15 20:34] NebirosFeR commented on #209
I tried both variants: using release 0.4.0 and compiling last commit from repo. Result is same.
Here is toplevel.log of master version:

[code]

[2015-12-15 21:50] jvillard commented on #209
Do you get the same "too many arguments" error with master too? Can you paste an instance of it?

[2015-12-15 22:01] jvillard commented on #209
@NebirosFeR you can try changing this line: https://github.com/facebook/infer/blob/master/infer/lib/xcode_wrappers/clang#L12

to

[code]

and see if it helps.

[2015-12-16 12:47] NebirosFeR commented on #209
Thank you for your reply. I changed this string in master version and "too many arguments" disappeared.
But still "No issues found".
toplevel.log:
[code]

[2015-12-16 14:23] jvillard commented on #209
ok, one bug down, thanks!

The failure seems to indicate that there is whitespace in `$INFER_RESULTS_DIR`, but "/Users/olifernikita/Documents/projects/MyProjectName" has no whitespace, so I'm not sure what's going on. Is there any whitespace in the paths of your project?

[2015-12-16 15:46] tak3mat3k commented on #34
+1

[2015-12-16 15:49] NebirosFeR commented on #209
Yes, my real project path has whitespaces. I renamed folder and now everything works!
What I need to fix to make it work with whitespaces?

[2015-12-16 15:55] jvillard commented on #209
Infer currently doesn't work on paths with whitespaces in them (#99). It's not quite obvious how to fix this.

[2015-12-16 15:59] NebirosFeR commented on #209
Thank your for help!

[2015-12-17 09:21] qiuhm opened #218 "error"Failed to run InferAnalyze binary, exiting""
My os is mac os 10.10.5.
I have downloaded the Infer version 0.4.0 and set the environment path.
But when I changed to the dicrctory /Applications/infer-osx-v0.4.0/examples/ios_hello,I execute the command :infer -- xcodebuild -target HelloWorldApp -configuration Debug -sdk iphonesimulator ,it infos me the error:Failed to run InferAnalyze binary, exiting.
Could anybody help me ?

[2015-12-17 11:41] jvillard commented on #218
It looks like you did not compile infer. Please follow the instructions here: http://fbinfer.com/docs/getting-started.html

[2015-12-17 11:45] #209 closed

[2015-12-18 02:51] jeremydubreil commented on #217
Should be fixed by https://github.com/facebook/infer/commit/d579b2be519647c559f90e140b888735829e381c.

[2015-12-18 02:51] #217 closed

[2015-12-18 13:48] sulthana opened #219 "What are the extra features & Support provided by Infer compared to Clang"
Could you please let me know what are the extra features & support provided by Infer compared to Clang. When I run Analyzer option available in Xcode tool, its listing all the possible leaks. The same output I am getting if I run Infer. Please provide the details on the same.

Thanks in advance!

[2015-12-18 19:49] jeremydubreil commented on #219
Hi @sulthana. Do you get the same list of leaks with both tools ?

[2015-12-21 13:30] sulthana commented on #219
Hi @jeremydubreil, When I tested I am getting the same list of leaks with both Xcode Analyze option and Infer. This is where I got a doubt that when Apple itself is poviding options in its IDE, Why are we going for Infer? Even in Infer FAQ page, I have seen like "On iOS there is the Clang Static analyzer. Infer does some things different, in particular reasoning that spans across multiple files. B

[2015-12-21 14:48] gushengyuan opened #220 "Segmentation fault to compile wchar.c on Centos7"
[sgu1@localhost src]$ /home/sgu1/Downloads/infer-linux64-v0.5.0/facebook-clang-plugins/clang/bin/clang -cc1 -triple x86_64-unknown-linux-gnu -emit-obj -mrelax-all -disable-free -disable-llvm-verifier -main-file-name wchar.c -mrelocation-model static -mthread-model posix -mdisable-fp-elim -fmath-errno -masm-verbose -mconstructor-aliases -munwind-tables -fuse-init-array -target-cpu x86-64 -target-li

[2015-12-22 17:01] tonycosentini commented on #217
Awesome, thanks!

[2015-12-25 02:11] tingxuan opened #221 "error "unable to load plugin""
My infer is in the directory:/Users/tingxuanqhm/libtool/
I have installed the facebook-clang-plugins in the directory :/Users/tingxuanqhm/libtool/
So infer and the plugin are in the same location.
1、When I executed :infer -- clang -c Hello.m
It infos the error:
error: unable to load plugin
      '/Users/tingxuanqhm/libtool/infer/infer/lib/clang/../../../../facebook-clang-plugin/libtooling/build/Fa

[2015-12-25 09:05] tingxuan commented on #201
mark

[2015-12-25 11:27] tingxuan commented on #218
Now I execute the shell script:/Users/tingxuanqhm/libtool/infer/build-infer.sh
But it infos me the error:
checking if we are in an Infer release build... yes
checking whether to use the compilers in /Users/tingxuanqhm/libtool/infer/facebook-clang-plugins/clang/bin... yes
checking for shasum... shasum
checking for python2.7... python2.7
checking for javac... javac
checking for xcode-select... xcode

[2015-12-25 11:28] #221 closed

[2015-12-27 00:35] tony-zhou opened #223 "inferAnalyze stuck at 100% for hours and seems stop print dots."
Analyze the same project with infer 0.4, it takes about 1 hours. But with infer 0.5, it has already taken more than 5 hours and inferAnalyze still stuck at 100%.
Would the inferAnalyze fall in the infinite loop and cannot finish itself ?
Could the infer print the process more detail instead of print dots ?

Starting analysis (Infer version v0.5.0)
Computing dependencies... 100%
Analyzing 1264 clus

[2015-12-28 02:54] tingxuan opened #224 "configure: error: cannot run C compiled programs."
I have installed all the dependencies ，when I executed the "./build-infer.sh"，it infos the error：
checking whether we are cross compiling... configure: error: in `/Users/tingxuanqhm/libtool/infer':
configure: error: cannot run C compiled programs.
If you meant to cross compile, use `--host'.
See `config.log' for more details

[2015-12-28 05:32] kushalsethi opened #225 "infer command not found"
I have installed all the dependencies required for the fb infer on Ubuntu 14.04 LTS. Also I have cloned the latest infer from Git. After compilation and installation of the infer, I am getting error each time saying infer command not found, whenever I am trying to run infer for infer/examples/android-hello project.

I am running command after moving to infer/examples/android-hello project:
infer -

[2015-12-28 09:00] tingxuan commented on #224
I have resolved the problem.Close the issue.

[2015-12-28 09:01] #224 closed

[2015-12-29 00:11] jeremydubreil commented on #225
Hi @kushalsethi. Did you follow the install instructions in [install-infer-from-source](https://github.com/facebook/infer/blob/master/INSTALL.md#install-infer-from-source) ?

[2015-12-29 05:14] kushalsethi commented on #225
Thank you! I followed them and got infer running. :)

Can you please tell me if I have one module dependency for my android project and my project's folder structure looks like-
main-project/main-app
main-project/module-dependecny

Where should I run infer command? Do I have to run separately for each folder or only main-app will work?

Thank you!

[2015-12-29 09:36] martinoluca commented on #218
Hello @tingxuan,
Please check whether you have the command-line tools already installed. If not, please run
[code]
to install them. Once you've done it, try running `build-infer.sh` again.

Thanks.

[2015-12-29 09:39] martinoluca commented on #223
Hello @tony-zhou,
do you have an example we can run to reproduce this problem?

Thanks.

[2015-12-29 09:46] martinoluca commented on #225
Hello @kushalsethi,
You should run infer through the build-system used to build your app. The code that will be analyzed will be the one where the build-system invokes the compiler.
If the command to build your app is, for example
[code]
then the command to run the analysis is
[code]

Thanks.

[2015-12-29 12:42] pontusbostrom opened #226 "Infer: eradicate and try-catch"
It seems that infer: eradicate treats catch-blocks as never executed, at least in some cases. Below is an example class that "infer -a eradicate" claims has no issues. If the assignment "path = null" is moved after the catch-block (or into the try-block) then the assignment "filePath = path"  is (correctly) flagged as an error. Is this a bug in infer or an issue with models?

public class Exceptio

[2015-12-29 13:49] kushalsethi commented on #225
Thank you! It worked.

[2015-12-29 13:53] cristianoc commented on #226
Thanks for the report. It seems to be a library modelling issue, as calling a locally defined method declared as throwing IOException causes the expected error to be reported.
Stay tuned.

[2015-12-29 13:55] #225 closed

[2015-12-30 01:59] tony-zhou commented on #223
Hi @martinoluca ,
Sorry I cannot provide the project source code. Is there the parameter I can add when run infer to print more detail. If possible I will try to provide the log for analyze

[2015-12-30 04:36] tianyutingxy commented on #22
still have this problem，Infer version git-712d27b5445da91cffad410ca71d31135f351259

[2015-12-30 06:47] RameshAran opened #227 "BAD_POINTER_COMPARISON Implicitly checking whether NSNumber pointer value is nil at line."
(BOOL)setValue:(NSNumber *)value forUnit:(NSString *)unit
{
    if(value)
    {
          //some code here
    }
}

I am getting the above error in my code. What is the expectation here, Can some one give an example. I am getting lot errors like this. Please suggest.

[2015-12-30 07:49] jberdine commented on #227
A common mistake is to write `if(value)` when intending to test whether `value` is a non-zero integer, while the code actually tests whether `value` is `nil`.  If you instead write `if(value != nil)` explicitly, then the warning should not be reported.

[2015-12-30 09:48] RameshAran commented on #227
Thank you @jberdine

[2015-12-30 10:08] tianyutingxy opened #228 "OSError: [Errno 7] Argument list too long"
Traceback (most recent call last):
  File "/Users/tianyutingxy/Android/github/infer/infer/bin/infer", line 168, in <module>
    main()
  File "/Users/tianyutingxy/Android/github/infer/infer/bin/infer", line 143, in main
    capture_exitcode = imported_module.gen_instance(args, cmd).capture()
  File "/Users/tianyutingxy/Android/github/infer/infer/bin/../lib/capture/gradle.py", line 47, in capture

[2016-01-04 09:27] nickbit opened #229 "Error building clang"
I get the following error when trying to build infer.
This is also happening after a ```make clean``` call

[code]

[2016-01-04 10:10] jberdine commented on #229
Thanks, this should be [fixed](https://github.com/facebook/infer/commit/51f494f542037c34aa04e9b1097eb4ec59e5304f).  You'll need to regenerate the Makefile, which executing `build-infer.sh` should take care of.

[2016-01-04 10:32] nickbit commented on #229
This doesn't seem to fix it. Got the same error.
OS X El Capitan  10.11.2

[2016-01-04 10:45] jberdine commented on #229
Are you sure that the `Makefile`s have been regenerated since you pulled the latest commit?  The absence of `-I eradicate` in the failing command is what happened on the preceding commit.

[2016-01-04 11:15] nickbit commented on #229
I see that the change was done on Jan, 3 while I downloaded the latest one on Jan 2. Will retry with the new repo and report.

[2016-01-04 11:30] nickbit commented on #229
It works OK. Please close. Thank you!

[2016-01-04 11:30] #229 closed

[2016-01-04 18:20] cristianoc commented on #223
There's a fix that might be related in https://github.com/facebook/infer/commit/43ee904a1f1098d0ab3ddbeb8a8e84102d00f1c1.
It requires building Infer from the latest sources.

[2016-01-05 12:20] asalom commented on #34
+1

[2016-01-05 15:03] shenruisi opened #230 "Error: The implementation backend/version.ml"
I got follow error, i try to build it on mac os x.

download infer-osx-v0.5.0.tar.xz

and use command line  ./build-infer.sh clang

File "backend/version.ml", line 1:
Error: The implementation backend/version.ml
       does not match the interface backend/version.cmi:
       The value `versionJson' is required but not provided
       The value `versionString' is required but not provided
Command e

[2016-01-05 15:07] jvillard commented on #230
Could you please paste the full output of `./build-infer.sh`, eg as a [gist](https://gist.github.com/)?

[2016-01-05 22:56] cegonya opened #231 "v0.5.0 configure: error: cannot run C compiled programs."
I am not able to use **/build-infer.sh** because it throws this error:

[code]
In `config.log` I found this:

[code]

Can anyone help me with this issue?

[2016-01-05 23:22] jvillard commented on #231
Can you try `xcode-select --install`?

[2016-01-05 23:57] cegonya commented on #231
I installed `xcode-select` and now i have this new error:

[code]

I have **opam 1.2.2** installed

[2016-01-06 00:04] cegonya commented on #231
When i try to run
[code]
I got this error : `[ERROR] No package named infer found.`

I installed `atdgen`, and now there is another missing dependency: `camlzip`

[2016-01-06 00:54] cegonya commented on #231
After installing all these dependencies:
[code]
Infer works fine.

Now my question is: did I do something wrong in the installing process? because I had to install all of them manually before running **build-infer.sh**

[2016-01-06 02:13] shenruisi commented on #230
sorry,I paste the full output here.
initializing opam...
preparing build...

  *************************
  **                     **
  **   Building Infer    **
  **                     **
  *************************

checking if we are in an Infer release build... yes
checking whether to use the compilers in /Users/yinshen/Desktop/infer-osx-v0.5.0/facebook-clang-plugins/clang/bin... yes
checking

[2016-01-06 10:29] jvillard commented on #231
@cegonya thanks for your report. This is indeed the intended workflow: `./build-infer.sh` tells you how to install the opam dependencies. `opam pin add --yes --no-action .` should have created the "infer" package that opam is complaining about in your message about `opam install --deps-only infer`.

See #222 for a discussion about how to improve the docs around this.

[2016-01-06 10:55] jvillard commented on #230
It looks like you're inside an unitialised git repo for some reason. You can run `git rev-parse --show-toplevel` to find out the root of the repo. You probably don't want that so you can either remove the `.git/` repository located at `git rev-parse --show-toplevel`, or unpack infer somewhere else, eg `/tmp`.

[2016-01-06 14:30] #230 closed

[2016-01-06 14:31] cegonya commented on #231
@jvillard thank you for this information. Definitely, you need to update that documentation for required Opam modules.

[2016-01-06 14:31] #231 closed

[2016-01-06 18:21] TiagoVeloso opened #232 "Build fails when using Realm and CocoaPods"
I am trying to run Infer on my project that includes a bunch of Pods. One of them is Realm.

Running xcodebuild without infer the project builds without any issue.
Running with infer it fails with the following message:

[code]

I am using the latest xcodebuild and infer.

[2016-01-06 21:24] tonycosentini opened #233 "0.5.0 source tarball is missing facebook-clang-plugin files."
It look like the tarball and zip file for the 0.5.0 don’t have the facebook-clang-plugin submodule included. Is there anyway someone can create another archive for this release with the missing files?

I have a working Homebrew formula I’d like to submit to Homebrew for this release, but it won’t compile without the clang plugin files.

(Also, if you're wondering why Homebrew needs the source and

[2016-01-06 21:37] jvillard commented on #233
The "Source code" links are auto-generated by GitHub. The other ".tar.xz" files contain infer + plugins source code (not precompiled), and a precompiled custom clang, because clang takes so long to compile (1+ hour on most laptops).

Is the pre-compiled clang an issue? If so, we can add another tarball with only the sources.

[2016-01-06 21:39] tonycosentini commented on #233
I see, I think the hand-created ones should be fine then. Sorry for the misunderstanding, thanks for the quick reply!

[2016-01-06 21:39] #233 closed

[2016-01-07 00:07] tonycosentini commented on #36
I just opened https://github.com/Homebrew/homebrew/pull/47792 - it adds a formula that uses 0.5.

[2016-01-07 02:40] shenruisi opened #234 "infer-9ecf2d9f5e4f6504a08e34e438af3a853ebc72b5 build error"
I create issue #230 and closed by commit 9ecf2d9f5e4f6504a08e34e438af3a853ebc72b5.
But i download it, and build, said follow error

initializing opam...
preparing build...
./build-infer.sh: line 120: facebook-clang-plugins/clang/setup.sh: No such file or directory

  Warning: you are not using a release of Infer. The C and
  Objective-C analyses require a custom clang to be compiled
  now. This st

[2016-01-07 05:00] sblackshear commented on #234
The `./build-infer.sh: line 120: facebook-clang-plugins/clang/setup.sh: No such file or directory` line from the beginning indicates that you may not have cloned the `facebook-clang-plugins` submodule. Try re-cloning with

`git clone --recursive https://github.com/facebook/infer.git`

to clone submodules as well.

[2016-01-07 05:31] bkangtf opened #235 "unknown type name error"
Hi ladies and guys,

How are u ??  ^  ^

I just post error issue here because it seems like there is no where else to post this issue about.

I just started to use infer from yesterday, and I made cool environment for launching Infer.

and When I launch infer, too many unknown type  name errors.. like below..

/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/

[2016-01-07 09:31] cristianoc commented on #226
Currently Infer does not analyze the jar of the standard library to get information on declared exceptions.
Turning to wishlist.

[2016-01-07 10:27] jvillard commented on #234
@sblackshear `./build-infer.sh` is supposed to take care of that, so I wonder what's going on.

@shenruisi, can you run `./autogen.sh` and paste the output here?

Also, regarding #230 my opinion is that it would be easier for you to simply get rid of the rogue `.git/` directory that must be somewhere up of where you unpacked the release of infer, then build infer from the release, as it's much fas

[2016-01-07 10:30] jvillard commented on #235
Hi @bkangtf,

Does `xcodebuild -target myTarget -configuration Debug -sdk iphonesimulator` succeed on its own?

Can you paste the contents of `infer-out/toplevel.log`? Please use something like https://gist.github.com/ or pastebin et al. for text pastes as it will preserve formatting.

[2016-01-07 10:46] martinoluca commented on #232
Hello @TiagoVeloso,
I will investigate this issue and give you updates!
In the meanwhile, could you please send me a paste of the real error? What you provided is just a summary of the errors that happened during the build. The real message should be a bit above that line.

Thanks!

[2016-01-07 10:59] bkangtf commented on #235
HI  jvillard

I post the file using https://gist.github.com/ .. how to share it with other people ??

it is as below .. though..

+[INFO] Running command /usr/local/infer-osx-v0.5.0/infer/bin/infer -- xcodebuild -target TwitNew -scheme TwitNew -configuration DEBUG -sdk iphonesimulator
+[INFO] Path to infer script /usr/local/infer-osx-v0.5.0/infer/bin/infer (/usr/local/infer-osx-v0.5.0/infer/lib/py

[2016-01-07 11:00] TiagoVeloso commented on #232
This was the first occurrence I found. But there are a couple of errors like this one:

[code]

if you need more of my build out type let me know

[2016-01-07 11:03] jvillard commented on #235
@bkangtf re: gist.github: just share the url once you've pasted it.

If I understand correctly, you get the same error running `xcodebuild -target myTarget -configuration Debug -sdk iphonesimulator`. This means that this is not the right command to build your project. You first need to figure out how to compile your project from the command line. Then use `infer -- <your command here>` to run infe

[2016-01-07 12:42] martinoluca commented on #235
Hello @bkangtf,
if the original command you provided fails:
[code]

Then it may be that the `iphonesimulator` SDK doesn't support the required architecture.
Try running
[code]
and see if works, then try running infer with it.

Thanks.

[2016-01-07 13:28] martinoluca commented on #232
Could you please provide the command you used to build?

Thanks.

[2016-01-07 13:50] TiagoVeloso commented on #232
Something like this:

[code]

[2016-01-07 14:12] martinoluca commented on #232
The error paste you provided is not enough, please make sure you see the `error: ` message of clang.
Does it compile if you just run the build command?
[code]

[2016-01-07 16:12] TiagoVeloso commented on #232
Yes without infer it builds without an issue.

In attachment is the complete log file of the build process

[out.txt](https://github.com/facebook/infer/files/81361/out.txt)

[2016-01-07 17:26] martinoluca commented on #232
Ok seems like this is a [known problem in clang](http://lists.llvm.org/pipermail/cfe-commits/Week-of-Mon-20151012/140965.html) and for now what I recommend to do is to append
[code]
to your build command, so for example in your case it will become:
[code]

Please let me know if that helps!

[2016-01-08 01:23] bkangtf commented on #235
Thank you jvillard & martinoluca , I will try again , Thanks ^ ^

[2016-01-08 06:52] shenruisi commented on #234
@jvillard  i run ./autogen.sh and got output here.
git repository detected, updating submodule... done
generating acinclude.m4... done
generating ./configure script... done

you may now run the following commands to build Infer:

  ./configure
  make

run `./configure --help` for more options

@sblackshear  i re-clone  the infe git clone --recursive https://github.com/facebook/infer.git
and got fo

[2016-01-08 09:37] yschenfz opened #236 "xxxx/Applications/infer-os/facebook-clang-plugins/clang/bin/../include/c++/v1/math.h:309:10: fatal error:"
i have met a probrem,could you tell me how to fix it ?

While building module 'Darwin' imported from protoBuff/google/protobuf/stubs/stringprintf.h:43:
In file included from <module-includes>:86:
In file included from /Users/chen-pc/Applications/infer-os/facebook-clang-plugins/clang/bin/../lib/clang/3.8.0/include/tgmath.h:29:
/Users/chen-pc/Applications/infer-os/facebook-clang-plugins/clang/bin/..

[2016-01-08 09:40] yschenfz commented on #236
Add a  look,  i use the command "xcodebuild -target myTarget -configuration Debug -sdk iphoneos9.2" successfully,but use  "infer -- incremental --xcodebuild -target myTarget -configuration Debug -sdk iphoneos9.2".

[2016-01-08 09:45] martinoluca commented on #236
Hello @yschenfz can you please try to add
[code]
to the xcodebuild command, so that you get something like:
[code]

Let me know if that helps! Thanks!

[2016-01-08 09:48] martinoluca commented on #228
Hello @tianyutingxy,
can you please provide more information about how you are getting this problem?

Thanks.

[2016-01-08 10:30] yschenfz commented on #236
Hello  @martinoluca , success thank you !  Could you tell me why i should add CLANG_ENABLE_MODULES=NO?

[2016-01-08 10:37] martinoluca commented on #236
Seems like the issue is a known problem in clang, see https://github.com/facebook/infer/issues/232#issuecomment-169744110 that solves a similar issue.

Thanks!

[2016-01-08 10:37] #236 closed

[2016-01-08 23:36] jeremydubreil commented on #228
Thanks @tianyutingxy for reporting this. It seems to me that the Gradle integration is creating javac command lines with a number of file exceeding the bash limit. The current Gradle integration is mostly a proof of concept to show that we can analyze Gradle projects with Infer but is very fragile. We are working on a much more robust way to integrate Infer with Java built systems. I will update t

[2016-01-11 10:14] pontusbostrom commented on #226
Thank you for your reply, and good to know this is on the wishlist. As a workaround, I tried to add a model of the method with the correct throws clause. However, it seems that adding a model that throws exceptions doesn't help in this case.  Is this also not supported yet?

[2016-01-11 12:43] ronniesun opened #237 "Analysis CPU is high 90% four process"
android      infer -- gradle assembleRelease
Analysis is used when CPU is high, blocking analysis,
IOS no problem

who can help me? thank you

[2016-01-11 12:44] ronniesun commented on #237
infer-0.5.0

[2016-01-11 12:46] ronniesun commented on #237
Analyzing 1023 clusters.........................................................................................................................................................................................................................................................................................................................................................................................

[2016-01-11 12:47] jvillard commented on #237
Infer is indeed CPU-intensive and uses several cores. Does it stop printing dots? It can sometimes be several minutes between each dot.

[2016-01-11 12:49] ronniesun commented on #237
stop printing dots

[2016-01-11 20:42] tonycosentini opened #238 "Running Infer with no arguments creates an infer-out directory."
This seems like a weird side effect, particularly if you run `infer` often to look at potential options.

[2016-01-12 00:59] ronniesun commented on #237
postscript : Pre-compiled versions for mac

[2016-01-12 02:26] bkangtf opened #239 "DIRECT_ATOMIC_PROPERTY_ACCESS issue"
Hi  ^ ^

I checked my code with infer, and infer found 264 issues...

and most of them are DIRECT_ATOMIC_PROPERTY_ACCESS ..

my codes do not use ARC (Automatic Reference Counting) because
it is old code...

for example, the error is as below..

TwitPad/FBNetworkReachability.m:239: warning: DIRECT_ATOMIC_PROPERTY_ACCESS
  Direct access to ivar connectionMode_ of an atomic property at line 239, colu

[2016-01-12 15:37] cristianoc commented on #226
Eradicate uses a different modeling mechanism than the core Infer analysis, with tables for annotations instead of actual code, as the implementation of called methods is not used by Eradicate's analysis.
It would be easy to add tables for exceptions as well, as a temporary solution while the full solution is being developed.

[2016-01-12 15:47] sblackshear commented on #237
We recently fixed an infinite loop bug that may be causing your issue (https://github.com/facebook/infer/commit/43ee904a1f1098d0ab3ddbeb8a8e84102d00f1c1). Would you mind compiling the latest Infer code from scratch and re-running to see if you still experience the issue?

[2016-01-12 15:50] ddino commented on #239
DIRECT_ATOMIC_PROPERTY_ACCESS happens when you are accessing an atomic property directly with an ivar. This makes the atomic property not atomic anymore. So potentially you may get a race condition.

To fix the problem you need to access properties with their getters.

[2016-01-12 23:32] tonycosentini commented on #36
The Homebrew PR has landed.

You can now install Infer via Homebrew, just do:
``
brew update
brew install infer
[code]
brew install infer --without-clang
[code]
brew install infer --without-java
[code]

[2016-01-13 00:56] bkangtf commented on #239
oh Thanks ddino.. so I have to make a property, and sync ivar with property, and access to the property, (not access directly to ivar) right ?

[2016-01-13 02:01] ronniesun commented on #237
Recently, I try again, look forward to your next Pre-compiled versions for mac。
Thank you very much!!!

[2016-01-13 05:04] sblackshear commented on #237
Sorry to be dense--did you still see the issue when you re-ran with the code from master?

[2016-01-13 07:18] ronniesun commented on #237
The macbook is not around, give you the answer tomorrow or the day after tomorrow。

[2016-01-13 08:53] jvillard commented on #36
Thank you @tonycosentini :tada: :beer:

[2016-01-13 08:53] #36 closed

[2016-01-13 10:28] akotulski commented on #36
@tonycosentini - what do we do when we create new infer release?

[2016-01-13 12:08] petaren commented on #34
👍🏼

[2016-01-13 13:23] ciryon commented on #34
👍🏼

[2016-01-13 18:01] tonycosentini commented on #36
If the build process does not change, we just need to change the download URL - https://github.com/Homebrew/homebrew/blob/1e0664f4b4ab73bb74b40e4f2d9370cc579e7986/Library/Formula/infer.rb

There are a few improvements that can be made to this script, I'm not a huge fan of listing the dependencies within the script since they are already in the OPAM file. Unfortunately, you can't init an OPAM repo

[2016-01-13 18:43] tonycosentini commented on #238
Just opened https://github.com/facebook/infer/pull/240 to fix this.

[2016-01-13 20:56] ddino commented on #239
yes, access the property only with the getter.

[2016-01-14 01:20] bkangtf commented on #239
I see! Thank you so much.

[2016-01-14 03:19] ronniesun commented on #237
I re-ran with the code from master, android can be passed, no stuck, the problem is fixed. I hope you get better and better. Thank you very much!   @jvillard @sblackshear

[2016-01-14 03:45] #238 closed

[2016-01-14 04:24] sblackshear commented on #237
Great! Thank you for reporting back.

[2016-01-14 04:24] #237 closed

[2016-01-16 00:55] joshluongo commented on #232
Is there any workaround besides using `CLANG_ENABLE_MODULES=NO`. The reason why I can't use is it is my project requires modules.

[2016-01-18 11:37] Coeur commented on #235
It's an Xcode 7.2 bug: http://www.openradar.me/23857648
Workaround is to "*provide the -destination param to xcodebuild*" (example given in the link above).

[2016-01-18 17:36] TiagoVeloso commented on #232
I am in the same situation as @joshluongo I wasn't able to compile with that flag as well.

[2016-01-18 17:43] dulmarod commented on #239
I'm closing this issue. About the retain cycle, to help you we need to see more of the code. If you want to give us more info, you could create a new issue for that.

[2016-01-18 17:43] #239 closed

[2016-01-18 17:44] #227 closed

[2016-01-18 17:44] #184 closed

[2016-01-19 01:18] bkangtf commented on #239
Oh... thank you dulmarod : )

I kept open this, because other people could check this issue when they have a same issue.

Is there any way to see closed issues again ??

[2016-01-19 10:24] dulmarod commented on #239
I've written documentation about this new check in the website, so hopefully that will be useful for people that don't understand what the check does. (http://fbinfer.com/docs/infer-bug-types.html#DIRECT_ATOMIC_PROPERTY_ACCESS)
About seeing closed issues, yes, when you go to the issues page, it takes you to the open issues, and there is a tab closed issues in the top where you can find them.

[2016-01-20 00:02] joshluongo opened #241 "Infer 0.6.0 Fails to build on OS X"
Hi,

Just tried to build the latest release on OSX and the build fails. Here is the log.

[code]

I have tried running `make clean` and it doesn't fix it.

[2016-01-20 00:28] sblackshear commented on #241
Could you try `opam switch 4.02.3` followed by `./setup.sh`? We recently added some code that uses OCaml 4.02.3 syntax.

[2016-01-20 05:06] joshluongo commented on #241
Thanks @sblackshear.

I tried to run `opam switch 4.02.3` but it can't update because http://caml.inria.fr/ is currently down. I'll let you know if I get it working when I can update ocaml.

Also I don't have a file called `setup.sh` in the root directory of infer. The only file called `setup.sh` I could find is `./facebook-clang-plugins/clang/setup.sh`

[2016-01-20 17:22] jeremydubreil commented on #241
@jvillard: Does this line https://github.com/facebook/infer/blob/master/build-infer.sh#L105 means that if ocaml is already installed, whatever the version, then we do nothing but if not found we install OCaml version 4.02.3 ? Is there anywhere else where we check the version of the installed OCaml compiler ?

[2016-01-20 17:25] jvillard commented on #241
@jeremydubreil yes, that is correct. The configure script currently doesn't check the version of OCaml, but it should.

[2016-01-20 21:44] joshluongo commented on #241
Thanks @sblackshear, After the update I was able to build :)

One issue did encounter is `build-infer.sh` gave me an incorrect command to run.

[code]

The solution was to run `opam install --deps-only infer-osx-v0`.

Another suggestion is that someone should add the note about it requiring OCaml 4.02.3 in the release notes and in the [dependency info](https://github.com/facebook/infer/blob/master

[2016-01-20 22:14] joshluongo commented on #232
I found a simple solution to this problem if your app uses modules, Simply switch off `Enable Modules (C and Objective-C)` in the target for 'Realm'. http://imgur.com/PSfw7ks

If you do that then you don't have to add `CLANG_ENABLE_MODULES=NO` to your command.

[2016-01-20 22:16] MatthewBennington opened #242 "Where can I find a clear list of dependencies?"
I'm trying to build Infer from source on RHEL. I find the INSTALL.md unhelpful.

There are three lists of dependencies which might be helpful to me: one labeled "Infer dependencies for Linux", one labeled "Debian 7 and Ubuntu 14.04 LTS", and one labeled "Ubuntu 12.04.4 LTS". Each of these lists contains a different list of packages.

Can anyone give me a exhaustive list of packages I need for Infe

[2016-01-21 05:36] muzixiaowu commented on #2
+1

[2016-01-21 08:34] muzixiaowu commented on #59
what I use:
infer -- xcodebuild -workspace ~/Downloads/workspace/iOSWorkspace/BaiduBoxApp.xcworkspace -scheme BaiduBoxApp -configuration Debug -sdk iphonesimulator

what I got:
In file included from /Users/liguang/Documents/infer/facebook-clang-plugins/clang/bin/../include/c++/v1/cstddef:43:
/Users/liguang/Documents/infer/facebook-clang-plugins/clang/bin/../include/c++/v1/stddef.h:46:15: fatal err

[2016-01-21 09:44] martinoluca commented on #59
Hello @markddaa,
This issue has already been discussed in https://github.com/facebook/infer/issues/232#issuecomment-169744110 please try adding that argument to your build command and see if it helps.

Thanks

[2016-01-21 18:19] tonycosentini commented on #36
For future reference, here's what the formula change looks like when there is a new release - https://github.com/Homebrew/homebrew/pull/48328

(I'll try to keep up with releases, just wanted to leave this for reference if anyone is interested.)

[2016-01-21 19:14] sveinungkb commented on #150
Have anyone successfully used the `@SupressWarnings` annotation with Java infer? Tried both 0.5.0 and 0.6.0 and it still gives false positives on closing a `InputStream`.

@sblackshear this is supposed to work, right?
[code]

[2016-01-21 19:17] jeremydubreil commented on #150
Hi @sveinungkb. Which build system are you using ?

[2016-01-21 19:28] sveinungkb commented on #150
gradle (Android):

[code]

[2016-01-21 19:30] jeremydubreil commented on #227
Some documentation: http://fbinfer.com/docs/infer-bug-types.html#BAD_POINTER_COMPARISON

[2016-01-21 22:23] sveinungkb commented on #150
@jeremydubreil sorry for the potential spam, but forgot to mention you so not sure if github sent any response email.

[2016-01-21 22:50] sblackshear commented on #150
This is currently broken in Gradle because the annotation processor we use to collect the source-level SuppressWarnings annotations always writes to the same file :/ (potentially clobbering other SuppressWarnings information). We are working on fixing this.

[2016-01-21 22:58] sveinungkb commented on #150
Thanks for the update @sblackshear, what are my options for whitelisting a file/class/method today?
Any issue I can follow?

[2016-01-22 06:52] jeremydubreil commented on #242
Hi @MatthewBennington. The best way is probably to follow the [list of dependencies for Linux](https://github.com/facebook/infer/blob/master/INSTALL.md#infer-dependencies-for-linux) and to find the corresponding packages in RHEL.

[2016-01-22 11:57] jvillard commented on #242
There are generic dependencies listed at the top of the "Infer dependencies for Linux" section: https://github.com/facebook/infer/blob/master/INSTALL.md#infer-dependencies-for-linux

Then `./build-infer.sh` should let you know if you are missing any dependencies. Let me know if that's not the case.

[2016-01-22 15:59] i-tanova commented on #231
Hi, I've just changed command to
opam install --deps-only infer-linux-v0

[2016-01-23 03:39] sblackshear commented on #223
The fix is now in the latest release.

[2016-01-23 03:39] #223 closed

[2016-01-23 03:44] sblackshear commented on #150
Sorry for the slow response. As a temporary workaround, you can suppress things at the file level by adding a .inferconfig JSON file to the root directory for your project. If you want to suppress warnings for the entire file `path/from/project/root/to/MyClass.java`, this file would look like:

[code]

I'll post in this issue when we fix the issues with SuppressWarnings in Gradle.

[2016-01-23 03:45] sblackshear commented on #165
This should be fixed in the latest release. Please let us know if not.

[2016-01-23 03:45] #165 closed

[2016-01-23 03:47] sblackshear commented on #214
We fixed an infinite loop bug in the latest release (though the loop was in Java analysis code); would you mind giving it another try?

[2016-01-23 03:47] #218 closed

[2016-01-23 03:47] sblackshear commented on #205
We fixed an infinite loop in the latest release that should hopefully fix the issue. Feel free to re-open if not.

[2016-01-23 03:47] #205 closed

[2016-01-23 03:49] sblackshear commented on #159
You can now install Infer with Homebrew: `brew install infer`, or use our [releases](https://github.com/facebook/infer/releases).

[2016-01-23 03:49] #159 closed

[2016-01-23 03:52] sblackshear commented on #177
Closing as we have made lots of performance improvements in the latest release, feel free to reopen if you are still experiencing problems.

[2016-01-23 03:52] #177 closed

[2016-01-23 03:53] sblackshear commented on #121
Please re-open if you are still experiencing this with the latest release.

[2016-01-23 03:53] #121 closed

[2016-01-23 03:54] sblackshear commented on #119
Feel free to re-open if this builds with gradle, but not with Infer.

[2016-01-23 03:54] #119 closed

[2016-01-23 03:54] #114 closed

[2016-01-23 03:55] sblackshear commented on #91
Cool, thanks!

[2016-01-23 03:55] #91 closed

[2016-01-23 03:57] sblackshear commented on #19
Did this end up working for you?

[2016-01-24 06:01] RameshAran opened #243 "Clarification regarding "Retain Cycle" in the documentation."
I found this from the following documentation.
http://fbinfer.com/docs/infer-bug-types.html#RETAIN_CYCLE

The Retain Cycle is described as follows.

@class Child;
@interface Parent : NSObject {
    Child *child;
}
@end
@interface Child : NSObject {
    __weak Parent *parent;
}
@end

But I think, this is valid if "Child" is a subclass of "Parent". Here both Child and Parent are inherited from NSObj

[2016-01-25 05:36] itouch2 commented on #224
@qiuhm  How to resolve this?

[2016-01-25 11:11] dulmarod commented on #243
No, Child and Parent don't need to be inherited from each other for there to be a retain cycle. If parent has a property child that is strong, and Child has a strong property parent, then you will get a cycle parent -> child -> parent, that cannot be deallocated.

[2016-01-26 03:55] VVJason opened #244 "cannot run C compiled programs."
when run build-infer.sh , What am I supposed to do

checking if we are in an Infer release build... yes
checking whether to use the compilers in /Users/weibing/Documents/Projects/Work/infer-osx-v0.6.0/facebook-clang-plugins/clang/bin... yes
checking for shasum... shasum
checking for python2.7... python2.7
checking for xcode-select... xcode-select
checking whether the C compiler works... yes
checki

[2016-01-26 10:57] jvillard commented on #244
you may want to install the command line tools: `xcode-select install`.

[2016-01-26 14:23] markusfisch opened #245 "False positive RESOURCE_LEAK for Cursor's put in CursorAdapter's"
A Cursor object given to a CursorAdapter cannot be closed immediately because the CursorAdapter will use this Cursor object later on.

The open Cursor can only be closed after the CursorAdapter has created its views.

One way to close the open Cursor is to call [changeCursor(null)](http://developer.android.com/reference/android/widget/CursorAdapter.html#changeCursor(android.database.Cursor)) what

[2016-01-26 14:23] markusfisch opened #246 "False positive RESOURCE_LEAK when closing the cursor in a method that implements an interface"
Closing a cursor in another method results in a false positive RESOURCE_LEAK message.

Here's a sample:

[code]

Results in:

[code]

[2016-01-26 18:30] tonycosentini opened #247 "Add support for disabling certain checks."
It would be nice to be able to disable certain checks.

For example, we have a lot of `RETURN_VALUE_IGNORED` warnings, but we don't plan on addressing them (is there a reason ignored return values are considered bad?).

Since we block diffs via using Infer's `--fail-on-bug` + checking the return value of the command, it would be nice to be able to disable some checks.

[2016-01-26 18:31] tonycosentini commented on #247
I'm going to look into how hard this is to do, but I'm also curious if any Infer maintainers can comment on whether or not it makes sense to add this.

[2016-01-26 22:23] jeremydubreil commented on #247
Hi @tonycosentini. There is no easy support for that right now. The filtering is implemented in this file: https://github.com/facebook/infer/blob/master/infer/lib/python/inferlib/issues.py#L259

However, the `RETURN_VALUE_IGNORED` should be displayed by default. I am not sure we actually ever looked at how this check for return values behaves in Java. Are you using Infer with the `--no-filtering`

[2016-01-26 23:19] sblackshear commented on #246
Thanks for reporting this; definitely not the intended behavior for Infer.

The shallow reason that Infer gets this example wrong is that we don't have a model for MockCursor. This issue can be fixed by adding a model for `MockCursor` (see the SqlLiteCursor [model](https://github.com/facebook/infer/blob/master/infer/models/java/src/android/database/sqlite/SQLiteCursor.java) for an example of how t

[2016-01-26 23:23] sblackshear commented on #245
The problem here is that Infer doesn't handle the Android lifecycle, so it doesn't know that `onDestroy` will always be called after `onCreate` and close the `Cursor`.

However, even if it did understand the lifecycle, it would still complain about this example. The reason is that if an uncaught exception is thrown in `super.onDestroy()`, `testCursorAdapter.changeCursor(null)` will never be called

[2016-01-27 07:05] VVJason commented on #244
@jvillard  thank you .  but run build-infer.sh ,
[code]

[2016-01-27 07:19] VVJason commented on #244
when   run  " infer -- clang -c Hello.m "
[code]

[2016-01-27 07:55] VVJason commented on #244
thank you

[2016-01-27 07:55] #244 closed

[2016-01-27 07:56] VVJason opened #248 "compilation failure; try running "make clean""
when run "build-infer.sh"  file
I have tried running make clean and it doesn't fix it.

[code]

I have tried running make clean and it doesn't fix it.

[2016-01-27 08:48] itouch2 commented on #224
It seemed I missed ```xcode-select --install```

[2016-01-27 08:49] VVJason commented on #248
It's done  thank you

[2016-01-27 08:49] #248 closed

[2016-01-27 10:29] markusfisch commented on #246
Thanks for the quick response. Good to know you're on this.

[2016-01-27 10:29] markusfisch commented on #245
Good point! You're right. `testCursorAdapter.changeCursor(null)` should be called before `super.onDestroy()`. Thanks for the note. I'll change this in the original project I took this sample from.

[2016-01-27 19:54] tonycosentini commented on #247
Re getting `RETURN_VALUE_IGNORED`, that was a user error on my part.

Will reopen if I run into this again, sorry for the noise.

[2016-01-27 19:54] #247 closed

[2016-01-28 23:05] electrum opened #249 "False positive NULL_DEREFERENCE for Airlift ConfigurationInspector"
https://github.com/airlift/airlift

[code]

`getAttributes()` returns a final field which is always initialized as non-null in the constructor.

[2016-01-28 23:07] electrum opened #250 "False positive NULL_DEREFERENCE for Airlift ConfigurationMetadata"
https://github.com/airlift/airlift
[code]
`getProblems()` returns a final field which is always initialized as non-null in the constructor.

[2016-01-28 23:11] electrum opened #251 "False positive RESOURCE_LEAK for Airlift JettyHttpClient"
https://github.com/airlift/airlift

[code]

`CountingInputStream` is a wrapper over an existing `InputStream`. It doesn't allocate a new resource.

[2016-01-29 01:00] electrum opened #252 "Infer fails on Presto"
https://github.com/facebook/presto

[code]

Specific commit: https://github.com/facebook/presto/commit/cee2e6a523fc05d4af9ea48ac2715889e49ae5c4

[2016-01-29 18:24] tonycosentini opened #253 "Infer thinks Android's implementation of Collections.synchronizedList can cause ERADICATE_FIELD_NOT_INITIALIZED."
I'm getting ERADICATE_FIELD_NOT_INITIALIZED warnings for this code when in an Android project:

[code]

However, I don't get this warning for the same exact code in Java projects.

I think it's because Android has a different implication of synchronizedList.

Here's the Android implementation:

[code]

and here's an implementation from OpenJDK:

[code]

As far as I can tell, both cannot return nul

[2016-01-29 21:13] savaskoc opened #254 "Is false positive of NULL_DEREFERENCE"
Hi,

I have some code wrapped by try-catch block, and infer reports this part as a issue

<img width="883" alt="screen shot 2016-01-29 at 23 12 19" src="https://cloud.githubusercontent.com/assets/3313518/12688270/d0386a10-c6dd-11e5-9ad9-90a9c0657a11.png">

Is that a false positive?

[2016-01-29 22:19] cristianoc commented on #253
Even doing directly ```list = null;``` would result in a ERADICATE_FIELD_NOT_NULLABLE, but not a ERADICATE_FIELD_NOT_INITIALIZED: it's initialized but with the wrong value.

Which error are you getting?

[2016-01-29 22:35] tonycosentini commented on #253
I'm getting `ERADICATE_FIELD_NOT_INITIALIZED`, sorry for the confusion.

[2016-01-29 23:05] sblackshear commented on #254
Infer is correct that flow may be `null` and could be dereferenced. But you are correct that the `NullPointerException` thrown by this dereference will be caught by your catch-all block :). Infer chooses to report NPE's regardless of whether or not they will be caught.

[2016-01-29 23:05] #254 closed

[2016-01-29 23:58] tonycosentini opened #255 "-i flag will return no issues when using multiple analyzers."
It seems like Infer does not keep separate caches for different analyzers. This can result in surprising empty analysis runs (unless I'm doing something wrong).

I'm testing with this Java file:
[code]

It should generate 0 Infer warnings and 1 Erradicate warning (because of a missing `@Nullable`).

If I run Infer with `-i -a infer` first, and then `-i -a eradicate`, it will assume there is nothin

[2016-01-30 00:31] sblackshear commented on #249
Hi David,
  Thanks for this report and your others. Unfortunately, you have run into one of the dark corners of Infer: our Java 8 support. The frontend we use to parse Java bytecodes is a third-party library that does not yet support Java 8 (we are working on encouraging the maintainers to add support or do it ourselves). As a result, some classes may parse incorrectly, and some may fail to parse

[2016-01-31 11:43] jnewc commented on #231
After some guesswork, the following worked for me on OSX:

`opam install --deps-only infer-osx-v0

This installed the following dependencies:

[code]

[2016-02-01 18:12] mcandre opened #256 "Offer Gradle plugin"
Please integrate with popular build tools like Gradle, so that infer can be applied to projects with hundreds of interconnected source files, not just HelloWorld's.

[2016-02-01 18:34] sblackshear commented on #256
Infer does support Gradle, as well as several other popular build tools (see the [documentation](http://fbinfer.com/docs/analyzing-apps-or-projects.html) for a complete list of supported build tools) .

Please try `infer -- grade build <your_project>` and let us know if you encounter any problems.

[2016-02-01 18:34] #256 closed

[2016-02-01 18:37] sblackshear commented on #252
I fixed the issue with Maven (82b1dd0572d0afcdd6924d93849d8ec54f1c1b1f).

Unfortunately, Infer still fails on Preto for me with "too many open files". This is happening because the Java frontend we use keeps opening .class files, then crashing when it can't parse the Java 8 bytecodes (and not closing the file). We are reporting this issue upstream; I will let you know if we find a workaround in th

[2016-02-01 18:40] sblackshear commented on #249
I looked into this. What is happening is not related to Java 8. Instead, the analysis times out on the constructor for `AttributeMetadata`, which means that it does not know the fields have been initialized to a non-null value. We will work on fixing the timeout and/or making the analysis act more angelically in such cases.

[2016-02-01 18:41] sblackshear commented on #250
Duplicate of #249.

[2016-02-01 18:41] #250 closed

[2016-02-01 19:17] mcandre commented on #256
That's not quite what I mean. From a CI server's perspective, it would be more convenient to be able to invoke a Gradle command to run Infer, rather than have to explicitly shell out to infer to run Gradle.

[2016-02-01 19:26] mcandre opened #259 ""0 files" when actually 1+ files"
When I run `infer -- gradle clean build` against my FizzBuzz project, infer fails to find my Java files.

https://github.com/mcandre/mcandre/tree/master/java/fizzy

[2016-02-01 19:27] mcandre opened #260 ""Nothing to compile. Try running `gradle clean` first.""
When I run `infer -- gradle clean build` against either the bomb-applet or bomb-threads projects in my java forkbombs collection, infer doesn't find any of my Java files.

https://github.com/mcandre/forkbombs/tree/master/java

[2016-02-01 19:30] mcandre opened #261 "c++ support"
I'm glad that Infer supports ObjC! Tt would be nice to offer support for C++ projects as well.

[2016-02-01 19:32] sblackshear commented on #256
This would indeed be nice to have. We do not currently have this for any build system.

For now, replacing all gradle commands with `infer -- <gradle command>` should be a usable workaround. But if someone with a good understanding of Gradle created a plugin, that would be great.

[2016-02-01 19:32] mcandre opened #262 "Support for altJVM languages"
Would be great to infer code written in Clojure, Scala, JRuby, Jython, Frege, Kawa, ABCL, etc.

[2016-02-01 19:34] mcandre opened #263 "Ignore shebang in .java files"
BeanShell Java source allows shebangs (e.g. `#!/usr/bin/env bsh`) at the beginning of Java source files. Infer currently borks on these.

Could we have Infer automatically strip these out of the beginning of Java files, so that Infer works with BeanShell Java code?

[2016-02-01 19:35] sblackshear commented on #261
Coming soon! We're currently working on this.

Duplicate of #24.

[2016-02-01 19:35] #261 closed

[2016-02-01 19:41] electrum commented on #249
Would it be better to fail immediately on Java 8 bytecode, rather than reporting bogus results?

[2016-02-01 19:42] sblackshear commented on #259
The problem is that this is a Java 8 project. The frontend we use cannot currently parse Java 8, so Infer ignores any files with Java 8 bytecode instructions. We have reported this issue upstream, and are exploring temporary workarounds.

[2016-02-01 20:27] mcandre opened #264 "Fatal error: exception JBasics.Class_structure_error("Illegal method index (does not refer to a constant method)")"
# Summary

I get a strange error in Infer when analyzing some proprietary code.

# Trace

[code]

# System

[code]

[2016-02-01 21:19] sblackshear commented on #264
This comes from the frontend issues with parsing Java 8 bytecode.

[2016-02-02 16:08] jvillard commented on #241
fixed in 099821f27921d31fc0a81c06324ea397e93d61a8, 07d71d237081843658ee3256fbee2e1c3180daa1

[2016-02-02 16:08] #241 closed

[2016-02-02 16:08] jvillard commented on #241
thanks for the report @joshluongo

[2016-02-02 20:11] mcandre opened #265 "Python 3 support"
Please support Python v3+, so that I can use Infer in projects that require Python 3 and higher.

[2016-02-03 09:48] jvillard commented on #265
Hi @mcandre, can you tell us a bit more about what breaks if your project uses Python 3?

[2016-02-04 15:42] MatthewBennington opened #266 "Running into a bug after installing Infer"
Hello I'm trying to get Infer working on my machine, I've got it built, but when I try to analyze the files in the infer/examples directory, I get the following error:

[code]

When I follow those instructions I get the following error:
[code]

[2016-02-04 15:47] sblackshear commented on #266
Almost certainly related to ac5f092653fbc6209a0c5bba91bf0d7bf0b7f749...

Would you mind pasting the output of `javac -version`?

[2016-02-04 15:53] MatthewBennington commented on #266
That made me realize that I hadn't added javac to my path correctly, so it was calling JDK6. That being said it's now using 8 and I'm getting the similar error:

[code]

For completeness:` javac 1.8.0_72`

[2016-02-04 15:55] jvillard commented on #266
@MatthewBennington this looks like a different error. You need the following command to run the example you are trying to run:

[code]

[2016-02-04 15:58] MatthewBennington commented on #266
Thanks jvillard, that works. Why wasn't what I was running working? Can you point me to some documentation?

[2016-02-04 16:00] jvillard commented on #266
@MatthewBennington There's a Hello.java in the examples/ folder that compiles as you were trying. The one in examples/hello_java/ is a bit more involved. It's documented [here](https://github.com/facebook/infer/blob/master/examples/README).

[2016-02-04 16:02] MatthewBennington commented on #266
Thanks!

[2016-02-04 16:02] #266 closed

[2016-02-04 16:44] mcandre commented on #265
My projects often use Python 3, so having the python(2.7) binary in PATH tends to break my projects.

[2016-02-04 16:59] jvillard commented on #265
The scripts use `python2.7` [explicitly](https://github.com/facebook/infer/blob/master/infer/lib/python/infer#L1), so you should be able to keep `python` pointing to Python 3 at the same time without conflicts. Is there any issue with that?

[2016-02-04 17:11] mcandre commented on #265
I use tools like pyenv to switch Python versions per project, so I don't always have python2.7 on path.

[2016-02-04 19:02] jeremydubreil commented on #255
@tonycosentini: Unfortunately, you cannot use Infer and Eradicate using the same out directory because the analysis data are not compatible. This is not a theoretical limitation but it will require a good amount of changes to support this use case. Is it possible in your setting to just make a copy of `infer-out` after `infer -a capture` and before running the analysis ?

Besides, I think that the

[2016-02-05 01:30] tonycosentini commented on #255
Thanks for the response!

We were hoping to do one capture to cut down on time. We can split it up though.

It would be nice to fail when using `-i` incorrectly - it's kind of hard to tell what is supported and what is not (I can give this a try, should be somewhat easy since it's in the Python code).

[2016-02-05 01:30] #255 closed

[2016-02-06 08:24] Skyfold opened #267 "build-infer.sh: line 108: set: -g: invalid option"
I am installing Infer from source following the install guide for MacOSX.

When I run `./build-infer.sh clang` or `./build-infer.sh java` I get:

[code]

However, on line 108 in build-infer.sh you have `eval $(opam config env)`. I ran `eval $(opam config env)` and the command runs without errors.

If I just comment out line 108, `build-infer.sh clang` runs without errors. It just requests you run

[2016-02-06 13:32] jberdine commented on #267
Thanks for reporting.  Could you post the results of executing `opam --version` and `opam config env`?

[2016-02-06 14:10] Skyfold commented on #267
Thanks for looking at this!

`opam --version` is 1.2.2
`opam config env`

[code]

I should have mentioned I am using Fish. However, the problem persisted even after switching to Bash.

My guess is it has something to do with either my system or the build-infer.sh. Opam worked fine when called outside of the script.

[2016-02-07 12:45] yishuiliunian opened #268 "can't build infer"
cp: /private/tmp/clang-setup.i9guIF/tools/clang/runtime/compiler-rt/clang_darwin/eprintf/libcompiler_rt.a: No such file or directory
make[5]: *** [/private/tmp/clang-setup.i9guIF/Release/lib/clang/3.8.0/lib/darwin/libclang_rt.eprintf.a] Error 1
make[5]: *** Waiting for unfinished jobs....
cp: /private/tmp/clang-setup.i9guIF/tools/clang/runtime/compiler-rt/clang_darwin/cc_kext/libcompiler_rt.a: No

[2016-02-08 13:44] jvillard commented on #268
can you give the command you were trying to run as well as its full output?

[2016-02-08 16:51] mcandre opened #269 "Swift support"
infer doesn't seem to find any files when I `infer -- make` Swift projects, like `hello/` and `args/`.

https://github.com/mcandre/mcandre/tree/master/swift

[2016-02-08 18:56] jberdine commented on #267
Perhaps we need to use `opam config env --shell=bash` instead of `opam config env` in build-infer.sh since it is a bash script.  I'm not sure if opam detects this correctly since you installed it for fish, but then build-infer.sh calls it from bash.  Perhaps you can add that option locally to test if it resolves things in your environment?

Thanks!

[2016-02-08 20:15] sblackshear commented on #269
Duplicate of #34.

[2016-02-08 20:15] #269 closed

[2016-02-09 08:45] technion opened #270 "Docker build fails"
Hi,

I seem to have some issues with the docker build. Using the provided Dockerfile:

[code]

The beauty of Docker is that I don't think there's a lot of room for much to go wrong - any assistance appreciated.

[2016-02-09 10:09] kstreee commented on #270
It may works if you add './configure &&' command after the command 'eval $(opam config env) &&', but it also fails because of ocaml version.
The error message shown because of ocaml version is,
[code]
And the build fail message comes from https://github.com/facebook/infer/blob/6389cb9bd0c47b21c72a2aa3532d0301ddb218fc/infer/src/clang/cLocation.ml#L76.
The syntax does not work with ocaml 4.01, and t

[2016-02-09 10:17] technion commented on #270
Thanks! I can confirm, I've managed to get that exact error out of this issue, so it does appear you've got it covered.

[2016-02-09 10:26] kstreee commented on #270
@technion I sent a pull request to solve it, so if you need it right now, you can try it. It works for me. https://github.com/facebook/infer/pull/271

[2016-02-09 16:54] danielsn opened #273 "Schema for json bug reports"
Hi.  I am trying to write a tool which will interface with infer to provide bug reports.  One step in this integration is that I would like to be able to take in and process the json bug report.  I see that there is a schema https://github.com/facebook/infer/blob/b1d77e54aaa9eca5af04139d60bfd171e112e089/infer/src/backend/jsonbug.atd

Is this likely to remain stable?  Also, is there any documentati

[2016-02-09 17:04] martinoluca commented on #273
Hello @danielsn,
Please find the types for each of the fields in the json here: https://github.com/facebook/infer/blob/master/infer/src/backend/jsonbug.atd#L20-L36
This will tell you detailed information about the schema of the report, and through the types it will be easy to understand what to expect from each field.

Thanks.

[2016-02-09 17:16] jvillard commented on #273
The existing fields in the json are expected to be stable, but extra fields may be added in the future (eg e11395d1998cacfa2309a27e7bd6cd6fd30d8bc9 adds a new optional `infer_source_loc` field).

- `bug_class` is for development purposes.
- `kind` is either `"ERROR"`, `"WARNING"`, or `"INFO"`: https://github.com/facebook/infer/blob/master/infer/lib/python/inferlib/issues.py#L30-L32
- `bug_type` is

[2016-02-09 18:08] danielsn commented on #273
Thanks!

[2016-02-10 06:22] sitsofe opened #275 "Please update Infer release usage instructions"
A downloaded infer-linux64-v0.6.0.tar.xz tarball linked from https://github.com/facebook/infer/releases/tag/v0.6.0 passed SHA256 checks but when trying to use
`./build-infer.sh clang`
results in the following message:
[code]

Poking around the problem was because the `shasum` utility was not present on Fedora 23. Installing `perl-Digest-SHA` solved the problem.

Next up the following message was p

[2016-02-10 06:47] sitsofe opened #276 "Build error with pre-compiled version"
While trying to run `./build-infer.sh clang` on Fedora 23 I get the following errors:
[code]

[2016-02-10 11:13] kushalsethi opened #277 "Integrating infer with jenkins in ubuntu"
Can someone please explain how to configure infer in Jenkins so as to analyze code each time the build generates.
Thank you!

[2016-02-10 12:10] akotulski commented on #276
Thank you for reporting the issue. I managed to reproduce the problem and I'm looking into it.

[2016-02-10 13:00] jvillard commented on #275
Hi @sitsofe, thanks for reporting this.

We'll change the error message when `shasum` is not present, good catch!

The second problem you raise is fixed in master (the script now suggests `opam pin add --yes --no-action infer .`), but isn't included in a release yet.

[2016-02-10 13:02] jvillard commented on #277
@kushalsethi you can look into [this post](https://medium.com/@Rapchik/static-analysis-build-server-for-android-with-jenkins-using-docker-bda888d4b34e#.257b2muh6) for example.

[2016-02-10 14:27] akotulski commented on #276
The reason is that new fedora has new version of ABI and we were trying to link clang built with old ABI and plugin built with new ABI.
We are going to create new release which has pre-compiled plugin so that it will be built with same (old) ABI. This fixes the problem (worked on my fedora 23)

https://fedoramagazine.org/gcc-5-in-fedora-whats-an-abi-and-what-happens-when-we-change-it/

[2016-02-10 16:15] #275 closed

[2016-02-10 16:15] #276 closed

[2016-02-10 16:17] akotulski commented on #276
It turns out v0.6.0 already has precompiled plugin library, but we were rebuilding it anyway which lead to problems. If you patch attached commit to just unpacked infer-linux64-v0.6.0, infer should succeed.

[2016-02-10 16:33] kushalsethi commented on #277
Thanks. I will try this.

[2016-02-10 16:39] #270 closed

[2016-02-10 19:19] sitsofe commented on #276
@akotulski: Thank you!

[2016-02-11 06:49] yishuiliunian commented on #268
i run the commond:
./build-infer.sh clang

[2016-02-11 11:15] #267 closed

[2016-02-13 23:56] vigneshr89 commented on #214
Sure. I will try after Tuesday and Post the update

[2016-02-15 15:54] Daij-Djan opened #278 "infer fails to build on 10.11 - Cant find the include directory, since it isn't in /usr/include"
Hi,
infer fails to build on 10.11.

It Cant find the include directory, since it isn't in /usr/include

`cgndpich67723:infer-osx-v0.7.0 dpich$ ./build-infer.sh
initializing opam...
preparing build...
checking if we are in an Infer release build... yes
checking whether to use the compilers in /Users/dpich/Downloads/infer-osx-v0.7.0/facebook-clang-plugins/clang/bin... yes
checking for shasum... shas

[2016-02-15 15:57] Daij-Djan commented on #278
xcode-select --install doesn't work for me :)

what works is xcrun to find the include path:
/usr/bin/xcrun --show-sdk-path --sdk macosx
/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/usr/include

[2016-02-15 16:15] jvillard commented on #278
How does it work once you'ver run `/usr/bin/xcrun --show-sdk-path --sdk macosx`? Simply by running `./configure` again?

[2016-02-15 19:29] Daij-Djan commented on #278
that gives me the real include path. I don't know how to pass it to configure and to make. I'd somehow have to pass it. I haven't instigated as I can't pass it to buildInfer script already.

[2016-02-15 19:30] Daij-Djan commented on #278
to cc id pass it as -I flag if I recall correctly. I did it in the past

[2016-02-16 23:14] bmastenbrook opened #279 "Infer runs javac from PATH, not specified javac"
Even when running infer as `infer -- /absolute/path/to/javac`, infer ultimately invokes the version of javac in $PATH, not the specified javac. I've worked around this in a wrapper script at the moment, but it would be helpful if it correctly pointed at the specified compiler.

[2016-02-17 17:46] proninyaroslav opened #280 "Make error build_java"
OCaml error: Unbound module Utils.

[code]

[2016-02-17 18:11] vigneshr89 commented on #214
The issue is resolved now. The time taken to analyze is reasonable too. Closing the issue. Thanks for fix.

[2016-02-17 18:11] #214 closed

[2016-02-17 19:26] sblackshear commented on #214
Awesome, glad to hear it!

[2016-02-18 01:53] jberdine commented on #280
Thanks for reporting this.  I can repro the behavior you see if I downgrade to ocaml 4.02.0.  I'm not sure yet what the minimum version is, but at least 4.02.3 works here.

On Wed, Feb 17 2016, Yaroslav Pronin <notifications@github.com> wrote:

[2016-02-18 02:13] liuyangc3 opened #281 "Can not build with gradle"
in my java project root path.
[code]
output
[code]
but if I only use `gradle dev war`, it works fine

errors in `logging` moudle and `inferlib/analyze.py`
but this error didn't show me which file that infer is trying to decode .
so any help? how fix this

[2016-02-18 09:59] jberdine commented on #280
It looks like ocamlbuild does not interpret the `open` tag until 4.02.1.  I raised the minimum required version in [4dcf383](https://github.com/facebook/infer/commit/4dcf38396bbe0eeed1d03a54babf44783576630b).

[2016-02-18 09:59] #280 closed

[2016-02-18 10:12] d6638219 opened #282 "i386 objective-c com.apple.compilers.llvm.clang.1_0.compiler"
I use the following command：

infer --incremental  -- xcodebuild ARCHS="i386 x86_64" ONLY_ACTIVE_ARCH=NO  -target Autohome  -configuration Debug -sdk iphonesimulator -destination 'platform=iOS Simulator,OS=9.0,name=iPhone 6' CLANG_ENABLE_MODULES=NO

error:

CompileC build/Autohome.build/Debug-iphonesimulator/Autohome.build/Objects-normal/i386/SBJsonStreamParserAdapter.o ThirdControl/SBJson/SBJsonS

[2016-02-18 11:27] jvillard commented on #282
hi @d6638219, You only pasted the line used to compile SBJsonStreamParserAdapter.m; can you please provide the actual error message as well? You can paste the entire output [here](https://gist.github.com/).

[2016-02-18 11:29] d6638219 commented on #282
@jvillard，

/AutoHome/Plugin/Autohome_plugin5.3.2/ThirdControl/SBJson/SBJsonStreamParserAdapter.m:72:2: error: 'array' is unavailable
        array = nil;
        ^
In file included from /AutoHome/Plugin/Autohome_plugin5.3.2/ThirdControl/SBJson/SBJsonStreamParserAdapter.m:33:
/AutoHome/Plugin/Autohome_plugin5.3.2/ThirdControl/SBJson/SBJsonStreamParserAdapter.h:122:25: note: declaration uses __weak

[2016-02-18 11:32] jvillard commented on #282
thanks, is there anything in the few lines just before what you pasted? It doesn't look like the first error is included in what you pasted.

[2016-02-18 11:36] d6638219 commented on #282
I do not see other error messages.thanks

[2016-02-18 11:46] d6638219 commented on #282
Why is there this error , what's the solution .thanks.

[2016-02-18 12:09] martinoluca commented on #282
Hello @d6638219,
Have you tried replacing `ARCHS="i386 x86_64"` with `ARCHS="x86_64"` ?

Thanks

[2016-02-18 13:18] btakeya opened #283 "Infer cannot find any issues when running in '/'"
Hi all,
I think Infer cannot find procedure, when running in '/'.
In other directories(eg. /root, /usr/local, and so on), it finds procedure successfully.

Test case:
- Running in '/root'
[code]
- Result in '/root':
[code]

--

- Running in '/'
[code]
- Result in '/'
[code]

[2016-02-18 13:26] jvillard commented on #283
Thanks for the report @btakeya, I managed to reproduce the issue locally, we'll look into it.

[2016-02-18 13:27] jvillard commented on #281
hi @liuyangc3, we're working on fixing a similar issue, we'll keep you posted.

[2016-02-18 13:53] btakeya commented on #283
this issue happens when running via docker (Infer version: v0.7.0)

[2016-02-19 01:11] d6638219 commented on #282
@marcelerz
I have tested, but reported the same mistakes。

[2016-02-19 10:27] proninyaroslav commented on #280
`[ERROR] infer is not available because it requires OCaml >= 4.02.1.`

My sequence of actions:
[code]

[2016-02-19 10:49] jvillard commented on #280
you need to `eval $(opam config env)` after `opam init -y --comp=4.02.3` for the switch to be taken into account

[2016-02-20 03:28] kstreee commented on #283
This error comes from [```DB.source_file_equal (Exe_env.get_source exe_env pname) source_file```](https://github.com/facebook/infer/blob/master/infer/src/backend/inferanalyze.ml#L526).

The exact bug point is the function [```DB.rel_source_file_from_abs_path```]().
When the function with "/" parameter ```DB.rel_source_file_from_abs_path "/" "/root/a.c"```, then it returns ```Relative "/root/a.c"``

[2016-02-20 03:41] kstreee commented on #283
Also I checked that same problem when run ```infer -- java /path-to-code/Hello.c``` on ```/```, but other cases (llvm/lMain.ml, harness/inhabit.ml (?)) are not checked yet.

[2016-02-21 09:34] proninyaroslav commented on #280
Helped the following:
[code]

[2016-02-22 09:12] ronniesun opened #285 "C# and ASP .net support"
infer can be use in C# or ASP .net?

[2016-02-22 14:11] jvillard commented on #285
There is currently no support for .net languages in Infer.

[2016-02-22 17:24] jvillard commented on #283
fixed in a7e0044

[2016-02-22 17:24] #283 closed

[2016-02-23 12:03] maulik15 commented on #69
i get above same error how to solve this.

[2016-02-23 15:00] #279 closed

[2016-02-24 07:18] crm416 opened #286 "Fatal error: exception JBasics.Class_structure_error("Illegal constant kind: 18")"
Hey there.

I'm hoping to analyze our Android codebase with Infer, but have run into the aforementioned exception.

For context: we're currently using Java 8 in our codebase, made possible with [Retrolambda](https://github.com/orfjackal/retrolambda). I've seen the mentions in other issues (#249, #264, etc.) as to the lack of Java 8 support, so I imagine that this could be causing problems for Infe

[2016-02-24 11:43] akotulski commented on #286
Does it mean that you use Java 8 without lambdas that ship with Java 8 (and use retrolambda for that)?
Unfortunately, if that's the case, you are still using Java 8 as far as infer is concerned.

That being said, I don't know what infer does for "Retrolambda'd  bytecode" in Java7 bytecode.

[2016-02-24 13:01] jvillard commented on #286
Also, we are waiting for an upstream fix that will allow infer not to crash on Java 8 bytecode. This should come soon. Infer will still skip files that use Java 8 in the short term, though.

[2016-02-24 17:07] crm416 commented on #286
Thanks for the quick replies.

With Retrolambda, we write our code using a subset of Java 8 (we can use lambdas and method references, but no new APIs, for example), and Retrolambda then modifies the output bytecode to be Java 7-compatible.

So if Infer were determining a file's Java language level based on the output bytecode, I'd expect it to work on a codebase that was using Retrolambda? Altern

[2016-02-24 17:22] akotulski commented on #286
Is retrolambda modifying everything to be java 7 compatible or only gets rid of lambdas? I think we don't understand any of new Java 8 instructions not matter how small/easy to implement.

Infer is not skipping Java 8 files yet, but it will in near future. So it's still expected to happen

[2016-02-25 01:10] crm416 commented on #286
Thanks for the clarification.

It should be modifying everything to be Java 7-compatible, since Android dex-ing only supports Java 7.

[2016-02-25 15:28] vicmosin commented on #286
Does this thread means Infer doesn't support java 8?

[2016-02-25 15:48] jvillard commented on #286
@vicmosin here's a quick summary/clarification:

- current situation: infer crashes when it sees java 8-specific code (lambdas, ...)
- near future: infer skips files containing java 8-specific code
- one day: infer analyses and reports bugs on java 8 code

Note that this discussion is about java 8 features *in the code*. For instance, it's perfectly fine to take code that is compatible with java 7

[2016-02-25 16:36] vicmosin commented on #286
@jvillard thanks for fast response. so once again, near future - when it is approx? next week, next month?

[2016-02-25 16:41] jvillard commented on #286
Should be a couple of weeks. In the meantime, you can manually revert 6fa9b995e5404e1417e8f2fca6bfa9b98c095c47 to go back to the behaviour of infer skipping files containing java 8 bytecode. We disabled it because this may leak file descriptors, so if your project was large then infer could eventually fail by opening too many file descriptors.

[2016-02-26 08:42] kstreee opened #287 "Exceptions are raised because of utf-8 string in function names."
I try to analyze some java project which includes functions that use 한글 (Hangul) as function name.
한글 (Hangul) is used rarely for test functions like, ```test_ABC_성공()``` (it means ```test_ABC_success()```)

In that case, I encountered following python exceptions.

* This exception is reported at first time when I run Infer with the utf-8 string (not English) functions.
[code]

* This exception is

[2016-02-26 09:54] kstreee opened #288 "Python import missing."
Following exception is raised for most current version of Infer,

[code]

```from inferlib import jwlib``` is required because of [this line](https://github.com/facebook/infer/blob/9d080cadb19d02ee5ba45893ee03de113e7333e5/infer/lib/python/inferlib/capture/mvn.py#L48).

[2016-02-26 10:03] kstreee commented on #288
I think that Python code in Infer should have test code too.

[2016-02-26 10:06] kstreee commented on #287
It is hard to set an environment and code which triggers above exceptions. I will figure out how to set an environment to reproduce the above bug, and share it on this issue.

[2016-02-26 11:14] jvillard commented on #287
Hi @kstreee, have you tried with the latest master? there's a good chance that this issue was solved in dc52ce8158c51e22e16c36997324f6b089d6b560. Let me know if it works for you.

[2016-02-26 16:15] #288 closed

[2016-02-27 06:18] kstreee commented on #287
@jvillard I tested above bug using ```Infer version v0.7.0-379d185```, but exceptions are reported again.
Some UTF-8 characters are handled well by Infer, but some other characters causes the exceptions. I will find reasons of it more.

[2016-02-29 08:30] jimmyxu0311 commented on #270
excute 'make -C infer java' prompt 'make: *** No rule to make target `java'.  Stop.',I don't konw solution,can you tell me reason?

[2016-02-29 12:11] qiuhm commented on #282
I have met the similar mistake.
When I execute the shell "infer -- xcodebuild -workspace Source/AliCentrumDB.xcworkspace -scheme AliCentrumDB -configuration Debug -destination 'name=iPhone 6' ",it failed.
error is:
The following build commands failed:
	CompileC DerivedData/AliCentrumDB/Build/Intermediates/AliCentrumDB.build/Debug-iphonesimulator/AliCentrumDB.build/Objects-normal/i386/ACDSDBManager

[2016-02-29 12:27] qiuhm opened #290 "normal i386 objective-c++ com.apple.compilers.llvm.clang.1_0.compiler"
When I execute the shell "infer --debug -- xcodebuild -workspace Source/AliCentrumDB.xcworkspace -scheme AliCentrumDB -configuration Debug -destination 'name=iPhone 6' ",it failed.
error is:
The following build commands failed:
CompileC DerivedData/AliCentrumDB/Build/Intermediates/AliCentrumDB.build/Debug-iphonesimulator/AliCentrumDB.build/Objects-normal/i386/ACDSDBManager.o AliCentrumDB/DbRuntime

[2016-02-29 12:42] qiuhm commented on #290
My python version is 2.7.10

[2016-03-01 02:45] kstreee commented on #270
@jimmyxu0311 Try that again after run ```./configure``` command.

[2016-03-01 07:50] liuyangc3 commented on #281
@jvanzyl

lib/python/inferlib/analyze.py
[code]
I found `args` has non acsii chars,

in my case args  is  ['javac', '-d', '/data1/jenkins/workspace/\xe7\x94\xb0\xe8\x81\x94\xe7\xbd\x91'...]

[2016-03-01 12:16] jvillard commented on #281
This issue should be fixed in the current master (dc52ce8158c51e22e16c36997324f6b089d6b560).

[2016-03-01 12:16] jvillard commented on #281
closing optimistically. Please re-open if the issue still exists.

[2016-03-01 12:16] #281 closed

[2016-03-02 08:05] wisenight opened #291 "Docker build failed"
Hi, Sir

I use docker to build the infer images.

And it got below error:

Could you help to check it?

**[ERROR] The compilation of conf-ncurses failed at "pkg-config ncurses".**
[code]

[2016-03-04 18:32] nellylam opened #292 "Infer does not analyze the whole android project"
After I ran `infer -- ./gradlew build` it only returned results from external libraries and a couple other modules. I looked in the filelist, and it is missing almost the entire source code of our app. Our source code is not at the root, but in 2 layers deep of subdirectories, but I must run ./gradlew build at the root. The results are pretty useless unless I can analyze the actual app. Any ideas?

[2016-03-04 19:52] sblackshear commented on #292
Our Gradle integration is quite primitive (it just looks for calls to `javac` in the verbose output of Gradle), so it can certainly miss things.

Can you share a link to your project (or a tarball)? I can take a look and try to understand why it's missing your source code in this particular case.

[2016-03-04 20:11] nellylam commented on #292
@sblackshear Unfortunately, it's a private project, but can maybe you tell me what to look for?

[2016-03-04 20:21] nellylam commented on #292
@sblackshear or is there any other information I can provide to help debug this?

[2016-03-04 21:10] sblackshear commented on #292
A paste of the output of `./gradlew --debug` would be helpful (I can look at it and see if it's just a problem with our parsing of javac commands from the verbose, or a deeper problem with out approach).

[2016-03-04 22:24] nellylam commented on #292
It looks like a lot of these: `Error:
	Attribute permission#${package}.permission.C2D_MESSAGE@name at AndroidManifest.xml:24:9 requires a placeholder substitution but no value for <package> is provided.
`

[2016-03-04 22:25] nellylam commented on #292
followed by this ```
13:36:58.480 [ERROR] [org.gradle.api.Project] /Users/nelly/Code/android/App/src/main/AndroidManifest.xml:0:0 Error:
	Validation failed, exiting
13:36:58.497 [ERROR] [org.gradle.BuildExceptionReporter]
13:36:58.497 [ERROR] [org.gradle.BuildExceptionReporter] FAILURE: Build failed with an exception.
13:36:58.498 [ERROR] [org.gradle.BuildExceptionReporter]
13:36:58.498 [ERROR] [o

[2016-03-04 22:32] nellylam commented on #292
On second look, running ./gradlew build is now failing w/out Infer.

[2016-03-05 02:38] nellylam commented on #292
Ok, I've verified that this is not happening for anyone else but me.
also seeing these errors `Error:
	Attribute data@scheme at AndroidManifest.xml:522:21 requires a placeholder substitution but no value for <deepLinkScheme> is provided.`
Do you think it could be something I've installed for Infer? Does Infer modify the Manifest file?

[2016-03-05 02:44] sblackshear commented on #292
No, Infer does not modify the manifest file. It certainly shouldn't be doing anything that changes the non-Infer build workflow, but let us know if it is!

[2016-03-05 09:16] kstreee commented on #291
I experienced it too very recently, and I found a solution of it, add `pkg-config` after [this line](https://github.com/facebook/infer/blob/master/docker/Dockerfile#L25).
I don't know what exactly it is, but the command `opam depext conf-pkg-config.1.0` installs it  to resolve installation failure what you reported.

[2016-03-05 09:43] kstreee opened #293 "Typo in opam file."
Building latest version of Infer works after replacing `oUnit` to `ounit` in [this line](https://github.com/facebook/infer/blob/master/opam#L23) and running `opam install --deps-only infer` after changing the line.

[2016-03-07 00:52] IgorGanapolsky commented on #172
I am having the same issue on MacOs El Capitan.  Any solution?

[2016-03-07 00:58] IgorGanapolsky commented on #198
Still getting this same error.

[2016-03-07 00:58] IgorGanapolsky commented on #111
Any solution for this error.  I am still getting it on MacOS.

[2016-03-07 01:45] wisenight commented on #291
@kstreee thx for your hlep, it works now

[2016-03-07 11:44] jvillard commented on #198
@igorcanadi what steps did you follow to compile infer? Also, there's no need to comment on multiple closed issues.

[2016-03-07 11:45] jvillard commented on #293
thanks for the report!

[2016-03-07 11:54] jvillard commented on #293
@kstreee what kind of system did you run infer on?

[2016-03-07 12:08] IgorGanapolsky commented on #198
I followed every single step I could find about Infer.  Installed
everything.  And yes, comments need to happen on multiple issues until
problem is resolved.
On Mar 7, 2016 6:44 AM, "Jules Villard" <notifications@github.com> wrote:

[2016-03-07 12:27] jvillard commented on #198
Can you be more specific about the steps you followed? For instance, did you run `./build-infer.sh` successfully? What version of Infer are you trying to use?

I disagree that comments should be posted on several issues, because one issue should correspond to one problem only. The symptoms may be the same (eg, "it crashes"), but the causes are likely to be different.

[2016-03-07 12:52] IgorGanapolsky commented on #198
Multiple issues were found through Google search engine pointing at the
same error.  Yea, I ran the commands you are specifying, trying to use
latest version of Infer last night.
On Mar 7, 2016 7:27 AM, "Jules Villard" <notifications@github.com> wrote:

[2016-03-07 13:45] #291 closed

[2016-03-07 13:47] kstreee commented on #293
I run Infer on Ubuntu, Mac OS X, Cent OS 6.x. I usually use Ubuntu.

[2016-03-07 16:45] sblackshear commented on #293
Fixed by 450b97b9d70cfca578d3f2621e5e7e2eb8cc8403/

[2016-03-07 16:45] #293 closed

[2016-03-07 16:46] sblackshear commented on #292
Closing this; feel free to reopen if you find that this is an Infer issue rather than a Gradle one.

[2016-03-07 16:46] #292 closed

[2016-03-07 16:50] sblackshear commented on #263
Whatever build system is compiling these source files must have some way of stripping these out, right (otherwise javac wouldn't work)? Is there some way we can piggyback on this existing mechanism?

[2016-03-07 20:28] nellylam opened #294 "Infer-out/Bugs.txt is returning a lot of special characters:"
Not sure what I'm supposed to see from this report.
[code]

[2016-03-08 11:27] jvillard commented on #294
Indeed, we don't want to include source excerpts in bugs.txt, much less with ANSI colour codes in them... I'll look into it, thanks!

[2016-03-08 11:59] shenruisi opened #295 "I got unknown type name '__uint32_t' typedef __uint32_t when i run infer on my project"
i use this command line
infer -- xcodebuild -scheme ht -configuration Debug -sdk iphonesimulator

and run on Xcode 7.2.1 ios9.2, but got follow error.
[temp.zip](https://github.com/facebook/infer/files/163096/temp.zip)

[2016-03-08 12:02] jvillard commented on #295
Can you try running `xcode-select --install`?

[2016-03-08 12:16] shenruisi commented on #295
I have installed it all ready.发自网易邮箱大师
            在2016年03月08日 20:02，Jules Villard 写道:Can you try running xcode-select --install?

—Reply to this email directly or view it on GitHub.

[2016-03-08 12:17] shenruisi commented on #295
xcode-select: error: command line tools are already installed, use "Software Update" to install updates

[2016-03-08 14:00] #294 closed

[2016-03-08 18:21] luiscruz opened #296 "Error while trying to run inferTest (eradicate:eradicate dependency)"
I'm not able to run tests:

[code]
I'm running from the ```./infer/bin``` folder.
Am I missing something here?

--Luis

[2016-03-08 18:25] jvillard commented on #296
The supported way to run tests is `make test`. `inferTest` doesn't check that things have been built before running, so that may be the issue here.

If that doesn't fix it, can you tell me how you built infer?

[2016-03-08 18:28] luiscruz commented on #296
I was following the description in the following link:
http://fbinfer.com/docs/advanced-features.html#run-internal-tests

Thanks @jvillard. I will give it a try.

[2016-03-08 18:30] jvillard commented on #296
oops, didn't catch that when we introduced `make test`. I'll update the website, thanks!

[2016-03-08 18:38] luiscruz commented on #296
A similar error persists when I run ```make test```:

[code]

PS: Is ```inferTest``` still necessary?

[2016-03-08 18:43] jvillard commented on #296
How did you build infer? Can you run `make clean` then paste the output of:

  ./configure
  make
  make test

re: PS: `make test` still uses `inferTest` under the hood.

[2016-03-08 21:00] luiscruz commented on #296
I just run those instructions but the error persists.
I have installed infer from the pre-compiled version with opam.
I will try to build it from source without opam.

[2016-03-08 23:19] luiscruz opened #297 "Docs page Separation logic and bi-abduction"
I'm reading the following docs page:
http://fbinfer.com/docs/separation-logic-and-bi-abduction.html

and I believe there are some rendering issues, as you can see in the images.

Picture 1:
![screen shot 2016-03-08 at 23 15 15](https://cloud.githubusercontent.com/assets/1080714/13619949/01d5b784-e584-11e5-95b8-151b972a949c.png)

Picture 2:
![screen shot 2016-03-08 at 23 15 05](https://cloud.github

[2016-03-08 23:23] luiscruz commented on #296
My laptop is still building which means I wasn't doing it right, previously.
I believe we can close this for now. I'll re-open it if the issue persists, but probably it doesn't.
Thanks for the help @jvillard and sorry for the noob question. :sweat_smile:

[2016-03-08 23:45] luiscruz commented on #296
Humm problem persists..

[code]

[2016-03-09 01:57] sblackshear commented on #296
I wonder if this could be a buck version problem--would you mind printing the output of `buck --version`?

Thanks for being patient with this--we surprisingly don't seem to have a lot of users trying to run our tests, and we appreciate the feedback!

[2016-03-09 09:38] luiscruz commented on #296
@sblackshear:

[code]

Glad I can help :)

[2016-03-09 10:24] jvillard commented on #296
Can you clarify the steps you used to build infer?

[2016-03-09 10:31] luiscruz commented on #296
Last time I've built infer from source:

[code]

Somewhere in the process I also had to do

```eval $(opam config env)```

But I'm not sure exactly when and if it was necessary for this particular case.

[2016-03-09 11:43] luiscruz commented on #296
I've tried again in a different machine and I got the same error.

- MacBook Air (13-inch, Late 2010) running Mac OS X Yosemite 10.10.5
- iMac (27-inch, Mid 2011) running Mac OS X El Capitan Version 10.11.3

[2016-03-09 16:47] #297 closed

[2016-03-09 16:47] jvillard commented on #297
thanks for the report @luiscruz!

[2016-03-09 17:04] jvillard commented on #296
I managed to repro this using the latest buck from github, looking into it now.

[2016-03-09 23:11] luiscruz commented on #297
No problem @jvillard! ;)

[2016-03-10 16:00] luiscruz opened #298 "Docs: rendering issue"
http://fbinfer.com/docs/adding-models.html

![image](https://cloud.githubusercontent.com/assets/1080714/13675368/29b8d9ba-e6d9-11e5-8f07-af7c5e9fb203.png)

[2016-03-10 17:59] jvillard commented on #298
fixed, thanks

[2016-03-10 17:59] #298 closed

[2016-03-11 13:43] luiscruz commented on #296
Any update on this?

[2016-03-11 13:49] jvillard commented on #296
@luiscruz yes, you can try reverting buck to an older version to make it work. See facebook/buck#697. The first release that removed it was v2015.11.02.01. You can revert to https://github.com/facebook/buck/releases/tag/v2015.10.26.01 to get a working version. I'll add a `.buckconfig` file to infer to prevent this problem, then close the issue.

[2016-03-11 13:50] luiscruz commented on #296
Great! Thanks @jvillard!

[2016-03-11 15:58] luiscruz opened #299 "How to implement custom checkers"
Hi there,

In the scope of my PhD I want to create a tool that performs some code analysis to detect common energy bugs on Android applications.
Since Infer is a bug detection tool I would like to write my analysis code on top of Infer.

As a proof of concept I want to create a simple checker:

- Analyse logging behaviour in the app.

According to Moura et al. (2015), energy efficiency can be impr

[2016-03-11 16:23] cristianoc commented on #299
Simpler checkers to look at (they are just sample checkers which are disabled by default) are in `checkers.ml`.
In particular:
- `callback_print_c_method_calls` prints every C/ObjC call. This can be simply adapted for Java to have a feeling for how it works.
- `callback_check_field_access` prints every access to a field `o.field`.

The parameter `proc_name` is the name of the function/method. Ever

[2016-03-11 16:34] cristianoc commented on #299
Thanks for the question. A secondary good outcome of this discussion could be a file checkers/README.md illustrating how to get started with writing checkers.

[2016-03-11 16:38] luiscruz commented on #299
I will take a look into those methods.
If I manage to succeed I will try to write a quick tutorial.
Thanks @cristianoc!

[2016-03-11 16:44] cristianoc commented on #299
Great!
Another useful resource: instead of doing ```infer -a checkers -- javac Test.java``` one can use the `-g` option for debug: ```infer -g -a checkers -- javac Test.java```. That will save extra information, such as the control flow graph for each file processed in dot format.
E.g. `infer-out/captured/Test.java.74446a0a1e446fb9e76fa96eb46017b8/icfg.dot`

[2016-03-11 17:16] luiscruz commented on #299
These cfgs will be helpful! Thanks!

[2016-03-13 17:24] luiscruz commented on #299
From what I've seen I believe that the cfg is stored using a SIL representation.
Is there any documentation about SIL? --Luis

[2016-03-13 17:40] cristianoc commented on #299
@luiscruz `sil.mli` contains a brief description of each instruction: type `instr`.
It's pretty basic, but it should give an idea of what instructions exist. Those are the instructions that every source language is translated to. There is one front-end for each language.

[2016-03-13 18:09] luiscruz commented on #299
I'm having trouble to understand this one in particular:
[code]
I think the following node would match with it:
![image](https://cloud.githubusercontent.com/assets/1080714/13730412/6fd7c270-e946-11e5-8960-42349175eb57.png)

What will my ```ret_id1..ret_idn, e_fun, arg_ts, loc, call_flags``` look like?

[2016-03-13 18:34] cristianoc commented on #299
- `ret1...retn` is the empty list, as this is a void function.

- `e_fun` is a constant to denote this specific function: `void PrintStream.println(String)`. The constant function is a `Cfun`.

- `args_ts` are the arguments of the function call: `n$0` and `n$1` with their respective types. These are variables of the intermediate language: their scope ends at `REMOVE_TEMPS`. In this case, `n$0` is

[2016-03-14 10:29] luiscruz commented on #299
Thanks @cristianoc!

So, now I created a method that prints all java methods (very similar to ```callback_print_c_method_calls```) and I've registered it at registerCheckers.ml.

Then I ran ```make``` from the root directory of the repository.
Apparently it did not update my infer executable. How should I proceed?

[2016-03-14 10:41] cristianoc commented on #299
`./build.sh`
Feel free to create a pull request and I can take a look at the code.

[2016-03-14 17:03] luiscruz commented on #299
I've executed ```./build-infer.sh``` and I was expecting ./infer/bin/infer to use my new Checker.
However, it prints "No issues found".
Am I missing something?

Meanwhile I've created a pull request with my simple Checker.

[2016-03-14 17:15] cristianoc commented on #299
Great thanks. See comment in the pull request.

[2016-03-14 17:20] luiscruz commented on #299
Oh I see --> https://github.com/facebook/infer/pull/302/files#r56037413
Fixed and working. Thanks!
Now, I'll try to create something more complex.

[2016-03-15 08:36] laalto commented on #286
@jvillard Also here trying to run infer 0.7.0 on an Android codebase with retrolambda and getting this same error as @crm416 . Using [me.tatarka.retrolambda:3.2.5](https://github.com/evant/gradle-retrolambda) Gradle plugin with default settings, invoking infer with

    infer -- gradle assembleFlavornameDebug

[2016-03-15 17:01] jvillard commented on #278
hey @Daij-Djan, sorry for the delay. A quick search on the web suggests upgrading XCode to 7.0 or later and running `xcode-select --install` again. Could you try that?

[2016-03-15 17:01] #277 closed

[2016-03-15 20:26] Daij-Djan commented on #278
no thats not it and the posts are wrong ;) found that too

[2016-03-15 23:31] adamhowardprice commented on #287
I am also experiencing this issue. bump thread

[2016-03-16 09:54] jvillard commented on #287
@kstreee, @adamhowardprice What's your locale? (`locale`)

I cannot reproduce this locally, so a minimal example would help.

[2016-03-16 09:56] jvillard commented on #287
Also, what's the full path of the current directory you are running Infer from?

@adamhowardprice which trace do you get? @kstreee reported two different ones.

Thanks!

[2016-03-16 12:23] jvillard commented on #287
Actually, I can reproduce this if the locale is set to something that doesn't support the characters in the files that are analysed, eg `LC_ALL=C` and some function names have utf-8 names. Working on a fix.

[2016-03-16 15:37] #299 closed

[2016-03-16 18:11] adamhowardprice commented on #287
@jvillard The Infer binary lives in `/Users/spotify-buildagent/.vulcan/cache/infer-0.7.0-osx-x86_64.zip-7476817ede427b9e2a2586f57d09a216fa353117/extracted/infer/lib/python/infer` and is being invoked from `/Users/spotify-buildagent/buildAgent/work/c2c5a1e10baf8cc9`

locale:
[code]

[2016-03-16 18:12] adamhowardprice commented on #287
My trace:

[code]

[2016-03-17 02:24] liuyangc3 commented on #281
hi, @jvillard
I notice infer v8.0 releaseed, and fixed [dc52ce8](https://github.com/facebook/infer/commit/dc52ce8158c51e22e16c36997324f6b089d6b560)

so I tried again on my gradle project
[code]
maybe the encode issues needs be fixed more more than one place.

[2016-03-17 02:25] liuyangc3 commented on #281
I open a new issue for this

[2016-03-17 02:26] liuyangc3 opened #304 "gradle build failed"
hi, @jvillard
see   #281   I commented
[code]

[2016-03-17 10:44] jvillard commented on #281
@liuyangc3 what's the full path from where you're running infer? The one ending "nxin-farm-web".

Also, can you paste the output of `locale` here?

[2016-03-17 10:46] jvillard commented on #304
@liuyangc3 what's the full path from where you're running infer? The one ending "nxin-farm-web".

Also, can you paste the output of `locale` here?

[2016-03-17 13:29] jvillard commented on #286
@laalto thanks for the update!

We hope to have Java8 support in Infer at some point. Right now (v0.8.0), the situation should be that Infer skips Java8 files, not that it crashes.

If you can provide a way for us to reproduce your issue we'll look into it.

[2016-03-17 14:19] liuyangc3 commented on #304
@jvillard

yes some Chinese in path

[2016-03-17 14:25] jvillard commented on #304
@liuyangc3 python2 is quite picky about utf-8 in your environment. Right now we don't support running from a path with utf8 in it, see this old issue: #76

I'm closing this as a duplicate of #76, but please feel free to comment on that issue if you want to add something.

[2016-03-17 14:25] #304 closed

[2016-03-17 14:35] jvillard commented on #304
We plan to fix this at some point, hopefully in the coming months, by the way. For now you can move your project somewhere else to analyze it.

[2016-03-18 12:14] luiscruz opened #305 "How to compare Procname.java_type with Sil.typ"
I am trying to build a Checker and I have the following pattern in my ```do_instr```:
[code]

In this particular checker I am only interested in method calls in which the class of the method is the same as the class of the first argument.
The closest I came up with was with the following expression:
[code]
This doesn't work. With the class ```Hello``` the expression above is equivalent to this:
[c

[2016-03-18 12:31] cristianoc commented on #305
In `Patternmatch`:
[code]
Then `Mangled.to_string`

[2016-03-18 16:03] luiscruz commented on #305
Ok got it with:

[code]

[2016-03-18 16:03] #305 closed

[2016-03-18 16:10] luiscruz opened #307 "PatternMatch.is_getter no longer works with Sil.Cfun"
In my ```do_instr``` I am matching the following pattern:
[code]

Doing ```PatternMatch.is_getter pn``` after pulling commit 7ffb6357197d88b9caa50b8986902169c80e8e83, but it no longer works with the latest commit (9f7bfea98fabb997bae02df028adcf0735a3a93a).

I'm not sure when this has changed but now I have the following error:
[code]

--Luis

[2016-03-18 16:39] cristianoc commented on #307
The API of Procname is undergoing change to make it safer, as it would assert false if e.g. functions for Java procedure names were called with C procedure names.

For example `PatternMatch.is_getter` would work only with Java, so now it takes  type `java` to make sure it's not called from the wrong language.
(things will change some more, but not in complex ways)

[2016-03-20 17:02] adelnizamutdinov opened #308 "Any plans to support alternative JVM languages?"
Kotlin is getting traction in the Android dev community
Is there a way to modify infer to support analysing the JVM bytecode instead of java code?

[2016-03-20 20:40] crm416 commented on #286
@jvillard -- Sorry for the delay. Appreciate all the activity in this thread.

To analyze my project, I was just using the recommended flow: `infer -- ./gradlew assembleDebug`.

With Retrolambda in the mix, the Android build process is something like:

- Run `javac` over your source files to produce Java 8 bytecode.
- Retrolambda transforms the bytecode to be Java 6/7 compatible.
- `dx` transforms

[2016-03-20 21:05] crm416 commented on #286
Woo! I was actually able to run Infer over my project with `infer -- ./gradlew compileDebugJavaWithJavac` (or `infer -- ./gradlew assembleDebug`). It's successfully skipping over files with Java 8 language features.

Is this a result of the recent 0.8.0 release?

[2016-03-21 00:33] sorainsm opened #309 "IOError when trying to compile Hello.java"
Hi,

I'm trying to run the example file Hello.java using the command "infer  -- javac Hello.java" from inside the examples folder but it keeps terminating with an IOError that there's no infer-out/.start file. I was wondering if anyone knows what's going on with this? I was under the assumption that Infer created it's own results directory, but do I need to make one instead?

Thanks!

[2016-03-21 07:00] royanghami opened #310 "Infer is not finding frameworks"
infer -- clang -c ViewController.m
ViewController.m:8:9: fatal error: 'UIKit/UIKit.h' file not found
#import <UIKit/UIKit.h>
        ^
1 error generated.

[2016-03-21 08:06] royanghami opened #311 "failed to compile xcode project"
The following build commands failed:
CompileC /Users/admin/Desktop/App/iOS/build/Pods.build/Debug-iphonesimulator/pop.build/Objects-normal/i386/POPAnimatableProperty.o pop/pop/POPAnimatableProperty.mm normal i386 objective-c++ com.apple.compilers.llvm.clang.1_0.compiler

[2016-03-21 11:08] MatejBalantic opened #312 "How does one white-list or black-list directories for Infer to analyze?"
Hey,

first of all big shout out to Facebook for this cool project and the fact that it was open sourced.

Is there any way to exclude or white-list paths that we want Infer to analyze? We have bunch of 3rd party dependencies that we don't (always) want to analyze and we would love to exclude them from the checks?

Thanks

[2016-03-21 11:31] cristianoc commented on #312
Here's an example `.inferconfig` file.
It should go into the current directory where the `infer -- build_command` is issued.
If no whitelist is given, then everything is in. If some whitelist is given, then only what's specified in the whitelist is in.
In any case, what is specified in the blacklist is out.

[code]

[2016-03-21 12:05] luiscruz commented on #307
Got it! Thanks @cristianoc

[2016-03-21 12:05] #307 closed

[2016-03-21 12:23] luiscruz opened #313 "Detecting internal accessor methods"
I am trying to create a detector for the use of internal accessor methods.
I have created a Checker for that --> https://github.com/luiscruz/infer/blob/b6474d04eaee790c1632e86297de10282d9d5a07/infer/src/checkers/androidEnergyCheckers.ml

However, my Checker is detecting whether a method is a getter or setter by parsing the method name. I.e., methods starting with ```get``` or ```set``` and with 0

[2016-03-21 12:37] cristianoc commented on #313
How do you plan to use the location information?
(Btw the location information can be accessed using `AttributesTable.load_attributes proc_name`, then look at field `ProcAttributes.loc`. Note though: the front-end start from bytecodes so the location information is not always 100% accurate).

I don't know of an accurate heuristic to detect getters and setters, but you can try and see if the one yo

[2016-03-21 12:38] cristianoc commented on #313
If you need to look at the implementation of the callee, every callback has a field called `get_proc_desc`, which can be used to obtain the procedure description of the callee. With it, you can look at nodes and instructions.

[2016-03-21 14:03] sorainsm commented on #309
UPDATE: recompiled infer and everything worked fine. Not sure what went wrong the first time then. Any thoughts?

[2016-03-21 14:03] #309 closed

[2016-03-21 14:07] MatejBalantic commented on #312
@cristianoc Thank you very much for this, I must have missed the documentation on this! Very useful!

[2016-03-21 14:07] #312 closed

[2016-03-21 14:30] luiscruz commented on #313
@cristianoc by LOC I was trying to mean lines of code/simplicity.
An accessor should have only one instruction.
```get_proc_desc ``` will probably get the job done.
Thanks!

[2016-03-21 14:41] jvillard commented on #234
@shenruisi are you still having issues with building Infer?

[2016-03-21 14:42] jvillard commented on #150
annotations work with gradle since version 0.8.0

[2016-03-21 14:42] #150 closed

[2016-03-21 14:45] jvillard opened #314 "support Java 8"
Right now Infer skips files that use Java 8 constructs (eg, lambdas). Infer should understand Java 8 and analyse these files instead.

Note: this requires Java 8 support from [Javalib & Sawja](http://sawja.inria.fr/).

[2016-03-21 14:46] jvillard commented on #264
This should be fixed in 0.8.0: the analysis of files containing Java 8 code should now be skipped instead of crashing the analysis. I've opened a separate issue to properly analyse Java 8 in Infer (#314).

[2016-03-21 14:46] #264 closed

[2016-03-21 14:46] jvillard commented on #259
I've opened a separate issue to properly analyse Java 8 in Infer (#314).

[2016-03-21 14:46] #259 closed

[2016-03-21 14:48] jvillard commented on #286
Thanks for the detailed update @crm416. Skipping Java 8 files and not crashing is the expected behaviour, there's a fix in 0.8.0 to reintroduce it.

For infer to be able to analyse code compiled with retrolambda, one of these two things needs to happen:
1. Java 8 support is added to Infer (#314)
2. Support for starting from the bytecode instead of from the Java source is added to Infer (#308)

1 i

[2016-03-21 14:48] #286 closed

[2016-03-21 14:50] jvillard commented on #308
No immediate plan yet, but in principle there's nothing stopping Infer from starting from the bytecode, as all the heavy-lifting is done at this level already. In particular, Infer starts from the JVM bytecode to analyse Java files. Some work is needed to get rid of the dependency on the source code itself.

[2016-03-21 14:50] jvillard commented on #309
maybe you were mixing two versions of infer together? one that doesn't create a ".start" file and one that expects it's there.

[2016-03-21 14:52] jvillard commented on #310
The error you get is from clang, not Infer, as you can test by trying `clang -c ViewController.m` on its own. You need to use a compilation command that works for your project. See http://fbinfer.com/docs/analyzing-apps-or-projects.html for examples.

[2016-03-21 14:52] #310 closed

[2016-03-21 14:53] jvillard commented on #311
Can you paste the command you are running as well as its full output? Use https://gist.github.com/ or similar for large pastes. Also, the contents of "infer-out/toplevel.log" could be useful, please paste them as well. Thanks!

[2016-03-21 14:56] adelnizamutdinov commented on #308
What part of the source code is responsible for that?
I mean the dependency on java source files.
I'd like to start playing with it, and maybe submit a patch

On 2016 март 21, дүш 17:50 Jules Villard <notifications@github.com> wrote:

[2016-03-21 15:13] luiscruz commented on #313
I'm finding this ```get_proc_desc``` hard to understand.
@cristianoc could you give me some examples?

[2016-03-21 15:27] cristianoc commented on #313
[code]
So for each callee it's as if you were writing a new checker: start again from the procedure description.

When the callee is a simple getter, I would expect a start node, an exit node, and a node in the middle, with only a few instructions. (Plus an exceptions sink node. for collecting exceptions, I guess).

Given this source
[code]
here's the central node, between the start and the exit n

[2016-03-21 16:53] luiscruz commented on #313
So basically I have created the following function, that gives the number of nodes:

[code]

Testing it with the java methods ```getFoo()``` and ```setFoo()``` implemented in the following class Hello:
[code]

... my function ```proc_get_number_of_nodes``` returns 4 for ```getFoo``` and 5 for ```setFoo```. So basically I am filtering getters and setters with these values. This gets the job done fo

[2016-03-21 17:57] royanghami commented on #311
command + output: https://gist.github.com/royanghami/76ce2973a34b6b449183
toplevel.log: https://gist.github.com/royanghami/c246ff5286695e1f61d4

On Mon, Mar 21, 2016 at 4:53 PM, Jules Villard <notifications@github.com>
wrote:

[2016-03-21 18:02] jvillard commented on #311
Thanks! The error is actually "fatal error: cyclic dependency in module 'Darwin': Darwin -> std -> Darwin". It's a [know problem in clang](https://github.com/facebook/infer/issues/232#issuecomment-169744110), see the solutions suggested in #232 to solve your problem.

[2016-03-21 18:07] royanghami commented on #311
i try the solutions in #232, but nothing works

On Mon, Mar 21, 2016 at 8:02 PM, Jules Villard <notifications@github.com>
wrote:

[2016-03-21 18:09] jvillard commented on #311
do you get the same output when you run `infer -- xcodebuild -workspace Anghami.xcworkspace -scheme Anghami" "Release -configuration Debug -sdk iphonesimulator -destination 'platform=iOS Simulator,OS=9.1,name=iPhone 6' CLANG_ENABLE_MODULES=NO`?

[2016-03-21 18:12] royanghami commented on #311
I got another error

On Monday, 21 March 2016, Jules Villard <notifications@github.com> wrote:

[2016-03-21 18:24] sblackshear commented on #308
This would be great to have!

At a high level, what our Java frontend currently does is (for each invocation of `javac`, directly or by the build system):
(1) Start from the verbose output of `javac`, which lists the classpath, list of compiled source files, and produced bytecodes)
(2) Build a map from produced bytecodes to their source files
(3) Use Javalib (a third-party-library) to parse the pr

[2016-03-21 19:35] cristianoc commented on #313
Another simple observation: if you count only nodes with "real" instructions, there's only one node each, for the two cases above.
Instructions that are not "real" include `DECLARE_LOCALS, REMOVE_TEMPS, NULLIFY, APPLY_ABSTRACTION`.
Furthermore, you can narrow it down some more by looking at the instructions in that node, if useful.

[2016-03-22 00:45] jvillard commented on #311
can you please paste the full output of that one?

[2016-03-22 06:47] royanghami commented on #311
output : https://gist.github.com/royanghami/51e5f83acfff4fe1e0a7

On Tue, Mar 22, 2016 at 2:45 AM, Jules Villard <notifications@github.com>
wrote:

[2016-03-22 08:27] hmijail opened #315 "--continue not working"
When running infer --reactive --continue -- clang blah.c , it fails with a
`Fatal error: exception Unix.Unix_error(Unix.ENOENT, "stat", "/Users/mija/programming/infer-out/.start")`

infer 0.8 installed with brew on Mac OS X 10.11.3

Full trace:
[code]

[2016-03-22 08:39] hmijail opened #316 "waf build system mostly working"
I am trying to use infer with the waf build system, and it mostly works by using it like this (on OS X 10.11.3, waf 1.8, infer 0.8)

export CC="/usr/local/bin/infer --reactive -- clang" # for better traceability, --debug --frontend-debug
rm -r infer-out ; ./waf clean
./waf configure
./waf build -v -j 1

I say "mostly" because the build log is peppered with infer lines saying "Analyzing 2 files", "

[2016-03-22 08:44] hmijail commented on #316
For completeness: I have tried using CC="infer --incremental -- clang" (though the help says it's deprecated in 0.8) and the effect is the same.

I have also tried CC="infer -a capture -- clang", and during the whole build infer reports to be capturing. But at the end, infer -- analyze says "Analyzed 0 files", which doesn't sound right.

[2016-03-22 09:15] luiscruz commented on #313
Looking at the instructions will be useful, but I am doing baby steps because I still need to get familiar with all of this.

[2016-03-22 09:58] hmijail commented on #316
New data: an infer-out directory was being created in the root directory of the project, and that directory ended up containing no captures. But in the <root>/build directory another infer-out directory appeared, and that one contained all the captures.

The sanest-looking way I have found then to run infer with waf is this:
export CC="/usr/local/bin/infer -a capture --reactive -- clang"
# the -a

[2016-03-22 10:57] luiscruz commented on #313
Is there a way of printing the SIL representation of the CFG?
I know an instruction can be Letderef, Set, Prune, Call, Nullify, Abstract, Remove_temps, Stackop, Declare_locals or Goto_node. But in some cases is hard to guess how a given node in the cfg will using SIL.

[2016-03-22 11:11] luiscruz commented on #313
For instance, consider the following Java code:
[code]

The number of nodes of this proc_desc is 4 which is in accordance with the CFG. But when I iterate using ```Cfg.Procdesc.fold_instrs```, the number of instructions is 8 but I'm not quite sure how they look like.
In this case I know that there is an instruction that matches with Sil.Set(_,_,_,_). But where is the assignment in this code?

It's

[2016-03-22 11:28] luiscruz opened #317 "Line of code output does not match the original file"
I am having the following output with my checker

[code]

The line that should be highlighted in this output is `int icon = getReplyActionIcon();` which here is the 220.
When I check the original file, the line 221 is the line that has to be highlighted ( `int icon = getReplyActionIcon();`)

[2016-03-22 15:27] sblackshear commented on #313
A nice way to see what the CFG looks like is to run:

`infer -g -- javac MyFile.java`
`open infer-out/captured/MyFile.<hash>.html`

The HTML file will show each line of source code next to its SIL representation. It's quite handy!

Note: HTML output won't be produced if you run with `-a checkers`. I usually run once in regular mode to generate the debug output, then switch over to running in check

[2016-03-23 09:14] ZiYouDeLaoGe opened #318 "Every time I installed infer, restart the computer must be re-installed once, how I need to do?"
Every time I installed infer, restart the computer must be re-installed once, how I need to do?

[2016-03-23 11:07] sanjayahuja commented on #231
Yes need to install all required dependencies: opam install "depedency name"

[2016-03-23 12:22] jvillard commented on #311
There are two errors:

1. The linking step is failing. You can set `LD` to `/bin/true` to circumvent the issue. See the [FAQ](http://fbinfer.com/support.html#infer----build-command-fails-during-a-linking-step). Let me know if linking still fails.

2. You need to disable modules only selectively because you use `@import` in your project. Does [this solution](https://github.com/facebook/infer/issues

[2016-03-23 12:24] jvillard commented on #315
Thanks, it looks like `--reactive --continue` crashes when infer hasn't been run previously. We're working on a fix, I'll keep you updated. In the meantime, you can run infer without `--continue` the first time around, then `--continue` should work as expected.

[2016-03-23 12:27] jvillard commented on #317
Yeah, usually this is because the JVM bytecode sometimes has inaccurate information about the line number. I'm afraid there's not much we can do.

[2016-03-23 12:27] verystrongjoe opened #319 "Build Failed with ReactJS.framework"
If I put the library ReactJS.framework to the embedded Binary, I can't build properly. Whenever it builds, it  can't proceed. Instead, It seemed to hang for 2 minutes displaying "Running 2 of 2 two custom shell scripts" on the top of xcode. And it gave final message, "build failed" without error message.  So If I get rid of it in the embedded Binary, it works.

[2016-03-23 12:58] jvillard commented on #316
Thanks for this info! What you're doing manually is very similar to the way Infer integrates with `make`. I wonder if simply adding `waf` to the list of "things that behave like make" would just work.

Can you try applying [this patch](https://gist.github.com/jvillard/853d6ef595b6997c0fdb) on top of your infer version?

[code]

Then you should be able to analyse your waf project like so (don't set

[2016-03-23 13:01] jvillard commented on #318
you can set up your PATH permanently in your .bash_profile (for example on mac) or equivalent. Something like this:

[code]

[2016-03-23 14:33] ZiYouDeLaoGe commented on #318
谢谢了，这个问题已经解决非常感谢啊！

[2016-03-23 14:33] #318 closed

[2016-03-23 15:27] luiscruz commented on #317
I don't think I've explained the issue properly.
The line code is correct but the output is not displaying it correctly.

Consider the following output:

[code]

According to this output I should be able to find a call to setSecret at line 51 of file ```app/src/main/java/net/bierbaumer/otp_authenticator/Entry.java```.

So let's check if the information is correct:
```pygmentize -O linenos=1  tmp/0

[2016-03-23 16:32] jvillard commented on #318
you're welcome :)

[2016-03-23 17:11] luiscruz commented on #313
Thanks @sblackshear. This is really cool.

For the method above, ```getFoo()``` I have the following representation
[code]
I can see that ```S_*``` probably means a start node, ```E_*``` an exit node and ```I_*``` an instruction node. This is pretty similar to what I can get from the dot CFG when I run with checkers enabled:
[code]

![screen shot 2016-03-23 at 16 59 04](https://cloud.githubusercon

[2016-03-24 10:52] hmijail commented on #316
Thank you, but the patch didn't work. ./build/infer-out now doesn't get created, ./infer-out does but the capture directory seemingly stays empty. Infer ends up with "Analyzed 0 files".

Anyway, the basic question is: does infer work better if it gets to see all the files at once?

[2016-03-24 13:30] jvillard commented on #316
yes the captured compilation needs to be gathered all in one place for the analysis to work. Infer doesn't go and look into other sub-directories.

The way you use seems to work because all the files end up in build/. Does infer report a sensible number of files analysed? I'll try to find a waf project to play with to understand what's needed to make the integration a bit easier.

[2016-03-24 14:33] jvillard commented on #316
Ok, so waf hardcodes the full path to the compilers it finds during `./waf configure`, so infer needs to substitute its own compilers during that phase too.

Can you try again with my patch:

[code]

I've successfully analysed samba with that flow (well, had to change one more thing because the wrap `waf` inside `./configure`, but your project shouldn't have that problem).

Many thanks!

[2016-03-24 14:41] hmijail commented on #316
Sure, but... which patch should I test?

[2016-03-24 14:42] jvillard commented on #316
I meant the one you already tried: https://gist.github.com/jvillard/853d6ef595b6997c0fdb

[2016-03-24 14:43] hmijail commented on #316
Ah, sorry, I didn't realize that you had added the call to infer to waf configure. I'll try.

[2016-03-24 14:52] hmijail commented on #316
Worked :). Thanks!

Following on the question of seeing all files at once: I have a static library project which uses waf, and a runnable project which uses make and depends on the library. The waf part is now solved, and make is supported, but... how to mix them?
(I guess I should ask this somewhere else: the IRC channel? Anyway please consider this a bug against documentation :) )

[2016-03-24 15:00] jvillard commented on #316
awesome, I'll push this to master soon.

For your question, you could try to capture both compilations into the same directory and then analyse both at once:
[code]

[2016-03-24 15:17] jvillard commented on #317
Does this happen only with errors from your checker?

[2016-03-24 15:18] luiscruz commented on #317
Good question... let me check!

[2016-03-24 15:41] hmijail commented on #316
Great. Thank you!

[2016-03-24 15:45] #287 closed

[2016-03-24 16:00] luiscruz commented on #317
I got the same issue with CHECKERS_FRAGMENT_RETAINS_VIEW:
[code]

The line 841 should be ```public void onDestroyView() {```

[2016-03-24 17:30] #316 closed

[2016-03-25 03:20] ZiYouDeLaoGe commented on #318
I use the source code installed, how can I do it? Thanks!

[2016-03-25 10:21] hannahqing opened #320 "infer -- gradle aR UnicodeDecodeError"
raceback (most recent call last):
  File "/usr/local/bin/infer", line 178, in <module>
    main()
  File "/usr/local/bin/infer", line 142, in main
    capture_exitcode = imported_module.gen_instance(args, cmd).capture()
  File "/usr/local/Cellar/infer/0.8.0/libexec/infer/lib/python/inferlib/capture/gradle.py", line 87, in capture
    cmds = self.get_infer_commands(util.get_build_output(self.build_

[2016-03-25 13:00] jvillard commented on #320
Are there non-ascii characters in the `pwd`?

If not, can you try the latest master?

If that doesn't work, please give the output of `locale`, and the contents of infer-out/toplevel.log.

[2016-03-25 20:45] smb510 commented on #320
I've got the same issue, and I don't have non-ascii characters in my `pwd`.

Here's the output of my `locale`:
[code]

and here's topLevel.log: https://gist.github.com/smb510/a21805256e39d09bc2fe

I'll try with latest master and report back.

[2016-03-25 21:03] smb510 commented on #320
Yep- exact same thing happens with latest master :grimacing:

[2016-03-25 23:10] jvillard commented on #320
Thanks! While waiting for a fix, you can run `LC_ALL="en_US.UTF-8" infer - ...`. Let me know if this works.

(python doesn't like it when your locale and the encoding of strings you are manipulating don't match)

[2016-03-26 09:29] hqzhon commented on #320
### I've got the same issue, and I don't have non-ascii characters in my pwd.

### Here's the output of my locale:
[code]

### and here's topLevel.log:
[code]

I'll try with latest master and report back.

[2016-03-26 09:33] hqzhon commented on #320
sorry,i have try with latest master and same thing happens with latest master

[2016-03-27 03:54] hqzhon commented on #320
fix it by adding the following code to the File "/usr/local/Cellar/infer/0.8.0/libexec/infer/lib/python/inferlib/capture/gradle.py"
[code]
and add the code to the \_\_init\_\_ function
[code]

[2016-03-28 03:15] zhangying19871987 opened #321 "build failed with ios app"
I use the command
infer --incremental -- xcodebuild -workspace QQNews.xcworkspace -scheme QQNews -configuration Debug -sdk iphonesimulator CLANG_ENABLE_MODULES=NO
build failed:
/Users/selmazhang/workspace/news_ios_codeCheck/QNCore/QNCore/QNCrashGuard/QNCrashGuard.m:15:1: error: use of '@import' when modules
are disabled
@import UIKit;
^
/Users/selmazhang/workspace/news_ios_codeCheck/QNCore/QNCore/

[2016-03-28 03:23] zhangying19871987 commented on #321
if I use the command
infer --incremental -- xcodebuild -workspace QQNews.xcworkspace -scheme QQNews -configuration Debug -sdk iphonesimulator CLANG_ENABLE_MODULES=YES
build failed message like that:
While building module 'Darwin' imported from /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer
/SDKs/iPhoneSimulator9.1.sdk/usr/include/CommonCrypto/CommonCryptoEr

[2016-03-28 09:00] eldesh opened #322 "build infer v0.8.0 fail with custom-built gcc 5.3.0 on CentOS5.11"
In my environment, building infer 0.8.0 fail.
That seems to clang 3.8.0 is too strict ...?

environment:

[code]

build command:

[code]

log:

[code]

[2016-03-28 17:02] smb510 commented on #320
@hqzhon that works! Thanks for the help :-D

[2016-03-29 02:52] zhangying19871987 commented on #2
+1

[2016-03-29 19:00] #315 closed

[2016-03-29 21:55] nellylam opened #323 "Infer-out does not contain log"
There is no log directory in my infer-out output.

toplevel.log
[code]
These are the only contents:
![image](https://cloud.githubusercontent.com/assets/7260885/14125094/3384160a-f5be-11e5-9d77-1d3b2f995d49.png)

[2016-03-29 22:26] jvillard commented on #323
the log/ folder doesn't exist anymore, we'll update the docs, thanks. Note that it was never supposed to contain user-facing logs, as the doc says, they were internal folders used by Infer.

[2016-03-29 22:40] nellylam commented on #323
Good to know. Thanks.

[2016-03-30 10:12] akotulski commented on #322
Thanks for reporting. I think this may be caused by the fact that your setup uses gcc 5.x and we haven't tested building infer in such environment much. In particular, I think that using C11 be default is at fault:
https://gcc.gnu.org/gcc-5/porting_to.html

To fix it, I need to be able to reproduce the problem first, which linux distribution are you using?

[2016-03-30 12:01] jvillard commented on #323
updated the docs

[2016-03-30 12:01] #323 closed

[2016-03-30 21:07] charany1 opened #324 "Error in installation on 32 bit Ubuntu : OCaml findlib package atdgen version 1.6.0... not found"
Getting error while installing Infer from source by following instructions from [here .](https://github.com/facebook/infer/blob/master/INSTALL.md#install-infer-from-source)

[code]

I've checked  #275  and installed ```perl-Digest-SHA``` but still got the same error .

System details :  32 Ubuntu 14.04 LTS

Please help how can I proceed

[2016-03-31 05:08] charany1 commented on #324
Actually I didn't had atdgen installed .

[2016-03-31 05:08] #324 closed

[2016-03-31 05:25] charany1 opened #325 "Specifying specific version of extlib in opam"
After getting terminal output as pasted by me in #324 .

I went on to execute following three commands :

[code]

and got this :

[code]

I think it is because of [this line](https://github.com/facebook/infer/blob/master/opam#L33) in [opam](https://github.com/facebook/infer/blob/master/opam) file .

[code]

It results in installing of latest extlib release from [here ](https://github.com/ygrek/oca

[2016-03-31 11:40] luiscruz opened #326 "Detect instance fields"
Hi again,

In the checker I am trying to create, I need to know whether a fieldname is an instance field or not.
Example:

[code]

I took a look at the ```Ident.java_fieldname_is_outer_instance``` to give me an idea method but I'm not quite sure when appears the string ".this$".

Do you have any suggestion?

[2016-03-31 11:45] luiscruz commented on #313
Any thoughts about this?
It would be enough if there were methods to print types expr and instr.
Maybe there is already some method for this. If not, do you have any suggestion of how to do it?

Thanks!

[2016-03-31 11:54] jvillard commented on #325
@charany1 can you install javalib on its own? For example `opam pin remove infer && opam install javalib`?

[2016-03-31 12:07] wisenight opened #327 "Complile filed"
Hi, Sir

I use infer 0.8 to build my code, and got below exception.

But I have no idea about this.

Traceback (most recent call last):
  File "/infer/infer/bin/infer", line 180, in <module>
    main()
  File "/infer/infer/bin/infer", line 166, in main
    analysis.analyze_and_report()
  File "/opt/infer-linux64-v0.8.0/infer/lib/python/inferlib/analyze.py", line 481, in analyze_and_report
    if s

[2016-03-31 12:22] jvillard commented on #327
Hi @wisenight,

Can you please provide more information? Please include:
- the command you used to run infer
- the full output (please use https://gist.github.com/ or equivalent)
- the contents of toplevel.log (also on https://gist.github.com/)

Thanks!

[2016-03-31 14:13] charany1 commented on #325
this results in installing of javalib 2.3a whereas required is javalib>=2.3.1 .

I get this error :

[code]

I can get javalib jar from [here](http://sawja.inria.fr/) , can you guide how to install this from here .

When I try to install javalib 2.3.1 I get this

[code]

[2016-03-31 14:19] jvillard commented on #325
What's the output of `opam switch show`?

[2016-03-31 15:00] #296 closed

[2016-03-31 15:16] cristianoc commented on #326
Look for the sample checker `callback_check_field_access`, it does exactly what you need, to detect field accesses buried into arbitrarily complicated expressions.
That checker can be turned into an utility function/visitor.

[2016-04-01 07:09] eldesh commented on #322
I worked on CentOS5.11 :cry: , so I compiled the new gcc-5.3.0 personally.

[2016-04-01 14:00] jvillard commented on #290
Can you please give the full output of the run? (please use https://gist.github.com/ or equivalent)

[2016-04-01 14:01] jvillard commented on #319
Can you please provide more information? Please include:
- the command you used to run infer
- the full output (please use https://gist.github.com/ or equivalent)
- the contents of toplevel.log (also on https://gist.github.com/)

[2016-04-01 14:21] akotulski commented on #322
Ok, thanks. I'll try to reproduce it anyway, but I can't promise when the problem will be resolved.
For now, you can try to use gcc-4.9.x which is better tested and supported

[2016-04-01 15:31] akotulski commented on #322
I tried to build infer 0.8.0 on fedora23 which uses gcc-5.3.1 and it was successful, so it looks like it's not gcc-5.3 fault.

I have theory why it happens to you, but I it's very hard to reproduce for me (and unlikely to happen again). I think infer is still picking up headers from old gcc (centOS 5.11 default one) and those don't work well with infer. If that's the case, using gcc-4.9 might not

[2016-04-03 16:56] mcandre commented on #25
infer 0.8.0 from Homebrew doesn't appear to have a path like `.../lib/capture/clang`. Is there a similar command for running infer 0.8.0 against cmake-generated Makefiles?

[2016-04-03 16:59] mcandre opened #328 "Update cmake doc"
The suggested command in http://fbinfer.com/support.html#how-do-i-use-infer-in-a-cmake-project no longer applies with infer v0.8.0, as the capture path seems to have changed. Could we update the doc to the correct path?

[2016-04-04 09:08] luiscruz commented on #326
I had looked at this method but it didn't get me the restuls I was expecting.

For instance, it is detecting this:
[code]

There are 2 things I don't need here:

- static fields
- fields of other classes/objects.

--
Side question: Functions calls are always instructions. They will never appear as an expression. Is this correct?

[2016-04-04 09:38] cristianoc commented on #326
@luiscruz are sure you're getting static fields? Static fields are represented as global variables internally, not as field accesses.

If you want to restrict to the current class:
[code]
The surrounding type gives you a handle to restrict the attention to specific types.

[2016-04-04 09:47] luiscruz commented on #326
It was my impression since it detected System.out. But I'll double check it.

This will get the job done. Thanks!

[2016-04-04 11:17] jvillard commented on #25
The new way is easier: just run `infer -- cmake ...`.

I forgot to comment again on this issue when I pushed 9f10b0968849e6aed819ce904a63933bc09f123a :no_mouth:

[2016-04-04 11:19] jvillard commented on #328
done, thanks!

[2016-04-04 11:19] #328 closed

[2016-04-04 11:22] jvillard commented on #321
You can try to selectively disable modules for your projects: https://github.com/facebook/infer/issues/232#issuecomment-173378896

[2016-04-04 15:08] forrest1g opened #329 "BAD_POINTER_COMPARISON: shall we fix it?"
Hello folks, I managed to generate report for my iOS project, and there is BAD_POINTER_COMPARISON error. I want the code author to fix it, but he doesn't want to do so. Here's why: this style of coding has been there for ages, and it generates no issue, so won't fix it.
Code like:
if(some_pointer){//some code here}
I understand infer suggest:
if(some_pointer != nil){//some code here}
so pointer is

[2016-04-04 17:35] sblackshear commented on #329
Hi Forrest,
  Our motivation for this check is to avoid confusion between a `nil` pointer and a pointer to the numerical value value zero. In our experience, the type coercions in Objective-C make it easy to accidentally write `if (some_pointer)` when you actually meant `if ([some_pointer intValue])`.

[2016-04-05 23:58] mcomella commented on #246
Just a request to update the title to include `MockCursor` or the interface -> concrete method calls info – I found this because I was thinking infer did not dive into method calls but it seems this is specific interface -> concrete methods & the `MockCursor`.

[2016-04-06 07:27] forrest1g commented on #329
Understood, thank you.

[2016-04-06 07:27] #329 closed

[2016-04-06 09:29] luiscruz commented on #326
It's done. Thanks @cristianoc.
I've adapted the ```callback_check_field_access``` checker.
Regarding the static field accesses I had to check the outer struct ```static_fields```.
Otherwise it would detect them.

[2016-04-06 09:32] cristianoc commented on #326
Thanks @luiscruz. At some point, when you get some results, let us know how you're using your checker.

[2016-04-06 17:18] mbrubin56 opened #330 "'NoneType' object has no attribute 'encode'"
Hi, there.
I ran infer with the command
```infer --  xcodebuild -workspace <my product>.xcworkspace -scheme <my scheme> -sdk iphonesimulator -configuration Debug build```

and received this error
[code]
My toplevel.log is
[code]

Thanks for any help!

[2016-04-07 06:26] ZiYouDeLaoGe opened #331 ""RETAIN CYCLE" bug detection problem"
Hello
"Infer" detected a bug - RETAIN CYCLE, I interrupted point "delloc" at the method, this method is to be performed, the memory can be released, but reported a bug - RETAIN CYCLE, my code is as follows :

`@interface NetworkRequestModel()`
`@property (nonatomic,weak) id child;`

`@implementation NetworkRequestModel`
`- (instancetype)init`
`{`
`    if (self = [super init]) {`
`      if ([self c

[2016-04-07 08:11] Hellengo commented on #270
make -C infer java
make: *** No rule to make target `java'.  Stop.

./configure
zsh: no such file or directory: ./configure

help

[2016-04-07 08:19] Hellengo commented on #30
make -C infer java
make: *** No rule to make target `java'. Stop.

./configure
zsh: no such file or directory: ./configure

help！

[2016-04-07 08:41] yitelu opened #332 "[system.err] fail to Infer scan on my private Android project"
Hi FB infer team,
How are you doing? And thanks for such wonderful tool.

Wondering if you could help to take a look at what happened when i tried to infer scan my Android project?

I've installed the infer v0.8.0 on my local Ubuntu, and i've setup my environment properly by execute the infer scan on the examples folder's android_hello project, which shows the expected results of detected 3 errors

[2016-04-07 08:51] cctanfujun commented on #332
I use the infer for my android project i got this log.

[code]

Hope your help!

[2016-04-07 09:08] shenruisi commented on #234
succeed ,thanks

[2016-04-07 09:23] cctanfujun commented on #332
i use  `infer -- ./gradlew compileDebugSources`  the infer worked. But I don't konw it is the same with `infer -- ./gradlew build`

[2016-04-07 09:46] Hellengo commented on #213
hi,
make -C infer
make: *** No targets specified and no makefile found.  Stop.

then run:

./autogen.sh
git repository detected, updating submodule... done
generating acinclude.m4... done
generating ./configure script..../autogen.sh: line 29: autoreconf: command not found

./configure
zsh: no such file or directory: ./configure

My pc is mac os 10.10.5 and xcode7.2

[2016-04-07 10:39] luiscruz commented on #326
Will do :+1:

[2016-04-07 10:44] jvillard commented on #330
hi @mbrubin56, the python error is bad, thanks for reporting. It's hiding the real issue, which in your case is that building failed.

Does the command `xcodebuild -workspace <my product>.xcworkspace -scheme <my scheme> -sdk iphonesimulator -configuration Debug build` succeed?

[2016-04-07 11:01] jvillard commented on #213
@Hellengo you can use `brew install infer` to install infer on mac os.

If you want to compile infer yourself, you need to upgrade your version of ocaml. Assuming you use opam:

[code]

[2016-04-07 11:03] jvillard commented on #332
@cctanfujun you should use whatever command works to compile your project. `infer -- ./gradlew compileDebugSources` sounds like the right command for you.

@yitelu does `./gradlew build` work for you?

[2016-04-07 11:03] #234 closed

[2016-04-07 11:06] jvillard commented on #331
does infer still complain after you add `weak` to `child`?

[2016-04-07 11:11] ZiYouDeLaoGe commented on #331
I modified with weak but infer give me feedback---"RETAIN CYCLE".

[2016-04-07 13:05] yitelu commented on #332
@jvillard `./gradlew build` works on my project that i could build the apk without problem, but i don't know  why it can't generate the infer report....i've tried `./gradlew assembleDebug`, which responsed the same infer system err message

[2016-04-07 14:32] luiscruz commented on #326
Hi again,

In this checker I am getting two kids of false positives:

- **Methods that are annotated with @override** -- although I am checking whether a given method is overriding any method in one of its superclasses, this is not enough.
- **Methods that are being overridden by one their subclasses** -- these methods cannot be converted to static.

For the first false positive I think I am getti